[2016-11-30 09:34] rafaelcaricio commented on #354
You will want to map the endpoints to functions to be able to actually have the logic of your API implemented. If you don't need that, your API sounds not so useful.

[2016-11-30 10:17] jmcs commented on #353
Can you post a code snippet or the actual exception with stacktrace?

[2016-11-30 10:25] tomas-fp commented on #353
I think I found the origin the issue.

Basically, ISO compliant datetime expressions, such as `2016-11-29T14:22:36+00:00`, when exposed via raw URL query param, the datetime value must be URL safe and encoded accordingly first. Most HTTP clients do this transparently, but others do not.

The above datetime must be encoded as `2016-11-29T14:22:36%2B00:00` in order to turn sensitive characters URL s

[2016-11-30 10:42] hjacobs commented on #353
URL encoding issue, not a bug in Connexion -> closing this.

[2016-11-30 10:42] #353 closed

[2016-11-30 13:35] heyglen opened #356 "Incorrect set http response data when returning flask.Response objects"
### Description

Incorrect set http response data when returning flask.Response objects

### Expected bahaviour

From the [documentation](https://connexion.readthedocs.io/en/latest/response.html#response-serialization):

### Actual behaviour

The response is parsed in connexion.decorators.decorator.BaseDecorator.get_full_response() and the [response object itself is mistakenly set as the response'

[2016-11-30 13:42] heyglen commented on #356
I got it to work by [replacing these lines](https://github.com/zalando/connexion/blob/master/connexion/decorators/decorator.py#L27-L29)

with this:

[code]

[2016-12-02 02:06] ernanirst opened #357 "[Doubt] Enable CORS with connexion"
### Description
I have a static file with some jQuery that access an API built with connexion. Unfortunatelly, the browser requires CORS to be enable in order to access the API. I couldn't find a way of adding fields to the headers response nor a module or option to do that, so I'm not sure on what to do about.

### Additional info:
Another possible workaround would be if I could just serve this s

[2016-12-02 04:52] Jkovarik commented on #357
Hi @ernanirst - I believe you can access the underlying flask 'app' object and enable CORS the same way you'd do it with a flask service:

[code]

[2016-12-02 08:16] hjacobs commented on #357
@ernanirst see #50 for answers/discussion, using `flask-cors` looks good enough for me.

[2016-12-02 08:17] hjacobs commented on #357
Re-opening, as we should add a section regarding CORS on http://connexion.readthedocs.io/en/latest/cookbook.html

[2016-12-02 08:30] hjacobs commented on #357
See my PR #358.

[2016-12-02 13:12] ernanirst commented on #357
Thanks a lot, I've tried something very similar which did not work, but this worked fine. I suggest that you add this to the docs because I looked there and found nothing. Thanks again.

[2016-12-02 15:28] #357 closed

[2016-12-06 17:52] diegoguimaraes opened #359 "Flask MethodView support"
### Description
I think that would be interesting for the library to support Flask [MethodView](http://flask.pocoo.org/docs/0.11/views/#method-views-for-apis) approach. This is a good concept, inspired by the generic views from Django, and probably many people develop their APIs based on it.

### Expected behavior
Connexion should be able to detect the MethodViews endpoints specified in the swagge

[2016-12-06 19:10] hjacobs commented on #359
This sounds a lot like Automatic Routing via `RestyResolver`: https://connexion.readthedocs.io/en/latest/routing.html#automatic-routing

[2016-12-06 19:22] diegoguimaraes commented on #359
Yes, it looks like. But the automatic routing is not able to discover my endpoints in the following format:

[code]

[2016-12-06 19:33] hjacobs commented on #359
@diegoguimaraes I'm not sure what your goal is? Do you expect `UserApi` to automatically be picked up by Connexion without any configuration?

As far as I can see Flask also needs a call to `add_url_rule`, so defining `operationId` would not be a huge burden in comparison.

[2016-12-06 22:48] diegoguimaraes commented on #359
@hjacobs  This is an open idea that I would like to discuss here. I started discussing about it with @rafaelcaricio  on the possibility of supporting this Flask class based views, and seems achievable and a possible interesting feature.

One way could be adding the support for the automatic routing understand this, and maybe internally do what flask does for the class based views in the `add_url_r

[2016-12-07 15:35] do3cc commented on #254
Out of curriosity, how is that handled in Zalando?
Is this file https://api.zalando.com/schema/swagger.json also bundled?

[2016-12-07 17:37] ibigpapa commented on #254
Looks like you can find more on the shop api here https://github.com/zalando/shop-api-documentation

[2016-12-07 18:51] hjacobs commented on #254
@do3cc I personally don't know anybody in Zalando who splits up Swagger files (mostly it's "microservices", right?). Our [RESTful API Guidelines](https://zalando.github.io/restful-api-guidelines/) also don't cover this.

[2016-12-08 00:21] patrickw276 commented on #254
I came to the conclusion that to do this cleanly, loading the individual files instead of bundling, the yelp swagger_spec_validator would need to support yaml directly. I opened up a PR on that repo but never got any feedback.

I do think there is a valid use case for this feature that can't be solved with microservices. I work with earth science metadata where the schemas can be quite complex. It

[2016-12-08 04:07] pingf opened #361 "oauth2 client_id fixed"
### Description

the swagger ui only generate the fixed client_id & client_secret for oauth2

### Expected behaviour

make me able to modify the client_id & client_secret from the init config or the yaml file

### Actual behaviour

because in the index.html for swagger ui, they are all fixed

[code]

### Steps to reproduce

just use oauth2

### Additional info:

Output of the commands:

- `python

[2016-12-08 11:52] ernanirst opened #362 "[Question] Parameter type "body" crashes API"
Currently all my API endpoint parameters are from the type "query", however, I would like to send the parameter in the body of a POST. So I tried:

[code]

Everytime I change the type from "query" to "body" the API crashes, showing this error:
[code]

Isn't "body" not supported anymore? How to get parameters in the body of a POST?

[2016-12-08 12:27] hjacobs commented on #362
That's expected behavior, you need to define a body schema. Example: https://github.com/hjacobs/connexion-example/blob/master/swagger.yaml#L58

[2016-12-08 19:24] ernanirst commented on #362
Thanks for the reply @hjacobs, I saw this example before I ask this question but I don't get why I need to define a schema. I'd like to send a HTTP POST with a json on the body, and on this body will have the field "username", but the field username is a string, not a json schema. How should I declare this with swagger?

[2016-12-08 19:32] hjacobs commented on #362
@ernanirst you simply define the schema as type object with a property `username`:

[code]

[2016-12-08 19:34] hjacobs commented on #362
You can also use a string as the body directly:

[code]

Please note that you would need to add JSON quotes here:

[code]

[2016-12-09 09:25] ernanirst commented on #362
@hjacobs thanks, now I got it.

[2016-12-09 09:25] #362 closed

[2016-12-10 09:23] rafaelcaricio commented on #356
@heyglen Thank you for reporting it.

[2016-12-10 14:00] rafaelcaricio opened #364 "Test helpers for operations"
### Description

Would be nice to be able to have some helper functions to test the operations of the API not depending on the paths, but on the `operationId`. Why? Because since you care more about the code when implementing the API you just have to remember the `operationId` which is the code path to the function/method you want to test. You don't want to test the URL path, this is guaranteed by

[2016-12-10 21:25] rafaelcaricio opened #366 "Support connexion.Problem as an exception"
### Description

Sometimes you are creating API code that needs to just stop and return an error to the client (also rollback db changes in case it happens). A standard way of achieving that is using exceptions. Connexion provides support for standard problem responses for APIs (https://tools.ietf.org/html/rfc7807) which is great. We currently support that by providing the `connexion.problem` func

[2016-12-10 21:28] wilsonge commented on #366
For this to work with the flask exception handler, we need the new problem exception to subtype `werkzeug.exceptions.HTTPException`

The question is for the 403/401 do we want to have separate exceptions that allow us to trigger on the individual exception type. For example it would be nice to hav different renders based on the whether it's a param validation issue, and oauth issue and response va

[2016-12-10 21:32] rafaelcaricio commented on #366
@wilsonge Agree. I like the idea of different renders for different kind of problems. We could do a better job here and return something like:

[code]

When the parameter is invalid for example.

[2016-12-10 21:32] rafaelcaricio commented on #366
BTW, this example is from the RFC https://tools.ietf.org/html/rfc7807

[2016-12-10 23:37] wilsonge commented on #366
https://github.com/zalando/connexion/compare/master...wilsonge:oauth_exception?expand=1 This is the kinda thing I was thinking of?

[2016-12-14 02:24] wilsonge commented on #366
How are we going to determine nice messages for invalid parameters. Finding what is invalid is decently straightforward. Assembling human friendly reasons seems less so at the moment :/

[2016-12-14 09:46] rafaelcaricio commented on #366
@wilsonge I see. Maybe you can came up with a bit more friendly than the current? The current version of this message is pretty bad. You cannot easily extract what was wrong. Anyway, thank you for taking the time to research how to do it.

[2016-12-14 12:49] #366 closed

[2016-12-14 18:57] hjacobs commented on #359
@diegoguimaraes I still do not get what the benefit of MethodView should be when using the OpenAPI spec? Your first YAML snippet looks like any other regular `swagger.yaml` and you can obviously just point `operationId` to your MethodView method.

[2016-12-18 20:49] diegoguimaraes commented on #359
@hjacobs just pointing the operationId to the MehtodView/View method doens't work.

[2017-01-02 13:30] mvrogowski opened #372 "Split YAML specification file"
### Description

It's not possible to split YAML API specifications file.

### Expected behaviour

I want to get something like this:

- swagger/
    - wifiuseradmin.yaml
    - definitions.yaml
    - parameters.yaml
    - paths.yaml

### Actual behaviour

When start application, I got the following:

`2017-01-02 13:02:01,706 [DEBUG] connexion.app - Root Path: /app/wifiuseradmin`
`2017-01-02 13:02:

[2017-01-02 14:57] hjacobs commented on #372
This looks like a duplicate of #254

[2017-01-02 14:57] #372 closed

[2017-01-04 18:26] #356 closed

[2017-01-05 13:00] worldmind opened #375 "Default value for nested object"
I try set default value for nested object in swagger.yml, but it does not work, simple example here
https://github.com/worldmind/connexion-example/commit/09d94ed79491d4593154681b047f8e8ceaca1438

[2017-01-05 13:02] worldmind opened #376 "Type for money (decimal)"
Now connexion cast number to float, but for money parameters needed decimal type

[2017-01-05 13:05] rafaelcaricio commented on #376
@worldmind please take a look at http://connexion.readthedocs.io/en/latest/cookbook.html#custom-type-format . Let me know if it does not help.

[2017-01-05 13:25] worldmind commented on #376
If i understood right is only part of solution - it is only about validation, but user shoud be manually convert goted string to decimal type for using it.
I think it framework job - it must return value with right type.

[2017-01-05 17:36] hjacobs commented on #375
Yes, this is a missing feature (or other people would call it a bug).

[2017-01-06 10:30] danballance opened #377 "resolve_function_from_operation_id hides cause of import error"
### Description
This has happened a couple of times to me now. Somehow I introduce an error into my code that my IDE does not detect and stops the import process from working. When I start the application I get error messages for failed opreationIds that do not help me to find the root cause of the problem.

Is this a configuration problem my end or is this a valid problem that we could improve on

[2017-01-09 17:29] garbas opened #380 "Framework-agnostic Connexion"
Hi,

First thank you for a great work you did, at Mozilla Release Engineering team we started using it few months ago and it proved to be the step into the right direction.

Currently Connexion is very flask specific which worked ok for initial work we are doing and since majority of our team is familiar with flask. But talking to others at Mozilla they like the idea but would like to use their ex

[2017-01-09 17:52] rafaelcaricio commented on #380
Hi @garbas ,

Thank you for the feedback we really appreciate it.

About making Connexion more framework agnostic, Yes. I was discussing about it some time ago with @jmcs and this is something that we are interested in working on. That is something that I personally would like to be involved with, so I would be willing to join you in making this idea move forward. Connexion cold evolve to be like

[2017-01-09 18:05] garbas commented on #380
@rafaelcaricio awesome! I will ping you on twitter to meet in person.

I expect what we will come up with we will post here (or in additional PR) for further discussion to not exclude others.

[2017-01-09 18:23] tarekziade commented on #380
Hi all, thanks @garbas for starting this.

What I would be interested in is too see if there's a layer between Connexion and Swagger that can be reused as a lib without making any assumptions on how its actually used in a web framework (spec=>code or code=>spec, how it's linked to views etc) (a little bit like bravado-core but specific to the server-side)

I started to work on this on my side but

[2017-01-09 20:02] patrickw276 opened #381 "Incorrect Mimetype/Content-Type Handling"
I think there may be a bug in Content-Type/Mimetype handling.

If an operation has a single `produces` type defined in swagger and the implementation returns a flask Response object, both the swagger `produces` value and the Response object's `content-type` are returned. Example:

[code]

with the implementation:

[code]

`curl -v` request to the route returns:

[code]

If you don't specifically s

[2017-01-09 22:53] hjacobs commented on #381
@patrickw276 thanks for reporting, I guess we introduced it with #365.

cc @rafaelcaricio

[2017-01-09 22:56] hjacobs commented on #380
@garbas @rafaelcaricio I would also be happy to join any Berlin meeting :smile:

[2017-01-10 00:56] jonathansp commented on #380
It would be awesome! I'm currently using connexion in a personal project and after writing some code I realized that it's very flask-specific while frameworks such as tornado and django have a few libraries for open API initiative. Thanks for starting this thread @garbas. Please let me know if I can help.

[2017-01-10 10:00] #381 closed

[2017-01-12 14:38] hjacobs commented on #380
Thoughts:

* `pip install connexion` should only install core features (i.e. not pulling in Flask or any other web framework)
* `connexion` console script will tell user to install at least one supported web framework of their choice (like Flask or Pyramid)
* user can get the "current" feature set (Flask etc) by using `pip install connexion[flask]`

[2017-01-12 15:02] hjacobs opened #385 "Pluggable policies (e.g. to make API follow certain company guidelines/rules)"
Idea: add pluggable "policies" to force certain company guidelines/rules:

* naming conventions (e.g. underscores)
* ...

See my Swagger CLI linter hack: https://github.com/zalando-incubator/restful-api-guidelines-linter

The whole feature should be opt-in.

[2017-01-12 15:56] hjacobs opened #387 "Pluggable request/response filters"
Allow to configure generic request/response filters in Connexion.

We already have issues for some pluggable filters:

* #124: pluggable security
* #385: pluggable policies

[2017-01-12 15:56] hjacobs commented on #387
cc @garbas

[2017-01-12 19:04] hjacobs commented on #380
For reference: Connexion is used here: https://github.com/mozilla-releng/services

[2017-01-13 11:08] LappleApple opened #388 "Add all available Connexion-related blog posts/talks to the README"
### Description
Just a check-in to make sure any documented talks and posts (including links to podcast recordings) are in the README intro.

### Expected behaviour
That anyone will be able to find these things in the README.

### Actual behaviour

### Steps to reproduce

### Additional info:

Output of the commands:

- `python --version`
- `pip show connexion | grep "^Version\:"`

[2017-01-14 03:58] dutradda commented on #380
Hello guys and @garbas, I really want to contribute to this issue. I wrote a Swagger lib that do same task as connexion (but with much less features), but I did it framework agnostic. https://github.com/dutradda/swaggerit

With the experience that I learned, I think I will be useful to contribute. Are you working on a branch for it?

[2017-01-14 11:48] hjacobs commented on #380
@dutradda a first shot is in PR #386 --- first minor goal is to extract the calls to Flask into the `Framework` interface. @garbas wanted to create a documentation PR (`docs`  folder) with a proposal on how "Connexion as a library" could look like (library API from user perspective).

[2017-01-16 00:11] advance512 commented on #380
This is great! I really like Connexion. However, I prefer using an HTTP library like Falcon or which is very minimal compared to Flask, and seems more suited towards RESTful APIs. I do suggest keeping it opinionated and simple, as it is now - it is a joy to develop API servers with.

@dutradda's project is a great first step in the direction of a Falcon+Swagger framework, I especially liked the SQ

[2017-01-16 00:35] advance512 commented on #124
Doing this by looking at @KarimJedda's example proved super easy, even more with [flask-jwt-extended](https://github.com/vimalloc/flask-jwt-extended) which is a great library.

However, the fact that I have to constantly add Bearer in the Authorize dialog, combined with the rather bad UI design, the reloading of the page, etc - means that the experience isn't very comfortable. @WouterVH's hack hel

[2017-01-16 08:55] hjacobs commented on #124
@advance512 I'll have to look at `flask-jwt-extended`, but supporting JWT is definitely interesting (we are also using it).

[2017-01-16 09:01] hjacobs commented on #380
@advance512 Falcon looks great, but I haven't used it yet. Do you want to contribute on integrating Connexion with Falcon? The PR #386 is a first step in extracting the calls to the *framework* (like Flask), it should be straight forward to create a `FalconFramework` afterwards.

[2017-01-16 13:04] diogodafiti commented on #380
@hjacobs I want to integrate the connexion with aiohttp. The framework interface is ready to inherit from?
Perhaps I will create a PR to use connexion with coroutines

[2017-01-16 13:05] dutradda commented on #380
@hjacobs I want to integrate the connexion with aiohttp. The framework interface is ready to inherit from?
Perhaps I will create a PR to use connexion with coroutines

[2017-01-16 16:43] advance512 commented on #124
I'll try and set up a PR.

[2017-01-16 19:28] KarimJedda commented on #124
That would be fantastic! Right now we're using it at work to expose several machine learning models. The authentication is everytime a pain to setup. Especially when you're dealing with token refreshes and similar stuff. The solution i proposed is rather hacky and it requires doing @WouterVH's trick for the UI part.
I'm sure the development would be more streamlined if it were integrated by defaul

[2017-01-17 12:35] rafaelcaricio commented on #380
@dutradda The interface is not defined yet. This was our first iteration towards having this definition of what should go there. If you start integrating with some other framework like Falcon/aiohttp then you will get insights on what is missing in the interface and can suggest the changes you think makes sense. We are open for proposals. The PR #386 still needs some work.

[2017-01-17 13:40] dutradda commented on #380
OK @rafaelcaricio, I will start my implementation and suggests to #386

[2017-01-18 10:19] advance512 opened #389 "Add support for x-authentication-scheme and Bearer auth scheme in apiKey security definition"
### Description

As seen in issue #124, many users require support for JWT, specifically using the Bearer authentication scheme.

Using JWT seems like a very common scenario, as are various non-Basic authentication schemes that use the [`Bearer` authentication scheme](https://tools.ietf.org/html/rfc6750#section-2.1) as basis.
A hackish solution was offered in that thread, but the resultant experie

[2017-01-18 10:32] advance512 commented on #124
FYI, I created pull request #390 adding support for x-authentication-scheme.

[2017-01-20 16:41] majoros opened #392 "HTTPD mod_wsgi aliases"
### Description
When using connexion with httpd and mod_wsgi aliases the swagger.json URL is not being generated correctly.

In order to have more than one mod_wsgi script running on a single httpd instance aliases are used. For example...

 _WSGIScriptAlias /myalias /path/to/my/mod_wsgi/script.wsgi_

So the URL for this mod_wsgi script would be...

_www.mydomain.com/myalias_

Now making the swagg

[2017-01-21 05:14] jasco commented on #182
@rafaelcaricio great suggestion about using an array of type values.  It works great if I manually adjust the swagger.json in the codegen output.  Unfortunately, since `type` does not accept an array in swagger, swagger-codegen rejects the construct.

I was initially hopeful that `x-nullable` would serve the purpose, but my research so far seems to show that currently `x-nullable` works at the par

[2017-01-21 09:29] hjacobs commented on #392
I see the problem. I think the issue is with this line in `swagger_ui_index`: https://github.com/zalando/connexion/blob/master/connexion/api.py#L309

`self.base_url` does not know about your alias, but it's used as a template variable for Swagger UI `index.html` to point to `swagger.json`.

I think the function `swagger_ui_index` could either use the request's `Host` header or we simply use a rela

[2017-01-30 11:02] cbornet commented on #226
Using `type: [number, null]` works but it's not compliant with swagger spec and it doesn't work with swagger-codegen for instance.
So it would be better to support the x-nullable flag for model attributes.
ResponseBodyValidator could transform x-nullable into [xxx, null] before passing it to jsonschema.

[2017-01-31 22:22] tarekziade opened #393 "Running Connexion as an extension"
It would be nice to be able to pass an existing Flask app instance to connexion.

A use case is a Flask application that implements other stuff than swagger-based API endpoints.

This is my lame attempt to do it: https://gist.github.com/tarekziade/595f003c0a9b9aa0934f21b814717441

It "works" but I think we'd need something self-contained to the Blueprint, and I was not able to do that kind of inte

[2017-02-01 08:35] hjacobs commented on #393
You should be able to use the `Api` class of Connexion without the `App`: https://github.com/zalando/connexion/blob/master/connexion/api.py#L57

[2017-02-01 09:07] tarekziade commented on #393
Yes I was able to do it eventually. I updated the gist. Thanks!

[2017-02-01 09:07] #393 closed

[2017-02-02 20:55] cloojure commented on #324
Any movement on this issue?

[2017-02-03 16:34] Majoros commented on #392
I finally had a some time to look into this. using the "flask.request.url_root" variable in the swagger_ui_index function works perfectly. unfortunately the url's generated by the "Try Out" buttons on the swagger UI page are still missing the alias. currently looking into why.

[2017-02-05 21:57] hjacobs commented on #392
@Majoros would you be willing to do a PR with the fix? Thanks!

[2017-02-06 10:21] rafaelcaricio commented on #324
@cloojure From what I can see in the history of this issue--I think the problem is in the swagger_spec lib.

[2017-02-06 11:51] LeenaBhegade opened #395 "Unicode Strings in Response body"
### Description
I am using Python 2.7 , connexion == 1.0.129

I am using connexion for writing my api endpoints. In the code I retrieve unicode strings ( for example: £ ) from database, create a dictionary and return it to client. Initially I assumed connexion will support utf-8 encoding and I don't have to make any additional changes to the configuration.
When I did a  GET/ request  to my endpoin

[2017-02-07 10:48] rafaelcaricio commented on #395
@LeenaBhegade Thank you for reporting this issue. There is no code in Connexion, that I am aware of, which deals with encoding in the response. So there is no Connexion options for that. Maybe you could send a Pull Request fixing this. Seems like you already found out that we are missing to pass the correct encoding. Does it fixed the issue for you?

[2017-02-07 11:01] LeenaBhegade commented on #395
Hi @rafaelcaricio

Thank you for your response
I think adding the parameter "unicode=utf-8" will fix the issue.
I am happy to send a pull request for this fix.

Thanks

[2017-02-07 18:13] LeenaBhegade commented on #395
Hi @rafaelcaricio,

I have created a pull request for the issue discussed above. Please review and confirm if it can be merged.
https://github.com/zalando/connexion/pull/397
I have tested the changes at my side and responses are  encoded and printed as expected.
Thanks,
Leena

[2017-02-08 20:17] Majoros commented on #392
Absolutely, as soon as I figure-out a good solution.

[2017-02-09 10:02] thedylman opened #399 "Downloads not shown in swagger ui"
### Description
The swagger ui version 2.2.5 has incomplete support for downloads via the ui.

### Expected behaviour
In the _Response Body_ section there should be a download link in the swagger ui.

### Actual behaviour
No download link and progress animation does not stop.

### Additional info:
Output of the commands:
- `python --version` == 3.5.2
- `pip show connexion | grep "^Version\:"` == 1

[2017-02-09 14:18] thedylman opened #401 "Returning files via connexion.send_file or connexion.send_from_directory return an error"
### Description
Using connexion.send_file or connexion.send_from_directory return an error. I think this is because they don't return an ResponseContainer object.

### Expected behaviour
File should be sent in response.

### Actual behaviour
File not sent in response, console shows call stack:
[code]

### Steps to reproduce
[code]

swagger.yaml
[code]

app.py
[code]

### Additional info:

Output o

[2017-02-09 14:43] thedylman commented on #401
This is the next problem after fixing the swagger_spec_validator issue described in #324

[2017-02-14 11:48] digiman999 opened #402 "Validate JSON Body Works In Ui But Not Requests"
### Description
Trying to validate JSON bodies (Python2.7).  Validation works with both the connexion <host>/ui  and curl, but not Pythons requests module.

### Expected behaviour
connexion to validate requests.post before sending to the operationId function

### Steps to reproduce
**api.yaml**
[code]

**app.py**
[code]

**caller.py**
[code]

### Actual behaviour
caller.py should fail validation &

[2017-02-14 14:36] hjacobs commented on #402
@digiman999 the indentation of `api.yaml` looks wrong (`definitions` not on the same level as `paths`), can you check? Maybe it's just a copy & paste error.

[2017-02-14 14:39] digiman999 commented on #402
Hi @hjacobs .  That's a copy/paste thing, now corrected above.  It all validated OK on Swagger Editor.

[2017-02-16 21:52] samba2 opened #405 "Returning JSON and HTML"
Hi,

based on the requested content type I want my API to return either JSON or HTML. The latter is for non technical people to allow them some basic browsing of the API.

I don't understand how to do the mapping between the yaml file and the Python functions.
The "produces" directive of the Open API spec is too wide. Also it is not an aspect of the API definition. The information "produces _appli

[2017-02-17 13:41] rafaelcaricio opened #406 "Remove Swagger UI vendor code"
Today Connexion hosts a vendor of Swagger UI code. This is a highly unmaintainable code which is even customized for Connexion needs. We have to review this approach.

We need to find an alternative way to have the support to Swagger UI in Connexion projects which must not need to have the whole vendor code inside Connexion.

[2017-02-17 14:10] rafaelcaricio commented on #406
Currently we have a script called [`update.sh`](https://github.com/zalando/connexion/blob/master/connexion/vendor/swagger-ui/update.sh) that applies a small [patch](https://github.com/zalando/connexion/blob/master/connexion/vendor/swagger-ui/index.html.patch) to the original Swagger UI code.

We should think if it would be possible to use the Swagger UI code without modifications and completely re

[2017-02-17 14:13] rafaelcaricio commented on #405
What kind of navigation do you wish to implement? Is the Swagger UI not enough?

[2017-02-17 14:14] rafaelcaricio commented on #395
Fixed by #397

[2017-02-17 14:14] #395 closed

[2017-02-17 14:15] jmcs commented on #406
We can evaluate:

- https://pypi.python.org/pypi/flask-swagger-ui/
- https://pypi.python.org/pypi/flask-swaggerui/

[2017-02-17 14:18] rafaelcaricio commented on #376
I think if we would do this in Connexion we would need to carry out all the responsibility to handle precision, etc. Not sure how we would tackle this issue.

[2017-02-17 14:20] rafaelcaricio commented on #376
Also OpenAPI spec does not provide the `decimal` type.

[2017-02-17 14:21] rafaelcaricio commented on #376
Due to no support for decimals in the OpenAPI spec, I think this issue should be closed. You can support decimal in your API, but you need to implement yourself the conversion.

[2017-02-17 14:21] #376 closed

[2017-02-17 14:22] #354 closed

[2017-02-17 14:24] #339 closed

[2017-02-17 14:26] rafaelcaricio commented on #266
Is this issue still happening?

[2017-02-17 14:31] rafaelcaricio commented on #406
Opened an issue in the first project: https://github.com/sveint/flask-swagger-ui/issues/2

[2017-02-17 14:33] rafaelcaricio commented on #399
Related issue #406

[2017-02-17 14:33] rafaelcaricio commented on #389
Related issue #406

[2017-02-17 14:33] rafaelcaricio commented on #361
Related issue #406

[2017-02-17 16:13] worldmind commented on #376
Create https://github.com/OAI/OpenAPI-Specification/issues/889

[2017-02-20 08:30] samba2 commented on #405
It is inspired by the book "REST und HTTP" http://rest-http.info/

The idea is that JSON is just one of the possible output formats. Maybe there are other machines (in our legacy environment not unlikely) which prefer XML or even csv.

In our case it would be helpful to provide non technical people an idea of what is going over the wire. Also, it would be nice to to be able to send links like: thi

[2017-02-20 10:02] rafaelcaricio commented on #405
Hi @samba2,

Seems like you want content negotiation. Unfortunately it is [not supported](https://github.com/OAI/OpenAPI-Specification/issues/146) by OpenAPI/Swagger 2.0 spec. Therefore Connexion does not support it either. The good news is that [it has been added to the OpenAPI 3.0](https://github.com/OAI/OpenAPI-Specification/pull/761) and we should add support for that sometime in the future wh

[2017-02-21 20:22] soloz commented on #267
Hi,
Any progress on this? As I'm looking to implement API-first async application based on Connexion/Swagger, could @hjacobs or anyone please advise on the amount of effort to integrate Tornado AsyncHTTPClient? I'm happy to help with this.

PS: I think the [README](https://github.com/zalando/connexion/blob/552d1b57b0d4c89c0f0d5e35bef5c074dc0976d9/README.rst) could be a bit misleading, as it says C

[2017-02-22 12:31] mvrogowski commented on #377
+1

[2017-02-22 15:09] wilsonge opened #407 "Validate Content Type"
### Description
Connexion does not validate the content type of the incoming request against the swagger definition

### Expected behaviour
Connexion validates the content type

### Steps to reproduce
Create a swagger file that consumes `application/json` and send a request that has a `multipart/form-data` content type. The request is accepted when it should be rejected.

### Additional info:
Outp

[2017-02-22 18:21] samperd opened #408 "Add Swagger Editor"
### Description
As a developer
I want access to the swagger editor as part of my app
So that I can edit the API SWAGGER definition live and save it locally once new functionality is added

### Expected behaviour
Editor is accessible at [server URL]/editor

### Actual behaviour
No such link yet

### Steps to reproduce
Point your browser to: http://[server URL]/editor

### Additional info:
I assume

[2017-02-22 18:42] hjacobs commented on #408
I see that this could be a useful feature, but I'm not whether the Swagger Editor should be included by default or at all...

[2017-02-22 23:29] rafaelcaricio commented on #408
I really wish to remove the Swagger UI from being a vendor in Connexion (https://github.com/zalando/connexion/issues/406). I would like to have the Swagger UI and Editor as a separated package that can be installed apart from the Connexion package. We could add hooks in Connexion to enable functionality from those packages if they are installed in the same Python installation where Connexion code

[2017-02-23 13:01] samperd commented on #408
Hey Folks,

Thanks for the prompt response.

I am just starting out with Flask, Connexion and Swagger and the project I am working on I want to be super accessible by amateur and pro python programmers alike. Think summer students or co-op students working in a government organization. I don't have too many cycles to dedicate to bringing new students up to speed. They need to be going in 1-2 weeks

[2017-02-23 14:22] samperd opened #409 "Mock Server should build response from field's example in schema"
### Description
on connexion release 1.0.129
Running on windows
Executing from GitBash

As a Connexion user or API developer
I want to run a mock server using data listed in swagger examples
So that I can quickly validate and troubleshoot the bahaviours of the API spec.

### Expected behaviour
I would expect to get the sample data defined in the
` responses: $ref: '#/definitions/Department'`
defin

[2017-02-23 15:09] hjacobs commented on #408
@samperd I totally get your use case and I want to make it as easy as possible for newbies to get started. I think the discussion is mostly about *how* to do it, i.e. whether to have a tight dependency to Swagger Editor. I would prefer a pluggable approach where we only pull in dependencies as needed, e.g. with `pip3 install connexion[all]`.

[2017-02-23 18:06] rafaelcaricio commented on #409
@samperd Thank you for reporting this. But it is a known limitation of the current implementation of mock. As described in https://github.com/zalando/connexion/pull/302. Unfortunately, we never intended to have it working the way you expected.

Maybe you want to send a PR adding this support?

[2017-02-23 18:41] samperd commented on #409
OK,

I read "https://github.com/zalando/connexion/pull/302"

Maybe I am not understanding the issue or I described the issue incorrectly.

I will try to reframe the question.

While in MOCK mode and Given a request of:
http://localhost:5000/departments

Am I supposed to get a response of:
[code]

I am not quite sure where I am supposed to add examples to the response body if not in:

:
[code]

I a

[2017-02-24 09:46] rafaelcaricio commented on #409
We return the "example" property. Please try like that:
[code]

[2017-02-24 18:00] worldmind commented on #376
As I understood they think that frameworks must create decimal values from `type: number, format: decimal` and some people do it https://github.com/OAI/OpenAPI-Specification/issues/607#issuecomment-200267864
They move formats from specification to separate registry in https://github.com/OAI/OpenAPI-Specification/issues/845 and add format decimal in https://github.com/OAI/OpenAPI-Specification/issu

[2017-03-06 14:13] danballance opened #410 "Security decorator should log client IP address"
### Description
We use a project called Fail2Ban on most of our web services in order to block brute force attacks. Fail2Ban can be configured to scan custom application logs and look for authentication failures and block the offending IPs. Obviously in order to do this it needs the IP address to be recorded in the log.

### Expected behaviour
Logs lines look like this:

- Token info (200) for cli

[2017-03-06 15:31] hjacobs commented on #410
@danballance I think logging the client IP would be valuable (but please note that `X_FORWARDED_FOR` is needed if behind LB/proxy).

[2017-03-06 16:13] danballance commented on #410
Okay thanks, I'll be sure to handle the X_FORWARDED_FOR case as well then.

[2017-03-06 16:22] danballance commented on #410
There's one additional security related issue I need to check as well. I know in PHP that the remote IP address in PHP is secure because it is taken from the TCP layer and not just read blindly from the HTTP packet. Since HTTP relies on TCP and its 3 way handshake, we can be sure that any IP address taken from the TCP layer has not been spoofed. Anything from the actual HTTP packet should not be t

[2017-03-06 16:47] danballance commented on #340
I've finally got some time to look at this.

I'm thinking I will probably make a change in decorators.parameter.parameter_to_arg. I'll update here if the plan changes.

[2017-03-07 08:46] danballance commented on #410
@hjacobs So I think we're sage from a security PoV to trust request.remote_addr. X_FORWARDED_FOR all depends on whether we are behind a trusted proxy or not. The only way I can see of indicating that the application is running behind a trusted proxy would be with an application configuration setting.

One option here, for a quick and clean commit, might be to log remote_addr and accept that this l

[2017-03-07 11:47] danballance commented on #340
I'm not sure if anyone will have time to reply on this, but I have a working solution locally that I'm currently writing unit tests for. I just wanted to check, but since in many scenarios this will be a non-backwards compatible change and would break existing code, I'm working on the basis that the default behaviour is **not** to modify parameter names unless a boolean option is passed as True.

[2017-03-07 13:34] rafaelcaricio commented on #340
@danballance Yes, please keep the current behaviour as the default one. You can add a flag to enable the possibility of translating.

[2017-03-07 18:13] #377 closed

[2017-03-08 09:07] danballance commented on #410
Sorry to bump this one again but this security feature is quite important for my project. So I guess we have two options:

1. Don't worry about logging x-forwarded-for and acept this as a limitation
2. Add a trusted_ips list to the application configuration for known trusted proxy IPs. If remote_addr is in this list, then trust and x-forwarded-for

My only hesitation about 2. is that it's not that

[2017-03-08 10:33] mohabusama opened #412 "JSON encoding of Decimal fails"
### Description

Decimal values could be returned from DB queries.
This issue could be fixed by patching ``app.json_encoder``, but I thought it could be useful to be part of the base connexion encoder.

[code]

### Expected behaviour

API responds with valid JSON including float values (e.g. ``0.1`` or ``1.1e-05`` etc ...)

### Actual behaviour

JSON serialization fail

### Steps to reproduce

[co

[2017-03-08 18:22] #412 closed

[2017-03-10 16:21] dimbleby commented on #324
I believe that the release of swagger-spec-validator 2.0.4 fixes this.

[2017-03-10 18:06] hjacobs commented on #324
@gustavo-freitas-movile can you check whether the new `swagger-spec-validator` fixes the issue for you as mentioned by @dimbleby ?

[2017-03-10 19:29] advance512 commented on #182
I agree that this is something that should be supported. I am forced to input 0 as a symbol for null in some properties of `body` type parameters.

[2017-03-10 20:05] gustavo-freitas-movile commented on #324
yes, it have been fixed.

Thanks

[2017-03-10 20:05] #324 closed

[2017-03-11 14:28] wicope commented on #395
Hi, i use for python 3.4:
[code]

[2017-03-13 09:41] rafaelcaricio commented on #395
@wicope Is the latest version resulting in problems with your environment using Python 3.4 ?

[2017-03-13 09:51] wicope commented on #395
[code]

i use: python3 app.py

[2017-03-13 09:57] rafaelcaricio commented on #395
@wicope Have you defined the `operationId` attribute in all your endpoints in your Swagger definition?

[2017-03-13 11:00] wicope commented on #395
@rafaelcaricio

I understand the route to the method:
[code]
[enforcedefaults-api.yaml](https://github.com/zalando/connexion/blob/master/examples/enforcedefaults/enforcedefaults-api.yaml)
[code]
[enforcedefaults.py](https://github.com/zalando/connexion/blob/master/examples/enforcedefaults/enforcedefaults.py)
[code]

---------
My case is a bit different on the route:
[code]

├── swagger.yaml
[code]

[2017-03-14 08:15] rafaelcaricio commented on #395
From your stacktrace:
[code]

You are adding the `operationId` attribute in the wrong place. The `operationId` attribute should be inside the method object of the path definition:

[code]

[2017-03-14 08:16] rafaelcaricio commented on #395
@wicope pls see the comment above. Also please open a new issue. This is completely not related to the issue we are commenting on.

[2017-03-14 16:37] danballance commented on #410
Okay so I've just sent across PR https://github.com/zalando/connexion/pull/415 with my proposed solution. It's based on my previous PR https://github.com/zalando/connexion/pull/414 because I know it will generate a conflict if the two branches are merged. Hope that's okay?

Does this seem like a reasonable way to implement this feature securely? Obviously nobody is obliged to make us of these logg

[2017-03-16 16:26] #340 closed

[2017-03-17 11:15] mrfuxi commented on #266
This is still a problem in 1.1.5.
Looks like when `validate_schema` is called inside `ResponseValidator.validate_response` data - problem object is actually a string not a dict

[2017-03-17 14:53] ddxgz opened #416 "Handle colon in tags"
### Description
The SwaggerHub editor shows no error when put a colon `:` in a tag, so the connexion server should be able to handle the colon in tags, like transform the `:` as `_` in the `operationId`.

[code]

### Expected behaviour
The `:` transformed into a `_` in the `operationId` in `swagger.yaml`.

[code]

### Actual behaviour
The `:` is still a `:` in the `operationId` in `swagger.yaml`,

[2017-03-17 17:48] rchacon1 opened #417 "Why not a flask plugin"
Does the work being done to decouple connexion from flask mean we will use it just like any other flask plugin?

If connexion is still presented to the user as its own framework instead of a plugin then I'm afraid it won't be immediately clear that flask's docs, testing tools and other plugins are still relevant.

I wrote a quick POC to demostrate - https://github.com/zalando/connexion/compare/mas

[2017-03-17 18:39] vimalloc commented on #417
I too would like to see this. For one thing, it just feels more proper. I still need access to the underlying flask app for other extensions, and grabbing it out of connexion then using it just like a normal flask app feels strange. Secondly, there have a been a few times when I needed to actually subclass the flask app I was using (in order to tweak logging behaviors), and that would be easier to

[2017-03-19 14:14] nmusatti commented on #417
I'd say it's a question of which is the framework and which is the plugin. Is Connexion to be seen as an add-on for Flask, or rather Flask as one of possibly many engines for Connexion? In an API first mindset maybe the latter makes more sense.

[2017-03-20 10:34] rafaelcaricio commented on #266
The function `connexion.problem` return a `ResponseObject` which is an internal object representation for responses inside `Connexion`. The problem should be fixed by changing the `connexion.problem` function to return values as a normal handler would do.

[2017-03-20 10:45] rafaelcaricio commented on #416
@ddxgz Hi, the title of your issue and the behaviour you described seems to no match. You talk about tags and describes a problem in the `operationId`. Anyway, Connexion use the `operationId` as the import path to your functions that is why you see an error when adding an `:` to the import path. Please refer to the docs: http://connexion.readthedocs.io/en/latest/routing.html#routing

[2017-03-20 10:45] #416 closed

[2017-03-20 10:56] rafaelcaricio commented on #417
There is a current effort moving towards the direction of Flask being one of possible engines of Connexion. You can follow the progress by following the development of https://github.com/zalando/connexion/issues/380.

[2017-03-20 13:39] rchacon1 commented on #417
Why would one ever choose a flask engine over a django engine or vice versa?

[2017-03-20 13:43] rafaelcaricio commented on #417
@rchacon1 This question is completely off-topic, please follow up this discussion at https://www.reddit.com/r/Python/comments/560gov/flask_or_django/?st=j0i5u0vp&sh=7bccdfdd.

[2017-03-20 13:52] rchacon1 commented on #417
I was hoping to understand why you think having the ability to swap flask with some other WSGI framework is worthwhile. To me it only makes sense if you already have a flask or django (just using it as an example) app or you need some specific functionality from either one of those frameworks. But if its just an engine why do you care?

[2017-03-20 14:08] rafaelcaricio commented on #417
You might have more experience with framework X and would like to use Connexion because your development cycle do API design first using OpenAPI specification. Another potential usage can be in existing applications, as you mentioned, to migrate to an OpenAPI specification based development.

[2017-03-20 15:09] rchacon1 commented on #417
I think it is easier to utilize your experience with framework X if Connexion were a plugin for framework X.

Consider a developer who has experience with flask and the flask-sqlalchemy plugin. Unless he looks at the Connexion source code he may have a hard time figuring out how to use Connexion with flask-sqlalchemy or may not even know its possible.

We may disagree on whether Connexion should b

[2017-03-20 15:34] rafaelcaricio commented on #417
I am not opposed to having an argument to `connexion.App(flask_app=my_own_app, ...)` if that is what you are asking.

I agree that Connexion should play nice with most Flask plugins indeed.

My suggestion is that we could make the Connexion code not tied to Flask by providing an API (code) where we can call/use different frameworks engines.

I am not really concerned on how we will call Connexion:

[2017-03-20 16:33] rchacon1 commented on #417
I think it is possible for Connexion to integrate with many frameworks but also following this pattern: `connexion.App(flask_app=my_own_app, ...)`.

[swagger-node](https://github.com/swagger-api/swagger-node) take this approach. It supports API first design and integrates with many node frameworks including Express, Hapi, Restify, and Sails but it doesn't hide which framework you are using.

If yo

[2017-03-20 19:58] vimalloc opened #418 "swagger-ui 3.x support"
swagger-ui 3.x recently dropped. It has enough changes that the ```update.sh``` script cannot automatically upgrade it. It would be cool if we could get this in here.

[2017-03-21 13:41] ddxgz commented on #416
@rafaelcaricio Thanks for your response. I mean, since there is no restriction on using a `:` in tags, so it shouldn't be an error, Connexion need to convert the `:` to `_` when generating operationId from path and tag.

[2017-03-21 13:54] rafaelcaricio commented on #416
@ddxgz Connexion does not generate the `operationId` it just reads the `operationId` from the OpenAPI specification. Could you please be more clear on what you are talking about?

[2017-03-21 14:25] ddxgz commented on #416
@rafaelcaricio I get it now. I should post this question to `swagger-editor`, since the swagger.yml is generated from swagger-editor. Sorry for opened this issue without sufficient thinking.

[2017-03-21 14:31] akhilbatra898 commented on #346
Any update on this?

[2017-03-21 14:35] rafaelcaricio commented on #416
@ddxgz Glad to help!

[2017-03-21 14:46] rafaelcaricio commented on #346
We register the urls in the Flask app router exactly as defined in the provided OpenAPI specification. So it works as described in the Flask documentation.

I don't understand why we should change Connexion to do differently. Although I am open to understand better why this should be changed.

[2017-03-21 15:00] tomas-fp commented on #346
One core reason would be for API UX quality reasons. Most HTTP API are still consumed by humans as the entry point and humans are more prone to make mistakes, such as adding a trailing slash. If you're using a web browser, the history is going.

This is not an isolated issue: the majority of HTTP routers/path multiplexers fixes the trailing slash transparently for the developer.

I don't think for

[2017-03-21 15:21] rafaelcaricio commented on #346
So the change would be If the URL ends without trailing slash and the operation is `GET` we append an `/` before registering the path in the Flask app router?

[2017-03-21 15:27] tomas-fp commented on #346
I think it can be as simple as:
- Register **any endpoint route** for **any HTTP verb** within Flask app router for both trailing and non-trailing slash.

Also supporting the following conditions:
- If the route defined in the Swagger spec already has a trailing slash (probably due to human mistake), normalize it first and process it accordingly as described above.
- DO NOT support HTTP redirectio

[2017-03-21 15:33] akhilbatra898 commented on #346
The issue also comes when we create a uniy test using app.app.test_client.
When u request /name instead of /name/
It gives 301 when unit test need to test the outouy from same endpoint.

[2017-03-21 15:36] akhilbatra898 commented on #346
And I tried using flask strict_slash =  False.
In connexion.app.app.url_mapping.strict_slash.

Its not working

[2017-03-21 17:16] vimalloc opened #419 "Splitting swagger files error"
### Description
When attempting to split a large swagger configuration file into smaller modular parts I am getting a ```SwaggerValidationError```

See:
* https://github.com/OAI/OpenAPI-Specification/blob/master/guidelines/REUSE.md
* https://apihandyman.io/writing-openapi-swagger-specification-tutorial-part-8-splitting-specification-file/

### Expected behaviour
Breaking swagger configurations int

[2017-03-21 19:19] rafaelcaricio commented on #419
Duplicate of https://github.com/zalando/connexion/issues/254

[2017-03-21 19:19] #419 closed

[2017-03-22 12:44] tomas-fp opened #420 "OpenAPI v3 support"
Just curious about OpenAPI 3 support plans.

See related post about Swagger 2 and OpenAPI 3 introduction:
https://blog.readme.io/an-example-filled-guide-to-swagger-3-2/

[2017-03-22 15:23] rafaelcaricio commented on #420
I have this blog post in my read buffer. 😄

To be honest I haven't thought too much about the OpenAPI 3 in Connexion so far. But definitely it is time to start considering it. I will follow up in this thread later when I give this topic some more thought. Thank you for opening this issue.

If anyone have ideas/suggestions or is willing to help in this I will be glad to support.

[2017-03-22 15:25] rafaelcaricio commented on #418
Related to #406

[2017-03-22 18:01] tomas-fp commented on #420
Cool. I'm open to help in a near future, especially when in my team we can start considering OpenAPI 3 adoption across our services.

[2017-03-23 09:05] danballance commented on #410
What do people think? Could this PR me merged in possibly? It just adds logging of IP addresses in the security decorator and also logged X-Forwarded-For if remote_addr is in a list of trusted IPs. (They are just single IP addresses for now and it does not handle subnets at this stage)

[2017-03-23 16:22] danballance commented on #420
I need to get up to speed on version 3 and would then like to help.

[2017-03-23 20:20] vimalloc opened #421 "validate_responses fails when returning a ResponseContainer"
(Sorry in advance if this has already been reported. I've been doing a terrible job of actually finding duplicate issues lately it seems)

### Description
```validate_response=True``` causes an exception to be raised when returning a connexion ```ResponseContainer``` object. For my case, I'm migrating an older API over to swagger, and I need to be able to return a flask ```Response``` object direc

[2017-03-23 20:52] vimalloc commented on #421
It looks like the data stored in the ```ResponseContainer``` is:

[code]

Due to ```response.get_data()``` returning already encoded data at decorator.py (on line 153).

It gets to this block of code in responses.py (lines 45 to 48) and chokes because the data was already dumbed:
[code]

If I update decorator.py as follows then I start getting closer. It no longer raises an exception, but it now r

[2017-03-23 21:21] vimalloc commented on #421
It looks like that last error (returning 'foo' instead of the JSON) has to do with the rebuilding of the flask response object in decorator.py, and the fact that self.data is now a dict instead of a bytes object.

[code]

One way to fix it would be to re-dump it here:
[code]

Another solution could be to just return the original response if it was given

[code]

I wouldn't be surprised if these so

[2017-04-04 08:17] JuxhinDB commented on #420
Just went over the new OpenAPI 3.0 which looks quite nice. I'm also curious as to when we may consider supporting it in Connexion. :-)

[2017-04-04 14:04] rafaelcaricio commented on #380
Pull request #386 just got merged. Thank you @dutradda for working on that. Now we have some basis to try to integrate other frameworks with Connexion.

[2017-04-04 14:27] tomas-fp opened #423 "Proposal for more fine-grained input contract type validations"
This is simply an informal nice-to-have proposal to evaluate doing more fine-grained type assertions as part of the validation layer based on API input contract annotations via OpenAPI specification.

This might partially break the Postel's Law about robustness principle, but it is certainly convenient for some kind of APIs where consumer are mostly humans and error-prone while consuming the API.

[2017-04-04 14:34] hjacobs commented on #423
@tomas-fp thanks, your QA team's discoveries are certainly valuable! I think we should follow the principle of "least surprise", maybe you can draft out some desired behavior (as comments here?) we can discuss on. Adding the validation would probably be simple and easy to unit test.

[2017-04-04 18:41] vimalloc commented on #421
Fixed in 1.1.6

[2017-04-04 18:41] #421 closed

[2017-04-05 01:07] hjalves opened #426 "Exception when calling flask.abort() with mod_wsgi and connexion 1.1.6+"
### Description

After upgrading to connexion 1.1.6 and 1.1.7 from connexion 1.1.5, I get an exception (error 500) when calling flask.abort(...) on servers using mod_wsgi + Apache + Python 3.4. I cannot reproduce the problem in my local development machine (I don't have Apache installed, tried with uwsgi and flask development server and it works fine on both of them).

### Expected behaviour

Retu

[2017-04-05 01:27] vimalloc commented on #426
Shot in the dark here, but I've seen similar issues in other libraries before which stemmed from propagate exceptions being turned on in the development server, but off during production. Are you running with app.debug=True on your development​ setup? If you turn that to false, do you get the same errors you do in your production server?

[2017-04-05 02:21] hjalves commented on #426
Ok, I think I've found the problem. Connexion 1.1.6+ omits the HTTP Reason-Phrase.
Before (1.1.5):
[code]

After (1.1.7):
[code]

[2017-04-05 06:49] hjacobs commented on #426
@hjalves thanks, do you mind doing a PR?

[2017-04-05 07:50] horomena opened #427 "Local Token Validation (in-process)"
### Description
In a micro-service architecture where the bearer token is passed to each service, it's much more efficent for each micro-service to validate the token locally than calling a centralized authorization service.

### Expected behaviour
Point "x-tokenInfoUrl" (or a different attribute) to a local function that will validate the bearer token locally.

### Actual behaviour
"x-tokenInfoUr

[2017-04-05 08:23] hjacobs commented on #427
@horomena we (at Zalando) actually support local token validation via HTTP, e.g. by running https://github.com/zalando/planb-tokeninfo as a sidecar in your Kubernetes pod :smirk:

But in general it sounds like a good idea and it's related to #124.

[2017-04-05 09:53] rafaelcaricio commented on #426
@hjalves What version of Werkzeug are you using? Changing the line your mentioned break many tests.

[2017-04-05 11:08] hjacobs opened #428 "Regression bug: unexpected keyword argument 'token_info'"
Connexion 1.1.7 breaks my app https://github.com/zalando-incubator/aws-credentials-service (it worked with Connexion 1.1.4 and earlier):

[code]

There is no parameter `token_info` defined, but Connexion tries to pass it to my handler function now :disappointed:

[2017-04-05 11:09] hjacobs commented on #428
This is pretty bad as I suspect other apps using Token Info to break too...

[2017-04-05 11:28] hjacobs commented on #428
Some bug can be reproduced with Connexion's OAuth example: https://github.com/zalando/connexion/tree/master/examples/oauth2

[2017-04-05 11:36] hjacobs opened #430 "Remove Flask references in doc strings"
There are still references to Flask in places which should be non-framework specific:

[code]

I excluded `flask_api.py` and `flask_app.py` in the above output as these files are clearly Flask specific.

[2017-04-05 12:32] #428 closed

[2017-04-05 12:59] hjalves commented on #426
@rafaelcaricio I'm using Werkzeug==0.12.1.

[2017-04-05 13:05] hjalves commented on #426
@rafaelcaricio Really? Did you change flask_response.status or flask_response.status_code?
Changing flask_response.status causes many errors, as status is expected to be a string.

[2017-04-05 14:09] #426 closed

[2017-04-05 14:15] rafaelcaricio commented on #426
@hjalves I didn't change the status -> status_code. Thank you for the PR! 😉

[2017-04-05 14:16] rafaelcaricio commented on #428
@hjacobs It should be ok after #432 . Users should not even notice after that gets merged. 👍

[2017-04-05 17:26] hjacobs commented on #428
My app now works again with https://github.com/zalando/connexion/releases/tag/1.1.8 :tada:

[2017-04-05 17:33] hjacobs opened #433 "Regression: module 'connexion.request' has no attribute 'user'"
Another regression bug. #432 added support for `flask.request.user`, but we actually "promoted" `connexion.request` at some point (also mentioned in the docs). `connexion.request.user` no longer works:

[code]

[2017-04-05 17:57] rafaelcaricio commented on #433
This is ok to add back. But it will be available only for the Flask backend.

[2017-04-05 18:06] hjacobs commented on #433
@rafaelcaricio how would you add it? `connexion.request` is now a module...

[2017-04-05 18:15] rafaelcaricio commented on #433
I think we need to re-organize the current codebase to not break existing applications using Connexion's 1.x series.

Do you think we should not add this back?

[2017-04-05 18:23] hjacobs commented on #433
@rafaelcaricio I think we should add it back! :smile:

[2017-04-05 19:19] #430 closed

[2017-04-06 08:54] danballance commented on #420
Will we try to simultaneously support both versions 2 and 3? Although more work, my assumption is this would be the way to go, otherwise we will break a lot of APIs currently built with Connexion.

[2017-04-06 09:35] rafaelcaricio commented on #420
@danballance Yes, we will support both. We will try to reuse as much as possible the codebase we have.

As side note, I am working on a sketch of the support for OpenAPI v3.

[2017-04-07 13:30] rafaelcaricio commented on #283
To gather feedback from our community I am posting here my proposal of the new style of passing options to Connexion. It will look like:

[code]

If you have any comments about that, please reply here.

[2017-04-07 13:38] jmcs commented on #283
That doesn't seem better than replacing the current option with
**kwargs (or **options).

[2017-04-07 13:41] rafaelcaricio commented on #283
@jmcs The code base is terrible to maintain with methods/constructors with >10 parameters. It is a effort to make the codebase of Connexion better.

That's is exactly why I am suggesting this approach, so it is extremely simple for users to upgrade. 😉

[2017-04-07 14:14] bobh66 commented on #283
+1 for **kwargs, **options is good too

[2017-04-07 14:15] #433 closed

[2017-04-07 14:29] hjacobs commented on #283
@rafaelcaricio I think @jmcs is proposing to use `**kwargs` in the signature, so you don't have to handle a signature with a large parameter list.

[2017-04-07 14:32] rafaelcaricio commented on #283
@hjacobs It does not improve the codebase. We will still have methods expecting many parameters and possible mix of ordering in case you pass them without `abc=1`. Believe me, it is currently a mess and headache to maintain.

[2017-04-07 14:33] rafaelcaricio commented on #283
Besides that, every new option we add is a new parameter in multiple methods and constructors.

[2017-04-07 14:49] rafaelcaricio commented on #283
Having a heavy bag of data inside a `kwargs` and passing it around is very bad in my opinion. A better approach in is to have an specific parameter `options` where we have information that we know are options for configuring different behaviour of Connexion.

It could be a specific class `ConnexionOptions` to be expected as parameter. But it would be bad to ask for users to know how to manipulate

[2017-04-07 14:55] danballance commented on #283
I agree @rafaelcaricio - this has been a headache for me adding a couple of configuration options recently. I needed to access these options inside one of the decorators and it felt like a bad code smell to me adding yet more options to those constructors and passing them all through to other objects used internally.

However, If we are decoupling Flask, shouldn't we be looking for a non-Flask sol

[2017-04-07 15:02] rafaelcaricio commented on #283
@danballance I first opened this issue on Sep 10, 2016 so this decoupling was still not on the plate. So the initial description of this issue is outdated.

My first attempt to fix this was expecting a configuration file (PR #367). Although, I have realised later that expecting configuration files, environment variables, etc is a decision of whoever is writing the applications. So I gave up on tha

[2017-04-07 15:13] danballance commented on #283
I see @rafaelcaricio  - it's true that I already have implemented my own configuration file in my own application.

[2017-04-11 22:41] bioslikk opened #438 "App has no attribute config"
### Description

I want to save a string in the app object like in flask

### Expected behaviour
I expect to save it like
app.config['UPLOAD_FOLDER'] = 'some/path/name_of_folder'

### Actual behaviour

AttributeError: 'FlaskApp' object has no attribute 'config'

### Steps to reproduce

app = connexion.App(__name__)
app.add_api('swagger.yaml')
app.config['UPLOAD_FOLDER'] = 'some/path/name_of_folder

[2017-04-12 06:56] rafaelcaricio commented on #438
You can access it via "connexion.App().app"

[2017-04-12 17:09] bioslikk commented on #438
Thank you, so the command is:
->$ app.app.config['UPLOAD_FOLDER'] = 'some/path/name_of_folder'

[2017-04-12 17:09] #438 closed

[2017-04-13 05:44] podhmo opened #439 "x-nullable support in response body validation"
### Description

I want to x-nullable support in response body validation.

### Expected behaviour

supporting  response object incuding null value as property. such as this person schema.

[code]

### Actual behaviour

validation error (input data is null and schema has x-nullable=true).  connexion's x-nullable support is not comprehensive.

### Steps to reproduce

### Additional info:

supportin

[2017-04-13 05:48] podhmo commented on #439
https://github.com/zalando/connexion/blob/master/connexion/decorators/validation.py#L143

ResponseBodyValidator class can receive validator class. But in ResponseValidator's calling this class without any keyword arguments..
https://github.com/zalando/connexion/blob/master/connexion/decorators/response.py#L42

[2017-04-13 05:50] podhmo commented on #439
work-around is define custom ResponseValidator(almost copy). and passing this custom class at validator_map.

http://connexion.readthedocs.io/en/latest/response.html?highlight=validator_map#custom-validator

[2017-04-17 14:20] kler commented on #206
Perhaps something like this would solve it?
I've just created it, and it works. But please note I haven't tested it more than 5 minutes...

https://gist.github.com/kler/56710fdea361afa79cc2314bd6eb0e7e

[2017-04-20 01:49] fabito opened #441 "[question] How to serve static files ?"

[2017-04-20 07:17] hjacobs commented on #441
You can use the normal Flask tools to service static files (`app.app` is a Flask app), e.g. use `flask.send_from_directory(..)` as Connexion does for the Swagger UI (https://github.com/zalando/connexion/blob/master/connexion/apis/flask_api.py#L291).

[2017-04-20 22:02] hjacobs commented on #441
@fabito is this answering your question?

[2017-05-02 18:28] binrush opened #443 "Using application/x-www-formencoded for requests"
### Description
Hello. I'm trying to get `sqlalchemy` connexion example working with x-www-formencoded requests instead of json ones. For this, i've just added additional value to `consumes` parameter in `swagger.yaml`:
[code]

And issued PUT request:

[code]

### Expected behaviour
Service returned 200

### Actual behaviour
Error 500 returned:
[code]

Is it possible to use `x-www-formencoded` req

[2017-05-02 20:16] hjacobs commented on #443
Can you provider your `swagger.yaml`? IIRC it's not enough to change `consumes`, you also need to change the parameter type to `form`.

[2017-05-03 16:55] binrush commented on #443
Thank your for reply.

Here is my `swagger.yaml`:
[code]

Can you please suggest, where should I change parameter type to `form`?

[2017-05-04 06:28] brightwrite-admin opened #444 "[question] access to parsed swagger spec [solved]"
is here a way to access parsed swagger spec? i know we can pass params from outside, but what if I want to access some info from the spec?

[2017-05-04 09:23] rafaelcaricio commented on #444
@brightwrite-admin Currently there is no way to access it.

[2017-05-04 11:37] brightwrite-admin commented on #444
@rafaelcaricio Thanks for your answer. I can parse swagger spec one more time. Not an issue.

[2017-05-07 16:46] oddjobz opened #445 "[question] Connexion with Twisted"
### Description

Does anyone have a mechanism for running Connexion with or under Twisted? There is documentation for running Flask itself under Twisted, but I'm not seeing an easy way to adapt this for Connexion ??

[2017-05-07 17:57] oddjobz commented on #445
Sorry, answered my own question, here it is if anyone else is trying .. this solution depends on;
[https://github.com/cravler/flask-twisted](url)

[code]

[2017-05-07 17:57] #445 closed

[2017-05-08 06:35] hjacobs commented on #445
@oddjobz thanks for the info!

[2017-05-08 09:53] unuseless opened #446 "Relation of connexion and swagger code generator"
### Description
Connexion can be used standalone, or you can use the online swagger code generator at http://editor.swagger.io/ . The online generator generates a bunch of files for use with connexion.

My questions are:
Why would you use the code generator at http://editor.swagger.io/ instead of connexion directly?

Can you explain the difference in use case?

[2017-05-10 15:39] kcacciatore opened #449 "path formatted parameters"
### Description
Hi - I'm trying to build an api that allows extensions to be added to the API created. For example:

`/v1/service/{serviceid}/{extension}`

Where the method invoked would pass {extension} as the remainder of the URL as a parameter to the invoked code, allowing it to process that part of the URL.

I understand and have tested in Flask something like this:
`@app.route('/myapp/<servic

[2017-05-10 17:14] hjacobs commented on #449
I guess this makes sense. I could not find anything regarding constraints for path parameters in the OpenAPI spec, so it should not be valid in Swagger.

We are open for PRs :smile:

[2017-05-10 17:33] kcacciatore commented on #449
Sure - I just started using swagger etc.. a couple of weeks ago, but I will see what I can do.

[2017-05-10 19:40] kcacciatore commented on #449
Added pull request for a test I wrote before changing any core code - it showed me that the most recent codebase works just fine, and it's the version of connexion that is delivered with swagger stub generation that needs updating.

[2017-05-10 19:40] #449 closed

[2017-05-10 20:03] hjacobs commented on #449
@kcacciatore great to hear :smile:

[2017-05-11 06:14] jmcs commented on #444
The API object (returned by `add_api`) has a `specification` property. @brightwrite-admin is that what you need?

[2017-05-11 06:33] brightwrite-admin commented on #444
@jmcs Thanks! Yes that's it :)

[2017-05-11 06:34] #444 closed

[2017-05-12 00:51] tyomo4ka opened #451 "[Question] Support for date and date-time formats"
Help wanted

### Expected behaviour

[code]
### Actual behaviour

Connexion passes object to the controller.

Is there reasons why it is not implemented?
Should I use custom type format as described here?http://connexion.readthedocs.io/en/latest/cookbook.html?
How can I force casting into datetime object?

[2017-05-12 04:34] tyomo4ka commented on #451
Ok, validation has been solved using this receipt: http://connexion.readthedocs.io/en/latest/cookbook.html?

Can someone help me to solve type casting. It would be super awesome to solve casting issue in the similar way.

[2017-05-12 08:19] rafaelcaricio commented on #451
@tyomo4ka I am glad you found a solution to your problem. About the type casting, in the OpenAPI Spec [the data type of date-time and date is string](http://swagger.io/specification/#data-types-12). You for those types you will need to convert to `datetime` yourself.

I think would be interesting to have a way create custom new type casting supported by Connexion. But currently that is not the cas

[2017-05-12 09:38] filipochnik opened #452 "Version 1.1.9 wheel contains leftover files"
### Description

The wheel of version 1.1.9 contains file(s) not present in tarball or source code for that tag. The one I found is connexion/app.py, didn't check if there are more differences.

### Expected behaviour

Wheel of version 1.1.9 contains the same files as tarball from tag 1.1.9.

### Actual behaviour

Wheel of version 1.1.9 contains additional leftover files (at least connexion/app.py

[2017-05-12 10:11] rafaelcaricio commented on #452
I can confirm that. Here is the diff:

[code]

The additional files are:
- `__pycache__`
- `api.py`
- `app.py`

[2017-05-14 23:46] tyomo4ka commented on #451
@rafaelcaricio

Thanks for your reply.

Yeah, right. I know it's a string with `format` field set to `date` or `date-time` value in Open API spec.

However I guess it is a must have feature to cast dates/times automatically. Cause this is what  _all_ developers need to implement in their apps.

In terms of custom conversions I guess it is useful for many projects as well. Even in your example for

[2017-05-18 16:03] mohabusama opened #453 "cannot import name 'JSONEncoder' 1.1.4 -> 1.1.9"
### Description

Upgrading from 1.1.4 to 1.1.9 leads to:

[code]

### Expected behaviour

To work, since there is no Major version upgrade.

### Actual behaviour

``cannot import name 'JSONEncoder'``

### Steps to reproduce

[code]

### Additional info:

Output of the commands:

- `python --version`
- `pip show connexion | grep "^Version\:"`
`Version: 1.1.9`

[2017-05-18 19:54] hjacobs commented on #453
Thanks for reporting this breaking change!

[2017-05-19 09:20] kinow commented on #453
Here's where it happened https://github.com/zalando/connexion/commit/7ffa3d4221f1e2aaff819a651758667f558964e3

Unfortunately the commit is quite fat. I think maybe related to this line: "moved the jsonifier from produces to flask api;"? Not really much to be fixed, perhaps someone could simply cut a 1.2 version, or just add a note that unfortunately there was a breaking change (I remember seeing a

[2017-05-19 09:27] mohabusama commented on #453
Was/is there a reason for not directing the refactoring/flask-decoupling effort to version 2.x?

[2017-05-19 11:26] roman-telepathy-ai commented on #446
I follow mixed approach: models are generated, but the rest of code is custom. Since I dont like the way swagger-codegen gives me the project.

[2017-05-20 14:36] webwurst commented on #441
May a `Howto` section in the documentation would be nice for examples like this :)

[2017-05-21 07:05] hjacobs commented on #441
@webwurst yes, the Cookbook section sounds good. Willing to do a PR?

[2017-05-24 10:20] MikeRalphson opened #455 "Question: is there a guide to running the tests?"
### Description

Re: #454 I'd like to be able to run the test suite locally and update it

### Expected behaviour

Test suite passes on unmodified code

### Actual behaviour

[code]

### Steps to reproduce

Have run setup.py and installed pytest
`pytest` in connexion directory

### Additional info:

Output of the commands:

- `python --version`
- `pip show connexion | grep "^Version\:"`

Python 3.

[2017-05-24 12:01] rafaelcaricio commented on #455
You need `tox` run the tests:
[code]
Then run:
[code]
That is all. But I would recommend you to do that in a clean Python virtual environment (`python -m venv`).

[2017-05-24 12:48] MikeRalphson commented on #455
@rafaelcaricio Many thanks!

[2017-05-26 09:32] filipochnik commented on #452
Any updates on this?

[2017-05-26 14:36] hjacobs commented on #452
@filipochnik I'll release a new version..

[2017-05-26 14:53] hjacobs commented on #452
New wheel should be clean: https://github.com/zalando/connexion/releases/tag/1.1.10

[2017-05-26 14:53] #452 closed

[2017-05-26 14:53] #455 closed

[2017-05-29 18:23] rmundkowsky commented on #453
Does this work until you fix things?

from connexion.apps.flask_app import FlaskJSONEncoder

class JSONEncoder(FlaskJSONEncoder):
...

[2017-05-30 08:44] roman-telepathy-ai opened #456 "swagger API specification from another repository"
### Question
is it possible to point to the `swagger.yaml` located in another git repository?
or even better to a json format which I deploy on my own "www.api.com/service/swagger.json"

### Example
app = connexion.App('dummy', specification_dir='https://github.com/..../swagger')
app.add_api('swagger.yaml', strict_validation=True, validate_responses=True)

[2017-05-30 10:05] NicolasLM opened #457 "Do not install typing when running on the latest Python version"
### Description

Connexion has a hard dependency on `typing` which is useless when running the latest version of Python.

### Expected behaviour

Installing Connexion does not install typing when the interpreter is Python 3.6.1.

### Actual behaviour

[code]

### Steps to reproduce

Install Connexion with Python 3.6.1.

### Additional info:

Python 3.6.1 on MacOS
Connexion Version: 1.1.10

[2017-05-30 10:18] hjacobs commented on #457
Sounds reasonable.

[2017-05-30 17:07] rmundkowsky opened #458 "serialization of objects created by swagger.io?"
### Description

How do you serialize of "connexion model" (object) created by swagger.io?  There is no example of how to serialize an object to a HTTP response. There seems to be no functions in the object for this as well, even though the documentation states "Otherwise, and by default and if the specification defines that an endpoint produces only JSON, connexion will automatically serialize th

[2017-05-30 17:17] vimalloc commented on #458
Python objects are not inherently JSON serialize by default. If you return something that fits in JSON (list, dict, etc) it will just work and automatically serialize it for you. If you are acting on python objects, the easiest thing would probably be to add a serialize method yourself to turn them into dictionaries, lists, or what have you. I use something like this in my projects:

[code]

[2017-05-30 18:46] rmundkowsky commented on #458
Thanks, I figured that was the case.  Two suggestions:

1) put an example of this in your documentation about Response Handling or note objects have to serialize themselves to json or xml string.

2) If your project supports the swagger.io codegen that generates Python code based on connexion, then add code to generate a serialize function.

[2017-05-30 18:46] #458 closed

[2017-05-30 21:04] rmundkowsky commented on #458
Well, after some digging, turns out swagger.io codegen created a to_dict() function in the base class that can be used, json.dumps(xx.to_dict()).

[2017-05-30 21:10] vimalloc commented on #458
Sweet :)

This probably isn't news to you, but just in case you or someone looking at this later doesn't know, if you are in a connexion endpoint you shouldn't even need to json.dumps() it. You could just return it directly (```return xx.tod_dict()```), and connexion will take care of dumping it and setting the JSON headers for you. Or if it was a normal flask endpoint, you could do ```return json

[2017-05-30 21:16] rmundkowsky commented on #458
thanks, that is helpful. Would be nice if you had that in documentation.  Also I would have never used connexion if it was not used by swagger.io, so you might want to think about documentation for code generated there.

[2017-05-31 07:16] hjacobs commented on #458
@rmundkowsky thanks, I never looked into swagger.io code generation..

[2017-06-01 11:37] rog555 opened #460 "access to custom vendor extension properties"
Hello, is there any way to access custom vendor extension properties, or else the swagger doc for the current operation (or even whole swagger doc) ?

eg:

[code]

[code]

[2017-06-01 22:09] hjacobs commented on #460
The API object is your friend, see answer on #444

[2017-06-02 15:26] holdenweb commented on #401
Is there any known workaround for this issue?

[2017-06-06 09:06] MikeRalphson commented on #455
tox output on windows is unreadable, possibly due to this bug https://github.com/tox-dev/tox/issues/250 - helps to tee the output

[2017-06-06 09:33] kapouille opened #461 "Impossible to reference local files"
### Description

`connexion` doesn't appear to be able to resolve local files `$ref` references, resulting in an exception being thrown.

### Expected behaviour

`$ref` should be able to reference local files.

### Actual behaviour

When using relative references as defined in https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#relative-files-with-embedded-schema-example conne

[2017-06-08 02:49] bobh66 commented on #406
The flask-restplus package includes a nice swagger-ui implementation.  Would it make sense to use that if the package is installed?

[2017-06-08 22:41] rog555 commented on #460
Great, thanks for the hint. have managed to make it work with @before_request and flask.g to store/retrieve the during the operation.

[2017-06-09 07:28] #460 closed

[2017-06-09 10:41] roman-telepathy-ai opened #466 "return value-format of endpoints"
### Description
What should / can be the return value of an endpoint?

E.g.:
[code]
The return value is a tuple with data + status code.

### Questions
- is the return tuple passed to the `flask.Response(...)` as arguments?
- how to add custom headers, mimetypes, etc to the response? (if the response insternally not handled as flask.Response)
- or should I use standard `flask.Response(response, st

[2017-06-09 16:43] vimalloc commented on #466
The possible values when using flask are here:
https://github.com/zalando/connexion/blob/master/connexion/apis/flask_api.py#L177

It looks like you can return a flask response, a tuple with a flask response and status_code and/or headers, a tuple of (data, status_code, headers), a tuple of (data, status_code), or just the data.

[2017-06-09 16:51] roman-telepathy-ai commented on #466
thanks! got it.

[2017-06-09 16:51] #466 closed

[2017-06-12 16:19] JuxhinDB commented on #420
Hey @rafaelcaricio just wanted to ask if you guys have made any progress on this and if you might need any form of testing.

[2017-06-13 09:59] EmlynC commented on #401
Hello @thedylman, I think the error here is caused by `validate_responses=True` — this leads to the `RuntimeError` described. Essentially, `connexion` calls `response.get_data()` to deserialise the response and it throws an error because you can't coerce the stream into an object without calling the chunk methods.

[2017-06-13 20:30] advance512 commented on #439
Not just response, also request - in definitions, basically.

e.g.

[code]

Some fields in the Pet should be nullable.

[2017-06-15 20:55] JHibbard opened #468 "Client SDK examples?"
Are there examples/documentation for using the swagger-codegen python client for connexion servers?

[2017-06-16 07:14] tjhgit opened #469 "It looks like connexion 1.1.6 broke compatibility with flask-injector."
### Description

This code https://medium.com/@ssola/building-microservices-with-python-part-i-5240a8dcc2fb section working with Flask Injector does not work.

### Expected behaviour

Should work

### Actual behaviour

Error message:
TypeError: search() missing 1 required positional argument: 'data_provider'

### Steps to reproduce

use connexion 1.1.6 or higher in requirements.txt

### Additional

[2017-06-16 09:48] hjacobs commented on #469
Thanks for the information, did not know about that!

[2017-06-16 12:16] rafaelcaricio commented on #420
@JuxhinDB Unfortunately no. I'm currently busy with some personal stuff and with little free time to take care of this right now. :(

[2017-06-16 12:20] rafaelcaricio commented on #461
Long discussion going on at https://github.com/zalando/connexion/issues/254

[2017-06-16 12:24] rafaelcaricio commented on #439
The `definitions` contents is pure JSON schema. It does not support vendor extension and is out of scope of OpenAPI specification. Maybe better find a workaround using `jsonschema` lib.

[2017-06-16 12:27] rafaelcaricio commented on #453
As @rmundkowsky pointed out, this just moved to another file. This object should not be used directly outside Connexion code itself. That's why this change was not added to any release notes.

[2017-06-16 12:27] #453 closed

[2017-06-16 12:48] roman-telepathy-ai commented on #468
client works out of the box.
with codegen you get both client and server.
steps:
- start server
- add a test case to generated clients tests and simply use generated api

Example:
[code]

[2017-06-16 15:08] JuxhinDB commented on #420
That's fine, @rafaelcaricio! Feel free to ping me in the future should you need any help with this.

[2017-06-16 22:13] JHibbard commented on #468
If your spec doesn't define the host or basePath, how would you configure the client?  Is there a list of what configuration values need to be set for the client to work properly or a way to see the http request generated by the client for troubleshooting purposes?

I'm having trouble setting up the client in this situation.  Thank you!

[2017-06-19 08:28] roman-telepathy-ai commented on #468
the host and port are defaults in your YAML. When client is generated, it uses these default values.
But you can change them, depending where you deploy your service.
[code]

[2017-06-19 15:12] underyx opened #470 "Security GET parameters are rejected by strict validation"
### Description

If I have the following definition, connexion will reject all `/ping` requests with `Extra query parameter(s) api_key not in spec`.

[code]

### Expected behaviour

connexion should know that `api_key` is also a supported parameter name.

### Actual behaviour

connexion thinks `api_key` has no place to be there

### Steps to reproduce

1. Launch an app with the above Swagger file

[2017-06-20 14:52] tjhgit commented on #469
Will you be able to fix this?

[2017-06-21 09:58] rafaelcaricio commented on #469
@tjhgit Are you willing to do a PR to fix this?

[2017-06-21 11:20] jstasiak commented on #469
Hey all, I'm in the process of debugging this so might as well send a PR when I know what's going on.

[2017-06-21 14:57] advance512 commented on #439
The validation should allow null as a value OR a schema validated object.

The idea is to check if it is `null`, and if not - run jsonschema and validate.

Makes sense to me.

[2017-06-21 15:22] jstasiak commented on #469
Unfortunately I'm not familiar with connexion enough to create a proper automated test (required for a PR as far as I'm concerned) but I was able to verify a patch to connexion against a simple test case and it works. This is the patch:

[code]

The issue is that keyword arguments to views are silently discarded if they don't correspond to named URL placeholders which interferes with Flask-Injecto

[2017-06-22 03:20] remintz opened #471 "Requests from remote client return 404"
### Description
Application runs fine when client is on same computer and access is done using "localhost" on the URL. When client is on a remote computer OR if the client is on the same computer but access is done using "127.0.0.1" the application returns the 404 message below for the previously running url paths (including /ui)

[code]
I've tested using both app.run(host='0.0.0.0') and app.run(h

[2017-06-22 15:02] hjacobs commented on #471
Could you provide some more information/details? The described issue sounds a bit weird to me and I have no good clue on how to help you. Maybe try to reproduce the problem with a minimal set of code/swagger and put this somewhere public (so we can reproduce the problem too).

[2017-06-23 17:31] enezhadian commented on #406
@rafaelcaricio An alternative approach could be requiring users to provide the code for Swagger UI as a configuration for Connexion app. I don't think simply bundling Swagger UI in an external package will solve the issue of maintainability.

[2017-06-23 19:28] rafaelcaricio commented on #406
@enezhadian I agree, users should provide the path for the Swagger UI code (if they want to use it). And we should remove the Swagger UI code completely from Connexion codebase.

The external package idea is a call for anyone that wants to create it and maintain. So we (Connexion) can recommend to users to install that package and not rely on Connexion to provide the Swagger UI.

[2017-06-23 20:50] remintz commented on #471
Thanks @hjacobs. I've created a minimal app to demonstrate this.

The source code is published at https://github.com/remintz/connexion-test.git

You may check it behavior at this URL: http://34.203.30.75:8080/ui

No matter what request I send it always returns the same error.

The application console shows

INFO:werkzeug: * Running on http://0.0.0.0:8080/ (Press CTRL+C to quit)
INFO:werkzeug:186.2

[2017-06-23 20:50] remintz commented on #471
Sorry... closed by mistake

[2017-06-23 21:41] JHibbard commented on #468
Thank you, this was very helpful!  The only gotcha I found was that the 'host' parameter to an API client is actually the 'host'+'basePath' from the swagger spec:

    from microservice_disney_client import DisneyApi
    from microservice_disney_client import DisneyApiClient

    # host = host + basePath
    c = DisneyApiClient(host='0.0.0.0:8080/v0')
    a = DisneyApi(c)

[2017-06-23 21:41] #468 closed

[2017-06-24 14:36] hjacobs commented on #471
@remintz see https://github.com/remintz/connexion-test/pull/1 . You are overwriting the `SERVER_NAME` and this causes the problem. I'm not sure why you do it (also other configs are not necessary IMHO).

[2017-06-24 14:54] #471 closed

[2017-06-24 15:02] remintz commented on #471
It worked! Thanks a lot @hjacobs ! This code came from some sample I've found on internet. I'll be cleaning it up.

[2017-06-29 02:23] kislyuk opened #475 "OAuth token validator is incompatible with Google's tokeninfo endpoint"
Google's tokeninfo endpoint at https://www.googleapis.com/oauth2/v3/tokeninfo returns the scope as a space-separated string, not a JSON array:
[code]
Giving this token to connexion:
[code]
Judging by the code, it expects `scope` to be a JSON array, but I don't think that's specified anywhere (and I couldn't find a compatible implementation). The closest I found to a spec is https://tools.ietf.org/

[2017-06-29 06:53] hjacobs commented on #475
We could simply support both formats as the type is easy to identify (string or list/array). Willing to do a PR?

[2017-06-29 07:22] chimeno opened #476 "Date format parameter not validated"
### Description
When defining an endpoint with a parameter in the *date* format, is not validated.

### Expected behaviour
Should return 400 status code.

### Actual behaviour
The code function is executed.

### Steps to reproduce
1. Define an endpoint like:
[code]

2. Make a request with an invalid date (ej. 123)

### Additional info:

Output of the commands:

- python 3.6.1
- 1.1.9 and 1.1.10

[2017-06-29 10:35] rafaelcaricio commented on #476
We have remove this because the code which implements date/time validation is not compatible with Apache license.

You can activate this validation for your application by installing `pip install strict-rfc3339>=0.6`. Please keep in mind that the library "strict-rfc3339" is under GPLv3. You can read more on this topic in https://github.com/zalando/connexion/pull/404.

[2017-06-29 10:36] rafaelcaricio commented on #476
@chimeno Please close this issue if that answer your question.

[2017-06-29 12:40] chimeno commented on #476
Well, after installing ``pip install strict-rfc3339>=0.6``, _date-time_ format is working but format _date_ it does not work either.
Indeed there is a log:
``ValueError: time data '12----' does not match format '%Y-%m-%d'``
but not error is raised.

[2017-06-29 13:45] rafaelcaricio commented on #476
Could you send the full stack trace? Impossible to help just with this line. :)

[2017-06-30 07:27] chimeno commented on #476
Yep, for sure:

[code]

This happens with ``strict-rfc3339>=0.6`` installed or not.

[2017-06-30 08:11] chimeno commented on #476
It is possible to workaround this by creating a custom format:
[code]

[2017-06-30 08:19] rafaelcaricio commented on #476
Cool! Thanks for posting your solution. Maybe now we can close this issue?

[2017-06-30 08:21] chimeno commented on #476
Yes, we can close, but there is still an issue regarding dates and datetimes...
Feel free to close it. Thanks!

[2017-06-30 08:24] rafaelcaricio commented on #476
What is the issue regarding dates and datetimes?

[2017-06-30 08:26] chimeno commented on #476
``date`` format is not validating either with strict-rfc3339 installed

[2017-06-30 08:32] rafaelcaricio commented on #476
Ok, I will investigate this later. I will leave this open for now then.

[2017-06-30 08:33] rafaelcaricio commented on #476
@chimeno Could you please post a snippet of your OpenAPI spec with the datetime  format parameter?

[2017-07-03 14:25] roman-telepathy-ai opened #480 "Parameter in "path" and in "formData" do not work"
### Description
When defining an endpoint with parameters in _path_ and in _formData_ and enabling _strict_validation_ function _validate_formdata_parameter_list_ validates only parameter in _path_. Thereby parameter in _formData_ is ignored.

### Expected behaviour
Function _validate_formdata_parameter_list_ should validate all parameters (form, files) but not parameters in _path_ .

### Actual b

[2017-07-03 14:56] roman-telepathy-ai commented on #480
btw: accordingly to https://swagger.io/specification/#parameterObject the spec above is valid. The site also contains some examples, defining parameters in path and in formData

[2017-07-05 20:09] nmusatti commented on #445
Do you think it would be possible to integrate an additional Twisted based library in this setup? I'm thinking of invoking Scrapy based on request parameters and to return the crawler's results in the response.

[2017-07-08 08:48] #475 closed

[2017-07-09 05:54] ex-Dev opened #481 "[question] Hide some ui endpoints"
Hi,
There is a way to hide some endpoints in ui via connexion api?
For instance, we want to hide /\_\_heartbeat\_\_ from ui in https://aus5.mozilla.org/ui/#/default

Thanks.

[2017-07-10 06:45] hjacobs commented on #481
@ex-Dev that's not directly possible in Connexion right now, but this might be a feature request for Swagger UI (e.g. to recognize some property to hide it)?

[2017-07-10 14:51] NicolasLM commented on #457
Thank you for taking the time to address this problem, however the `typing` dependency is still installed on the latest interpreter version because the wheel contains:

[code]

As far as I know, when installing a wheel the `setup.py` is not executed. `setup.py` is only run on the interpreter building the wheel. My guess is that the person who built the wheel had a Python version below 3.6.

[2017-07-10 21:51] beardedeagle commented on #406
@rafaelcaricio I have developed a flask plugin called Flask-SimplySwagger that does most if not all of what you are asking for. I am currently in the process of getting it open sourced through my company, but once it is available, I would be more than happy to have your team use it:
[code]
I was actually using flask-restplus and connexion before I went ahead and wrote this, so if it looks like it

[2017-07-11 11:06] ex-Dev commented on #481
Thanks, @hjacobs.
I'll learn more how to I can pass a property to UI and will ask at swagger-ui repo a possible feature.
Maybe the #483 can help me too.

[2017-07-11 11:40] #481 closed

[2017-07-18 00:25] lsh-0 opened #484 "transitive dependencies not picked up by pip breaks installation"
### Description
connexion has a transitive dependency on a specific version range of the library `mccabe` via `flake8` that is specified here: https://github.com/zalando/connexion/blob/master/setup.py#L94

pip doesn't recognize that `setup_requires` though and uses `easy_install` to handle it: https://pip.pypa.io/en/latest/reference/pip_install/#controlling-setup-requires

if connexion is being in

[2017-07-18 08:42] chimeno commented on #323
I also would need this feature. I could work on it.
@ibigpapa Do you mind share your code approach to continue ?

[2017-07-18 09:18] xylix commented on #408
If you're looking for a noob-friendly solution for swagger file editing [OpenAPI designer](https://openapi.design/) could be helpful (github [here](https://github.com/apinf/openapi-designer)). It is pretty easy to compile. Editing local files live is not supported yet but if there is interest it's pretty easy to implement.

[2017-07-18 12:34] ibigpapa commented on #323
Flask Requests context uses the `request.args.getlist('keyname')` so we'd just need to ensure the elements of the list are validated and I think we'd be good at that point.

[2017-07-18 13:24] chimeno commented on #323
It's possible to use directly ``request.args.getlist('keyname')`` inside the operation called from the specification, it could work as a workaround but if you use:
[code]
[code]

I was trying to get a test, adding [here](https://github.com/zalando/connexion/blob/master/tests/api/test_parameters.py#L39) a proper test, but `` app_client.get(url, headers=headers)`` is not reading these kind of parame

[2017-07-18 15:39] turdusmerula opened #485 "Using unicode instead of str?"
### Description
In `connexion/decorators/parameter.py` having `string` mapped to `str` prevents to pass any non ASCII data inside requests parameters even when properly translated inside URL.

Example: I need to filter inside a REST request by some symbol prefix and one of them is 'µ' which is translated in URL to `%C2%B5`:
`curl -X GET --header 'Accept: application/json' 'http://localhost:8200/ap

[2017-07-18 18:29] hjacobs commented on #408
@xylix check out our [IntelliJ Swagger Plugin](https://github.com/zalando/intellij-swagger), I think it's pretty nice for local editing (also works with community/OSS edition of IntelliJ).

[2017-07-20 20:41] lorochka85 opened #488 "Unable to install connexion in environments without access to global pypi on python2.X. Please, consider building py2 wheels"
### Description
Due to current pip/setuptools behavior packages listed in setup_requires are always downloaded from global pypi, regardless of index argument passed to pip install (please, see pypa/setuptools#209) for more details. This makes it impossible to install source distribution in environments without access to global pypi on python2.7.

### Expected behaviour

Should be able to install c

[2017-07-20 21:14] hjacobs commented on #484
Any suggestions for possible fixes?

[2017-07-20 21:15] hjacobs commented on #485
My evil (and not helpful) suggestion: switch to Python 3 :smirk:

[2017-07-20 21:16] hjacobs commented on #457
@NicolasLM ok, but building with Python 3.6 would break the wheel for users of Python 3.5, right?

[2017-07-20 21:52] turdusmerula commented on #485
Planned but as long as 2.7 is the default version with ubuntu based distros I should keep going on figthing with 2.7 ;)

[2017-07-20 23:21] lsh-0 commented on #484
this is what I did: https://github.com/elifesciences/connexion/commit/995ebab9a5731c664434f0fc8f8fd1bc1acfa5b0

nothing fancy.

the docs (first link in post above) suggest this:

but I figure if I need it to install connexion, and installing connexion involves running setup.py via pip, then it's just another requirement to go in the list of requirements.

[2017-07-21 05:01] jmcs commented on #485
The latest Ubuntu LTS (16.04) already has python 3 pre installed. If you mean `/usr/bin/python` being python 3 that will probably never happen because of [PEP 394](https://www.python.org/dev/peps/pep-0394/).

[2017-07-21 07:29] xylix opened #489 "Add testing documentation?"
It would be nice to have documentation / and / or examples of what are good workflows for testing a connexion app's API.

[2017-07-21 17:07] lorochka85 commented on #488
not sure why, but https://github.com/zalando/connexion/pull/492 didn't get associated with the issue :\

[2017-07-21 19:53] #488 closed

[2017-07-21 21:10] #308 closed

[2017-07-21 22:59] ChamaraG opened #493 "Missing pathlib dependency"
### Description
This error occurs when building applications with connexion 1.1.12.  The `pathlib` dependency appears to be missing.
[code]

### Additional info:

Output of the commands:

- `python --version`
    ```Python 2.7.13```

- `pip show connexion | grep "^Version\:"`
```Version: 1.1.12```

- `pip freeze | grep pathlib`
   No output

[2017-07-21 23:03] wayne-li2 commented on #493
Same issue here. Use connexion 1.1.11 to workaround.

[2017-07-22 13:40] hjacobs commented on #493
Hmm, I guess the "unversal wheel" introduced with #492 broke it.

Use Python 3 as a workaround... :speak_no_evil:

[2017-07-23 23:41] lsh-0 commented on #484
hrm - I see an example now where my fix isn't working. let me dig a little more.

[2017-07-25 18:38] ChamaraG commented on #493
Longish term, Python 3 is a solution, but that wouldn't work for us immediately ...

Perhaps a breaking changes like this should be reserved for a major version change?

[2017-07-25 19:02] vimalloc commented on #493
Something else to keep in mind is pathlib was only introduced in python3.4.

[2017-07-25 19:02] hjacobs commented on #493
@ChamaraG actually the breaking change was introduced with the unversal wheel which was requested by a Python 2 user. See #492

I'm not sure how to proceed here, simple workaround would be to add `pathlib` dependency in your own requirements. Or we simply revert the "universal wheel".

Any suggestions?

[2017-07-26 12:30] underyx commented on #493
@lorochka85 do you have any idea, as the author of the universal wheel PR?

[2017-07-26 12:39] underyx commented on #493
@hjacobs instead of using code in `setup.py`, couldn't you just use environment markers to conditionally install the compat packages? Like this: `'pathlib2; python_version < "3.4"'`

See more info about these here: https://www.python.org/dev/peps/pep-0508/#environment-markers

[2017-07-26 13:52] hjacobs commented on #493
@underyx ah, I did not know about this. Would you be willing to do a PR?

[2017-07-26 16:56] lorochka85 commented on #493
Seems like environment-markers is the way to go - nice find @underyx!   I'm curious though, was it a problem with *.tar installations on py2.7 or was only introduced with universal wheel?

[2017-07-27 10:18] underyx commented on #493
Sure thing @hjacobs: https://github.com/zalando/connexion/issues/495

[2017-07-27 16:03] sharkguto opened #496 "Support for sanic/starlette framework or async/await"
### Description

It would be nice if we can support both , Flask and [Sanic](https://github.com/channelcat/sanic) frameworks.

I did not found any example to do async requests in documentation. Someone tried to use [uvloop](https://github.com/MagicStack/uvloop) with connexion?

[2017-07-29 10:28] #493 closed

[2017-07-31 20:15] ChamaraG commented on #493
@underyx, @hjacobs thank you. v1.1.13 works for me on Python 2.7.

[2017-08-02 16:11] rwitzel opened #498 "Are there plans to support the security property in the swagger file on the top level (global default)?"
.. instead of having it for every single path.

[2017-08-02 17:05] chimeno commented on #323
As I've said before, you could workaround this by using:

[code]
As I've said before, I would like to work on this implementation, but I cannot give any time estimation due to being in my free time, so if @lhannest or others are interested in working on it, please do it.

[2017-08-02 17:16] hjacobs commented on #498
This should already work, see https://github.com/zalando-stups/aws-credentials-service/blob/master/swagger.yaml as example.

[2017-08-02 20:21] lhannest commented on #323
@chimeno @ibigpapa I implemented a solution, though it's entirely within `parameter.py`. I'm not sure if other files need to be modified as well. But, from a bit of testing it appears to be working well.

Take a look [here](https://github.com/zalando/connexion/blob/master/connexion/decorators/parameter.py#L145) where query parameters are being added. The `request.query` is a MultiDict object, and

[2017-08-02 20:55] hjacobs commented on #323
@lhannest would you be willing to do a PR? Thanks! :smile:

[2017-08-02 22:46] lhannest commented on #323
@hjacobs I pushed two. The first one was failing automated tests, so I make the implementation even simpler and encapsulated it within a single method. I can't get tox to run tests locally, so I'm hoping this time it will work.

[2017-08-02 23:14] chimeno commented on #323
I haven't look at the code yet, but, wouldn't be the desired output like this?:

[code]
Also I'm not sure if combine 'c' with pipes and c with 'multi' it's a good idea.

[2017-08-03 00:04] lhannest commented on #323
@chimeno `keywords` is a string, not an array. And the user shouldn't ever use multiple collection formats like that, anyway. I think it would be more important to keep the code simple, than to handle illegal inputs in the most intuitive way possible. But how else would you suggest handling that?

[2017-08-03 07:18] rwitzel commented on #498
Thank you, Henning, it works, yes. I had previously tested with an outdated version of connexion.

[2017-08-03 07:19] #498 closed

[2017-08-03 08:56] rwitzel opened #501 "Is there a way to secure the API endpoint (/swagger.json)? And the swagger UI as well?"
Even if OAuth security is configured on top level, the API endpoints (/swagger.json and /ui) are not secured.

How can these endpoints be secured? It is a bit of a problem that they are not secured at the moment.

[2017-08-03 10:01] jakul opened #502 "Support for Open API Spec v3.0.0"
[OpenAPI Spec v3.0.0](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md) is now the current version of the specification. Are there plans for Connexion to support it?

[2017-08-07 14:46] rafaelcaricio commented on #502
We should. But no work was started yet.

[2017-08-07 19:28] tomas-fp commented on #502
Duplicated. See: #420

[2017-08-07 19:32] hjacobs commented on #502
Closing as duplicate of #420

[2017-08-07 19:32] #502 closed

[2017-08-08 21:40] jkrukoff opened #503 "Connexion does not support use of http.HTTPStatus enums as response codes."
### Description
Python 3.5 introduced a new enum type for representing HTTP response status codes: "http.HTTPStatus". Enums are generally int like enough to work transparently, however, the response validation attempts to convert the status_code to a string for comparison, a place where enum is insufficiently int-like.

### Expected behaviour
Enums like http.HTTPStatus.OK should be usable as respo

[2017-08-09 00:33] smith-m commented on #420
support for 3.0 would be awesome. Parameter and anchor references are much flexible and it can mean less repeated code to document the same API.

[2017-08-09 15:09] mozbhearsum commented on #420
The OpenAPI 3.0 spec was finalized and released a couple of weeks ago: https://www.openapis.org/blog/2017/07/26/the-oai-announces-the-openapi-specification-3-0-0

[2017-08-11 06:12] etsardou commented on #485
A quick fix is to change the ```make_type``` function in ```connexion/decorators/parameter.py``` as so:

[code]

[2017-08-11 12:34] rafaelcaricio commented on #489
Sounds good.

[2017-08-15 13:11] sergeymatyunin opened #505 "Disable overriding user parameter by uid value"
### Description
There must be a way to pass a parameter with the name `user` to the handler when oauth2 security is enabled.

Introducing connexion to an existing project where parameter `user` is used might be problematic.

### Desired behaviour
There is a configurable name for UID parameter.

### Actual behaviour
Connexion overrides `user` parameter with the content of `uid`
see  `verify_oauth`:

[2017-08-16 18:53] andrewgrz commented on #469
I can replicate this issue in 1.1.13 as well. This issue is not present in 1.1.5

[2017-08-22 07:01] mvalkon commented on #496
@sharkguto there's a development effort in progress to move towards a framework agnostic approach for Connexion in #380. If you're interested in contributing, you can take a look at #394 which implements the basic decoupling and adds Flask as one implementation.

[2017-08-24 16:32] FWirtz commented on #489
Yes, I would love that too!
As I am currently facing testing of a connexion api myself, here is a quick overview of my "setup" so far.
Feedback greatly appreciated, would love to add to the docs.

## 1. Unit Tests
Using e.g. [Tox](http://tox.readthedocs.io/en/latest/) or similar to provide a virtual env, test your units (functions) by [mocking](https://pypi.python.org/pypi/pytest-mock) everything

[2017-08-25 16:18] FWirtz commented on #489
Also, [swagger-tester](https://github.com/Trax-air/swagger-tester) looks promising.

[2017-08-28 11:04] rafaelcaricio commented on #489
@FWirtz I like your approach on testing. Sounds reasonable to me. It is similar to what I try to do in the projects I work on.

I'm yet to try Dredd and swagger-tester. Looks interesting.

[2017-08-28 16:52] #485 closed

[2017-08-29 21:32] dcarrot2 commented on #469
I can replicate this on 1.1.9. Is anyone working on this? I can take a crack at it. Is it a matter of taking the patch above and writing some tests for it? (The patch works for me)

[2017-08-30 08:05] hjacobs commented on #469
@dcarrot2 go ahead :smile:

[2017-09-01 08:27] lucas03 opened #509 "overriding json encoder"
### Description
Overriding `json_encoder` is not propagated everywhere.
### Expected behaviour
connexion is using same dump encoder
### Actual behaviour
It uses flasks
### Steps to reproduce
We have a custom encoder for json to encode enum.
So using
[code]
I got error `TypeError: <Gender.m: 'm'> is not JSON serializable`
According to docs, I overriden default encoder:
[code]
but this introduces ne

[2017-09-04 06:51] nils250492 opened #510 "supporting multiple file upload"
### Description

When I define a swagger path like that one:

[code]

I am not able to get the "array" of files defined under the name assets.
Only the first file which is send by the name assets...

`def startImport(xml,importMeta,assets = None) -> object:
    print(assets)`
Result is : `<FileStorage: '25d' ('application/octet-stream')>`

### Expected behaviour

Array of Files should be accessibl

[2017-09-04 11:58] NicolasLM commented on #457
I believe the proper way to provide dependencies depending on the interpreter is by using environment markers: https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-platform-specific-dependencies

The example of the `enum` is particularly relevant.

[2017-09-04 12:36] NicolasLM commented on #457
And I just saw that you implemented that in #495. I confirm that it works perfectly, thanks!

[2017-09-04 12:36] #457 closed

[2017-09-07 13:01] mvalkon commented on #510
@nils250492 could you provide a full example for easier reproduction please?

[2017-09-10 13:42] mxmo0rhuhn opened #511 "connexion.problem not compatible with add_error_handler"
### Description
Returning an instance of `connexion.problem` from an error handler results in an application crash in `connexion == 1.1.9`

### Expected behaviour (`connexion == 1.0.129`)

Returning a nice error like:
[code]

### Actual behaviour in (`connexion == 1.1.9`)

Stacktrace
[code]

### Steps to reproduce

1. Define handler:
[code]

2. Add the handler to the app:
[code]

3. Raise the corr

[2017-09-12 05:48] hjacobs commented on #511
Thanks for reporting this. Would you be willing to work on a fix?

[2017-09-12 09:11] faxioman commented on #439
Any news on this?

[2017-09-12 19:52] mvalkon commented on #509
@lucas03 sorry for the delay in responding. Could you provide a more complete example for reproduction, including the `CustomJSONEncoder`?

[2017-09-12 21:25] lucas03 commented on #509
Thanks for replying, I can try to create a minimal example of connexion app with this issue, in few days I guess.
This is `CustomJSONEncoder`:
[code]
where `default_encoder(o)` would be something like this:

[code]

[2017-09-13 00:09] mxmo0rhuhn commented on #511
Sadly I currently got no capacity to work on a fix. :/

[2017-09-13 06:33] mvalkon commented on #509
@lucas03 thanks for the detailed response, I've verified that you're correct. Would you like to contribute a a fix by opening a PR? If you do not wish to do so, I can assign this to myself.

[2017-09-13 07:00] lucas03 commented on #509
Yes, I can open a PR. But is overriding init best way how to solve this?

[2017-09-13 11:50] mvalkon commented on #509
@lucas03 I had to recheck this as I felt that overriding the `__init__` did not sound like the approach we should take. I think that you're missing a `return` in `CustomJSONEncoder.default()`, currently it calls `default_encoder()` and returns a `None`

[code]

[2017-09-13 12:02] lucas03 commented on #509
Oh my god, thanks. :(

[2017-09-13 12:02] #509 closed

[2017-09-13 12:11] mvalkon commented on #509
@lucas03 no worries, it was a sneaky issue :)

[2017-09-14 17:59] jasonrhaas commented on #283
@rafaelcaricio Does this new approach subclass the actual `Flask` class so we can use the built in `.config` method of the instance?

I use the `.config` method to keep track of my different Flask configurations (test, dev, prod), but currently connexion does not seem to support it.

For example,
[code]

Gives this:
[code]

[2017-09-14 18:05] jasonrhaas commented on #283
In looking at the code, it appears that `connexion.FlaskApp().app` is an instance of `flask.Flask`.

[2017-09-14 18:26] jasonrhaas commented on #188
I'm managing all my different endpoints (using different flask extensions) with blueprints so this is super helpful.

As far as this statement goes:

Make sure you use `connection.App().app` for this.  `connection.App()` is not an instance of `flask.Flask`, but `connection.App().app` is.

[2017-09-14 18:32] jasonrhaas opened #512 "Add section to docs showing how to use connexion as a Blueprint"
### Description
It would be nice to add a section in the docs that describes how to use `connexion` using the `api.blueprint` like in #188.  I think a lot of people use Flask Blueprint to manage their different endpoints, so this I think would increase adoption of the `connexion` framework.

Also #393 is another reference, with an example gist.

[2017-09-14 18:34] jasonrhaas commented on #512
Also, I am happy to submit a PR for this if the maintainers agree with this addition.

[2017-09-14 19:24] jasonrhaas commented on #393
Note that the way to do this as of the version 1.1.15 is `from connexion import Api`

[2017-09-15 07:05] hjacobs commented on #512
@jasonrhaas adding a section to the docs sounds awesome! :smile:

[2017-09-15 07:06] mvalkon commented on #512
@jasonrhaas I don't see any reason why we would be against a PR of this nature so feel free to contribute, it's more than welcome. Just add a section of it's own so it's clear that it's Flask specific as we're trying to move Connexion to a more framework agnostic model (#380). Thanks!

[2017-09-15 07:07] hjacobs commented on #283
@jasonrhaas yes, this should work.

[2017-09-15 07:40] rafaelcaricio commented on #283
@jasonrhaas As @hjacobs pointed out already. It should work fine if you use `connexion.FlaskApp().app`.

[2017-09-18 13:29] ABitMoreDepth commented on #439
I'd like this too

[2017-09-19 19:34] tommyjcarpenter commented on #375
I almost filed an identical issue.. luckily I found this first. Yes I have a top level parameter that is an object and an inner parameter with a  default and that default is not honored by connexion.

[2017-09-19 19:38] hjacobs commented on #375
@tommyjcarpenter willing to work on a fix/PR?

[2017-09-19 20:27] tommyjcarpenter commented on #375
Maybe.. do you know where in the codebase changes are needed, and have a guide how to run your tests? Don’t have time to learn while codebase

[2017-09-20 11:53] bobh66 commented on #501
I have the same issue.  I think I can work around it with a before_request method, but it seems like there has to be a better way.

[2017-09-21 11:45] chimeno opened #514 "Add more parameter validation on type:array"
### Description
When using a parameter like:
[code]
Validation doesn't occur given the properties (minimum, maximum, maxItems, minItems) that are in the https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#itemsObject

### Expected behaviour
Validation on that properties should exists

### Actual behaviour
Validation doesn't occur

### Additional info:

Output of the commands:

[2017-09-22 12:56] mvalkon commented on #514
Thanks for reporting this @chimeno .. Would you be willing to provide a fix for this in the form of a PR? If you're not willing, could you provide a more complete example on how to reproduce this?

[2017-09-22 23:08] jasonrhaas opened #516 "Question -- Passing arbitrary arguments into the Controller functions?"
### Description

Hey guys -- Great tool! Thank you for making it open source and supporting it.

I have a situation I just can't seem to figure out --  is there a way to pass arbitrary arguments to the Controller functions when they get run? As it stands, the Swagger Yaml allows for the `path: parameters`, which line up with the controller parameters. But what if I need to pass additional things i

[2017-09-25 11:07] martsa1 opened #517 "Attempting to run a DELETE request with an empty, non-required body returns a 400"
### Description
When defining a DELETE endpoint, I have an optional body parameter of type array to provide a list of keys to delete.  If I provide that list, the endpoint will delete just those keys (this works fine).

What I would like to do is to make the body parameter on the delete request optional, such that if I don't provide it, I expect the endpoint to delete all its elements.

### Expect

[2017-09-25 15:32] advance512 commented on #254
Any update on this? It is quite uncomfortable using a single file, why not allow multiple files as in the [OpenAPI spec](https://apihandyman.io/writing-openapi-swagger-specification-tutorial-part-8-splitting-specification-file/)?

[2017-09-25 15:40] rafaelcaricio commented on #254
@advance512 it is not a matter of allowing or not. We don't mind to accept a PR that solves this issue. But so far, there is none.

[2017-09-26 20:07] writeson opened #518 "Resolver eating exceptions"
### Description
The Resolver method resolve_function_from_operation_id() has an ending except AttributeError: This exception handler raises the previously created msg string. The problem is it eats any other exceptions that are raised in the process of resolving the endpoint. So for example, if code is being imported to as the endpoint is resolved, and that code raises an exception, the exception

[2017-09-26 20:41] hjacobs commented on #516
You cannot pass arbitrary parameters AFAIK right now, but you Connexion can also resolve to (global) instances or static methods, i.e. you don't need to have global objects.

[2017-09-26 20:45] hjacobs commented on #516
Sorry, I don't have any good examples right now as I try to keep it simple (modules, functions, done).

[2017-09-26 23:38] jasonrhaas commented on #516
@hjacobs I don't quite understand.

I enjoy up working around this by instantiating my class in name namespace at the swagger controller (global var), and then importing that to the rest of my code.  I don't love it, but it works for now.

[2017-09-27 12:54] danfairs opened #519 "Supply a changelog with each new release"
### Description

As a connexion user, it would be great to have a simple document outlining high-level changes and backwards-incompatibilities for each release. It certainly doesn't need to be extensive, but it would be very useful when guiding our application's regression testing and indeed highlighting new features in connexion that we could take advantage of.

Thanks!

[2017-09-27 13:05] jmcs commented on #519
We document releases in https://github.com/zalando/connexion/releases .

[2017-09-27 13:47] danfairs commented on #519
OK, I didn't know about that - so used to looking for a CHANGES.txt or similar! Maybe a line in the docs pointing to that would be helpful. Thanks.

[2017-09-27 19:21] hjacobs commented on #519
@danfairs feel free to create a PR with a proposed change to the README and/or docs --- you know best where you expected the hint :smirk:

[2017-09-28 13:40] jmcs commented on #519
@danfairs thanks for PR, but you need to target master in zalando/connexion.

[2017-09-28 20:07] bits01 opened #520 "pythonic support for operationId to function mapping"
### Description
Connexion supports `pythonic_params=True` for function parameters. It should also support pythonic function names derived from an `operationId`, e.g. if the operationId is `lowerCamelCase` it should be serviced by a function named `lower_camel_case`

### Expected behaviour
Support pythonic operationId -> function name mapping

### Actual behaviour
Does not find function if not name

[2017-09-28 20:12] bobh66 commented on #520
That can be done with a custom Resolver.  Define a class that inherits from Resolver and a method that converts the operationId in camel case to the function/method format you want, and return that method.  Use your custom resolver class when you add_api to the app object.

[2017-09-28 20:13] bits01 commented on #520
I see. Should such a Resolver implementation be provided out of the box? It sounds like a pretty common use case.

[2017-09-28 20:34] bits01 commented on #520
Is the custom Resolver called on every API call or only once per operation and the result is cached? Thinking performance if using regexp in a resolver implementation for example.

[2017-09-28 20:54] bobh66 commented on #520
I don't know if it "should" be provided out of the box, but you could submit a PR and see if it is accepted.  The RestyResolver could be used as an example of a custom Resolver.

I can't recall if the resolver is called per request or only at startup.  I want to say it's only called once for each operation ID during initialization, but I could be wrong.

[2017-09-28 21:04] vimalloc commented on #520
As the operationId is meant for the backend, I feel like giving it the exact function name instead of swapping between camalCase and underscores is the least surprising thing that could happen.  Why do you want to use camalCase here in the first place?

[2017-09-28 21:23] bits01 commented on #520
Because the swagger file can also be used to generate client side code and we're standardized on using camelCase for JSON and YAML. Someone who downloads our swagger file should not care what the backend is implemented in hence shouldn't see underscores in the operationId, for consistency with the rest of the swagger file.

[2017-09-29 08:23] danfairs commented on #519
Woops! My bad. Serves me right for trying to edit a file and submit a PR through the GitHub interface for the first time. Hopefully this one is better!

[2017-09-29 22:14] bits01 commented on #520
After playing with it some more, `Resolver` is the right way to do it indeed and it seems that `Resolver.resolve_operation_id()` only gets called once per `operationId` at startup, so it's OK if it abuses slower things like regexp.

I'd still like to see the "stock" Resolver enhanced to support a `pythonic_names` option.

[2017-09-30 09:39] hjacobs commented on #520
@bits01 I see your point regarding using the Swagger/OpenAPI YAML for other use cases (client generation) --- I think we would be happy to accept a contribution if you are willing to work on a PR :smile:

[2017-09-30 09:43] #519 closed

[2017-09-30 09:45] hjacobs commented on #519
@danfairs thanks for your contribution! Even those small PRs are really valuable as you are helping the next person find the changelog right away.

[2017-09-30 14:15] bits01 commented on #520
I am very new to the python world, so I will need some hand holding.
My idea is to add an option to `add_api()` just like it currently has `pythonic_params`, e.g. `pythonic_funcs` that gets piped to the existing `Resolver` as an option that defaults to `False` to not change the current behavior. The existing `Resolver` can then apply a regexp to the `operationId` and convert it from camelCase -->

[2017-10-04 12:44] chimeno commented on #406
Hi @beardedeagle ,
¿Whats the status of that project? I would like to upgrade to v3.x.x but since connexion wants to avoid vendor code, an extra package seems useful.

[2017-10-04 13:48] flyte opened #522 "Erroneous warnings produced since #500 (Function argument not defined in specification)"
### Description
It looks like #500 introduced a bug which reports that the function arguments weren't defined when they in fact were.

### Expected behaviour
Function arguments with proper definitions should not produce warnings.

### Actual behaviour
Function arguments with proper definitions do produce warnings.

### Steps to reproduce
Consider the following swagger spec:
[code]

and the followi

[2017-10-05 07:09] #503 closed

[2017-10-05 07:12] hjacobs commented on #522
Thanks for reporting this issue, can you create a PR with a test to reproduce the problem (does not necessarily need to contain the fix yet)?

[2017-10-05 07:33] mvalkon commented on #518
@writeson thanks for raising an issue. Could you provide a more thorough example where this happens, so we could think about how to fix it?

I quickly checked the function you mentioned and sure, it will catch `ImportError, AttributeError and ValueError`. But it certainly won't catch _all_ exceptions.

[2017-10-05 10:23] mvalkon commented on #522
@flyte @hjacobs I checked #500 and found that there's a small [bug][1] which managed to get through the PR review.

I'll fix this, since I was the one reviewing :)

[1]: https://github.com/zalando/connexion/pull/500/files#diff-d971611eed6566652fa862f941d8f85eR116

[2017-10-05 13:35] writeson commented on #518
Mikko,

Thanks for getting back to me, much appreciated. I can tell you the
specific error as it was pretty simple really. The problem was (couple of
times now) that while modifying my REST endpoint code, I introduced bugs
that would cause the code to fail when imported, raising an AttributeError.
This is fine, and expected behavior. The problem is the Resolver catches
the AttributeError and raise

[2017-10-05 19:52] mvalkon commented on #518
@writeson thanks for the explanation. Unfortunately the custom `Resolver`-class did not end up in the github issue, but that's not a problem.

Could you check which version you're currently running? I should've checked earlier but this problem was reported before in #377 and then fixed in #411. Later fixes introduce a slightly better formatting. The current function looks like [this](https://githu

[2017-10-05 20:33] writeson commented on #518
Mikko,

Yeah, I only attached my derived Resolver class to the email, didn't put it
into GitHub as I wanted to answer your question before going any further.

Because of various dumb reasons in our server environment, we are running
Connexion version 1.1.10.1 with Python 2.75. So that could well be part of
the problem, we don't have the fix in the version we're running. Looking at
the current vers

[2017-10-06 06:50] #518 closed

[2017-10-11 18:10] andybarilla opened #527 "Mounting flask under subpath through nginx"
Sorry if this is obvious and I just missed how to do it. My flask app is the rest API so http://localhost:5000/swagger.json is correct. However, if I mount it under /api via a proxy_pass in nginx, the swagger ui is still looking for /swagger.json instead of /api/swagger.json

Setting base_path relocates the whole api so I end up with /api/api/my-rest-call once mounted in nginx.

Is there a way to

[2017-10-11 19:44] #469 closed

[2017-10-11 22:02] dcarrot2 commented on #514
It looks like it was added back in #39? However, when I attempt to add `minItems` to an array type in my `swagger.yaml` and I run
[code]
nothing is generated and my changes to `swagger.yaml` are reverted.

- python: 3.6.1
-  connextion: 1.1.9

[2017-10-12 15:05] andybarilla commented on #527
While not idea, to work around this I did added the base_path to mount the Connexion app under it's final path:

[code]

And then modified the nginx.conf to pass the entire path through the proxy by not including a path in the proxy_pass command:

[code]

[2017-10-13 21:47] felipemullen commented on #441
So how is this done anyhow?

I'm using connexion with swagger and I have the following

[code]

but neither `app`, nor `app.app` have flask methods such as `send_from_directory`

[2017-10-16 15:23] felipemullen commented on #441
For anyone who comes across this issue from google:
I did an import of flask from my api module to serve the homepage (even though the flask app is instantiated in a different file), and served the rest of the files from nginx

api.py:
[code]

[2017-10-19 06:58] kopf commented on #527
I'm currently struggling with the same problem.

When using pure flask, it's common to use [this ReverseProxied middleware pattern](http://flask.pocoo.org/snippets/35/). When using this, the nginx config looks something like this:

[code]

When running without a reverse proxy (e.g. with `flask run`), the component's URL routes can be accessed directly - e.g. `GET http://localhost:5000/api/v1/users

[2017-10-20 04:42] jaitaiwan commented on #417
In the case of an extension, it would probably be better off to implement connexion as a wsgi middleware. That way you can do the following and have a theoretically unlimited number of middlewares:

[code]

[2017-10-20 17:37] spearsem commented on #54
Has anyone looked into how this can work with gunicorn instead of uWSGI? This is quite an important tool for deploying Flask apps, so ensuring that documentation for how to use with gunicorn might be a high priority.

[2017-10-23 14:29] mcrowson opened #531 "Multiple Versions in Same API"
### Description
I'm looking for best practices for implementing multiple versions of an API. The issue I'm seeing is that the different versions all point to the same controllers. It is possible for different API versions to need different business logic in the controllers.

This is more of a documentation issue as I'm sure it is possible. I see that each version gets its own Flask blueprint, but

[2017-10-23 17:58] mcrowson commented on #531
I'm guessing the operationId could be used assuming you version name each of those each time, but I also wonder about model versioning.

[2017-10-24 16:08] hjacobs commented on #531
@mcrowson this probably won't help you, but we strongly discourage versioning REST APIs in Zalando Tech --- see http://zalando.github.io/restful-api-guidelines/#113

[2017-10-26 11:38] chimeno opened #532 "Add strict validation on body"
Currently, there is a way to strict validate query and form-data parameters, as it's said in [Parameter validation
](http://connexion.readthedocs.io/en/latest/request.html#parameter-validation)

It would be great to have this ability also on parameters sent in the request's body.

[2017-10-26 15:39] JuxhinDB commented on #420
Hi, if anyone is willing to guide me threw with an email or two on the codebase, I may try to help with some progress on OpenAPIv3 support. If so feel free to ping me. :-)

[2017-10-30 12:21] chimeno opened #533 "Override error response when a custom type format doesn't validate"
Is it possible to override a error response when a custom type format doesn't validate?

Example:

[code]

Response:
[code]

It is possible to override the ``detail`` part? I'll like to add the specific format allowed.

[2017-10-30 15:55] chimeno opened #534 "pathlib installed in python_version > 3.4"
### Description
In a clean virtualenv with python 3.6.2.
```pip install connexion``` (1.1.16)
pathlib 1.0.1 is installed.

### Expected behaviour
pathlib shouldn't be installed with python version > 3.4

Related issue: #493

- `python --version`: 3.6.2
- `pip show connexion | grep "^Version\:"` : 1.1.16
-  python -c "import setuptools;print(setuptools.__version__)": 36.6.0

[2017-10-30 15:57] chimeno commented on #534
Also, it seems that the pathlib is deprecated in favour of pathlib2 as:
https://pypi.python.org/pypi/pathlib/ (Attention section)

[2017-11-01 14:53] ctippur opened #535 "How to upload binaries using connexion"
### Description
How do I upload a file using connexion?
Here is a swagger snippet:

[code]
What should be the controller code?

I should be able to upload file using
[code]

### Expected behaviour

This is more a question. I was not able to find any reference/pattern. The closest I got was https://github.com/zalando/connexion/issues/200

### Actual behaviour

N/A

### Steps to reproduce

N/A

###

[2017-11-03 13:02] NicolasLM commented on #534
If you compare the requirements of [`1.1.14`](https://pypi.python.org/pypi/connexion/1.1.14) and [`1.1.16`](https://pypi.python.org/pypi/connexion/1.1.16) you can see a regression that installs `pathlib` and `typing` even if they are not required.

My guess is that the person who built the last `connexion` distribution had an old `setuptools` which discarded the extra `python_version < "3.4"`.

[2017-11-07 05:14] Brian-Williams opened #537 "Endpoint isn't receiving body as input because underscore inputs are converted to camelcase"
EDIT: Look at newest comment first

### Description
An endpoint isn't receiving the body as an input. If the input isn't set with a default of None the method fails with missing positional argument. If None is set as default None is only ever used.

### Expected behaviour
That the body will be passed to the method to use.

### Actual behaviour
No input is handed to the controller methods.

Endpoin

[2017-11-07 07:39] Brian-Williams commented on #537
Ooops, this was my fault. The docker image was build with mismatched swagger and input variables.

[2017-11-07 07:54] Brian-Williams commented on #537
The real bug is that swaggerhub autogenerated controllers use incorrect inputs when using underscores instead of camelCase.

When you use lowercase_with_underscores naming style the autogenerator changes it to camelCase while still expecting lowercase_with_underscores.

So this spec:
[code]
With the important line being ` name: "rebot_input"`

Will generate this in rebot_controller:
[code]

When i

[2017-11-08 10:38] ThomasHickman opened #539 "Add automatic status code sending"
If a swagger method has one specified 200-299 status code in it's swagger specification, it would be nice if connexion automatically returned this status code e.g. if the specification contained:
[code]
The handler for this:
[code]
should result in a 204 status code being sent

[2017-11-08 11:09] chimeno commented on #532
Turns out that marking the object with:
[code]
in swagger spec is enough for what I was looking for.

[2017-11-08 11:09] #532 closed

[2017-11-08 19:06] hjacobs commented on #539
I think this is a reasonable idea, not sure how many cases this will match, but `delete` is certainly one of the common ones.

[2017-11-10 11:36] idwright opened #540 "Crashes if oauth scope is missing"
### Description
Request fails with 500 if there is no scope in the oauth token info response
https://github.com/zalando/connexion/blob/master/connexion/decorators/security.py#L74

### Expected behaviour
Should not fail.

This is slightly tricky:
According to https://tools.ietf.org/html/rfc6749#section-4.2.2 scope is optional but only if the scope is requested by the client.

The server I'm using t

[2017-11-10 15:19] mohabusama opened #541 "verify_oauth uses url params instead of Authorization headers for token info"
### Description

``verify_oauth`` uses url params instead of Authorization headers for token info.
Using Authorization header is the recommended way for verifying tokens.

Using url params could lead to leaking access tokens to external services. We faced this issue during testing OpenTracing. Authorization headers provides a more structured way in preventing leaking access tokens (e.g. in opentra

[2017-11-14 09:38] bharathjinka09 opened #544 "AttributeError: 'app' object has no attribute 'calc'"
### Description
I created a calculator application using python and I got this error as "app object has no attribute calc"

### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Additional info:

Output of the commands:

- `python --version`
- `pip show connexion | grep "^Version\:"`

[2017-11-14 12:33] hjacobs commented on #544
Could you provide some more context (Swagger file, code, ..)? Your problem description does not allow me to help you.

[2017-11-14 13:54] bharathjinka09 commented on #544
I created a calculator application using python.But it is showing an error as above .can u please help me . It is showing the calculator window ,but when I am pressing the = symbol,it is showing that error.
Tq in advance 😀

[2017-11-14 16:47] ePaul commented on #544
Hi @bharathjinka09, unless you can make it clear how your problem relates to the connexion project (other than both being written in Python), we can't help you here. If your problem is not actually about connexion, please ask at a different place instead.

[2017-11-14 17:13] #541 closed

[2017-11-14 17:22] bharathjinka09 commented on #544
This is my calculator code and it is getting an error as "AttributeError: 'app' object has no attribute 'calc'
" and i have attached the image also.Can u please help me with that issue.Thank you:-)
![screenshot 1041](https://user-images.githubusercontent.com/33654188/32794235-438c9d7e-c98e-11e7-9e6a-a1067dfa66d7.png)

from tkinter import*
from tkinter import ttk
def icalc(source,side):
    storeob

[2017-11-14 17:26] ePaul commented on #544
Hi @bharathjinka09, it doesn't look like your project is using Connexion. As such, your problem is off-topic here. Please try other places for help.

[2017-11-14 17:38] bharathjinka09 commented on #544
![screenshot 1042](https://user-images.githubusercontent.com/33654188/32795114-c7d17d00-c990-11e7-908c-86f2665b7692.png)
![screenshot 1043](https://user-images.githubusercontent.com/33654188/32795115-c811b0fa-c990-11e7-8832-9dcfbb7c85fc.png)

[2017-11-14 19:41] hjacobs commented on #544
Closing as it does not seem to be related to Connexion.

[2017-11-14 19:41] #544 closed

[2017-11-16 07:30] mvalkon commented on #534
@chimeno thanks for reporting this. Would you be interested in providing a fix in the form of a PR?

[2017-11-16 07:48] mvalkon commented on #537
@Brian-Williams could you provide a minimal swagger example that validates (your example refers to definitions that are not there)

[2017-11-16 09:17] acidjunk opened #546 "What's the easiest way to implement acceptance/unit tests for generated Flask app?"
I'm currently in the process of writing acceptance tests for a connexion based API in Flask. As a Flask user i'm used to test stuff with py.test and the pip modules: [pytest-flask](https://pytest-flask.readthedocs.io/en/latest/tutorial.html#step-2-configure) and / or [Flask_Testing](https://flask-testing.readthedocs.io/en/latest/)

Both have helpers to provide some config and start a live server w

[2017-11-16 09:37] chimeno commented on #534
Based on @NicolasLM , and If I'm not wrong, publishing a new release with a *recent enough* ``setuptools`` could fix the issue.

[2017-11-16 12:02] acidjunk commented on #546
This is how I use it now:
I added a construction to the place where the app is inited, so that it can return a flask app when needed, something like:
[code]

Then a live server can be started from tests that need it:
[code]

[2017-11-16 12:04] #522 closed

[2017-11-17 07:49] hjacobs commented on #534
This should now be fixed with the latest 1.2 release (pathlib is no longer installed):

[code]

@chimeno can you check?

[2017-11-17 09:16] NicolasLM commented on #534
I confirm that the release `1.2` fixes the issue.

[2017-11-17 09:21] chimeno commented on #534
Confirmed!

[2017-11-17 16:28] #534 closed

[2017-11-18 16:50] Brian-Williams commented on #537
You can omit all the parts that I didn't highlight. The only important part is `name: "rebot_input"`.

I just took the petstore example and did a replace all of `petId` with `pet_id` and then if you generate the server and look at the controller it incorrectly has the inputs as camelCase instead of underscores.

pet_controller.py generated from [this](https://app.swaggerhub.com/apis/Brian-Williams

[2017-11-21 03:58] vietanh85 opened #547 "How to profile my connexion app?"
I want to run load test and performance test on my connexion app, do you have any suggestion for the profiling tools for connexion?

[2017-11-21 08:03] mvalkon commented on #547
@vietanh85 I don't see that there's anything Connexion-specific here, the same tools can be used that would normally be used when testing f.e a Flask application.

[2017-11-23 14:45] ThomasHickman opened #548 "Incorrect validation of required body properties"
### Description
If you have a OpenAPI specification with a required body parameter:
[code]
Querying this endpoint does not report an error if the body is not specified

### Expected behaviour

Connexion should give a 400 error.

### Actual behaviour

The correct function is called, with the value of the parameter as `None`.

### Steps to reproduce

Make a connexion server with an OpenAPI specifica

[2017-11-23 19:35] JuxhinDB commented on #517
I would have a similar situation, except related to a `POST` request that does not require any request body. Currently sending:

[code]

Returns a 400 Bad Request. However specifying the following:

[code]

Works fine and returns a 200 OK. Was wondering if you had come up with a cleaner solution to this by any chance.

[2017-11-24 07:28] mvalkon commented on #548
@ThomasHickman in order for us to easily reproduce this issue, could you please provide a full example?

[2017-11-27 22:43] beardedeagle commented on #406
Yes, sorry I have been swamped with work like you would not believe. I am fast tracking this through our Open Source path as we speak.

[2017-11-29 13:55] kfkelvinng opened #549 "Swagger UI index.html clientId configurable from oauth security definition"
### Description
Swagger UI index.html clientId configurable from oauth security definition

https://github.com/zalando/connexion/blob/f4bc6dc71b5863f9d4a6e3ec5822dd4a46381421/connexion/vendor/swagger-ui/index.html#L59-L66

### Expected behaviour

Able to define client_id from swagger yml

[code]

### Actual behaviour
clientId is not configurable

### Steps to reproduce

### Additional info:

Relat

[2017-11-30 15:55] kislyuk commented on #541
As alluded to in the release notes, this breaks compatibility with various tokeninfo APIs, including Google. Please make this configurable.

[2017-11-30 18:56] hjacobs commented on #541
@kislyuk contributions are welcome!

[2017-12-04 18:24] JuxhinDB opened #550 "Overriding route-specific 404s to a custom response"
### Description

Currently the default response for route-specific 404s (basically, hitting a route that doesn't exist `/nonexist-file`) if as follows:

[code]

However the rest of [my] the API responds in the following structure:

[code]

And as a result, I would like the default response to also follow the same structure.

I have taken a look at the following:

- https://github.com/zalando/conne

[2017-12-08 04:14] #547 closed

[2017-12-12 09:39] kmaillet-arcane commented on #350
Hi !
Any updates on this issue? We are facing the same problem here. I side with @hjacobs  , I think it is easier if the read-only fields are just ignored

Thanks

[2017-12-14 16:07] tommyjcarpenter opened #552 "how to turn off auto serialization?"
### Description

I have an endpoint that returns an html page. How do I turn off serialization so that it renders in the browser?

E.g.,

[code]

Output of the commands:

- `python --version`
3.6.3
- `pip show connexion | grep "^Version\:"`
Version: 1.1.10

[2017-12-19 15:11] drummerwolli opened #553 "Global Swagger Security Settings do not apply"
### Description

according to the [Swagger 2 specs](https://swagger.io/docs/specification/2-0/authentication/), the following should apply:

This does not happen currently in Connexion. It is mandatory to define security on endpoint level to have security enabled.

### Expected behaviour

If `securityDefinitions` is defined in the swagger files, then it applies to all endpoints and secures them.

[2017-12-20 00:40] jcantu-usgs opened #554 "How To Access Project Metadata"
How may I access project metadata such as version?  For example, I'd like to write an endpoint that returns information such as that defined in the setup.py file such as VERSION, etc.

[2017-12-26 21:03] sellers commented on #54
What goes into the swagger yaml file for the module name?   I can get this to work with invoking ./python.py but not with python python.py or via WSGI.  I get the module object has no attribute XXX

[2017-12-30 21:01] mohabusama commented on #554
If VERSION is defined in ``setup.py`` and not in your project (say in ``__init__.py``) then you may use:

[code]

[2017-12-30 21:23] mohabusama opened #555 "Enable oauth token info verification using url params"
### Description

For OAUTH2 token verification, the token_info endpoint might support url params only. This is considered leaky and insecure [option](https://github.com/zalando/connexion/pull/542). However, since servers support this option, then it would be convenient to enable token verification using url params as a configuration during app initialization.

### Additional info:

E.g. https://de

[2018-01-02 11:40] j-zimnowoda opened #556 "Connexion does not support instance_relative_config param"
### Description

It looks like you do not pass any parameter to Flask in create_app method
E.g.:

[code]
does not pass instance_relative_config param to Flask

### Expected behaviour

Loading configuration from instance_path
### Actual behaviour

Loading configuration from root_path

### Steps to reproduce

Create **instance/config.py** file, in your module directory, with below content:

[code]

[2018-01-02 12:10] j-zimnowoda commented on #556
A quick workaround for this issue is to overwrite root_path in Falsk Config object before loading config
[code]

[2018-01-03 01:44] jcantu-usgs opened #557 "Possible Connexion Swagger Parsing Issue"
[swagger_server.zip](https://github.com/zalando/connexion/files/1599200/swagger_server.zip)
### Description
I have a swagger yaml doc that I generated python-flask code for on the editor.swagger.io site.  When I have no SQLAlchemy code in my models, it all starts up fine.  The minute I try to tie the model to a table I get an error.  Depending on whether I use 1.1.9 or 1.2, the error is different.

[2018-01-03 10:01] hjacobs commented on #557
@jcantu-usgs please check your code, the problem seems not to be related with Swagger parsing as far as I can see.

[2018-01-03 16:10] jcantu-usgs commented on #554
Excellent.  Thank you!

[2018-01-05 01:41] jcantu-usgs commented on #557
@hjacobs I think I'm getting closer if I could please have an explanation for what is meant by this exception?:

`connexion.exceptions.ResolverError: <ResolverError: 'property' object has no attribute 'tables'>`

Here's the full stacktrace:
`Failed to add operation for POST /files/file
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/connexion/apis/abstract.py", li

[2018-01-05 10:45] #554 closed

[2018-01-08 18:55] dwlocks commented on #254
I've done quite a bit of research on this problem. There are 2 compounding issues:
1. yelp/swagger-spec-validator converts yaml to json before validation so that they can use Julian/jsonschema.
2. Julian/jsonschema currently cannot handle file relative paths such as

    `{ $ref : somefile.json#/some_id }`

  Before swagger-spec-validator started using jsonschema, it did handle file relative paths

[2018-01-08 20:02] hjacobs commented on #254
@dwlocks thanks for the insights!

[2018-01-09 17:04] writeson opened #558 "Custom validation error handler"
### Description
I need some help about how to catch and provide a custom handler for validation errors. This is not an error in the validation itself, but a legit problem with an expected parameter that's misspelled. This generates the connexion response:

[code]
This is fine, but I'd like to catch this and reformat the above data into a message structure my application is expecting. I've tried us

[2018-01-09 20:12] advance512 commented on #254
So, I guess that for now, you'd combine the files in a build process - right?
Or are there any better alternatives?

[2018-01-09 22:08] dwlocks commented on #254
I think combining probably the best of not so great options.  If you're somewhat careful with the YAML, simple concatenation should work.  I personally would save the $refs so that they work in the concatenated state.  IE are all document relative "#/" style.

One of the bugs here I think suggested a templating with jinja2 thing.

(I had a few days to go at this during work, but no longer. I'm wor

[2018-01-10 11:57] MaicoTimmerman commented on #427
Would it be a solution to add something like `x-tokenInfoFunc` in which we pass a function similar to the `operationId`?

We'd then adapt the [security_decorator](https://github.com/zalando/connexion/blob/c30ba1f571c6a5af2800dcd3ef06b089f994c651/connexion/operation.py#L48) to check whether any of the two is present and return the respective partial. Where `x-tokenInfoUrl` returns the implementatio

[2018-01-10 12:06] horomena commented on #427
Yep, that would be great

[2018-01-10 18:51] hjacobs commented on #427
@MaicoTimmerman sounds good, would you be willing to implement this? :smile:

[2018-01-11 17:10] LeenaBhegade commented on #558
Hi,

You can add the custom error handler message in app (returned from connexion.App). We did custom validation as below:

[code]
if Validationerror is thrown it will call bad_request_error_handler where you can define the customer problem object with the values you want.

[2018-01-11 18:09] writeson commented on #558
Hi,
Thanks for the response, very much appreciated. However, it didn't work for me, here's a section of my code:

[code]

With this is place I changed my swagger.yml file so the validation would fail (changed a parameter enum value so one of the expected values would no longer match). Running the code that sends the parameter that no longer matches the enum doesn't hit the bad_request_error_handle

[2018-01-11 21:53] LeenaBhegade commented on #558
Hi Doug,

Connexion eventually uses jsonschema for validation of request body.
The ```validate_schema``` function in ```class RequestBodyValidator```  in https://github.com/zalando/connexion/blob/master/connexion/decorators/validation.py  handles request body validation, and further calls jsonschema's validator. If the jsonschme's ```validator.validate``` method throws ValidationError exception it

[2018-01-12 20:31] hjacobs commented on #558
@LeenaBhegade does it make sense to change Connexion's RequestBodyValidator?

[2018-01-12 21:25] LeenaBhegade commented on #558
I would like to use parameters through functions like add_error_handler instead (and not override any classes provided by connexion) to get it working but if I could not find a straight forward way of doing it. Do you think there could be an alternative way to solve it ? I would be happy to implement it.

[2018-01-14 11:50] advance512 commented on #420
Any roadmap for support for v3?
e.g. having `oneOf` on types.

[2018-01-14 14:52] MaicoTimmerman commented on #427
We can close this issue.

[2018-01-14 14:55] hjacobs commented on #427
Closing as it was released here: https://github.com/zalando/connexion/releases/tag/1.3

[2018-01-14 14:55] #427 closed

[2018-01-15 08:11] FirefoxMetzger commented on #54
@sellers are you using the flask / connexion swagger generator?
If so then that is because the generated `__main__.py` creates the app within `main()` which called within the  `if __name__ == "__main__"` statement and as such the app will only be created if it's executed directly. WSGI (uwsgi or gunicorn) will instead to load it as a module and not execute the `if` statement.

In this case the sol

[2018-01-15 21:40] hjacobs commented on #54
@FirefoxMetzger maybe do some upstream PR for the Swagger generator template to fix the issue?

[2018-01-16 16:49] wittlesouth commented on #558
I would also prefer to enhance the error reporting from my app when validation errors occur, and would prefer not to override Connexion classes. I'm also willing to work to contribute something, but would prefer guidance on what would be acceptable. Some potential approaches:

1. Enhance the error message when RequestBodyValidator handles the exception. My thought would be to use the ErrorTree to

[2018-01-16 17:17] writeson commented on #558
Hi Leena,

Thanks for your response and the clarification about the RequestBodyValidator. I modified my code to reflect what you wrote, but still no luck, I can't get the system to call my 'bad_request_error_handler()' for a validation error. Here's a simplified version of my code:

[code]

Again, thanks for your help with this.

Doug

[2018-01-17 18:39] Ryan-Gordon opened #562 "Add basic example with both HTTP Basic Auth & RestyResolver"
### Description

I am trying to implement some basic auth on certain operations in a project using FlaskInjector and RestyResolver.

When adding basic auth to an operation in the swagger spec it throws an error :

### Expected behaviour

### Actual behaviour
Crashes the application and returns this traceback :
[code]
### Steps to reproduce

Attempt to use both basic authentication and resty resolv

[2018-01-29 10:13] thortiede commented on #535
Hi
I managed to do file uploads with form-data in the following way.
Of course this uploads the file as is and says nothing about the structure or contents of the file.
Your controller needs to know how to handle the contents.
[code]

Then in your controller you can access the file via:
[code]

[2018-02-02 09:11] FrankCRoth opened #563 "Using https all the way"
### Description
I am using cloud foundry to host my flask app. CF is configured to allow https as well and I can reach the swagger GUI using https. However not any of the controller that I used. Is there a specific setting that I need to use to allow https for the actuall implementation?

[2018-02-08 00:16] dradetsky commented on #254
@dwlocks I came here after foolishly replicating some of your research. I haven't yet looked into the swagger-spec-validator, but i was considering the following idea:

If I modify `resolve_remote` to treat `scheme == ''` as "this is a local relative file lookup" (and thus I don't have to give it `'file://' + abspath`), then I can add a branch which does a regular open and tries to read yaml first

[2018-02-08 00:28] dradetsky commented on #254
Actually, looking [here](https://github.com/Julian/jsonschema/issues/289), it looks like the real solution is to override the RefResolver used by connexion, or possibly by swagger-spec-validator (don't yet know which of those is where it's literally invoked), so that it does sets base_uri correctly and reads yaml.

[2018-02-09 03:12] gkiar opened #566 "Adding parameters to app via command-line"
### Description
I have modified my `__main__.py` to use `argparse` for grabbing parameters on the command-line. Ideally, these would be added to my app somehow so that in my controllers I could reference these parameters. For the sake of further clarity, they are two parameters and one points to a file and the other a directory.

### Expected behaviour
Ideally, in my controller I could access thes

[2018-02-13 19:00] miguelHx commented on #239
Confirming that downgrading to flask version 0.10.1 works, thanks!

[2018-02-13 23:04] samh commented on #552
From the documentation, it looks like you can either return a Response object, which will be used as-is, or set the endpoint to have a different mime-type in the OpenAPI file (it only serializes if it's a JSON endpoint). See https://connexion.readthedocs.io/en/latest/response.html.

[2018-02-15 15:23] profgiuseppe commented on #54
@FirefoxMetzger I just tested your solution, while the generated code exposes the ui when running the app directly (on a custom port), requests on port 80 via wsgi always return a 404 for me, even with your code.

[2018-02-15 15:49] profgiuseppe commented on #54
#392 may be of interest if someone (like me) stumbles in this discussion.

[2018-02-21 12:46] WimDH opened #569 "Support adding fixed parameters to the function in the operationId"
Different API endpoints use the same python code, but with a different parameter (like a template), which is not part of the payload, and depends on the the endpoint.
for example `http://127.0.0.1/api/v1/server/interfaces` uses a python class or a function that parses interface data using the template which depends on the API endpoint.
So, I would need an operationId like `myapi.view.genericparser

[2018-02-22 18:41] ralsina commented on #496
Just because I looked and in case someone sees this issue and wants to do it:

#394 is merged and other than a missing Blueprint.add_url_rule ... this seems very doable.

[2018-02-23 12:04] Chez opened #570 "Issue with api endpoint requiring single quotation mark"
### Issue with being forced to put a single quote on the end of api path with query parameters specified The following will NOT run in Python 3.6 on Flask in Pycharm 2017.3

paths:
  /phish_finder:
    get:
      parameters:
        - name: alpha2
          in: query
          type: string
          minimum: 2
          maximum: 2
        - name: link
          in: query
          type: string

[2018-03-05 09:17] Chez commented on #570
Any chance of a response to this please?

[2018-03-05 21:33] mohabusama commented on #570
@Chez could you please provide the complete swagger.yaml or the project structure? The exception seems about resolving the ``operationId`` but not sure how a single quote would solve it, and it doesn't appear in you swagger def. I tried reproducing the issue but couldn't.

[2018-03-06 07:38] Chez commented on #570
Here is the swagger doc:

swagger: "2.0"

info:
  title: "{{title}}"
  version: "1.0"

schemes:
  - http
  - https

consumes:
  - application/json
produces:
  - application/json

basePath: /v1.0

securityDefinitions:
  jwt:
    type: apiKey
    name: Authorization
    in: header
    x-authentication-scheme: Bearer

security:
  - jwt: []         # use the same name as above

paths:
  /phish_finder'

[2018-03-06 08:46] lbenka opened #571 "Basic auth, validation of params should not be before security"
### Description
Validation of parameters is taking place before security_passthrough

### Expected behaviour
I would expect that in your basic example https://github.com/zalando/connexion/tree/master/examples/basicauth when you add some parameters into endpoint similar to this https://github.com/zalando/connexion/issues/142 and then try to hit  http://0.0.0.0:8080/secret without parameter in path

[2018-03-06 20:36] mohabusama commented on #570
Hi @Chez

I have adjusted the swagger and the application and I find the following to be working fine:

[code]

Notice that I added ``operationId: app.search``
and added the following in ``app.py``:

[code]
by running ``python app.py`` you can get a server running with responses.

[2018-03-13 16:37] gs11 opened #572 "JSON response field order as per Swagger definition"
### Description
Possible to return JSON fields in same same order as the Swagger definition?
_Yes, "An object is an unordered set of name/value pairs" but we've been requested to investigate for developer visibility._

### Expected behaviour

JSON fields are returned in the same order as defined in the swagger file

### Actual behaviour

JSON fields are returned in alphabetical order

### Steps to

[2018-03-13 17:01] gs11 commented on #572
Duplicate of #213, closing

[2018-03-13 17:01] #572 closed

[2018-03-13 23:40] cetanu commented on #511
This seems to be because `connexion.problem` is not callable once you've passed all the args to it.

[2018-03-14 10:13] mohabusama commented on #511
Werkzeug ``BaseResponse`` class implements ``__call__`` which is not implemented in ``ConnexionResponse``

From werkzeug:

[code]

Doesn't work also when using ``flask.make_response``, as it ends up in the same code path.

[2018-03-14 10:20] mohabusama commented on #511
Digging into connexion code, found this method: https://github.com/zalando/connexion/blob/master/connexion/apps/flask_app.py#L38

So ``FalskApi.get_response()`` is your friend here :)

[2018-03-16 12:21] savkov opened #573 "Support for Swagger 3.0"
Is there a plan for support of Swagger 3.0?

[2018-03-16 12:45] hjacobs commented on #573
Would be nice, but currently nobody is working on this, see #420.

[2018-03-16 12:45] #573 closed

[2018-03-16 20:13] jasonrhaas opened #574 "Connexion not returning a JSON response on `ExtraParameterProblem` exception"
### Description
For some types of Connexion exceptions, the framework returns a JSON response, such as the below example when a parameter is missing for the **query** type.

[code]

However, when a query parameter is incorrect, connexion returns a `ExtraParameterProblem` exception, and does a traceback.  This is not a very user friendly response.

### Expected behaviour
Return this to the API User

[2018-03-16 22:18] mohabusama commented on #574
@jasonrhaas I have tested with connexion 1.1.16 and 1.3 but couldn't reproduce the issue.

Response:

[code]

with ``strict_validation=True``

[2018-03-18 17:17] jasonrhaas commented on #574
@mohabusama That's weird.  I also tried upgrading to 1.3 and get the same Exception.  It only happens when i have `strict_validation=True`.  What else could be causing this?  It seems like the error is happening before my implementation of `Statements.get`.

[2018-03-18 18:09] jasonrhaas commented on #574
Also, not sure if it matters, but I'm using Swagger as a blueprint

[code]

[2018-03-21 15:03] jpoullet2000 opened #575 "How to use swagger_codegen_config.json params"
### Description

When I generate python-flask code from swagger.yaml file I'm using the following command:

`java -jar ~/swagger-codegen-cli.jar generate -i det/swagger/swagger.yaml -l python-flask -o ~/runner -c det/swagger/python_codegen_config.json`

where the content in  `det/swagger/python_codegen_config.json` is  simply
[code]

This allows me to have a package name different from `swagger_se

[2018-03-21 19:19] mohabusama commented on #574
@jasonrhaas I think I found the issue. It is mainly related to error handling. I was able to fix it using the ``FlaskApp.common_error_handler``

Here is a working applications with a normal Flask app and Connexion Api blueprint:

[code]
``query`` is the configured endpoint.

[2018-03-21 19:47] jasonrhaas commented on #574
@mohabusama That worked!  Is this something that should be fix in the Connexion base code somewhere or is this expected behavior (needing to add the `FlaskApp.common_error_handler`)

[2018-03-21 19:52] mohabusama commented on #575
@jpoullet2000 just to confirm, the swagger file has ``swagger_server.controllers.admins_controller.add_typedefs`` as an ``operationId``? Is there a reason not to adjust this value in swagger.yaml?

[2018-03-21 19:56] mohabusama commented on #575
In case updating swagger file is not possible, then I would go with specifying a custom resolver which adjusts the import paths etc...

https://github.com/zalando/connexion#automatic-routing

[2018-03-21 20:11] mohabusama commented on #569
Hi @WimDH It might not be so clear to me, but I was just wondering whether you can use something like a generic handler class and other detailed ones representing the resources:

[code]

and in swagger, use ``myapi.view.SpecificResourceHandler.get``

[2018-03-21 20:22] mohabusama commented on #574
@jasonrhaas Connexion adds this error handler by default when you are using ``connexion.FlaskApp`` or ``connexion.App`` instead of using ``Flask()``. Connexion's FlaskApp is a wrapper around the normal Flask, so it adjusts all the required methods like the error handler.

If you go with ``connexion.App()`` instead of ``Flask()``, you can still get access to the raw flask application

[code]

[2018-03-22 06:57] Chez commented on #570
Hi, Mohabusama,

I got around the problem keepng the restyresolve but simply adding the operationid. So it seems like this is a bug.

[2018-03-22 07:09] Chez opened #576 "Array items validation in"
### Description
Failure when items of type array in swagger file are set to string

In the file connexion/decorators/validators.py

The type string is missing:

TYPE_MAP = {
    'integer': int,
    'number': float,
    'boolean': boolean
}

adding it as such gets over the errors

TYPE_MAP = {
    'string': str,
    'integer': int,
    'number': float,
    'boolean': boolean
}

### Expected behavio

[2018-03-22 07:39] jpoullet2000 commented on #575
I could probably define for each resource the `operationId` variable but it is quite painful. What I was looking for is some similar behavior as for the config file with the `swagger-codegen-cli` command.
I guess renaming the package should be a basic feature... but I cannot figure out how to do it using `connexion`.

`connexion` tries to find the method: `swagger_server.controllers.admins_control

[2018-03-22 08:08] hjacobs commented on #576
Can you provide an example Swagger file, code and the reported error?

[2018-03-23 04:51] Chez commented on #576
this is the offending path: The links parameter if you change the items to int it works

/phish_finder_multi:
    get:
      operationId: api.handlers_multi.get
      parameters:
        - name: affiliate
          in: query
          description: Valid Affiliate Code
          type: string
          minimum: 5
          maximum: 5
          format: query
          required: true
        **- name:

[2018-03-27 11:13] ChristianSauer commented on #439
Me too,...

[2018-03-27 13:11] vaniakosmos commented on #469
Still have this problem with connexion v1.3

[2018-03-27 20:42] ctippur opened #577 "connexion.request.is_json returning false"
### Description

connexion.request.is_json returning false

### Expected behaviour

It should return true

### Actual behaviour

The call is returning false

### Steps to reproduce

Use swagger-codegen to generate code from any valid swagger doc. Upload the python code to aws lambda service. Hook up api gateway to the lambda as a proxy.

### Additional info:

Output of the commands:

- `python --v

[2018-03-27 21:02] hjacobs commented on #577
I don't get why you use `connexion.request` directly instead of letting Connexion handle the body parsing and using the resulting `dict`. Please also provide the Swagger spec and a complete example to reproduce.

[2018-03-28 03:53] ctippur commented on #577
Thanks for responding.
To reproduce, you can take the pet store swagger doc:
[code]
I installed swagger-codegen via ```brew install swagger-codegen```. Note that you need to have java 8 installed prior.
Generate the code via ```swagger-codegen generate -i swagger.yml -l python-flask -o swaggertemp```

Under swaggertemp/swagger_server/controllers, you will see the controller file

A small snippet f

[2018-03-28 09:16] jpoullet2000 commented on #575
What I ended up doing is to define for all resource methods the `x-swagger-router-controller` var.
E.g.
`x-swagger-router-controller: "det.controllers.developers_controller"`

Another way that would probably have worked is to pass a custom `function_resolver` (instead of the default [`utils.get_function_from_name`](https://github.com/zalando/connexion/blob/master/connexion/utils.py)) when initiali

[2018-03-28 15:28] synthecypher commented on #226
@cbornet my thoughts exactly, I've been trying to figured about the best place to patch the definitions before given to connexion.

[2018-03-28 16:00] Chez commented on #576
Is this a bug or a feature or am I doing something wrong?

[2018-03-28 16:36] synthecypher commented on #226
@cbornet found a way to do it, patching the definitions given to the `ResponseValidator` on instantiation.

https://stackoverflow.com/a/49539868/2481696

[2018-03-29 06:55] Chez commented on #576
Is this a bug or a feature or am I doing something wrong?

[2018-04-01 15:30] hjacobs commented on #576
@Chez would you be willing to do a PR including a test to reproduce the problem?

[2018-04-02 11:44] Chez commented on #576
Isn't all that is needed there. I'm pretty busy with work and don't get much time off as it is. The issue and the fix have been described.

[2018-04-05 12:11] lovesuper commented on #533
https://github.com/zalando/connexion/issues/138

[2018-04-05 12:12] lovesuper commented on #558
Answer is here: https://github.com/zalando/connexion/issues/138

[2018-04-08 13:59] ioggstream commented on #511
@mxmo0rhuhn This works for me...

[code]

Once it's documented we could close this ticket.

[2018-04-09 20:01] hjacobs opened #578 "Naive switch from Flask to AIOHTTP fails"
I'm trying my example project (https://github.com/hjacobs/connexion-example) to switch to AIOHTTP, but it fails.

1. I have to add `only_one_api=True` to the constructor in `app.py` (this probably deserves a documentation entry)
2. server starts, but requests fail:

[code]

[2018-04-09 20:01] hjacobs commented on #578
/cc @dutradda

[2018-04-09 20:16] dutradda commented on #578
@hjacobs
we know about it and we had discussed about that:
https://github.com/zalando/connexion/pull/530#issuecomment-344906519

The solution was add these parts on docs:
"Also check aiohttp handler examples"

So it is not a bug because the way how aiohttp handler works is different from the flask handler.
We can improve the documentation to expose this differences.

I can do an improve to support

[2018-04-10 01:36] jasonrhaas commented on #574
OK, this is fixed... I'm now using the `connexion.App().app` for my Flask instance.  Thanks!

[2018-04-10 01:36] #574 closed

[2018-04-10 10:25] eugene-babichenko opened #579 "Incorrect validation of required body parameters."
### Description

Here is the OpenAPI specification which causes problems:

[code]

__main__.py:
[code]

endpoint.py:
[code]
### Expected behaviour

When there is no body in a POST request one should get a 400 error.

### Actual behaviour

`None` value is being passed to the request handler. On the other hands, it handles malformed JSON. For example, if one will pass just `{}` in the request body,

[2018-04-10 12:52] prawn-cake commented on #578
@hjacobs
I checked the changes with the [test project](https://github.com/prawn-cake/tryConnexion/blob/master/app.py) and also tried naive approach which didn't work. It worked without `only_one_api` though, didn't have problems with that.

@dutradda we should probably make a separate section with the few short examples, I feel that ppl will expect it to be transparent, so we need to disillusion i

[2018-04-10 13:09] dutradda commented on #578
@prawn-cake
I was thinking in improve the aiohttpApi.get_response to support others returns from the handlers.
These others returns will be the same as flask support, except a flaskResponse, of course.

Other approach is to implement these types of return types directly on the abstract class, so connexion will support natively.

[2018-04-23 05:06] MattF-NSIDC commented on #527
@ChristianSauer I struggled with this for a while with both connexion and flask-restplus. I have bad news and good news. flask-restplus uses the WSGI `SCRIPT_NAME` environ variable to find `swagger.json` and  static resources. You can use flask snippet #35 to make this work with Flask and thereby flask-restplus, including swaggerUI. Connexion, as @kopf noted, has this `base_path` concept that does

[2018-04-26 12:01] jonasman commented on #441
@felipemullen what did you add in your swagger.yaml to allow file send?
Im trying to create a small website in the same server as my json API

[2018-04-27 05:46] dtkav opened #580 "sqlalchemy example return 500 on missing pet id (instead of 404)"
### Description
The sqlalchemy example

### Expected behaviour
Missing pet should return 404.

### Actual behaviour
API returns a 500

### Steps to reproduce
[code]

### Additional info:
#### Fix:
https://github.com/zalando/connexion/compare/master...dtkav:sqlalchemy_example_bugfix?expand=1
#### Stack Trace:
[code]

Output of the commands:

- `python --version`: `Python 3.6.5`
- `pip show connexio

[2018-04-27 06:13] #580 closed

[2018-04-29 11:58] advance512 commented on #124
Can we merge the PR in?

[2018-05-02 03:12] padok opened #582 "How do I access the logger?"
Hi, I couldn't find any information in the documentation.
How can I access the logger, e.g. to add a handler? I would like to write the output to a file.

I have a bit experience with flask so I tried to access the flask logger
[code]
-> https://github.com/padok/REST-Event-API-example/blob/master/swagger_server/__main__.py

but my file remains empty

I want to save or modify what the app already p

[2018-05-03 11:05] ABitMoreDepth commented on #420
Any update on this?  This would be awfully handy!

[2018-05-16 08:14] hjacobs opened #584 "PyPI description renders incorrectly"
Connexion's PyPI description (restructured text) renders incorrectly: https://pypi.org/project/connexion/#description

I'm not sure when it broke, I detected it only yesterday.

[2018-05-16 08:29] mohabusama commented on #584
``Unexpected indentation.`` line 126

[2018-05-16 08:36] hjacobs commented on #584
@mohabusama can you do a quick PR?

[2018-05-16 08:47] #584 closed

[2018-05-16 08:50] hjacobs commented on #584
This is now fixed :tada:

![screenshot-2018-5-16 connexion 1](https://user-images.githubusercontent.com/510328/40106786-ee341c78-58f6-11e8-8e52-41ecd24e0361.png)

[2018-05-18 06:09] dtkav commented on #579
This seems to be a problem/feature of jsonschema.
`null` validates with the following schema just fine, whereas `{}` does not:
[code]
you can try it out on https://www.jsonschemavalidator.net/

[2018-05-22 03:56] dtkav commented on #420
I've been making some progress on a branch https://github.com/dtkav/connexion/tree/oas3
I'd love to chat about it if anyone is keen to help. There are a handful of design decisions to figure out.
My plan is to get the unit tests passing, and all of the examples, and then open a pull request for discussion.

[2018-05-22 06:02] hjacobs commented on #420
@dtkav sounds great!

[2018-05-22 06:03] JuxhinDB commented on #420
@dtkav -- Some time next week I would love to check out the work and see if I can provide you with any help, even if it's just testing related. :-)

[2018-05-22 21:12] dphopkins commented on #484
Any update on this? Eliminating the use of `setup_requires` entirely would be great!

[2018-05-23 00:31] lsh-0 commented on #484
I think this can be closed now. Our project using connexion isn't using our forked/patched version and we're not having any problems with installation any more.

[2018-05-23 00:31] #484 closed

[2018-05-23 06:42] dtkav commented on #420
I'm looking for feedback on ways to approach the problem of supporting swagger2 and oas3 simultaneously.

I can imagine a few approaches:
1. add a bunch of if/else statements all over the place, get it working, then refactor.
 - pros:
 -- very incremental
 -- leverage existing tests
 - cons:
 -- increases code complexity dramatically
 -- generally yucky

2. refactor the operations class into class

[2018-05-23 06:50] hjacobs commented on #420
@dtkav I would be fine with option 1 (incremental changes) as it would leverage existing tests and add new tests for OpenAPI v3. This then would be a solid base to do a bigger refactor like proposed with option 3. Maybe I'm too pragmatic and not so much into the code anymore, so take my opinion with a grain of salt :smirk:

[2018-05-24 05:43] JuxhinDB commented on #420
Just to add my 2c -- given the man power for this, I also feel option 1 makes most sense where we can leverage as much of the current framework as we can to build on top of. I would like to dedicate some time next week to help out with implementation/testing where possible.

[2018-05-24 07:36] dtkav commented on #420
cool - thanks team!
I've gotten the unit tests passing again for swagger2, and I'm able to support some converted os3 examples here: https://github.com/dtkav/connexion/tree/oas3 (definitely a very messy work in progress!)

@JuxhinDB thanks - I'm keen to have someone to bounce ideas off of - little things keep coming up.
for example -- in oas3 the requestBody doesn't have a name (vs swagger2 body/f

[2018-05-24 08:34] hjacobs commented on #420
@dtkav I would propose passing the body as a parameter (option 2) and would try to make it smart, i.e. it should work for existing function signatures (last argument is the body parameter) and we could make it configurable via some `x-..` extension in the YAML to define the body parameter name.

[2018-05-24 13:24] shlomianchi opened #586 "Support for multiple security requirements (x-tokenInfoFunc)"
### Description
In security_decorator(), in case multiple security-requirements are defined, all of them are being ignored.

### Expected behaviour
1. Logical OR operation: Authenticate if at least one function succeeds
2. Logical AND operation: Authenticate if all functions succeeded

In any case the behavior should not be to ignore all security requirements

### Actual behaviour
All security req

[2018-05-25 03:17] dtkav commented on #420
yeah, good idea @hjacobs ! I had a similar thought on my way home about something like x-body-name.

[2018-05-25 11:31] dcolens opened #588 "make swagger.json's uri configurable"
Not an issue but a feature request.

Thanks for the work done on connexion, I discovered it recently and like it a lot.

Serving swagger.json from basePath is a problem in my case because basePath is not a unique identifier, for example if basePath is v1.0, I can have multiple services with the same basePath on the same reverse-proxy and the /v1.0/swagger.json is not unique.

One option is to add

[2018-05-26 08:50] WouldYouKindly opened #590 "Inaccurate error message for ResolverErrors"
### Description
I misspelled the name of the module in swagger.yaml and got this traceback:

[code]

This happens due to passing `ResolverError.exc_info` to `AbstractAPI._handle_add_operation_error` at https://github.com/zalando/connexion/blob/master/connexion/apis/abstract.py#L257. IIUC `sys.exc_info()` should be passed so that `ResolverError` is reraised.

### Expected behaviour
It would be much

[2018-05-26 14:30] WouldYouKindly commented on #590
Completely unrelated question, but I maybe it's better than a separate issue.

What do you think about checking that handler function signature matches swagger spec? E.g. in spec I have only `user_id` parameter, but handler function accepts two parameters. In that case `connexion` might raise an error on startup, instead of failing at runtime.

If you think this would be useful, I might try to sub

[2018-05-26 21:26] holdenweb commented on #254
Would it be possible to continue to use a single swagger spec but integrate a tool that allows each endpoint or group of endpoints to be described separately and integrated to create the necessary connexion swagger file?

I've looked at swagger-aggregator and spec-synthase, the later of which looks the more hopeful. I may report back if I make any progress. At present the swagger spec for our API

[2018-05-28 05:03] cetanu commented on #406
It's already possible to specify a directory where the Swagger UI resides

[code]

[2018-05-29 11:41] hmajid2301 commented on #441
@jonasman I added the following, to allow me to server html pages, to my `swagger.yml ` file.

[code]

And then in the `random_tag_controller.py`, where my html file was stored in frontend folder.

[code]

[2018-05-29 16:04] JuxhinDB commented on #420
@dtkav -- I'm taking a look at your `oas3` branch on your forked project. Care to shoot me an email, or explain here how you are running the full test suite? I would like to play around a bit (first I need to actually review OpenAPIv3 spec) but want to make sure tests remain stable so that I may push some PRs over the weekend.

[2018-05-30 04:02] dtkav commented on #420
hey @JuxhinDB - I've added fork notes to the [README](https://github.com/dtkav/connexion/blob/oas3/README.rst) . They should help you get the test suite up and running.

Let me know if you run into any troubles!

[2018-05-30 04:05] dtkav commented on #420
My next step was going to try to get parameterized test fixtures working to automatically run with both the `swagger.json` and `openapi.json` files. Right now I've just converted a few tests over to use oas3 specs. Let me know if you think this is a good path forward, or what else you have in mind!

[2018-05-30 06:30] JuxhinDB commented on #420
@dtkav - So far this looks like good progress, I just wanted to get your fork setup and have the test runner working. Only 5 tests in total seem to be failing for me right now which is good. I'm going to actually read [this ](https://blog.readme.io/an-example-filled-guide-to-swagger-3-2/) article to get a decent understanding of the new spec and will help convert over a few tests.

[2018-05-30 09:36] dtkav commented on #420
Hey @JuxhinDB yeah that's a great article to get started.
I've also been using https://github.com/Mermade/swagger2openapi/ to convert test fixture specs over.
I have a bunch of outstanding work that I've just pushed to a branch called "oas3_broken" if you want to get a sense for how I switched over some of the tests and what I'm working on at the moment https://github.com/dtkav/connexion/commit/bc

[2018-05-31 08:16] dtkav commented on #420
update: I have all the tests passing for the oas3 branch with both the swagger2 and converted openapi3 specs.
next steps are:
1) make swagger2 tests run automatically to avoid regressions (parameterize the test fixture)
2) lots of refactor and cleanup

[2018-06-01 15:49] roman-telepathy-ai commented on #582
you did more or less correct.
Please use application factory: http://flask.pocoo.org/docs/0.12/patterns/appfactories/

I use a custom extension for logging, but the essential is:
'''
        handler = logging.StreamHandler()
        handler.setLevel(config['LOGGING_LEVEL'])
        handler.setFormatter(logging.Formatter(config['LOGGING_FORMAT']))
        app.logger.addHandler(handler)
        app.

[2018-06-01 16:51] hjacobs commented on #420
@JuxhinDB I'm fine with commenting on this issue (or on the PR directly) --- don't see why this would clutter the thread (Kubernetes issues/PRs are usually HUGE compared to what we have here... :smirk: )

[2018-06-03 00:59] allan-silva commented on #254
@holdenweb,
I realized today a citation to my package Spec-Synthase, sorry by not have more documentation.
If you want to build the swagger.yml from command line, take a look at: http://spec-synthase.readthedocs.io/en/latest/usage.html

If you want to create spec in runtime and use it with connexion, you can see: https://github.com/MicroarrayTecnologia/spec-synthase/blob/master/tests/test_specsynt

[2018-06-04 10:36] hardbyte opened #592 "Handling streaming request data"
### Description

Using just Flask, a user can (manually) use the `request.input_stream` to handle streaming uploads. The use case is because I need to handle binary uploads that won't fit in memory. I use the JSON validation features of `connexion` when the Content-Type is `application/json` but in this case I have a `application/octet-stream`.

With the `connexion` library I can't seem to work ou

[2018-06-04 11:45] positron96 opened #593 "Response validator fails to determine mimetype when several are provided in spec."
### Description

I have an endpoint that produces either `application/json` or `text/csv`, depending on Accept header.

This is reflected in swagger file as
[code]

I have turned on response validation with ```app.add_api('api.yaml', validate_responses=True)```

### Expected behaviour

A correct response to a request with `Accept: text/csv` header should be sent to browser. The ResponseValidator s

[2018-06-04 12:21] positron96 commented on #593
It seems to me that there are several causes of this problem:
 * ResponseValidator stores only one mimetype from spec and does not check actual response mimetype
 * Operation.get_mimetype returns only 1 mimetype from `produces` list. If there are several entries, they are discarded and json is returned (https://github.com/zalando/connexion/blob/master/connexion/operation.py#L333)

[2018-06-04 19:12] tombry commented on #420
@dtkav - I may be up to help.  Or at least to test things.  My team just started using Swagger, and I decided to document everything with OAS 3 since it seemed to make more sense to start with OAS 3 since much of the tooling already supported it.  Unfortunately, I created a big openapi.yml  specification for some of our APIs *before* I realized that we'd be using connexion and that connexion does

[2018-06-05 01:33] dtkav commented on #420
hey @tombry! I feel your pain, I'm in a similar boat! RE: feedback - I'm a new contributor to connexion, but @hjacobs mentioned above that commenting on the issue is fine. Alternatively you can comment on PR #591, or issue a pull request against the oas3 branch.

If you want another pair of eyes on your spec feel free to send it to me@danielgk.com and I can try to help get it working. Depending on

[2018-06-05 01:48] dtkav commented on #420
Another thing to note - after a detailed read-through of both specs, I think the current behavior (swagger2) is a bit off for how query parameters are exploded/repeated. I've changed the behavior to match (my interpretation of) the spec and updated the tests in tests/api/test_parameters.py on the oas3 branch. I've also split out this change into #587 . I'd like some input on this change. Unlike th

[2018-06-05 13:49] saschalocht opened #594 "Get key of field causing the validation error"
### Description
Is it possible to seethe field that caused the validation error in the error message?

### Expected behaviour
Example: The client entered an unknown enum 'C' for field 'letter'. Enum definition: ['A', 'B']
Error returned by Validation:
{
  "detail": "Validation of field 'letter' failed. 'C' is not one of ['A', 'B']",
  "status": 400,
  "title": "Bad Request",
  "type": "about:blank

[2018-06-05 17:29] hjacobs commented on #592
Thanks for reporting, I don't have clear insights, but I could think about an Swagger extension to disable validation or something similar to prevent slurping the input stream.

[2018-06-08 18:09] fdemello opened #596 "Document that HEAD calls GET operationId"
### Description

Please document that the head method actually calls the operationId of the get method so developers have to do something like the below.

[code]

### Additional info:

Output of the commands:

- `python --version`
Python 3.6.1

- `pip show connexion | grep "^Version\:"`
Version: 1.1.9 but also tested with 1.4.2

[2018-06-10 15:31] peso opened #597 "common.read_file does not work on Windows"
### Description
I'm trying to run the pet shop connexion example from Windows 10, using Python 3.6.5, connexion 1.4.2

### Expected behaviour
The app should launch

### Actual behaviour
(last part of traceback)
  File "C:\Users\Peer\Documents\Projects\x\test\lib\site-packages\swagger_spec_validator\common.py", line 39, in read_file
    return read_url(urljoin('file://', file_path))
  File "C:\User

[2018-06-11 07:10] peetie2k commented on #597
Same Problem for me, too.

[2018-06-11 10:38] mohithg opened #598 "Making debug=True in flask is not working"
### Description
Adding debug=True in app.run in flask server is not working

### Expected behaviour
Ideally it should start the server in debug mode

### Actual behaviour
[code]

### Steps to reproduce
Autogenerate any swagger template, and in __main__.py change the app.run(port=8080, debug=True)

### Additional info:
python 3.6
connexion Version: 1.1.15

Output of the commands:

- `python --versi

[2018-06-11 10:39] laurence-hudson-mindfoundry commented on #597
Also experiencing this issue. Seems to have been introduced by `swagger_spec_validator > 2.1.0`.
https://github.com/Yelp/swagger_spec_validator/issues/99

[2018-06-11 15:06] phillipmadlan commented on #582
Do you have an example @roman-telepathy-ai ?

[2018-06-11 15:15] roman-telepathy-ai commented on #582
logging example is above. a note here: if accessing connexion app, then use `app.app`.

regarding - App factories just have a look at docs or search for "flask tutorial" (miguel will be on top).

[2018-06-11 15:50] phillipmadlan commented on #582
I have figured this out. I'll explain now. I didn't use the app factory pattern though but hopefully my code is clear enough.

I have a special validator class. The code is as follows:
[code]

I want to log the error messages of this class to a rotating file. Earlier, I was using the common logger namespace convention but my suspicion was that the Flask application was taking precedence. I changed

[2018-06-11 16:37] roman-telepathy-ai commented on #582
exactly

[code]

in your validator class, use
[code]

[2018-06-12 06:41] palmkevin commented on #594
I would be interested in this too !

[2018-06-12 06:55] phillipmadlan commented on #582
Thanks! Much cleaner.

[2018-06-13 17:30] lucas03 opened #601 "Pagination"
I was looking for some examples for pagination implementation with connexion and did not find any. Is there a good practice or generic approach to pagination with connexion? If there is not, should there be or it is totally out of scope for what should be in connexion code/docs?

[2018-06-13 19:30] dutradda commented on #601
hello @lucas03

connexion just manage the open api specification layer, there's no definitions about the data pagination on open api specification. So, you can define your api pagination like it:

[code]

but all the pagination logic will be implemented by you.

[2018-06-13 23:04] skwong2 opened #603 "Unable to get request headers using AioHttpApp"
### Description
Connexion does not pass in http headers to handler functions.  Instead one is supposed to use `connexion.request.headers` to access them. This is currently just an alias to `flask.request.headers` but this does not work with AIOHTTP.  Maybe the `aiohttp.web.Request` should be passed to the handler function.

### Additional info:

Output of the commands:

- `python --version`: 3.6.2

[2018-06-14 16:39] JohnPaton commented on #346
I agree that `connexion` should at the very least respect the `app.app.url_map.strict_slashes` flag. I would actually argue that `strict_slashes` should be false by default; see e.g. [Zalando's RESTful API Guidelines](https://opensource.zalando.com/restful-api-guidelines/zalando-guidelines.pdf):

whether they have the trailing slash or not.

Is it not possible to follow this guideline with `connex

[2018-06-14 22:36] skwong2 commented on #603
Maybe this could be done by adding a new option in `connexion.apps.abstract.AbstractApp` which provides the name of a parameter which gets passed to `connexion.decorators.parameter. parameter_to_arg`. If a handler function has a parameter that matches that name it injects the framework's request (`flask.request` or `aiohttp.web.Request`) object.  This would also require changes in `connexion.lifec

[2018-06-15 15:17] bhearsum opened #604 "casting to str() in error handling causes UnicodeEncodeErrors"
### Description

I have some fields in an application that need to be restricted to ascii. After implementing a format for that, I found that Connexion's error handling of the ValidationError that was raised throws an exception because the value contains some unicode characters, and `str()` is used to try to make it printable. For example:
[code]

Using `str()` in Python 2 uses the default encodin

[2018-06-15 20:18] viralanomaly commented on #420
@tombry @dtkav Can you give me some guidance on how to use the oas3 branch against my own openapi 3.0 spec? I'm a bit lost trying to get it working, probably because I don't actually know python.

[2018-06-15 21:16] viralanomaly commented on #420
I am not 100% certain, but I may have found a bug.:

connexion.exceptions.InvalidSpecification: <InvalidSpecification: post /mypath $ref "#/components/headers/X-ABC-ResponseRef" needs to point to one of: components.schemas, components.requestBodies, components.parameters, components.securitySchemes, components.responses, definitions, parameters, responses>

components:
  headers:
    X-ABC-Respons

[2018-06-16 14:38] lucas03 commented on #601
Thanks for swift reply, closing :)

[2018-06-16 14:38] #601 closed

[2018-06-18 02:19] dtkav commented on #420
Hi @viralanomaly - thanks for the note - I've been trying to get ports from swagger2.0 -> openapi3 specs working first - not every feature in the openapi3 spec has been implemented yet. I'll integrate your fix, and would be happy to test your spec if you're OK with sharing it - it's always good to have more examples in the test suite.

[2018-06-18 13:11] advance512 commented on #439
Maybe create a PR?
ᐧ

On Fri, Jun 15, 2018 at 8:23 PM, dmksnnk <notifications@github.com> wrote:

[2018-06-18 15:42] viralanomaly commented on #420
@dtkav , I'm going to see if I can get permission to share the spec with you to try to get this working.

[2018-06-18 21:03] viralanomaly commented on #420
I've tracked down the problem I'm having with required, but it comes from openapi-spec-validator. Should I go write this up over there?

[2018-06-18 23:43] dtkav commented on #420
@viralanomaly yeah that's probably the best place - I'm happy to take a crack at the bug once you write it up - I've upstreamed a few things to the openapi-spec-validator repo.

[2018-06-19 14:49] viralanomaly commented on #420
# https://github.com/p1c2u/openapi-spec-validator/issues/27

There's the one I wrote up against the validator.

[2018-06-19 18:11] tombry commented on #420
@dtkav @viralanomaly - I'm watching the thread, but I'm at a business conference this week.  I did run into a couple of issues with the OpenAPI 3.0 support before I left.  I'll grab the latest code when I get back and see whether the bugs are still there, and if so, I'll get them added to the issues.

[2018-06-20 07:45] dtkav commented on #420
I'm about to sign off for today, but would really appreciate your thoughts on a few things.
1) I've been working on a refactor for cleanly separating swagger2 vs. openapi3 classes.
The basic idea is to have the `Operation` class become openapi3 compatible, and to introduce a `Swagger2Operation` class that overrides some of the methods to support parsing swagger2 specs.
The `apis/abstract.py::Abstr

[2018-06-21 02:14] ctippur opened #607 "Connexion jwt support"
### Description

Wondering if there is support for jwt auth via connexion

### Expected behaviour

Should be a way to authenticate jwt token, I am unable to find a way to initialize jwt token via the flask app.

### Actual behaviour

I get an error:
[code]

I see an issue reported earlier but I was not sure if it led to a conclusion.

https://github.com/zalando/connexion/issues/124

Appreciate if

[2018-06-21 02:29] dtkav commented on #406
I really appreciate having swagger-ui as "batteries included". I get the sentiment to not be responsible for that component, integration testing, etc, but it provides a much better product when it _just works_ out of the box.

Since the refactor to support aiohttp, a flask-only plugin (@beardedeagle's package) probably isn't the right solution to support both flask and aiohttp.

What about creatin

[2018-06-21 02:39] bobh66 commented on #607
Did you try flask_jwt_extended:

[code]

[2018-06-21 03:55] ctippur commented on #607
Yes. I tried to use that.
I get an error trying to use the below line of code:
```access_token = create_access_token(identity=username)```
[code]

[2018-06-21 05:45] cetanu commented on #406
+1 for adding swagger_path to the current set of options, out from the old options
-1 for a separate python package that contains (the latest version?) of swagger ui as an extra req

[2018-06-21 06:09] dtkav commented on #406
@cetanu FWIW I'm also happy with how swagger-ui is currently vendored (and overridable), but my read of this thread makes me think that other folks are not. For my OpenAPI3 work (#420) I've followed the vendoring pattern, but it certainly adds a whole lot more files!

I put together a package that bundles the static files and is webserver agnostic here: https://github.com/dtkav/swagger-ui-bundle j

[2018-06-21 06:56] ctippur commented on #607
I am using the below code in my controller

[code]

[2018-06-22 08:07] RacingTadpole opened #608 "Default parameters break with collectionFormat csv"
### Description

Can no longer define a `default` value for a query parameter with `type: array`, `items: {type: string}` and `collectionFormat: csv`. Possibly this is because of a change in swagger-spec-validator.

### Expected behaviour

In connexion version 1.3 (and swagger-spec-validator 2.1.0), a string default value worked in the above case.
An array default value would be fine too, and be m

[2018-06-26 11:32] phillipmadlan commented on #119
This doesn't seem to work anymore.

[2018-06-26 12:35] phillipmadlan commented on #119
When I try to do this exact same pattern, I get this exception ```
This typically means that you attempted to use functionality that needed to interface with the current application object in some way. To solve
this, set up an application context with app.app_context().
[code]

[2018-07-02 03:22] dtkav opened #612 "Lastest version of swagger-spec-validator (2.3.1) breaks master build"
### Description
The latest version of swagger-spec-validator now validates that defaults are the correct type.
Since the library is not pinned, the release has broken master.

(tests/test_api.py::test_other_errors_stop_application_to_setup) relies on the old behavior (don't exit on default type errors if `app(debug=true)`)
Also, one of the test fixtures has a (type: array) without an `items: ...`

[2018-07-02 05:03] dtkav commented on #598
Hey @mohithg, I was able to reproduce your error using the [swagger-codegen flaskConnexion example](https://github.com/swagger-api/swagger-codegen/tree/master/samples/server/petstore/flaskConnexion).

It turns out this is an [old werkzeug bug](https://github.com/pallets/werkzeug/issues/461) related to using the `python3 -m swagger_server` syntax.
You can work around it by setting the python path.

[2018-07-02 06:07] dtkav commented on #608
hey @RacingTadpole - please have a look at #613 and see if fixes your issue.
Thanks!

[2018-07-02 06:38] RacingTadpole commented on #608
Hi, just tried it out, and yes, it works - thanks!

[2018-07-03 06:21] #612 closed

[2018-07-04 08:45] rafaelcaricio commented on #420
@dtkav Thank you for all the work you have been doing on this front. Please send a PR with the OAS3 tests fixtures and we can push that forward.

[2018-07-05 02:02] dtkav commented on #420
Thanks @rafaelcaricio - I appreciate it. Please see #616 - Cheers!

[2018-07-06 19:53] viralanomaly commented on #420
@dtkav , I just emailed you about a problem I'm running into with the latest on the oas3 branch.  Essentially, when I have a construct like this (with schema as a $ref followed by an examples block), I get an error. If I delete the examples block, the error resolves.  Unfortunately, I use this construct a lot so I don't want to just remove them all.

<pre><code>
  /blah/{blah1}/id/{blah2}/{blah3}:

[2018-07-09 03:16] dtkav commented on #420
hey @viralanomaly , thanks for testing the branch.
I misread the spec, and was expecting **examples** to be a list!
I've updated the branch - hopefully it fixes your issue!

[2018-07-09 09:06] #608 closed

[2018-07-10 18:17] drafter250 opened #620 "configure connexion to gzip its responses?"
### Description

I have a client that expects all api responses to be gzipped.

simply adding "Content-Encoding": "gzip" to response headers doesn't actually signal flask or connexion to gzip the response.

apparently this is usually left up to the production webserver like nginx.

I also tried installing flask-compress to modify the app instance to gzip it's responses automatically. but got vario

[2018-07-12 07:08] dtkav opened #624 "Idea: replace custom json reference resolver with off-the-shelf one"
Some of the code for resolving references if fairly custom, and kind of nasty (esp. in #621  the openapi3 branch)
I wanted to float the idea of using something like https://github.com/gazpachoking/jsonref
It will lazily resolve the references as they are used.

I'm happy to put up a demo - let me know what you think.