[2018-07-12 15:15] rafaelcaricio commented on #624
I think this is a great suggestion. We should be try to use ready components to put together Connexion features and bring in maintainable pieces together. This improves community engagement, cleaner design, and _less code to maintain_ (yay!).

[2018-07-12 15:24] jmcs commented on #624
I also agree with using libraries were we can.

[2018-07-12 16:05] zimmicz opened #626 "How do I access Flask current_app?"
[code]

[code]
results in `RuntimeError: Working outside of application context.`
I'm using Flask 1.0 with connexion 1.4.2, creating the app as seen above. Is there a way to access Flask's `current_app` from other modules?
I keep getting `RuntimeError: Working outside of application context.` when calling current_app in API modules.

[2018-07-12 19:39] zimmicz commented on #626
Got it, app context is only available under certain conditions.

[2018-07-13 02:49] dtkav commented on #420
FYI, some new features in the OpenAPI 3.0.0 spec that aren't implemented in #621.
1. Callbacks
2. Links
3. Server block templates
4. Cookie parameters
5. OpenID Connect

[2018-07-13 05:55] dtkav commented on #624
Here's a branch with jsonref https://github.com/dtkav/connexion/tree/jsonref
Playing around with it a little bit, I don't think we actually want lazy evaluation. Also, the tests run _really slowly_.

Each resolve_reference call is doing two things:
1. Resolving json references at the provided "view" into the spec
2. Attaching definitions to that view["schema"] to be passed to the json validator

B

[2018-07-13 06:41] #603 closed

[2018-07-13 15:37] rafaelcaricio commented on #624
I think we need to investigate why it is so slow. I will try to take a look at this branch you setup to investigate.

[2018-07-17 03:21] dtkav commented on #624
I've included a PR that leverages the jsonschema RefResolver.
After playing with the lazy reference resolver, I don't think it's a great idea anymore.

This above PR will instead resolve the spec early on (right after validation), but still provides recursive schema validation by allowing definitions to be "attached" to a schema, providing a "view" into the spec that is self-contained.

An example

[2018-07-17 13:54] viralanomaly commented on #420
It appears like there might be a problem in this file: https://github.com/dtkav/connexion/blob/oas3/connexion/apis/abstract.py

It complains "NameError: name 'old_style_options' is not defined" - and as far as I can tell, that is correct in this file.

[2018-07-18 02:05] dtkav commented on #420
hey @viralanomaly - you are right, I messed up a rebase. I'll put up a fix shortly.

[2018-07-18 09:51] positron96 opened #628 "Request validator passes www-multipart-data when schema is $ref'ed"
### Description

Request validator passes a request with Content-type: application/x-www-form-urlencoded when spec only accepts JSON and schema is $ref'erenced.

Interestingly, when schema is not $ref'ed, validation fails.

### Expected behaviour

Validator should reject such request, it contains bad content-type.

### Actual behaviour

Validator passes execution to application code, mayhem ensues

[2018-07-18 15:54] Guru67724 opened #630 "sys.excepthook not considered when exception occurs from an API"
### Description

Using connexion, a lot of APIs are written.
One of the APIs has a KeyError which is not handled.

And i have used
sys.excepthook = handle_exceptions()

When the API is called just as a function, the exception is caught.
When the API is called through REST client, the 'excepthook' is not working and the function
'handle_exceptions' is not called.

Please let me know if i am missing

[2018-07-19 04:40] dtkav commented on #630
hey @Guru67724 , I think your problem is with flask and not connexion.
Check out [this stack overflow post ](https://stackoverflow.com/questions/21627429/flask-and-sys-excepthook).

[2018-07-19 05:05] dtkav commented on #624
hey @rafaelcaricio or @jmcs can you take a look at #627 ? I think that's the last architectural change that I can think of to make the oas3 branch cleaner, and then I'll probably start looking to merge that. Thanks!

[2018-07-19 05:45] dtkav commented on #420
@viralanomaly the build is fixed again.
I think #627 is the last architectural change I'd like to get in, and then I think I'll rebase and remove the WIP from the PR!
Another minor thing is waiting on @p1c2u to cut a release of openapi-spec-validator that includes the defaults validation.

[2018-07-19 07:41] Guru67724 commented on #630
Hi @dtkav. Any idea of how could it be solved..? I use python logging module in my work. I need the uncaught exceptions to be somehow logged to my logfile

[2018-07-20 02:21] dtkav commented on #630
According to the flask docs, you can register an error handler to the app.
http://flask.pocoo.org/docs/1.0/errorhandling/#error-handlers
Note that connexion wraps the flask app object, so you'd need to do something like:
[code]
good luck

[2018-07-20 02:27] dtkav commented on #597
this should be fixed in `swagger-spec-validator==2.3.1`

[2018-07-20 02:29] dtkav commented on #596
hey @fdemello , are you able to make a pull request for this?

[2018-07-20 09:28] Guru67724 commented on #630
Hi @dtkav.. Yes. But the function "register_error_handler" is for registering handlers for a specific exception.
In my case, if at all if any unhandled exception occurs, how am i supposed to log that to error.log.
Ans thats the reason i was looking for something like 'sys.excepthook'

[2018-07-20 09:32] jmcs commented on #630
@Guru67724  `flask_app.register_error_handler(Exception, handle_my_exception)` should work

[2018-07-20 21:04] #346 closed

[2018-07-23 12:07] jakul opened #632 "Log message sent to wrong logger"
### Description
A log message is sent to the root logger instead of the Connexion one

https://github.com/zalando/connexion/blob/e326711aa485a1f4285a59a11774325fad5c1986/connexion/operation.py#L387 should read `logger.debug` not `logging.debug`

This was introduced in 1.5.0.

[2018-07-23 12:12] jakul commented on #632
@dutradda FYI

[2018-07-23 13:56] #632 closed

[2018-07-24 08:57] s-knibbs opened #634 "FormData array parameters are not split correctly"
It seems that formData array parameters are not being split correctly in the 1.5.0 release. The issue is not present in 1.4.2.

The string is split on every character instead of each `,`. It looks like this issue is related to the changes in  #613

The following parameter definition was used:

[code]

### Additional info:
- `python --version`: 3.6.5
- Connexion version 1.5.0

[2018-07-24 20:59] bobh66 opened #637 "No tar file on pypi for 1.5.0/1.5.1?"
### Description

There is no source tar file available on pypi.org for the 1.5.0 and 1.5.1 releases.  1.4.2 is the last release that
has a tar file.

[2018-07-25 01:02] dtkav commented on #634
ah shoot, I'll put up a test and a fix for this ASAP.

[2018-07-25 02:12] dtkav commented on #634
Thanks for the bug report @s-knibbs - sorry for any trouble this may have caused.
Please have a look at #638 and see if it fixes the problem for you!

[2018-07-25 06:50] #634 closed

[2018-07-25 07:09] dtkav commented on #420
I'm working on breaking up the diff further into small PRs.
#639 is everything from this branch that _isn't_ new oas3 stuff, so mostly the AbstractOperation ABC and some refactor.
Let me know if you have any ideas for how to break up the PR into more bite-sized chunks.
Thanks!

[2018-07-25 17:29] sknick opened #640 "Customize logging messages produced by Connexion"
I've spent a while trying to customize the format of the logging being done by Connexion to no avail. Specifically, I want to add a timestamp to the front of each message that is logged. I have tried adding a StreamHandler with a Formatter to the root logger which does nothing. I've tried adding a StreamHandler with a Formatter to the "connexion" logger which does nothing. I've tried directly acce

[2018-07-26 06:56] jmcs commented on #637
Hi, something went wrong uploading those two versions (probably my fault).
I made sure the source tar is available for 1.5.2:

![image](https://user-images.githubusercontent.com/3719966/43246387-c93df02c-90b1-11e8-9338-03e487c655f6.png)

[2018-07-26 06:56] #637 closed

[2018-07-27 09:21] paulkernstock opened #645 "Type warning when giving Werkzeug-specific options arguments to App.run() in development mode"
### Description
When one will give a Werkzeug-specific argument to `App.run()` which will be passed by the connexion app to the underlying Werkzeug server in development mode, IDEs like PyCharm will warn, that the type of the given argument does not match the expected type, which is stated in the function's docstring to be `dict`. No matter the warning everything seems to work as expected.

### Ex

[2018-07-27 14:41] bobh66 commented on #637
@jmcs Thank you!

[2018-07-29 19:59] advance512 opened #646 "Error with enums containing the value 'no'"
### Description

An enum that contains the value `'no'` has that value converted to False in the schema validator, causing validation errors.

### Expected behaviour
`'no'` means `'no'`.

### Actual behaviour
`'no'` is cast to False.

### Steps to reproduce

Just create an enum like this:
[code]

and send it as a parameter and as a response - you'll see it occur.

### Additional info:

Example err

[2018-07-29 20:01] advance512 commented on #594
:+1:
This would be super helpful.

[2018-07-29 21:31] advance512 commented on #646
Yeah, I've figured it out:
https://github.com/yaml/pyyaml/blob/93694d3e42b0cfd460f42beb75910aacacd9b5d2/lib3/yaml/constructor.py#L210

Kinda silly. Alright, will quote and hope it works. Thanks!

[2018-07-30 05:31] dtkav commented on #596
yup, this is a feature of Flask
http://flask.pocoo.org/docs/1.0/quickstart/#http-methods

[2018-07-30 06:48] dtkav commented on #420
I have removed the **WIP** status from #639 (first half of openapi 3 diff) and am now looking for review!
If any of you have some spare time, I'd really appreciate your comments and review.

[2018-07-30 19:39] JuxhinDB opened #648 "Question: Disabling pretty-printing on-load"
### Description

Currently, HTTP JSON responses are pretty-printed. I looked through past issues and documentation on how to disable pretty-printing. In my scenario, when working in a `DEVELOPMENT` config, I would like to have a flag to enable it, otherwise in production I would like it disabled as the amount of bytes saved on large responses is quite substantial.

### Expected behaviour

`add_api

[2018-07-31 08:49] WouterVH opened #649 "support Kerberos-authentication"
It would be nice to have support for Kerberos, using a security-definition like

[code]

see discussion here:
https://github.com/OAI/OpenAPI-Specification/issues/451

[2018-07-31 20:17] Diliz opened #650 "[OAuth] Option to make scopes optionnal but at least one of them is ok (scopes or option)"
##### First, hello there!
________

### Context
Just a little question regarding this issue: https://github.com/zalando/connexion/issues/256
Which was fixed here: https://github.com/zalando/connexion/pull/257

I was actually looking for the actually patched functionnality, actually it is not possible to make a validation for at least one scope (like an or and not an and), let me explain better.

#

[2018-08-01 17:00] zerox1212 commented on #512
It would be great to have an example that uses blueprints. For example a regular flask web app endpoint (/) along side an API endpoint (/api). This seems like a common requirement for a typical web + mobiles + api use case.

[2018-08-03 15:15] Diliz commented on #650
### Potential Solution Found

Without interfering with what's already in place: - [ ] Making a loop in the security_decorator instead of returning the security_passthrough.
- [ ] Catching the exceptions from verify_oauth_local and verify_oauth_remote.
- [ ] Catching the exceptions from verify_token_infos.
- [ ] Add tests to check that all scopes are checked with an AND operator by security definit

[2018-08-07 07:29] sidhujasminder opened #655 "How to validate data if swagger-spec has consumer other than 'json' type"
### Description
Not an issue more of a question of which i could not find a solution.
Here's my swagger spec:

[code]

When i give my request for the following endpoint i can give input in 2 formats. For application/json type input i depend on connexion.decorator.validation to do the validation and for the 'multipart/form-data', i am currently doing the manual check which although same type of dat

[2018-08-07 17:01] sknick opened #658 "Swagger UI not handling array parameters correctly when sent in formData"
### Description

The Swagger UI does not handle array parameters correctly when in formData.

### Expected behaviour

Array parameters can be specified that come in through formData.

### Actual behaviour

When array parameters are specified that come in through formData and consumes: multipart/form-data is specified, only a single parameter can be specified in the Swagger UI or the parameters com

[2018-08-07 22:57] dtkav commented on #658
I'm trying out multiple versions of swagger-ui, and they seem to behave differently depending on the version.
For reference, here's a curl command that makes sense to me (form parameters passed separately).
[code]
It looks like the vendored swagger UI creates this equivalent curl command:
[code]
Finally, using swagger-ui 3.17.1 the equivalent curl command is:
[code]
which _almost_ works, but every

[2018-08-08 00:44] sknick commented on #658
No, you're right... I think the bug is specifically in the UI. I guess I got confused about what Connexion handles vs. what is handled elsewhere. Let me know if you find anything out elsewhere.

[2018-08-08 03:51] dtkav commented on #658
so far, these seem related:
https://github.com/swagger-api/swagger-ui/issues/4741
https://github.com/swagger-api/swagger-ui/issues/4146

[2018-08-08 10:32] WouterVH commented on #640
I put my logging in a yaml-file and load via dictconfig:

[code]

[2018-08-08 10:40] WouterVH opened #660 "support non-default APPLICATION_ROOT in swagger-ui"
In my flask's config I have a non-default APPLICATION_ROOT

APPLICATION_ROOT = "myapp"
base_path = "/api/v1"

my swagger-UI is then correctly available at url:
http(s):<hostname>/<APPLICATION_ROOT>/api/v1/ui/

and the swagger.json correctly available at:
http(s):<hostname>/<APPLICATION_ROOT>/api/v1/swagger.json

but the swagger itself  shows Error 401
and searches for the json at  http(s):<hostnam

[2018-08-08 11:30] dtkav commented on #660
#568 might solve your problem.

The go-forward plan is to remove the vendored swagger-ui in connexion 2.0 (see #406), so that change probably won't get merged.

The `dev-2.0` branch depends on https://github.com/dtkav/swagger_ui_bundle at the moment.
The url is passed here: https://github.com/zalando/connexion/blob/dev-2.0/connexion/apis/flask_api.py#L284

Any idea how to generate the correct URL

[2018-08-09 15:08] coltenkrauter commented on #420
How is the progress with the openapi 3 support?

What exactly would you like coders to review? (I see many pull requests...?)

[2018-08-09 16:36] slonak79 commented on #598
Thanks, @dtkav this worked for me as well!

[2018-08-09 18:03] vikramdayal commented on #577
The problem is in the __main__.py generated by swaggerhub. The following statement:
app = connexion.App(__name__, specification_dir='./swagger/')

should read as:
app = connexion.FlaskApp(__name__, specification_dir='./swagger/')

which is why the connexion object in the controller is a null.

[2018-08-10 01:30] dtkav commented on #648
If you are worried about payload transfer size, use gzip. Whitespace will account for something like a 1% overhead when gzipped.
This is pretty standard practice - for example, the github API transfers gzipped json with whitespace: https://api.github.com/users/dtkav

[2018-08-16 07:54] diefans opened #663 "aiohttp: `async def` impossible to use"
### Description
It is impossible to use `async def` coroutines (https://www.python.org/dev/peps/pep-0492/#new-coroutine-declaration-syntax) for route handler.

`async def` for routes is not working due to connexions decorating of route functions and later testing for `asyncio.iscoroutinefunction()`, which is broken by loosing `object.__code__.co_flags`.
This is not relevant for `@asyncio.coroutine

[2018-08-16 08:16] diefans opened #664 "aiohttp: connexion.apis.aiohttp_api.AioHttpApi.get_response is called twice"
### Description
After enable debug logging, I get the output of `connexion.apis.aiohttp_api.AioHttpApi.get_response` twice.

IMHO (after digging through the lines) there is some unnecessary code execution involved (a lot of `while asyncio.iscoroutine(response): response = yield from response`) together with the intend to inevitably cast a `ConnexionResponse` to a `aiohttp.web.Response`, which look

[2018-08-16 14:43] gavronek opened #665 "Metrics: report correct HTTP status code"
### Description

Currently the [UWSGIMetricsCollector](https://github.com/zalando/connexion/blob/53908d30e566ccb81d73d3e27b461f407a8a8d31/connexion/decorators/metrics.py#L33) reporting will create a metrics key with status_code=500 for all exception thrown in the underlying call (BadRequest, Unauthorized, etc.)

### Expected behaviour
If an HTTPException is thrown in the underlying function, use t

[2018-08-21 14:35] LienM commented on #375
Is this still an open issue? Where should I start looking if I want to fix this?

[2018-08-22 04:17] dtkav commented on #420
Is anyone in the community available to review the above PRs (#656, #639)? I'm blocked on review.

[2018-08-22 06:54] JuxhinDB commented on #420
@dtkav Big well done. Wish I could help more. Hoping the main contributors could take a closer look, especially to #639. #656 to me looked perfectly fine.

[2018-08-22 13:35] viralanomaly commented on #420
It would help if they'd enable codacy for dev-2.0, too...

[2018-08-22 13:42] viralanomaly commented on #420
Both PRs look sane to me.  Can anyone approve them, or are you specifically looking for the core authors?

[2018-08-22 14:11] erezatiya opened #666 "Allow several types for a single request parameter in swagger.json"
Using swagger2.0 with Connexion.

I'd like to be able to define a request parameter in my swagger.json which allows any type (or a list of types).
I've tried using `"type": "any"` but swagger validation does not allow this.
I'd like to be able to do this to parameters which can be in either body, path or header.

### Additional info:
Python 3.6.4
Connexion 1.5.2

[2018-08-23 01:49] dtkav commented on #420
@JuxhinDB @viralanomaly thanks for your comments and review. I'll go ahead and merge #656

I've been added to the repo as a community maintainer, which means that I can write to dev-2.0, but not master. It's important to get a solid review before merging though or it will just push a large review burden onto the zalando team when it comes time to review the dev-2.0->master PR. We want to make sure

[2018-08-23 02:15] dtkav commented on #420
@JuxhinDB if you can click the "review changes" button next time, that would record your review and approval with the commit.

[2018-08-23 07:41] JuxhinDB commented on #420
@dtkav -- Done, cool feature that I got to learn. :-)

Later today I'll go over the other bigger PR and give my thoughts.

[2018-08-23 12:59] lukeknight-ha commented on #480
Also experiencing the same issue with an endpoint of the form

[code]

[2018-08-23 13:38] lukeknight-ha commented on #480
Never mind, my issue was related to my `param` being of type `number` when I actually wanted `integer`, because connexion treats `number` as float and requires it to really *not* be an integer. So it would work if I had something like 100.1 instead of 100. Painful to debug that one.

[2018-08-24 09:09] roman-telepathy-ai commented on #480
good catch - I will try with `number` just for knowledge. Should also fail, as you write.

[2018-08-24 17:40] alexrecarey commented on #570
I also had this issue. Looking at the code it seems its expected behaviour, although the error is super opaque.

[code]

Basically if you do not pass the `collection_endpoint_name` kwarg to the RestyResolver call, it will assume that a general get on the collection endpoint maps to the `search` method. So basically you either add a search method, or pass the method you are using as a `collection_e

[2018-08-26 01:43] sujituk opened #667 "use of gunicorn with connexion and flask"
### Description
I have few REST APIs designed using API first approach. The swagger.yaml contains the detailed specification and it specifies the operation to invoke. There are few API's which take over 30 seconds to execute. I get the 504 Gateway Timeout error. So, I switched to use the gunicorn because of its multithreaded (process) and support for custom timeout. I still get the timeout error.

[2018-08-27 02:26] dtkav commented on #663
@dutradda any ideas?

[2018-08-27 02:52] dtkav commented on #666
If what you want is [polymorphism](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#schemaComposition), then there is a feature in OpenAPI v3 which allows the API to accept multiple types of objects with (using oneOf), but each type of object must still have a schema (i.e. be typed). OpenAPI v3 support is in work for connexion at the moment (https://github.com/zalando/con

[2018-08-27 06:16] erezatiya commented on #666
Would it be possible to have a parameter without any sort of validation? Could I create a custom validator to achieve this?

[2018-08-27 07:58] dtkav commented on #420
I just found an new edge case with form parameters in OpenAPI 3 from a test case that had I added to master a while back. I need to work out array handling for form parameters that come in through the requestBody in oas3, so I'm going to put the WIP tag back on the diff. I'll update again when It's ready for review.

[2018-08-27 09:06] JuxhinDB commented on #420
Sounds good @dtkav -- feel free to ping me if you would like eyes on certain diffs.

[2018-08-29 04:32] dtkav commented on #666
Even if you removed validation entirely, the type information is still used to deserialize/decode data provided by the user. You could potentially just type everything as "string"s and then cast them to whatever types later, but I wouldn't recommend it.

Can you say more about what you are trying to achieve?

Without understanding more about your constraints or your higher level goal, it seems lik

[2018-08-29 04:45] dtkav commented on #667
hey @sujituk , can you explain why you think this is a connexion problem? It sounds like your issue is with gunicorn.

[2018-08-29 04:47] dtkav commented on #665
Hey @gavronek , do you mind making a pull request with your proposed change?
It sounds reasonable to me.

[2018-08-29 04:53] dtkav commented on #655
Hey @sidhujasminder this is a known limitation of connexion at the moment (but still a major bummer).

I think this will be a backwards-incompatible change because right now the server relies on the `consumes` field in the specification to deserialize the data, and ignores the client's content-type headers. It should be using both. There are probably many users who aren't providing any content-typ

[2018-08-29 04:59] dtkav commented on #664
hey @diefans , thanks for reporting this issue.
I'm really unfamiliar with the aiohttp and async stuff, but maybe @dutradda has some insights?
If you figure it out, and want to supply a pull request, that would be really great!

[2018-08-29 06:02] #646 closed

[2018-08-29 06:08] dtkav commented on #645
We could change the API to accept both `*args` and `**kwargs` and pass them both to the underlying Werkzeug server (feel free to make a pull request), but you could also just pass in **kwargs like so:
[code]

[2018-08-29 06:12] dtkav commented on #640
Thanks @WouterVH for the great example. @sknick did that help?

[2018-08-29 06:33] dtkav commented on #597
@peso I'm going to close the issue, as I believe it to be fixed. Please re-open if you believe this is still a problem.

[2018-08-29 06:33] #597 closed

[2018-08-29 06:34] dtkav commented on #596
hey @fdemello , are you still planning to update the docs, or shall I close out this issue?

[2018-08-29 06:36] dtkav commented on #658
thanks @webron - I appreciate it.

[2018-08-29 06:41] dtkav commented on #420
Thanks @JuxhinDB I really appreciate it.
AFAICT I've fixed up the problems related to form data in oas3, so I've removed the WIP status from #621 . I think it should be ready for early eyes on, but it's a bit big so I'll try to break out smaller pieces if I can in parallel.

[2018-08-29 09:19] sknick commented on #640
I haven't had a chance to play with this more yet, but it should. I haven't configured logging with a dict before, so that will be new to me.

[2018-08-29 10:10] erezatiya commented on #666
Thank you for your response!

I have a parameter which changed its type in newer versions of my API, and I'd like to retain backwards compatibility (should be invisible to the client), by allowing the client to send the parameter in any of the allowed types.

Ways to achieve this would be to define a group of types allowed for the parameter, or allow any type, or skip validation altogether **for t

[2018-08-29 18:45] uniqueg commented on #558
I ran into a similar issue when I tried to add a custom handler for query/form parameter validation errors. Here, adding a handler for `connexion.exceptions.ExtraParameterProblem` (rather than `jsonschema.ValidationError` did the trick. Perhaps this will be of help to someone.

Example:

[code]

[2018-08-30 08:14] erezatiya commented on #667
@sujituk I use connexion with flask and gunicorn - it works. I think there is another issue with your code.

[2018-08-30 08:18] jmcs commented on #667
`swagger_server.__main__:app` is a Connexion app, the Flask app is `swagger_server.__main__:app.app`

[2018-08-30 19:15] mubaldino commented on #558
@LeenaBhegade
Clarification in documentation or a patch is needed.

`add_api()` has no keyword arg `validator_map` so I suspect it falls into "old style options".  If the documented approach (in user manual) is deprecated as "old style", then please tell us what is the current and proper way to do this.

thanks
marc

[2018-08-31 07:17] jocicmarko opened #670 "File upload with multipart/form-data not handled properly"
### Description
I noticed weird behavior when uploading a file through multipart/form-data field: if by mistake client uploads URL instead of file bytes, server crashes, thus returning 500 error. Since it was a malformed request, it should return 400.

### Expected behaviour
Return 400 bad request error.

### Actual behaviour
Returns 500 error.

### Steps to reproduce

#### yaml config

[code]

##

[2018-09-03 05:54] dtkav commented on #420
To anyone who is able - please review #621 - it adds support for OpenAPI 3 specs!
Once this is landed I'll have much more energy to address other issues. Thanks!
@JuxhinDB @rafaelcaricio @coltenkrauter @viralanomaly @positron96 @ioggstream @jmcs @hjacobs

[2018-09-03 07:30] JuxhinDB commented on #420
I went over the PR and overall I didn't notice any glaring issues. That said, it would be best if someone with Swagger2/OpenAPI3 experience went over it from a spec perspective

[2018-09-04 00:58] dtkav commented on #420
Thanks @JuxhinDB ! Do you mind going through the review process (click the review button, leave comments, etc)?

[2018-09-05 12:27] BobDG commented on #626
@zimmicz I still get these errors. Can you let me know how you solved your issue? I've tried so many things but I always get this error...

[2018-09-06 03:42] dtkav commented on #420
Wholehearted thanks for the review @JuxhinDB - I'm going to leave the PR open for the rest of the week to give others a chance. By default I'll merge this PR into dev-2.0 on Monday unless:
a) Someone else requests changes
b) Someone asks for more time to review

[2018-09-07 03:36] lihan commented on #420
Some validations are not working yet.
One of the best new feature in OpenAPI spec 3.0 is the 'oneOf' which lets you do polymorphism.

In a post request body
[code]

It will fail the validation when bootstrapping the app.
It prompts only recognise these two types.

[code]
This is the issue from https://github.com/p1c2u/openapi-spec-validator anyway.

[2018-09-07 04:16] dtkav commented on #420
hey @lihan - thanks for opening that issue. I'll take a look over on the openapi-spec-validator project.

[2018-09-07 04:17] dtkav commented on #420
whoops, I pressed the wrong button, sorry!

[2018-09-07 05:10] dtkav commented on #420
@lihan which version of `jsonschema` are you using? I'm on `jsonschema==2.6.0`
The below example works for me:
[code]
[code]
function args: ()
function kwargs: {'body': {'age': 5, 'hunts': True}}

[2018-09-07 05:28] dtkav commented on #420
While debugging your issue, I discovered that discriminator is not part of jsonschema, so I'll probably need to add that to the validator somehow. Feel free to contribute tests cases for important use cases that you have.

[2018-09-07 05:51] dtkav commented on #665
Thanks! I added a small comment, but otherwise this is looking good!

[2018-09-07 05:59] dtkav commented on #666
Ok, yeah I think I'd recommend upgrading to OpenAPI 3 when it becomes available, and using polymorphism. That way you can do something like:
[code]
If you need this capability while using swagger 2, you'll probably want to fork this project. If you can provide more details (a spec, your operation code, etc) I may be able to give you more extensive guidance.

[2018-09-07 06:01] dtkav commented on #663
Hey @diefans , does this open PR fix your issue? https://github.com/zalando/connexion/pull/600

[2018-09-07 06:05] dtkav commented on #658
I'm going to close this out, because I believe this is a swagger-ui bug.
Please feel free to re-open if I got it wrong.

[2018-09-07 06:05] #658 closed

[2018-09-07 06:06] dtkav commented on #645
Hey @paulkernstock - did my suggestion work for you?

[2018-09-07 07:37] #665 closed

[2018-09-10 14:15] sujituk commented on #667
I will give this a try and keep posted.

[2018-09-11 08:17] dtkav commented on #420
I've merged #621 (OpenAPI 3.0.0 Support) into the dev-2.0 branch :tada:
Next up will be the examples. I should be able to polish those up for review tomorrow.

[2018-09-12 09:09] diefans commented on #663
@dtkav any chance the PR gets merged?

[2018-09-13 01:30] dtkav opened #678 "Finalize 2.0 Release"
### Description
We created the dev-2.0 branch to introduce a handful of major breaking changes to connexion.
https://github.com/zalando/connexion/milestone/10

At the time, the two major changes were:
* #420 openapi 3 support
* #406 removing vendored swagger-ui

Both of these changes are now in dev-2.0

### Next Steps
What other things should be in the 2.0 release? Is it large enough as is? What's

[2018-09-13 01:34] dtkav commented on #420
Next step is to finalize the feature set for the 2.0 release and ship it!! (#619) :ship:
Also, I'm working on fixing up the codacy warnings for the branch, but some of them are bogus (#673).

Please comment on #678 if you think there are any major features that should be in the 2.0 release!

[2018-09-13 02:04] dtkav commented on #678
The PR for merging dev-2.0 -> master is #619

[2018-09-13 05:58] dtkav commented on #663
@diefans I am unable to merge anything into master (I have limited permissions as a community maintainer).
It looks like @jmcs was waiting on @dutradda to add comments to the function since Jul 26.
You might be able to make your own pull request that fixes the issue - I haven't had a chance to look into it.

[2018-09-13 14:02] paulkernstock commented on #645
Thanks @dtkav, yes, of course your workaround works in terms of eliminating the warning. But it's not that intuitive, right?

I don't know if I can find the time to contribute a pull request (never did one before, if all that is to it is to add `*args` to the signature of `FlaskApp.run()`, I will of course be glad to do it :) ).

Thanks for your work!

[2018-09-13 16:06] ioggstream commented on #678
I successfully run this development connexion with a non-trivial yaml. Good work!

I now have some issues with

[code]

because it can't parse yaml schema files like https://opensource.zalando.com/problem/schema.yaml

I workaround'd it in the `jsonschema` module

[code]

But on https://github.com/Julian/jsonschema/issues/420 it seems yaml is currently out of scope.

Can we fix it in `connexion` su

[2018-09-13 21:58] hjacobs commented on #678
@dtkav thanks for the great work!

[2018-09-14 01:38] dtkav commented on #678
Thanks for the bug report @ioggstream ! I'll follow that up in a separate ticket. I'd like to keep this one a bit more of a high-level discussion on what features / breaking changes should make it into Connexion 2.0.

@hjacobs and @jmcs , I would love your thoughts especially on high-level next steps!

Thanks to everyone in the community who helped make these features possible :heart:

[2018-09-14 01:38] dtkav opened #681 "[dev-2.0] RefResolver cannot resolve yaml"
[code]

because it can't parse yaml schema files like https://opensource.zalando.com/problem/schema.yaml

I workaround'd it in the `jsonschema` module

[code]

But on https://github.com/Julian/jsonschema/issues/420 it seems yaml is currently out of scope.

Can we fix it in `connexion` subclassing RefResolver?

_Originally posted by @ioggstream in https://github.com/zalando/connexion/issues/678#iss

[2018-09-14 01:59] dtkav commented on #663
@diefans #600 has been merged - let me know if I can close this ticket?

[2018-09-14 02:43] dtkav commented on #681
Hey @ioggstream let me know if #682 fixes your issue!

[2018-09-14 06:52] jmcs commented on #645
This looks like a bug in PyCharm to me.

The extra keywords variable is a dict:

[code]

This is also how [it's documented in Python's documentation](https://docs.python.org/3/tutorial/controlflow.html#keyword-arguments).

[2018-09-14 07:07] hjacobs commented on #678
@dtkav I think the 2.0 release should not be bigger as the OpenAPI 3 support is already a monster change. Let's get some feedback from people trying it out and the releasing it with any additional blocker bug fixes we encounter.

[2018-09-14 07:12] #596 closed

[2018-09-14 07:46] cziebuhr commented on #678
I'm a quite new user of connexion, but I really like the project.
OpenAPI 3 uses JSON Schema Specification Wright Draft 00 (= Draft 5), which is mostly compatible to JSON-Schema Draft 4.
But it points out that "$ref" should only be used wherever a schema is expected. This allows "$ref" to be a valid key for the "properties" keyword. The new resolve_refs function breaks that feature.
Future version

[2018-09-14 12:34] cziebuhr commented on #678
Can you have a look at https://github.com/zalando/connexion/compare/dev-2.0...cziebuhr:nullable ? According to OpenAPI 3, nullable "allows sending a null value for the defined schema", so it should also work outside of properties.

[2018-09-14 13:55] cziebuhr commented on #678
Depending on using swagger 2 / openapi 3, ConnexionOptions sets swagger_ui_local_path to swagger_ui_2_path / swagger_ui_3_path. IMHO this is only the major version of swagger-ui, swagger-ui 3 supports both swagger 2 and openapi 3.

[2018-09-14 14:11] ioggstream commented on #681
Thanks @dtkav.

This generally work! You did a wonderful job!

I create a simple nosetests that could be helpful in this validating external yamls
(this adds a FakeResolver dynamically adding functions to the module)

https://gist.github.com/ioggstream/e50ad5c1405f44e7ec266e1016fa2a29

As of now:

  - zapp.options.oas_version == (2,0) even for oas2 files.

Q: can I get the spec back from the parsi

[2018-09-17 02:40] dtkav commented on #681
cool @ioggstream - If you want to, you could modify that into a unit test and submit it as a PR to run in the test suite.

[code]

[2018-09-17 02:40] #681 closed

[2018-09-17 06:13] #439 closed

[2018-09-17 09:33] wheelsandmetal opened #683 "[dev-2.0] "x-openapi-router-controller" support."
Openapi Generator has a x-openapi-router-controller param for routing in the generated yaml spec file. Would it be possible to support this alongside x-swagger-router-controller?

I did a quick test and added the line
`self._router_controller = self._operation.get('x-openapi-router-controller')`
 after
`self._router_controller = self._operation.get('x-swagger-router-controller')`
 in abstract.py a

[2018-09-17 11:09] diefans commented on #663
@jmcs thanks

[2018-09-17 11:09] #663 closed

[2018-09-17 11:54] cziebuhr commented on #678
PR for nullable is at https://github.com/zalando/connexion/pull/684.
I changed it a bit, so I don't need to overwrite iter_errors.

And I have another suggestion, regarding changes in security handling: https://github.com/zalando/connexion/compare/dev-2.0...cziebuhr:security
It addresses some issues I had when trying to use connexion for a production-ready product.
- Use token_info['sub'] instead

[2018-09-18 04:48] dtkav commented on #678
Thank @cziebuhr - I'll try to take a look at #684 tonight.
Can you make a pull request for your other proposed changes as well? That's the best way to get specific feedback. We'll likely need some more in-depth review from Zalando folks because your proposal changes the security flow.

[2018-09-18 16:28] cbornet commented on #678
Speaking in the name of [OpenAPI-generator](https://github.com/OpenAPITools/openapi-generator), a community fork of swagger-codegen, we are very eager to see the v2 of connexion. Our current flask-connexion generator is broken because we can only output a v3 version of the spec in the templates (https://github.com/OpenAPITools/openapi-generator/issues/323).
So :100:  to release as soon as possible

[2018-09-18 19:40] Lawouach commented on #678
It's a big plus one for us as well! Looking forward to it :)

[2018-09-19 01:06] dtkav commented on #683
Good idea. We'll probably still need to support x-swagger-router-controller for backwards compatibility.
Can you make a pull request? I'm happy to review it.

[2018-09-19 01:07] dtkav commented on #667
hey @sujituk - any luck? It'd be great to close this ticket out.

[2018-09-19 06:44] kornicameister opened #687 "pythonic_params does not cover the path params"
### Description

`pythonic_params` allows to convert `query_params` (for instance) to more Pythonic form.
For instance `testId`, in Python is `test_id`. However that is not reflected for path params.

### Expected behaviour

path params are subject to `pythonic_params=True`.

### Actual behaviour

path params are not converted to snake case for python functions.

### Steps to reproduce

1. Take ht

[2018-09-19 19:08] sujituk commented on #667
Thanks @jmcs and @dtkav - your comments helped.

[2018-09-19 20:14] hjacobs commented on #687
Makes sense, I think the current behaviour is due to relying on Flask's route handling.

[2018-09-20 00:18] dtkav commented on #664
hi @diefans , can you confirm that this was resolved along with #663 when #600 was merged and released?

[2018-09-20 04:01] dtkav commented on #687
In the case of query parameters the `key` is passed in by the user (`?myParam=5`), but with path parameters this isn't the case (`/5/`). What's the benefit of having the path parameter be camelCase? Consistency in documentation?

[2018-09-20 04:15] dtkav commented on #683
Hey @wheelsandmetal , can you test out and review #688 ? Thanks!

[2018-09-20 04:49] dtkav commented on #666
Hey @erezatiya , I'm going to close this issue - please re-open if there's something I missed!

[2018-09-20 04:49] #666 closed

[2018-09-20 04:52] dtkav commented on #640
Hey @sknick - I'm going to close this issue for now - please re-open if you continue to have problems!

[2018-09-20 04:52] #640 closed

[2018-09-20 05:02] dtkav commented on #620
Yup!
If you are deploying a connexion app to production, you will want to use a production webserver like nginx anyway - the built-in flask webserver is _for development only!_.
If you want to test gzip (or other nginx features) I'd recommend doing this in an integration test against your packaged (app + nginx/gunicorn).
I don't recommend trying to add this features to the development server.

[2018-09-20 06:35] dtkav commented on #630
hey @Guru67724 , I'm going to close out this issue - please re-open if you still have problems!

[2018-09-20 06:35] #630 closed

[2018-09-20 08:07] diefans commented on #664
This issue still persist in 1.5.3:
[code]

[2018-09-20 17:38] hjacobs commented on #687
@dtkav I guess you are right, but one reason could be that the Swagger file is not completely under control of the implementor, e.g. that the Swagger/OpenAPI YAML needs to follow certain standards/consistency which would not break by using Connexion as the implementation server software.

[2018-09-20 18:17] kornicameister commented on #687
Yeah, actually I wanted to report that most likely I messed up on my end. You see, I am using `telepresence` to deploy the dev service to `k8s` cluster and it sometimes chokes (i.e. does not immediately refresh the state on cluster). It seems like that was what happened to me because today I was finishing the PR in my project and as you @dtkav said I had the path parameters written in camelCase fo

[2018-09-21 02:08] czchen opened #691 "`oneOf` does not work on `requestBody` when `oneOf` is nested under `#/components/schemas`"
### Description

`oneOf` in schema does not work on `requestBody` when this `oneOf` is nested under other schema defined in `#/components/schemas/`.

### Expected behaviour

`oneOf` shall work when it is nested under other schema defined in `#/components/schemas/`.

### Actual behaviour

The body does not contain the block use `oneOf`.

### Steps to reproduce

The following is python and schema us

[2018-09-21 04:20] #683 closed

[2018-09-21 04:48] dtkav opened #692 "[dev-2.0] setting Api(base_path=...) does not work with swagger-ui-bundle"
Setting `Api(base_path=...)` doesn't work with `swagger-ui-bundle==0.0.2`. Swagger-ui does not get the correct base_path, and so cannot hit the API.

For example, add `my_api.yml` under `/v0`, and add swagger ui in `/v0/ui`.
[code]

I you click `Try it out` and the `Execute` in swagger ui, the request is sent to API without `base_path` (`/v0` in this case).

_Adapted from a post by @czchen in http

[2018-09-21 04:55] dtkav commented on #692
This is because the `openapi.yaml` file that is served up is the `raw_spec` (i.e. the unmodified spec from disk).
I should be able to fix it relatively easily.

[2018-09-21 04:57] dtkav commented on #691
Interesting! Thanks for filing the issue. I'll try to reproduce it and report back.

[2018-09-21 05:50] dtkav commented on #678
A bit of an update:
PR's merged:
1. #681 allows references to yaml files (thanks @ioggstream )
2. #683 adds x-openapi-router-controller for OpenAPI-generator compatibility. (thanks @wheelsandmetal)
3. #684 added (proper) support for jsonschema nullable, readOnly, and writeOnly (great work @cziebuhr )

PR's in need of review:
1. #686 changes the security flow, so probably needs proper review from s

[2018-09-21 06:02] dtkav commented on #692
Hmm.. while this is straightforward to fix for `swagger 2` specs, It's actually much less straightforward in `openapi 3` because of the [servers block](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#serverObject).
I guess the expected behavior would be to modify each server url, and prepend the base_path to the url path?
The server block isn't supported all that well in

[2018-09-21 18:44] kornicameister commented on #687
@hjacobs @dtkav I am closing this down. I am pretty sure error was on my side ;-)

[2018-09-21 18:44] #687 closed

[2018-09-24 13:40] WimDH opened #694 "[DEV-2.0] Anyone tried OpenId?"
### Description
I tried to use OpenId for secure my endpoints, but when the security is not applied. My endpoint returned it's result without the use of my token.

I cloned the dev-2.0 branch and used the hello example.

My swagger config file:

[code]

`curl http://127.0.0.1:9090/v1.0/greeting/wim --request POST`

produces:
`hello wim`

[2018-09-24 16:42] FlorianKuckelkorn opened #695 "GET Request with path parameter and json body - validation error"
### Description
If i want to create a GET endpoint which accepts also a json body additionally to path params, i get a validation error. If i set the get to a post, it does work!

### Expected behaviour

The validation should be okay

### Actual behaviour
validation error: None is not of type 'object'

### Steps to reproduce
[code]

### Additional info:

Output of the commands:

- `python --versio

[2018-09-24 16:51] hjacobs commented on #694
I think OpenID is not implemented, feel free to propose an implementation/PR (?).

[2018-09-25 04:28] dtkav commented on #687
@kornicameister , thanks for filing the ticket and following up with the detailed response. It's a good thing to be aware of.

[2018-09-25 08:05] paulkernstock commented on #645
I think you are right @jmcs I will try and issue this at JetBrains.

[2018-09-25 10:39] kornicameister opened #696 "String query params are being chopped off leaving only last character standing"
### Description

Given https://github.com/zalando/connexion/blob/master/examples/helloworld/swagger/helloworld-api.yaml swagger file, let's add query param to the endpoint

[code]

And modify the handler accordingly to accept the parameter.
Now when the flow reaches the function `someId` will be set but it will be always the last character of the string passed in the request (i.e. via curl or http

[2018-09-25 10:42] kornicameister commented on #696
@dtkav sorry for pinging here, but I'd like to get some attention to this. It's quite important for me to figure it out so any help is appreciated. Currently working on a comparison of old `Flask-Restful` and `connexion-aiohttp`, so getting this up and running to compare perf is quite important :)

Sorry once again and appreciate the help.
FYI. I will try to reproduce this with hello world example

[2018-09-25 19:33] kornicameister commented on #696
@dtkav @jmcs this the minimal repro repository: https://github.com/kornicameister/aio_connexion_bug

[2018-09-25 19:39] hjacobs commented on #696
Looping in @dutradda as he implemented the aiohttp support (https://github.com/zalando/connexion/pull/530).

[2018-09-25 19:54] kornicameister commented on #696
@hjacobs I think I might have the fix. Will be posted in few minutes for you and @dutradda to take a look.

[2018-09-25 20:08] kornicameister commented on #696
Ok, fix is up. Still testing out but wanted to push it out for you to check it out.

[2018-09-25 20:48] dutradda commented on #696
I think the commit 2f074998e31d3077d16c718ca6886b8d61537536 (#613) broken the aiohttp query string. The @kornicameister code fix it

[2018-09-25 20:51] kornicameister commented on #696
I am happy to hear that ;-).

[2018-09-25 21:16] dtkav commented on #696
Nice work! I'm just add the start of my day in Australia, sorry I didn't see your messages.

[2018-09-25 21:53] kornicameister commented on #696
Np @dtkav, it's midnight for me in Poland ;-). Glad I could squeeze that between putting my kid to sleep and going to sleep myself ;-)

[2018-09-26 15:13] csjohn commented on #359
@diegoguimaraes Late to the game: has any progress been made on using Connexion with MethodView?

[2018-09-27 03:01] dtkav commented on #695
hey @FlorianKuckelkorn , I'm going to close out this issue - Please re-open if I missed something!

[2018-09-27 03:01] #695 closed

[2018-09-27 03:04] dtkav commented on #694
Yeah, sorry @WimDH I haven't had a chance to fully understand OpenID Connect and implement it.
I've been trying to focus on getting the OpenAPI 3 support released with feature parity to Swagger 2, and then after that's released I'm happy to start adding features like this. This is definitely high on the list.

[2018-09-27 03:18] dtkav commented on #670
Hey, I just wanted to say thank for filing this ticket. I haven't been able to get around to it, but I would definitely review a PR if you want to make one.

[2018-09-27 04:57] dtkav commented on #691
It looks like the problem is here:
https://github.com/zalando/connexion/blob/6aafd33e4dcece168d44f38a7d11ab623f2a1a8b/connexion/operations/openapi.py#L248

I'll need to think on this a bit. It seems like we need a way to get the "matched" schema's properties, but Ideally we could lean on the `jsonschema` library. I'll check if it has a feature like that and report back.

[2018-09-27 06:37] dtkav commented on #691
just adding more context...
we need to be able to successfully call
[code]
when the `query_defn` (not a great variable name...) looks like this:
[code]
The reason this breaks is because it fails to look up the `type`.
This is a challenge because we want to look up the `type` from the schema that successfully validated.
It seems like we need a way to collapse this defn by leveraging some jsonschema

[2018-09-27 07:04] #696 closed

[2018-09-27 08:42] dtkav commented on #692
This is the only thing in connexion that actually modifies the spec before serving it, which is very weird to me.

I think a much better solution would be to move this to 'arguments' and rely on the existing templating functionality.

ex. someone would put in their swagger 2 spec:
[code]
and then
[code]
This would me much cleaner because the templating happens at spec load time.

[2018-09-27 09:01] dtkav opened #699 "aiohttp/pytest_plugin is deprecated"
### Description
CI has lots of messages about `aiohttp/pytest_plugin` being deprecated
[code]

### Expected behavior
no warnings

### Steps to reproduce
example CI run https://travis-ci.org/zalando/connexion/jobs/433974839

[2018-09-27 20:29] cziebuhr commented on #694
You can still use oauth2 and parse the JWT yourself in x-tokenInfoFunc. Currently there's no programmatic way to access the current token from the authorization header (apart from parsing it again). Maybe I could add that to #686.

[2018-09-28 05:34] dtkav opened #702 "[dev-2.0] Idea: deprecate base_path argument, rely on templating instead"
# Proposal
deprecate base_path argument, rely on templating instead

# Details
From #692 #698 the base_path argument is counter-intuitive because it modifies the spec (no other features do this).

A way to do this in a more general way is to rely on the existing templating functionality and the 'arguments' argument.

ex. someone would put in their swagger 2 spec:
[code]
and then
[code]
I think thi

[2018-09-28 05:51] dtkav commented on #702
hey @jmcs @hjacobs , would love your thoughts on this idea.
I think #698 can probably work as a bandaid, but it's really messy IMHO.

[2018-09-28 06:37] dtkav commented on #702
nevermind, I think I've found a solution. I'll update #698 accordingly.

[2018-09-28 06:37] #702 closed

[2018-09-28 07:47] dtkav commented on #692
One of the reasons I'm struggling with this a bit is I don't have a clear picture of what the use case of `FlaskApi(base_path=...)`.

The thing that makes sense to me is that you override the `base_path` of your api _without_ modifying the spec. See the below use case as to why that makes sense to me.

What I don't get is why you would want to supply the `base_path` and have it modify the spec (wh

[2018-09-28 08:55] dtkav commented on #692
I think part of the confusion is that connexion interprets the `basePath` in swagger 2.0 to be _for the server_.
But in the OpenAPI 3 spec, the servers block seems to be _for the client_. Each instance off connexion will only be implementing _one_ of the servers in the servers block.

The problem is, we don't know _which_ server we are implementing.

AFAICT there are two solutions to this problem:

[2018-09-28 09:57] jmcs commented on #692
@dtkav we can remove support for basePath in OpenAPI while keeping it for Swagger 2. That way we don't break anything that's working right now.

[2018-10-01 06:33] jmcs commented on #678
I released version ``2.0.0rc1`` this can be installed with `pip --pre ...` (or `pipenv install --pre ...`).

[2018-10-01 11:34] micmarty opened #704 "Unable to suppress annoying server requests logging with gevent backend"
### Description
Unable to customize annoying logging with `gevent` backend

### Expected behaviour
Switching between logging levels should be clear and maybe handled by connexion itself (backend independent), like:

[code]
### Actual behaviour
I get a huge amount of irrelevant requests information, no matter how I try to customize this default behaviour.
![image](https://user-images.githubusercont

[2018-10-02 09:39] fwkz opened #705 "`object` and `x-nullable` don't mix"
### Description
sending `null` as `send_time_slot` raise an validation error.
[code]

### Expected behaviour
`x-nullable` should apply to `object`, sending `null` as `send_time_slot` should pass validation

### Actual behaviour
Sending `null` as `send_time_slot` raise an validation error.

### Additional info:
[code]

[2018-10-02 11:35] vpohl opened #706 "sqlalchemy example raises "sqlite3.OperationalError: no such table: pets""
### **Description**

The sqlalchemy example (under WSL with Ubuntu distribution) raises the following error when queried for the content of `pets` (or any other entry):

`sqlite3.OperationalError: no such table: pets`

### **Expected behaviour**

Should return an empty list.

### **Actual behaviour**

Returns 500, "Internal Server Error".
[code]

### **Steps to reproduce**

[code]

### **Additiona

[2018-10-02 20:55] rykerrumsey opened #707 "[dev-2.0] AttributeError: module 'jsonschema._validators' has no attribute 'properties_draft4'"
### Description
Installed --pre connexion into a pipenv environment
Ran the command openapi-spec-validator

### Expected behaviour
[code]

### Actual behaviour
[code]

### Steps to reproduce
1. pipenv shell
2. pipenv install --pre connexion
3. openapi-spec-validator

### Additional info:
Output of the commands:

- `python --version`
```Python 3.6.5 :: Anaconda, Inc.```

- `pipenv graph`
[code]

[2018-10-03 01:51] dtkav commented on #707
Thanks for the ticket. I'm guessing the problem is with jsonschema 3.0.0a3.
I'll have a look. We probably just need to be stricter on the version dependency.

[2018-10-03 01:59] dtkav commented on #707
Thanks @rykerrumsey ! Please have a look at #708 when you get a chance.

[2018-10-03 02:06] dtkav commented on #706
Thanks for the ticket @vpohl , I've put up #709 for your review.
I disabled threading instead of creating a tmpfile.

[2018-10-03 02:12] dtkav commented on #705
This has been reworked in connexion 2.0 - do you mind trying it out and seeing if it resolves your issue? It can be install with
```pip install --pre connexion[swagger-ui] 'jsonschema<3.0.0'```
(you have to specify jsonschema version because of #707 right now).

[2018-10-03 02:36] dtkav commented on #704
Yikes, It looks like gevent pywsgi was unable to use standard python logging facilities because of locks in the library.
Luckily connexion passes `**options` to the underlying wsgi server.
We just need to pass it something with a callable `write` attribute:
[code]

[2018-10-03 02:55] dtkav commented on #692
The PR that was merged implements option 1 above (overwrites servers block).
This is probably fine for now. If anyone find themselves running into trouble with a "microservice gateway"-like 3.0 spec (i.e. one that represents multiple servers), then I guess we can add more support as the need arises.
I'll close this for now.

[2018-10-03 02:55] #692 closed

[2018-10-03 03:44] dtkav commented on #705
I was able to test your spec in connexion 2.0.0rc1, and sending no payload works as expected.
One gotcha is that if you leave a field blank in swagger-ui, it will send `{}` which is not a `null` payload.

Also, totally an aside, but if your time slots are meant to be hours in the day, you may have an off-by-one error as you have both slot 0, and 24 as valid.

Here's the full spec (I just adapted t

[2018-10-03 07:29] fwkz commented on #705
Glad to hear that. Do you have any ETA on connexion 2.0?

Thanks we got that covered. 💪

[2018-10-04 02:55] dtkav commented on #707
Thanks! I've merged in #708 , so it should be part of the next RC.

[2018-10-04 02:55] #707 closed

[2018-10-04 03:02] dtkav commented on #705
No, but you can follow along here: https://github.com/zalando/connexion/issues/678
It will depend on the availability of folks at Zalando to review and merge in the dev-2.0 branch.

The merge window is closed, so just bugfixes are making it in now. If you are willing to be on the bleeding-edge, you can use the release candidate from pip now. Be sure to review the [change log](https://github.com/za

[2018-10-04 03:58] dtkav commented on #678
FYI: Due to #707 if you want to install RC1 with `pip install --pre`, you'll need to prevent `jsonschema` from installing their alpha release as well:
`pip install --pre connexion[swagger-ui] 'jsonschema<3.0.0'`

[2018-10-04 06:41] #582 closed

[2018-10-04 07:59] jmcs commented on #678
I released version `2.0.0rc2` with the jsonschema version fix.

[2018-10-04 12:55] #706 closed

[2018-10-05 04:26] dtkav opened #711 "[dev-2.0] securitySchemes not passed to operation"
### Description
@cziebuhr found that "auth all paths" wasn't working for OpenAPI specs in dev-2.0

### Expected behaviour
Providing securitySchemes should cause them to be used when auth_all_paths is true

### Actual behaviour
securitySchemes is always being set to {} in oas3

### Steps to reproduce
create API with auth_app_paths=True
include securitySchemes
use API as though there's no auth

###

[2018-10-05 06:56] jmcs commented on #711
Fixed in `2.0.0rc3`.

[2018-10-05 06:57] jmcs commented on #678
I released version `2.0.0rc3` with  https://github.com/zalando/connexion/pull/712

[2018-10-05 14:18] zimmicz commented on #357
I'm trying to use flask cors with connexion

[code]

Yet when I send a request
[code]
I get
[code]

[2018-10-05 19:50] zimmicz commented on #357
Seems `@cross_origin` decorator solves the problem, but CORS(app) alone is not working.

[2018-10-07 22:04] micmarty commented on #704
✓ Thank you so much, it worked perfectly! Issue can be closed.

[2018-10-07 22:04] #704 closed

[2018-10-08 08:33] fpozzobon opened #714 "Log validation error message"
### Description

In order to analyse the usual client errors using my API, I would like to log the schema / parameter validation errors.

### Expected behaviour

Getting a log (either debug or info) with the validation error message inside.

### Actual behaviour

As far as I understand, it is not possible to log the validation error messages (400 error) sent to the client (example "Wrong type, exp

[2018-10-08 09:28] dtkav commented on #714
I these docs might help:
https://github.com/zalando/connexion/blob/1fbb1ff941dee089dcf881ef46bcb079ac52502a/docs/exceptions.rst#default-exception-handling

[2018-10-09 05:56] filipmnowak commented on #588
exactly the same problem here: reverse proxy / API gateway uses same FQDN and port for all of the services behind it, it differentiates between them via path part of the URL, and indeed basePath is not unique here.

i wonder why Api.add_swagger_json and Api.add_swagger_ui are not governed by the same logic?

can anyone from the maintainers state their opinion about that, what are the options and i

[2018-10-09 06:01] filipmnowak commented on #588
it looks like duplicate of [392](https://github.com/zalando/connexion/issues/392)

[2018-10-09 06:54] fpozzobon commented on #714
Hi, thanks for the info.
I tried to add a generic problem handler :
[code]
but myMethod is not called when getting a "Missing formdata parameter" for example.
I then tried to simply override 400 but same issue...
Not sure why it doesn't do anything in my case... could it be that there is no exception thrown ?

Anyway, I found a workaround to log the failures by using a CustomParameterValidator :

[2018-10-09 06:55] #714 closed

[2018-10-09 10:19] filipmnowak commented on #588
if i got the comment @ [master/connexion/options.py#L35](https://github.com/zalando/connexion/blob/master/connexion/options.py#L35) correctly, swagger.json should be served from `openapi_console_ui_path`/swagger.json, and openapi_console_ui_path can be changed from the default `/ui` with `swagger_url` option. so it seems like intent was to serve swagger.json from the same path as Swagger UI?

[2018-10-10 19:53] lsorber commented on #678
Feature request: it would be great to have JWT support in v2.0, which seems to have been asked many times before (#607, #389, #124).

[2018-10-12 22:48] twosigmajab opened #716 "type hints"
I'm new to Connexion. It looks like the source code does not currently leverage type hints or other ahead-of-time / static analysis correctness checks, is that right?

To fully leverage the power of API-first development, where implementations can be verified *before runtime* to be conformant to the interfaces declared in specifications, would it be valuable to add type hints to Connexion, and doc

[2018-10-13 09:38] jmcs commented on #716
In the very very first iterations Connexion had type hints, we removed them to support Python 2.7.

This is mostly not an issue because we have a very high test coverage, both in terms of code coverage (100%) and case coverage.

We use flake8.

Type hints are not necessary, and they are definitely not sufficient, to verify correctness ahead of runtime.
For most real world cases verifying correctne

[2018-10-13 09:38] #716 closed

[2018-10-13 23:32] twosigmajab opened #717 "Documentation version is out of date / misleading"
https://github.com/zalando/connexion#documentation links to https://connexion.readthedocs.io/en/latest/ which appears to be docs for Connexion v0.5 (title of page is "Welcome to Connexion’s documentation! — Connexion 0.5 documentation").

Clicking the "V: latest" to change versions, the latest version available in the popup menu is 1.0.88.

According to https://github.com/zalando/connexion/release

[2018-10-14 09:19] zimmicz opened #718 "Error 500 with pre-flight OPTIONS request"
### Description
I'm experiencing weird behaviour with OPTIONS request.
Schema looks like this
[code]

### Expected behaviour
When OPTIONS request is sent, it should pass without any errors.

### Actual behaviour
When I send the following request
[code]
I get this 500 error:
[code]
When I change `get` endpoint to the definition below, the `post` starts magically working.
[code]
This feels like not

[2018-10-15 06:36] sharbov opened #719 "Plugin Mechanism"
### Description

I would like to propose a plugin mechanism to the request handling flow.
The idea is to enable the registration of functions / decorators on predefined hooks,
to later be triggered at certain points of the request life-cycle.
I would also like o be able to set the order of these plugins execution.

Some examples of possible plugins:

* Logging
* Authentication
* Metric collection

[2018-10-15 17:08] kenneho commented on #407
Did you get this working?

[2018-10-15 18:46] dtkav commented on #407
@kenneho can you try the release candidate for Connection 2.0? You can install it with `pip install --pre connexion[swagger-ui]`.
If I recall correctly, it's fixed in the next release, and will return an error about incorrect content type.

[2018-10-15 20:55] Biskit1943 opened #721 "Route annotations not working"
### Description
I wrote some wrapper for the routes to catch some general thinks like this:
[code]
If I annotate my functions which I defined as `operationId` I get the an Runtime Error

### Expected behaviour
My routes are getting validated first

### Actual behaviour
[code]

### Steps to reproduce
Annotate a route with a self written function

Output of the commands:

- `python --version` => `Py

[2018-10-16 06:54] zhuwei05 commented on #562
Got the same problem. @Ryan-Gordon Did you have solve it?

[2018-10-16 11:58] kenneho opened #722 "Mismatch between Swagger's curl command and the Accept header received by the server"
### Description

Consider this API yaml extract:

    /users
       put:
          produces:
             - "application/json;version=1"

In Swagger, the "Parameter content type" lists "application/json". When I execute the PUT command in Swagger, the `curl` command displays a different Accept header than what the server receives. The server receives `Accept: application/json;version=1`, even thou

[2018-10-16 17:50] kfot commented on #410
@danballance Recently I have been intensively using connexion when creating applications that are supposed to be very secure and I miss this functionality

[2018-10-16 20:38] jsvachon2 opened #723 "Can not access requests headers as stated in the documentation"
### Description
Documentation says that we should be able to access request's headers through something like the following:
    page_number = connexion.request.headers['Page-Number']

I tried to access headers through both connexion and flask and got the same result

### Expected behaviour
Receive the header's value

### Actual behaviour
I am receiving the message:

Working outside of request cont

[2018-10-16 20:58] hjacobs commented on #717
I think this is just a "cosmetic" problem as docs are automatically updated on readthedocs.io, but the version is hardcoded in the Sphinx config file to `0.5` (that's the version of the docs, not of Connexion itself): https://github.com/zalando/connexion/blob/master/docs/conf.py#L54

[2018-10-17 05:00] Biskit1943 commented on #721
So, I found the Issue. I've annotated the function wrong. I looked around a bit and found the solution in the [examples](https://github.com/zalando/connexion/tree/master/examples/basicauth). Here is my new wrapper function

[code]

[2018-10-17 05:00] #721 closed

[2018-10-17 16:59] jsvachon2 commented on #723
Never mind.. the code works just fine when it is located inside the handler function

[2018-10-17 16:59] #723 closed

[2018-10-17 17:31] hjacobs commented on #723
Good you figured it out yourself :smile:

[2018-10-17 17:34] tommyjcarpenter opened #724 "How to get the request data without add. 4 lines at top and last line?"
### Description

When I use `connexion.request.data`, to retrieve the results of a PUT, I get the raw data of the request with some stuff at the top. How do I get just the data that was sent in a PUT body?

### Expected behaviour

Upload a file via PUT, write the file out, has no diff to input file.

I'm using the below code on the handler:

    def ot_dataset_put_handler(name, datasetname):

[2018-10-17 17:35] tommyjcarpenter commented on #724
This is more of a question maybe, maybe `connexion.request.data` isn't the right method.

[2018-10-17 18:06] twosigmajab commented on #717
Is this intentional? Expected use is not to hard code some different version there, but rather to give the docs the same version as the package they're documenting. Like this:
https://github.com/requests/requests/blob/master/docs/conf.py#L69

Doing otherwise is really confusing.

When you click the version chooser ("V: latest") widget, the popup should allow you to easily choose the docs for the C

[2018-10-17 20:05] ctippur opened #725 "jquery post resulting in Unsupported Media Type"
### Description

I am using jquery post to post some data. Looks like the validator code is throwing a unsupported media type error while processing.

### Expected behaviour
Get a 200 response

### Actual behaviour

Response I get:
[code]
request header
[code]

### Steps to reproduce
Post /localhost/current/customer via jquery

[code]

### Additional info:

I am able to use curl POST via command l

[2018-10-17 20:34] ctippur commented on #725
Ref code: https://github.com/zalando/connexion/blob/master/connexion/decorators/validation.py#L152

[2018-10-17 21:17] lucas03 commented on #350
Any update please? there is related [stackoverflow question](https://stackoverflow.com/questions/27900041/rest-put-ids-in-body-or-not) (there might be a better source for this discussion out there somewhere)

[2018-10-17 21:36] cziebuhr commented on #350
Support for readOnly has been added in dev-2.0 branch.

[2018-10-17 23:40] ctippur commented on #725
One more observation that via jquery, there is an additional OPTIOS call (which doesnt appear with curl.

[2018-10-18 00:05] ctippur commented on #725
Apologies. Need to apply JSON.stringify to the json obect before posting.

[2018-10-18 00:05] #725 closed

[2018-10-18 06:44] jmcs commented on #350
If you want to test it, there is a 2.0 Release Candidate you can install with `pip install --pre`

[2018-10-18 10:31] paulkernstock commented on #645
OK from my conversation with Semyon from JetBrains I think this issue should be reopened.

He pointed out that PyCharm is only following [PEP 484](https://www.python.org/dev/peps/pep-0484/#arbitrary-argument-lists-and-default-argument-values). It is stated there, that the type of arbitrary arguments should be annotated with the expected type of the arguments given to the function, not the type of

[2018-10-18 14:29] dtkav commented on #645
here is what I think I heard in terms of actions:
- remove type annotation for `kwargs`

Is that right?

On Thu, Oct 18, 2018, 3:31 AM paulkernstock <notifications@github.com>
wrote:

[2018-10-18 15:35] hjacobs commented on #350
Added this to the 2.0 milestone as it should be fixed with 2.0.

[2018-10-18 21:00] paulkernstock commented on #645
Yes. 😬

[2018-10-18 21:33] #711 closed

[2018-10-18 21:36] dtkav commented on #724
Can you please post your json/yaml spec as well?
You should never need to access the `request.data` object when using connexion. In fact, a large part of what connexion provides is validation and deserialization of the request body.

The way this normally works is that you define the body in your spec, and then it is passed into the user-provided handler function by name.

Does that make sense?

[2018-10-18 21:38] dtkav commented on #722
Correct me if I'm wrong, but is this a bug in swagger-ui?
If so, then you'll want to file this over at https://github.com/swagger-api/swagger-ui

[2018-10-18 21:41] dtkav commented on #719
FWIW you can override the `def function` method on the Operation class. That method is where all of the decorators are applied, and in which order.

If you like, you can create a pull request with the plugin API you have in mind. I'm happy to provide feedback / review.

[2018-10-18 21:55] tommyjcarpenter commented on #724
In this case we have `application/octet-stream` and are acting as a file store (like S3), because the binary content is unknown. Thus, I cannot use connexion to validate or serialize. This particular endpoint's goal is to take an arbitrary binary file and store it. In the above case, I tried a PDF, and the bytes were the same, modulo the first 4 and last line as shown above.

[2018-10-18 22:15] dtkav commented on #718
Thanks for filing this ticket (and including all the right info).
I think this might be related to what happened with HEAD in #596 .
AFAICT Flask is handling this method magically, and then the validation is running on the OPTIONS response. The options response body probably shouldn't be validated.

[2018-10-19 07:18] dtkav commented on #724
Hmm, yeah it would be nice to support the streaming use-case better. Maybe I'll be inspired to look at that after the 2.0 release.
It's always helpful to have a [sscce](http://sscce.org/).
In the meantime, I think you might be able to use the `request.files` property.

[2018-10-19 10:50] tommyjcarpenter commented on #724
Files also did not work with `octet`, however I was able to get files working if I changed the Content-Type to `multipart/form-data`. This is the current hackaround but it puts more burden on all clients because the CURL or equivalent upload request is more cumbersome to write.

[2018-10-19 20:03] dtkav commented on #724
You are using the `-F` argument to curl, which uploads form data (and automatically sets the Content-Type header appropriately for form data).

You probably intended to use `curl --upload-file ...`

Your curl command is uploading form data (the extra lines are the envelope), but you're overwriting the Content-Type of the envelope to application/octet-stream. This breaks werkzeug/flask's ability to

[2018-10-22 07:18] kenneho opened #729 "Connexion 2.0 release candidate: got an unexpected keyword argument 'resolver'"
### Description

I upgraded my Connexion project to use the Connexion 2.0 release candidate, and apparently the new version doesn't implement the `resolver` argument in the `FlaskApp` constructor.

This code work for Connexion < 2.0, but not for the Connexion 2.0 release candidate:

    connexion_app = connexion.FlaskApp(__name__, specification_dir='swagger/', resolver=RestyResolver('apis'))

###

[2018-10-22 07:19] kenneho commented on #407
Thanks. I tried running the release candidate, but got an error: https://github.com/zalando/connexion/issues/729

When that one is sorted out I'll try again.

[2018-10-22 14:10] tommyjcarpenter commented on #724
Wowzers! Thanks so much, I definitely would not have caught that, and this is a little beyond my knowledge of web forms. Big thanks to you for your investigation, and sorry for the trouble.

[2018-10-22 14:10] #724 closed

[2018-10-25 06:28] zimmicz commented on #718
What's actually the solution to that? I just can't wrap my head around it.

[2018-10-25 20:33] dmitriyrepin opened #731 "Dashes in a header parameter should not be replaced with underscores"
### Description
The Swagger 2.0 specification allow header parameters with dashes (e.g., X-Request-ID):
https://swagger.io/docs/specification/2-0/describing-parameters/
[code]
However, when I run the Connexion python-flask code generator, it replaces the dashes in the header parameter name with underscores (X_Request_ID):
[code]
### Expected behavior
The header parameters name should remain as spe

[2018-10-25 21:38] dtkav commented on #731
I think this is a security thing within Flask, and not part of connexion.
I'll see if I can find the rationale for this.

On Thu, Oct 25, 2018, 1:33 PM Dmitriy Repin <notifications@github.com>
wrote:

[2018-10-26 01:10] trickidicki opened #733 "ResolverError: Empty module name"
### Description

Trying the basic example in readme.md

### Expected behaviour

Should work.

### Actual behaviour

Throws exception:
[code]

### Steps to reproduce

On Windows 10, Python 3.6 64 bit

### Additional info:

On Windows 10, Python 3.6 64 bit

Output of the commands:

- `python --version`
Python 3.6.7rc1

- `pip show connexion | grep "^Version\:"`
Version: 2.0.0rc3
(same with 1.5.3)

[2018-10-26 10:58] LmangoLemon opened #734 "url contains path variable like /v1/{id}/children return 404"
### Description
there is an url defined like this:   /v1/{id}/children,  when i try to call the url, it return 404. and if the url defined like: /v1/childen，it works properly

what could be the reason?

### Expected behaviour

the url define like  /v1/{id}/children can work properly

### Actual behaviour
the url define like  /v1/{id}/children return 404

### Steps to reproduce

### Additional info

[2018-10-26 13:05] bobh66 commented on #734
Did you define a path parameter for {id}?

[2018-10-26 13:38] LmangoLemon commented on #734
yes, i did

and i found the cause.  {id} is defined as number type,  i changed it to string, and it worked properly.

Thanks for replying.

[2018-10-26 13:38] #734 closed

[2018-10-26 23:45] dtkav commented on #729
This functionality existed 'accidentally', as it was sneaking through `old_style_options**` pre connexion 2.0, which passed all kwargs through to the `api_cls`.

I think it makes sense to be able to define a default resolver for the whole App though, so I'm happy to add that functionality explicitly.

[2018-10-27 00:36] dtkav commented on #731
Oops, I totally misread this ticket the first time through!

It sounds like this is a bug in swagger-codegen.
Please file an issue at https://github.com/swagger-api/swagger-codegen/issues

[2018-10-27 01:28] dtkav commented on #729
Hey @kenneho - Please check out #735 when you get a chance.

[2018-10-27 23:03] dtkav commented on #678
FYI @lsorber , @krise3k put up [this great PR](https://github.com/zalando/connexion/pull/732) (#732) for JWT support.

[2018-10-28 23:13] trickidicki commented on #733
Thank you, that resolves it. Perhaps the "Running it" section in the readme should be updated as there is more to it than the 4 lines of code shown there.
Many thanks!

[2018-10-29 06:31] jmcs commented on #729
@kenneho this should be fixed in `2.0.0rc5`.

[2018-10-29 19:16] fijshion opened #737 "Request validation fails when request body is read in AIOHTTP middleware"
### Description
Request validation fails when request body is read in AIOHTTP middleware.

### Expected behaviour
Able to read request body in AIOHTTP middleware and request validation passes.

### Actual behaviour
The request validation fails.

### Steps to reproduce
1. Call request.json() in an AIOHttp middleware
2. Make an HTTP request to an endpoint which expects a properly formatted JSON requ

[2018-10-29 20:21] dtkav commented on #731
I'm closing this, because I don't believe it's an issue with connexion (instead it's with swagger-codegen).
Please re-open if I missed something!

[2018-10-29 20:21] #731 closed

[2018-10-29 20:22] dtkav commented on #722
Closing because I believe this is a bug in swagger-ui.
Please re-open if I missed something.

[2018-10-29 20:22] #722 closed

[2018-10-29 20:27] dtkav commented on #678
@jmcs has released 2.0.0rc5 :tada:
`pip install --pre connexion[swagger-ui]` to install it.

[2018-10-29 21:06] JuxhinDB commented on #678
Big well done guys--sorry I haven't been active but I'm definitely keeping an eye. @dtkav Would you consider rc5 to be somewhat stable? I can start using it soon if so

[2018-10-29 22:10] dtkav commented on #678
@JuxhinDB yes, I think it's fairly stable. Please bang on it and see if you find any issues. I've recommended that we push RC5 as the 2.0 release (and put JWT support in 2.1, which could easily be soon after).

[2018-10-30 08:01] tniharika opened #739 "Connexion throws error: AttributeError: module 'typing' has no attribute 'GenericMeta' while using python 3.7.0"
### Description
While using python 3.7.0 with Swagger 2.0 server side python-flask code, we are getting the error "AttributeError: module 'typing' has no attribute 'GenericMeta'"
See line number 12

---Code---
1 def add_procedure(ProcedureItem=None):  # noqa: E501
2   """adds an Procedure item
3
4    Adds an item to the system # noqa: E501
5
6    :param ProcedureItem: Procedure item to add
7    :t

[2018-10-30 08:14] jmcs commented on #739
Can you post the entire exception?

[2018-10-30 09:41] schandrakandi commented on #667
@jmcs @sujituk  what does gunicorn.conf should have ?

[2018-10-30 11:06] vpohl opened #740 "."
### Description

### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Additional info:

Output of the commands:

- `python --version`
- `pip show connexion | grep "^Version\:"`

[2018-10-30 11:06] #740 closed

[2018-10-30 11:12] hjacobs commented on #740
:smile:

[2018-10-30 11:53] heinen opened #741 "x-nullable ignored in arrays"
### Description
If x-nullable is used to specifiy that a single element can be zero, it works. If the type is 'array', though, and x-nullable is used in the items, I get a response 400 - > "None is not of type integer" (assuming the items in the array are ints).

### Expected behaviour
If a single element can be nullable, so should elements in an array be

### Actual behaviour
Elements in arrays c

[2018-10-31 17:27] martinitus opened #742 "2.0 swager_ui kwarg for app and add_api"
### Description
It seems like the documentation of https://github.com/zalando/connexion/tree/dev-2.0#the-swagger-ui-console needs to be fixed for 2.0.

### Expected behaviour
[code]
works as documented

### Actual behaviour
The above code fails for me with

[code]
Similar for the second kwarg.

### Additional info:

Output of the commands:

- `python --version` : 3.6.6
- `pip show connexion | grep

[2018-10-31 18:57] dtkav commented on #742
Thanks for the bug report!
Please see #743 , and let me know if I missed anything.

[2018-10-31 18:59] dtkav commented on #741
Can you try this on the Connexion 2.0 release candidate? All of the nullable logic has been reworked.
You can install it with `pip install --pre connexion[swagger-ui]`

[2018-11-01 18:02] fijshion commented on #737
Has a maintainer had a chance to look at this? I have a simple one-line fix. The flake8 job failure on my PR seems unrelated to my change.

[2018-11-02 18:31] kenneho commented on #729
Sound great. I'm busy on another project at the moment, but will get back to you as soon I as get a chance to test the new rc.

[2018-11-02 18:34] kenneho commented on #722
Sorry for the late reply. The bug might be with the swagger-ui, so I'll report the issue there when I get the chance, and see how it goes.

Thanks for the follow-up, though!

[2018-11-05 15:46] twosigmajab commented on #717
Congrats on the 2.0 release! Noticed the page title of https://connexion.readthedocs.io/en/latest/ is still "Welcome to ... Connexion 0.5 documentation", which is actually two major versions behind the latest vesrion. (And the version chooser widget doesn't show anything for version 2.)

[2018-11-05 20:11] kigonya commented on #742
have had to freeze our code at 1.5.3 for now...  changing to options did not work for us when trying to redo another engineer's implementation. We were too busy.

[2018-11-05 21:23] #742 closed, assigned to nobody

[2018-11-05 21:34] dtkav commented on #729
This is fixed in the 2.0 release.
Please reopen if you continue to have problems.

[2018-11-05 21:34] #729 closed

[2018-11-05 21:36] dtkav commented on #733
Glad it worked for you. Thanks for the feedback.

[2018-11-05 21:36] #733 closed

[2018-11-05 21:41] ioggstream commented on #420
Thanks to @dtkav and all the team for this great release!

[2018-11-05 21:43] dtkav commented on #420
Thanks for everyone's hard work and collaboration!

[2018-11-05 21:48] dtkav commented on #406
This is now complete with the release of Connexion 2.0!

[2018-11-05 21:48] #406 closed

[2018-11-05 21:54] dtkav commented on #418
swagger-ui 3.x is now available in Connexion 2.0 through the swagger-ui-bundle package.
If you are using an openapi 3 specification it will automatically use swagger-ui v3.x.

[2018-11-05 21:54] #418 closed

[2018-11-05 21:55] dtkav commented on #399
swagger-ui is no longer vendored, and has been updated.
I think this ticket is no longer relevant, but feel free to re-open if i got it wrong.

[2018-11-05 21:55] #399 closed

[2018-11-05 22:01] dtkav commented on #361
swagger-ui is no longer vendored in connexion, and relies on the swagger-ui-bundle package.

[2018-11-05 22:01] #361 closed

[2018-11-05 22:13] kigonya commented on #742
Yeah... I tried exactly that and it did not fully work. I believe there was some customization on our end that might have complicated things... probably due to apache settings in remote servers for determining the urls... dunno yet.

He had the following:
`        self.swagger_iu_spec = api_spec.copy()
        base_path = EnvUtil.get("base_path", None)
        if base_path:
            self.swagge

[2018-11-06 00:56] dtkav commented on #741
I can confirm this is fixed in connexion 2.0 (44ea933)

debuglib.py
[code]
start server
[code]
curl
[code]
[code]
[code]

[2018-11-06 00:56] #741 closed

[2018-11-06 01:35] dtkav commented on #718
Hey @zimmicz I'm not able to reproduce this on connexion 2.0 (44ea933)
It's possible that connexion 2.0 might be slightly more lenient than 1.4.2 as the validation code was completely rewritten.

The information you provided in the ticket wasn't sufficient to reproduce the issue, so here's what I used as a test environment:

books.py
[code]
options.yaml
[code]
run command
[code]
curl GET
[code]
cu

[2018-11-06 04:59] braco opened #746 "ValueError: dictionary update sequence element #0 has length 1; 2 is required"
Getting a mysterious error with OpenAPI spec and connexion 2.0, will post here when I figure it out

[code]

[2018-11-06 05:06] braco commented on #746
In my OpenAPI, I changed this

[code]

to this

[code]

and that seems to fix the problem

[2018-11-06 05:22] dtkav opened #747 "connexion cli displays deprecation warning"
### Description
The connexion CLI passes a deprecated argument to the app (swagger_spec)

### Expected behaviour
cli.py should pass `serve_spec` instead of `swagger_spec`

### Actual behaviour
cli.py passes deprecated option `swagger_spec`

### Steps to reproduce
`connexion run openapi.yaml`
outputs:
[code]

### Additional info:
Fixed by #745

Output of the commands:

- `python --version`
python 3

[2018-11-06 05:29] dtkav commented on #746
It would help me a lot if you could post an entire working spec so I can reproduce the issue.

[2018-11-06 06:18] dtkav opened #748 "mistyped form-data does not return problem+json response"
### Description
If a form parameter is sent with an incorrect type, the response is a string, and not problem+json response.

### Expected behaviour
a descriptive problem+json response that details the type error(s)

### Actual behaviour
Application returns generic 500 error
[code]

### Steps to reproduce
openapy.yaml
[code]
test.py
[code]
curl command
[code]

### Additional info:

Output of the c

[2018-11-06 08:54] simenaasland opened #750 "Uploaded file not passed to endpoints taking kwargs"
### Description
I am not 100% sure this should be considered a bug, but the behavior has changed between 1.2.0 and 2.0.0, so it might be a regression. Uploaded files are only passed as arguments to endpoints not taking kwargs in version 2.0.0.

### Expected behaviour
When uploading a file, the file should always be passed as a parameter to the endpoint.

### Actual behaviour
When uploading a file,

[2018-11-06 11:59] RogerTangos opened #751 "/ui/ endpoint no longer available in Connexion 2.0"
### Description
Connexion 2.0 seems to hide the /ui/ endpoint.

After upgrading from connexion 1.5.3 to connexion 2.0.0, I am no longer to see the SWAGGER interface in /ui/. I've tried both my own code and an [example project](https://github.com/zalando/connexion/tree/master/examples/swagger2/sqlalchemy)

### Expected behaviour
The swagger interface should show

### Actual behaviour
404 error

###

[2018-11-06 12:09] fwkz opened #752 "There is no `get_tokeninfo_url` function in `security` module"
### Description
There is no `get_tokeninfo_url` function in `security` module.
[code]

Looking at the `security.get_tokeninfo_func` doc-string it might be some refactoring left-overs
[code]

### Additional info:

Output of the commands:

- `Python 3.7.0`
- `Version: 2.0.0`

[2018-11-06 12:35] hjacobs commented on #751
You need to install with `connexion[swagger-ui]' now as it no longer includes Swagger UI by default. See https://github.com/hjacobs/connexion-example/pull/11 as example.

[2018-11-06 14:34] dtkav commented on #751
I've updated the [release notes](https://github.com/zalando/connexion/releases/tag/2.0.0
) to include this information.

Thanks for taking the time to file this ticket. If you're curious about the history of this issue, you can ead up on the discussion in #406 .

[2018-11-06 14:34] #751 closed

[2018-11-06 14:36] braco commented on #267
@soloz did you ever find an answer for this?

[2018-11-06 14:48] dtkav commented on #750
Thanks for taking the time to file this ticket. That definitely sounds like a bug to me!

[2018-11-06 15:00] dtkav commented on #750
@simenaasland please have a look at #753 - I think it should fix the issue.

[2018-11-06 15:08] dtkav commented on #752
Hi @fwkz - can you make sure you clean out all of your .pyc files?

The `operation` class was split out into two distinct classes to support swagger 2.x and openapi 3.x.x simultaneously, so you cannot `from connexion import operation` anymore.
`from connexion.operations import (SecureOperation, Swagger2Operation, OpenAPIOperation)` should work though.

If you can say more about what you're trying

[2018-11-06 15:43] heinen commented on #741
Yes, that works as expected with connexion `Version: 2018.0.dev1`. Is there a timeline for the release?

[2018-11-06 16:05] dtkav commented on #741
it was just released!

On Tue, Nov 6, 2018, 7:44 AM heinen <notifications@github.com> wrote:

[2018-11-06 17:18] braco opened #754 "Does connexion support async in tornado?"
Your docs say yes:

but then it looks like the regular WSGI server is used:
https://github.com/zalando/connexion/blob/1fbb1ff941dee089dcf881ef46bcb079ac52502a/connexion/apps/flask_app.py#L102

and Tornado says this kills async:
http://www.tornadoweb.org/en/stable/wsgi.html

[2018-11-06 19:28] braco opened #755 "OpenAPI validation doesn't work"
OpenAPI yaml specs don't seem to trigger validation beyond `required` on query parameters.

I converted the spec to Swagger and it began working.

Is there any roadmap for this to be implemented?

[2018-11-06 20:18] rafaelcaricio commented on #267
I don't have any update on this. But connexion has changes a lot since the time this issue was opened.

[2018-11-06 21:15] dtkav commented on #755
Please post more information about your test environment when making tickets so I can reproduce your problem.

Validation does work for OpenAPI specs, however there is a long-standing (high priority) issue of supporting multiple content-types at once.

The relevant code is https://github.com/zalando/connexion/blob/44ea9336fe79ddb9592942b405a663d2e3aa612c/connexion/decorators/validation.py#L117

In

[2018-11-07 00:10] cetanu commented on #406
Just updated to 2.0, added the swagger_ui_bundle... works fine 👍

[2018-11-07 00:44] dtkav commented on #406
I should also note that this ticket was implemented as an optional dependency using pip extras.
It can be installed like this: `pip install connexion[swagger-ui]`

[2018-11-07 05:37] RacingTadpole opened #756 "`add_api` fails with a dict specification with TypeError"
### Description

After updating to swagger 2.0.0, I get a `TypeError` when I call `app.add_api` with a spec dict.

### Expected behaviour

I do not receive an error.

### Actual behaviour

I receive `TypeError: expected string or bytes-like object` on the `add_api` call.

### Steps to reproduce

swagger file:
[code]

`application.py`:
[code]

It appears to be a problem validating a regular express

[2018-11-07 07:08] dtkav commented on #756
I can take a look at this tomorrow.
The problem is that yaml allows you to have numeric keys, but json does not.

As a workaround, if you just pass the path to the file it will work.
Another option is to change the response codes to strings in your spec.

Here's how the loader works:
https://github.com/zalando/connexion/blob/44ea9336fe79ddb9592942b405a663d2e3aa612c/connexion/apis/abstract.py#82

O

[2018-11-07 07:09] #750 closed

[2018-11-07 07:14] #748 closed

[2018-11-07 07:15] #717 closed

[2018-11-07 07:34] #747 closed

[2018-11-07 14:16] palnes opened #757 "Additional body kwarg given on GET requests"
### Description
When sending a GET request, an additional empty `body` keyword argument is sent to the handling function.

### Expected behaviour
Only the described parameters should be forwarded to the function. Also, according to the spec, it seems that there should be no body provided on GET and DELETE.

### Actual behaviour
An empty `body` keyword argument is added as a function parameter.

##

[2018-11-07 15:14] dtkav commented on #757
Unfortunately in OpenAPI 3 specs the request body does not have a name.

We support assigning it a name with the 'x-body-name' key, but by default
it is called body.

x-body-name works like this:
[code]

On Wed, Nov 7, 2018, 6:16 AM Pål Nes <notifications@github.com> wrote:

[2018-11-07 15:22] dtkav commented on #757
oops I misread your ticket. body should definitely not be passed in on GET
requests!

On Wed, Nov 7, 2018, 7:13 AM Daniel Grossmann-Kavanagh <me@danielgk.com>
wrote:

[2018-11-07 20:57] nabrowning commented on #752
Hi @dtkav -
I am also having the same issue as @fwkz
I re-cloned my repo that I am working on today and re `pip install`ed all of my requirements.

I am getting this stack trace
[code]
The issue starts in my code where I call this:
[code]
I took a look at `operation.py` and found this code at `line 11`
[code]
and yet, when I go to `.decorators.security` I see this:
[code]
I then went over to my co

[2018-11-07 21:53] dtkav commented on #752
Hi @nabrowning - `operation.py` no longer exists, so cannot be imported. This was intended to be backwards compatible, but it must have gotten lost somewhere along the way.

Here's what happens when I try to import connexion.operation (and why I think you may have a .pyc file somewhere):
[code]
And here's me importing security_passthrough from its new home in 2.0:
[code]
Connexion 2.0 has some bac

[2018-11-07 22:58] fwkz commented on #752
Brand new virtualenv seems to have `operation` module 🤔
[code]

[2018-11-07 23:46] dtkav commented on #752
@fwkz you're right! That's spooky! :ghost:

My guess is that the build/release process doesn't clean up deleted files properly.
That file is definitely not tracked in git.

 @jmcs any ideas what happened?

[2018-11-08 08:30] heinen commented on #741
Awesome, thanks!

[2018-11-08 11:04] hardbyte commented on #592
A simpler solution might be to inspect the `Content-Type` - if it shows that validation couldn't possibly do anything useful IMO `connexion` should try not to change any state at all.

[2018-11-08 16:12] dtkav commented on #592
what do you think about #760 ?

[2018-11-08 17:36] dtkav commented on #757
@palnes can you take a look at #761 please?

[2018-11-08 19:10] chrisbrake commented on #441
For posterity, I ended up going this way to segment my front and back ends more completely.
http://flask.pocoo.org/docs/1.0/patterns/appdispatch/#combining-applications

[2018-11-08 19:19] dtkav commented on #441
Another approach i would recommend is to use your production web server (e.g. nginx) to serve your static content.

[2018-11-08 20:38] fgsalomon commented on #586
We are facing the same problem with version 2.0.0. We'd like to use multiple security requirements (in our case `x-apikeyInfoFunc`) but when multiple requirements are present all requests are denied.

`secure.py`:

[code]

[2018-11-08 20:45] cziebuhr commented on #586
Can you post your security definition and use-case? I assume you want to have the OR case (which works in 2.0.0). Only the AND case is not supported.

[2018-11-08 20:53] cziebuhr commented on #650
In connexion 2.0 you can set a custom scope validator function. You could e.g. define that `write` also validates `read`.

[2018-11-08 21:19] fgsalomon commented on #586
Actually, we want to have the AND case. We didn't have this issue with connexion 1.1.15 and OAS2, however we'd like to move up to OAS3. Are there any plans to support the AND case?

A sample definition `api.yaml`:
[code]

`app.py`:
[code]

`requirements.txt`:
[code]
Run application and send request:
[code]
Returns:
[code]

Application log:
[code]

[2018-11-08 21:43] cziebuhr commented on #586
I can only speak for myself (not for zalando folks): I started using connexion some month ago and didn't like the way how basic authentication was supposed to be handled. So I changed the whole security flow, which has now ended up in connexion 2.0. The change was even bigger then needed for myself, but I tried to find a generic solution which also works for other users.
I thought about supporting

[2018-11-09 02:00] dtkav commented on #756
Please take a look at #763 when you get a chance!

[2018-11-09 02:17] dtkav commented on #705
Connexion 2.0 has been released (:tada:) so I'm going to close this out. Please re-open if I missed something.

[2018-11-09 02:17] #705 closed

[2018-11-09 05:27] dtkav opened #764 "discussion: operation construction code cleanup trade-offs"
### Description
This is a ticket to compare a couple refactor PRs.
Right now there is iffing and elsing on the spec version within `apis/abstract.py`.
Ideally this coupling should not exist, and should be contained within the `Specification` class / interface.
@cziebuhr and I have been working through some ways to refactor a bit.

### Comparison
@cziebuhr and I worked through a few ideas for doing

[2018-11-09 07:06] #756 closed

[2018-11-09 07:16] #752 closed

[2018-11-09 07:58] #645 closed

[2018-11-09 10:13] RacingTadpole commented on #756
Awesome - thanks!

[2018-11-09 10:15] palnes commented on #757
Cool beans! That works for me. :)

[2018-11-09 14:41] willianscfa commented on #739
Hi @jmcs , here's a complete Trace:

Looks somewhat related to https://github.com/sphinx-doc/sphinx/issues/4490 and its

I think I can get away with editing `util.py` by myself, will try and post the results.

I also think it is a swagger-code-gen issue, if it is a connexion issue, I could try a PR if you guide me through it.

[code]

Thanks a lot for the the lib. :)

[2018-11-09 15:10] uipo78 opened #768 "Documentation/release notes don't say that Connexion supports OpenAPI 3.0"
### Description

Given that [this issue was resolved and released in 2.0](https://github.com/zalando/connexion/issues/420), the documentation/release notes should probably be updated accordingly. Neither seems to mention that Connexion supports OpenAPI 3.0 ([check out the top of the welcome page](https://connexion.readthedocs.io/en/latest/index.html)).

[2018-11-09 15:42] willianscfa commented on #739
Ok, if anyone have the same problem, you can edit util.py in the following way:

Change
[code]
In `util.py` , to

[code]

I used some google-fu and found this [answer in stack overflow](https://stackoverflow.com/questions/49171189/whats-the-correct-way-to-check-if-an-object-is-a-typing-generic)

[2018-11-09 19:21] chiefnoah opened #769 "Serve Swagger Spec in YAML format"
### Description
Currently a JSON representation of the Swagger/OpenAPI spec can be found at /swagger.json. It would be helpful if the YAML format was also available by changing the extension (ie. /swagger.yaml).

### Expected behaviour
The configured swagger spec is returned in YAML format from the /swagger.yaml endpoint.

### Actual behaviour
HTTP/1.0 404 NOT FOUND
Content-Type: application/probl

[2018-11-09 19:42] starhawking opened #770 "Malformed path parameter returns 404 instead of 400"
### Description

The documentation says that `strict_validation` should return a 400, however it appears to be returning a 404 instead

Per the documentation at https://connexion.readthedocs.io/en/latest/request.html#parameter-validation

### Expected behaviour

Connexion returns a 400 Bad Request when a parameter does not match the schema

### Actual behaviour

Connexion returns a 404 Not Found w

[2018-11-09 21:05] dtkav commented on #770
I think what's happening is that the path parameters generate routes for Flask.
The route that's being generated here is something like: `/has-param/<demoId:int>:` and so Flask is unable to match `/has-param/a` to this pattern, and returns a 404.

We could drop all types from Flask routes to ensure that parameters make it through to validation - I'm not sure yet what the full implications of that

[2018-11-09 21:53] dtkav commented on #768
Thanks for the ticket!
I've update the release notes for https://github.com/zalando/connexion/releases/tag/2.0.0
I've also opened a PR (#771) which includes a sweep through the documentation.

[2018-11-10 14:05] samuelgrigolato commented on #407
Just tested this against the `master` branch, with the following swagger definition:

[code]

And the operation function defined as below:

[code]

When I execute the following command:

[code]

It shows me `it works`, when it should be raising an error, if I have understood correctly.

Now talking about fixing this, wouldn't it break backward compatibility with a high potential for trouble with e

[2018-11-11 12:55] BLooperZ commented on #751
Trying to do `pip install connexion[swagger-ui]` gets

[2018-11-12 03:07] rgreinho opened #774 "ReDoc support"
### Description
As a developer I want to be able to use ReDoc to browse my OpenAPI specfication.

### Expected behaviour
Implement a plugin (or similar) to be able to browse to `{base_url}/redoc` to view the specification with ReDoc.

### Actual behaviour
This behaviour does not currently exist.

### Steps to reproduce

I read the issue #719 and the associated PR, but I was not sure how to use thi

[2018-11-12 07:53] #389 closed

[2018-11-12 08:40] #768 closed

[2018-11-12 12:19] herrwagner opened #775 "token info passed as token_info argument to handler function, safe to use?"
### Description
I try to use the basic authentication feature of connexion 2.0. I figure out that currently not only the  sub entry of the token info is passed as user argument to the handler function but also the hole token as token_info argument. Which is great because i need some additional information from the user authentication function passed to the handler function.

Is this intended and j

[2018-11-12 17:22] dtkav commented on #775
@cziebuhr reworked that part, so they would know best. We'll try very hard in general to not break the interface until the next major version bump. The are some minor bugfixes that are still coming in, but everything should be pretty solid after that.

[2018-11-12 18:00] cziebuhr commented on #775
This feature has already been there for oauth2, I just reused the same mechanism for all authentication schemes. So yes, it's intended to be used that way.

[2018-11-12 18:32] dtkav commented on #774
We've removed vendored swagger-ui from connexion and into a separate package that is optionally installed (swagger-ui-bundle).

AFAICT ReDoc falls into a similar bucket. I doubt we'd want to vendor it, so it would probably also make sense for it to live as a separate package, and be installable with pip extras.

[2018-11-12 18:33] dtkav commented on #774
Also, I don't think #719 is related at all - that's targeted at adding/changing middleware, not adding extra routes.

[2018-11-12 18:42] dtkav commented on #769
I've put up a demo of this behavior, can you take a look @chiefnoah ?
Anyone else have thoughts/feedback on this idea?

My basic assumption was that the yaml should be accessible whenever the json spec is accessible, so I did not add any additional flags to enable/disable it separately.

Also, since the user can override the spec path, the yaml is available at the same path as the json, just with

[2018-11-12 18:51] dtkav commented on #752
@fwkz the next release of connexion (2.0.2) will include a proxy `operation` class for backwards compatibility. If you like, you can try it out by installing from a commit on master:
`pip install git+git://github.com/zalando/connexion.git@343643428cf68b9c4bfba21fe3df162170c68b48`

[2018-11-12 23:03] rgreinho commented on #774
Ok, I'll try to reproduce the same thing as swagger-ui.

Can I get an answer to my other question please?

[2018-11-13 01:19] dtkav commented on #774
yeah, look into how I did it with swagger-ui. the HTML is a Jinja template
that gets the spec url passed in

On Mon, Nov 12, 2018, 3:03 PM Rémy Greinhofer <notifications@github.com>
wrote:

[2018-11-13 18:14] fwkz commented on #752
@dtkav Really appreciate the effort. 🤗

[2018-11-14 16:19] mas-dse-juremigi opened #779 "pip install connexion[swagger-ui]: no matches found: connexion[swagger-ui]"
### Description

Trying to follow tutorial listed here: https://medium.com/@ssola/building-microservices-with-python-part-3-a556a4c4bc00

Unable to install swagger-ui pip extra

### Expected behaviour

Installation should have installed swagger-ui

### Actual behaviour

`no matches found: connexion[swagger-ui]`

### Steps to reproduce

`pip install connexion[swagger-ui]:`

### Additional info:

Ou

[2018-11-14 23:53] dtkav commented on #779
Hey @mas-dse-juremigi

I wasn't able to reproduce the bug. A few questions for you:
1. Are you able to install pip extras in general?
2. Do you get the same error from `pip install connexion[tests]`?
3. What's the output of `pip --version`?

Here is what I tried:
[code]

[2018-11-15 03:13] dtkav commented on #779
You can also just install `swagger-ui-bundle` to get unblocked.
Still, it's worth figuring out why the stated way in the docs didn't work for you.

[2018-11-15 03:14] dtkav commented on #775
Hey @herrwagner - I'm going to close out this ticket.
Hopefully you have what you need, otherwise please feel free to re-open it!

[2018-11-15 03:14] #775 closed

[2018-11-15 04:40] dtkav commented on #764
FYI I think #730 was closed automatically because the dev-2.0 branch was deleted.
Either way - @jmcs can you review #726 ? I think it's worth getting at least that bit of cleanup in.

[2018-11-15 04:43] dtkav commented on #739
@willianscfa Is that change backward compatible with python 2.7 / 3.5 / 3.6?

[2018-11-15 05:02] willianscfa commented on #739
Unfortunately not @dtka. In python < 3.7 it worked just fine using ```__extra__```. This error appeared for me after I had to upgrade to python 3.7 while maintaining code generated using swagger-code-gen because of a generic type serialization issue. See https://github.com/python/typing/issues/511.

This is a breaking change within the typing module itself. However, the commit associated with the

[2018-11-15 05:18] dtkav commented on #739
ok awesome. I'll close the issue against connexion for now then.
Thanks for the detailed explanation!

[2018-11-15 05:18] #739 closed

[2018-11-15 09:49] palnes opened #780 "Request for patch/minor release"
Hate to be "that guy" and use a perfectly fine issue tracker for such a request, but I was wondering when to expect the next patch/minor release. There are a few fixes in master that are really necessary for me to carry on upgrading to 2.x, and I'm not able to get a pointer to Github in `requirements.txt` through our Peer Review. :)

Keep up the great work!

That Guy - The Music Video:
https://www

[2018-11-15 13:40] Jyhess opened #781 "free form objects not handled correctly"
### Description

Connexion filter out all values of [free form object](https://swagger.io/docs/specification/data-models/data-types/#free-form).

swagger/swagger.yaml
[code]
controller.py
[code]

main.py
[code]

### Expected behaviour

When I call ```curl http://localhost:8080/v1/json_body -d '{"foo": "bar"}' -H "Content-Type: application/json"```
_{"foo": "bar"}_ is displayed in logs.

### Actual

[2018-11-15 15:54] lucas03 opened #782 "price amount in API request and response"
### Description

How are you representing price amount in your APIs? I think most popular choices are strings and number. But for connexion, `type: number, format: decimal` is not supported yet I believe. What is the best practice for this?

In case of number, I guess there could be added some converter to convert number to decimal right after validation? What about returning price objects? Would

[2018-11-15 22:39] cabhishek opened #783 "Swagger UI console URL issue with 2.0.2 release"
### Description

I am unable to access swagger UI under the default path `{base_path}/ui/` with the latest `2.0.2` release. Reverting back to `1.5.3` shows the console as exepected.

Is this an exepected behavior? Has the swagger console location changed?

### Expected behaviour
Swagger console

### Actual behaviour
[code]

### Steps to reproduce
Upgrade connexion to `2.0.2` and access swagger UI

[2018-11-15 22:48] cabhishek commented on #783
Looks like its optional since `2.0.0`

`Swagger UI is now optional, and can be installed with pip install connexion[swagger-ui]`

[2018-11-15 22:48] #783 closed

[2018-11-16 05:29] trickidicki opened #784 "How to debug Automatic Routing with RestyResolver?"
I'm struggling to use automatic routing with RustyResolver.

I have two endpoints:

[code]

I have the code implemented in `api/members.py`:

[code]

The call to `/members` works fine, the call to `/members/1` doesn't get routed and generates a 404.

Any suggestions?

[2018-11-16 08:21] tobuh opened #785 "OpenAPI: 'required' not working on 'allOf' related properties"
### Description

Using 'required' on properties from objects referenced by 'allOf' leads to error "connexion.exceptions.InvalidSpecification"

### Expected behaviour

Using 'required' should not throw an error for properties from 'allOf'

### Actual behaviour

Error thrown:

[code]

### Steps to reproduce

#### restapitest.yaml

[code]

#### test.py

[code]

### Additional info:

Output of the com

[2018-11-16 08:52] lioman commented on #779
We discovered a similar problem on Windows 10. On my dev mac the `connexion['swagger=ui']` worked as expected.

[2018-11-16 09:08] dtkav commented on #785
Can you please file this against openapi-spec-validator? I'm happy to look
into it over there.

On Fri, Nov 16, 2018, 7:21 PM tobuh <notifications@github.com> wrote:

[2018-11-16 09:41] tobuh commented on #785
Ok, it seems that the syntax was not as expected. Now I'm using:

[code]

The error is gone. But editor.swagger.io accepted the former definition as well ... which was a bit misleading ...

Now my project is starting. Thank again for pointing me in the right direction ...

[2018-11-16 11:12] aeroaks commented on #405
Hi @rafaelcaricio,
Is there any update on supporting multiple return types?

[2018-11-16 11:35] szborows opened #786 "Aiohttp StreamResponse responses don't work"
### Description
Aiohttp StreamResponse responses don't work with Connexion.
`AttributeError: 'StreamResponse' object has no attribute 'body'`

### Expected behaviour
You can use streaming responses.

### Actual behaviour
It crashes with an exception.
[code]

### Steps to reproduce
[code]

### Additional info:

Output of the commands:

- `python --version`
Python 3.7.1

- `pip show connexion | grep

[2018-11-18 06:11] chiefnoah commented on #769
@dtkav looks good to me. I agree, it serves the exact same purpose as the swagger.json, so I don't see a reason for it to be configured independent of it.  It looks good to me and behaves as expected, thanks! 😄

[2018-11-19 04:40] trickidicki commented on #784
I have found the cause of the problem - the YAML specifies

[code]
This then registered a route expecting a float, not an int.

So `/api/member/1.0` works but `/api/member/1` doesn't.

Note this is using `connexion.FlaskApp()`

[2018-11-19 20:51] dutradda opened #788 "Pass headers parameters as keyword arguments to handler function"
### Description

For now there's no way to get the headers parameters from aiohttp. We need to do a custom middleware or use the [aiohttp-request](https://pypi.org/project/aiohttp-request/) to get the headers. But in flask we have the global request variable.

My proposal is to pass headers parameters as keyword arguments to handler function on `parameter_to_arg` decorator [function](https://githu

[2018-11-19 21:41] dtkav commented on #788
I'd personally want the interface to work the same with Flask and aiohttp.

I don't yet have a strong enough understanding of the aiohttp internals to offer an informed opinion on how to do this, but unless we do a major revision bump (to change the interface) I'd probably lean towards trying to bring a `request`-like object into scope for the aiohttp handler.

[2018-11-19 21:42] dtkav commented on #785
sure thing @tobuh
I'm going to close this out for now. Thanks for linking the relevant ticket on that project.

[2018-11-19 21:42] #785 closed

[2018-11-19 21:46] dtkav commented on #782
Hey @lucas03 - are you referring to this example in the cookbook docs?
https://github.com/zalando/connexion/blob/master/docs/cookbook.rst#custom-type-format

[2018-11-19 21:48] dtkav commented on #781
Thanks for the ticket @Jyhess - I'll try to take a look at the end of the week.

[2018-11-19 21:59] lucas03 commented on #782
I forgot I've read that in the past, thanks :)

more or less I was wondering if you use string or float or custom type for money. I found a few related articles:

[code]

thanks for linking me document, I'll resolve this issue now.

[2018-11-19 21:59] #782 closed

[2018-11-19 22:06] dutradda commented on #788
I was thinking about doing this change for flask and aiohttp

[2018-11-20 10:43] dtkav commented on #782
Thanks for reporting back! Glad you were able to find a good solution, and
thanks for posting all that content for the next person to read up on.

On Tue, Nov 20, 2018, 8:59 AM Lukas Vojt <notifications@github.com> wrote:

[2018-11-21 10:07] osma commented on #406
I hit this problem too and had to add not only `connexion[swagger-ui]` as a dependency but also `swagger_ui_bundle`. Is this intended? Should adding a dependency for `swagger_ui_bundle` be mentioned in the release notes?

[2018-11-21 11:08] dtkav commented on #406
Hey Osma,

What version of pip are you using?
all connexion[swagger-ui] does is also installs swagger-ui-bundle.
I've seen different versions of pip have trouble with special characters
like hyphens before though.

On Wed, Nov 21, 2018, 9:07 PM Osma Suominen <notifications@github.com>
wrote:

[2018-11-21 11:38] osma commented on #406
@dtkav Thanks for the quick response!
I'm currently trying to package my application Annif into PyPI. First I'm releasing [test builds on TestPyPI](https://test.pypi.org/project/annif/). While doing that, I noticed the problem with Connexion 2.0 not including swagger-ui by default. So first I added connexion[swagger-ui] as a dependency in annif 0.36.3 (see [diff](https://github.com/NatLibFi/Annif/

[2018-11-21 11:44] dtkav commented on #406
yeah, just as I feared. looks like pip is the culprit.
its late for me right now, but I'll try to take a look tomorrow or the next
day. I think we'll just need to add another pip extra to the package with
an underscore :/.

On Wed, Nov 21, 2018, 10:39 PM Osma Suominen <notifications@github.com>
wrote:

[2018-11-21 11:45] osma commented on #406
Thanks @dtkav for looking into this, no hurry from my side!

[2018-11-21 11:57] osma commented on #406
Here's [another](https://github.com/zalando/connexion/issues/751#issuecomment-437667978) similar report, though in that case the pip error message shows `swagger-ui` with a dash, not an underscore.

[2018-11-22 14:20] Guru67724 opened #791 "Connexion 2.0 - Cookie Authentication Support"
Hi All,

I have just started to use Connexion 2.0. I am looking for security mechanisms. Meanwhile i went through OpenApi 3 docs where i found 'Cookie Authentication'.
https://swagger.io/docs/specification/authentication/cookie-authentication/

Can you please let me know whether cookie auth support was included in the current connexion release or not. Bcos i get '**No Authorization token found'**

[2018-11-22 16:41] pawel-slowik commented on #779
The `no matches found` message probably originates from the Zsh shell. Here's the full message on my system (note the zsh: at the beginning):
[code]
This is caused by Zsh filename generation, see `man zshexpn`:
[code]
Basically, Zsh is trying to expand the "pattern" into filenames like `connexions`, `connexionw`, `connexiona` etc. Other shells (i.e. bash) either don't have that kind of expansion o

[2018-11-22 18:10] hjacobs commented on #779
Looks like `zsh`:

[code]

[2018-11-22 18:10] #779 closed

[2018-11-23 07:34] #786 closed

[2018-11-23 09:56] zimmicz commented on #718
Works like charm with v2.0.

[2018-11-23 13:30] vanoise opened #792 "Provide my swagger-ui distribution"
### Description
I installed the latest version of swagger-ui-dist with npm.
As explained in the documentation, I have specified the following option:

[code]

The documentation also says that I should put a `index.j2` in a directory
named `swagger_ui`. I have created this directory inside the directory
containing my python files and my swagger yaml interface description
file but I am still having

[2018-11-23 17:19] dirkschneemann commented on #357
Just for reference, for simple use cases you can simply add the required headers yourself to all responses. There is two ways to achieve this.

Using a custom middleware:
[code]

Using [Flask's after_request hook](http://flask.pocoo.org/docs/1.0/api/#flask.Flask.after_request):
[code]
While the `Flask` hook approach is a bit shorter, the WSGI middleware will keep working even when switching to a d

[2018-11-23 17:55] dirkschneemann opened #793 "Response validation kicks in before Flask's `after_request` hook or WSGI middlewares that modify the response"
### Description
Adding `validate_responses=True` to the `app.add_api()` method when initializing my application will validate all returned responses against the response models from my OpenAPI specification.

However, if I use either a custom WSGI middleware or Flask's [after_request hook](flask.pocoo.org/docs/1.0/api/#flask.Flask.after_request) to modify the response object before it gets returne

[2018-11-24 19:07] panpann opened #795 "question: what formatter do you use on connexion ?"
### Description
I want to contribute to your project and I'm generally using [black](https://github.com/ambv/black) to format python code. I'm seeing that it tries to reformat a lot of code in the repo.

So do you have a preferred formatter or can I use black ?

[2018-11-25 07:44] reece opened #796 "connexion run --stub raises exception when module doesn't exist"
### Description
Running connexion with stubs using the helloworld demo raises
`ModuleNotFoundError: No module named 'hello'`

Secondary and tertiary exceptions are also raised why handling the above exception:

[code]

### Expected behaviour
My understanding is that `--stub` is supposed to add dummy functions to any unimplemented methods. In this case, no methods (and no module) is implemented at

[2018-11-25 11:16] panpann commented on #795
ok I didn't see the flake8 linting step in the tox config, I'm closing this issue

[2018-11-25 11:16] #795 closed

[2018-11-26 13:25] dirkschneemann opened #797 "Exception responses are not validated"
### Description
When activating `validate_responses=True` on initialization of the app in `app.add_api()`, responses that are generated from raising an exception are not validated against their according models in the specification file.

### Expected behaviour
When the implementation raises an error which generates a response that does not match the model then the response validation should fail,

[2018-11-27 11:02] Guru67724 commented on #681
Hi @dtkav ,

How can i use this now to validate my yaml files.?
Because i got stuck up in this error.

json.loads(urlopen(uri).read().decode("utf-8"))

when it tries to work with yaml files. Any config option available to make it to work with yaml.
When i tried
yaml.load(urlopen(uri).read().decode("utf-8"))

it worked fine for me.

Please let me know how can i proceed.

Thanks
GuruPrasad

[2018-11-27 16:32] dirkschneemann commented on #546
I had a good experience using the `WebTest` library in the past (`pip install webtest`): https://docs.pylonsproject.org/projects/webtest/en/latest/
It will test your application on [WSGI level](https://en.wikipedia.org/wiki/Web_Server_Gateway_Interface) which has some benefits:
* It is independent of the underlying implementation framework - your tests will work now with `connexion/Flask` and keep

[2018-11-27 17:14] cziebuhr commented on #579
It's because you also have to specify `type: object`. Otherwise `properties` will just be ignored if the body is not an object.

[2018-11-27 17:34] cziebuhr opened #799 "Body parameter in openapi 3"
### Description
If the body schema specifies `type: object`, `operations.openapi._get_body_argument` deletes all arguments not specified in `properties`. What's the reason for tampering the body parameter, even if it is actually valid? It doesn't happen for swagger 2, nor for other datatypes or when `properties` is used without `type: object`.

### Expected behaviour
Seeing output `{'bar': 123, 'b

[2018-11-28 08:03] dtkav commented on #799
duplicate of #781
should be addressed in #789

[2018-11-28 08:06] dtkav commented on #781
potential fix: #789

[2018-11-28 08:14] dtkav commented on #799
Closing as duplicate of #781 - thanks for the detailed ticket.
This was simply due to misreading the spec on my part. Sorry about that.

[2018-11-28 08:14] #799 closed

[2018-11-28 09:35] dtkav commented on #796
Thanks for the ticket @reece - please have a look at #800 and see if that fixes your issue.

That stack trace was a bit convoluted - the first two exceptions were expected, and the actual error was in the last exception.

[2018-11-28 09:57] dtkav commented on #792
Hey @vanoise - did you find the [swagger-ui-console](https://github.com/zalando/connexion/blob/master/README.rst#the-swagger-ui-console) section in the readme?

You can also have a look at:
https://github.com/dtkav/swagger_ui_bundle/blob/master/swagger_ui_bundle/vendor/swagger-ui-3.17.1/index.j2#L44:L45
The important part is really just passing the default `openapi_spec_url`.
If you don't care abo

[2018-11-28 10:00] dtkav commented on #791
hey @Guru67724  - cookie auth is not yet supported, but have a look at #794 .
I'm not sure about your final question, maybe @krise3k has some thoughts?

[2018-11-28 10:04] dtkav commented on #788
Ok that seems reasonable to me.
You'll probably only want to add it if `headers` already exists in `args` or `has_kwargs` is true so that it is backwards compatible.
@jmcs anything to add?

[2018-11-28 10:07] dtkav commented on #797
Hi @dirkschneemann - thanks for the ticket.
Response validation is a bit of a mess at the moment for several reasons (for example it only really works with pure json apis).
AFAICT response validation happens too early, but I haven't been able to dig into where all the exception handling happens completely yet.

[2018-11-28 10:30] #796 closed

[2018-11-28 10:54] #737 closed

[2018-11-28 14:32] Guru67724 commented on #791
Hi @dtkav - Thank you very much. Yes #794 is what i was looking for. Hope it helps.

And for the other query, just curious to know what is the reference to the word 'sub' used there. Nothing else.

[2018-11-28 15:01] RonKalian opened #801 "Array of string parameter not passed correctly to server"
### Description
Using connexion 2.0.2 and openapi 3.0 YAML file, array of string parameters not passed correctly.

### Expected behaviour
When running auto-generated browser UI, the browser shows type 'array\[string\] (query)' and prompts user to add array items one by one.  If user does that, it is expected a `list of str` would be passed to the server processing method (defined by operationId in

[2018-11-28 16:21] krise3k commented on #791
@Guru67724 its from oauth  token introspection RFC https://tools.ietf.org/html/rfc7662#section-2.2

[2018-11-28 17:56] reece commented on #796
@dtkav I confirmed that #800 (f6dfeef) fixes the exception and that the swagger ui rendering works. Thanks for the quick fix!

[2018-11-28 21:17] dtkav commented on #577
It sounds like this is a bug with swagger-codegen. Please re-open if that's not the case!

[2018-11-28 21:17] #577 closed

[2018-11-28 22:59] dtkav commented on #769
Another way to do this would be to just store your spec in a static files folder
You can do this in flask (but I'd recommend doing it with nginx or similar).
[code]
I think it's important to at least serve json, as most web clients aren't set up to parse yaml.

I'm not sure if serving yaml is generally desired, or if it's specific to your use case.
While I put up a demo of the implementation, I pe

[2018-11-28 23:09] dtkav commented on #801
Hey @RonKalian for next time It's really helpful if you can post a fully working yaml spec.

Can you post the curl command that swagger-ui is outputting?

[2018-11-29 04:47] jdart1 opened #802 ""path" format option does not work for path & quote parameters if followed by another param"
### Description
Path and quote parameters specified with "format=path" work ok if they are the last parameter. This allows parameters that have embedded quoted slashes. But if another parameter follows them without format=path, it appears the parser is "greedy" and will read the whole path and assign it to the parameter that has format=path.

This looks similar to issue #449 but unlike that is not

[2018-11-29 09:34] felixerdy commented on #779
`pip install "connexion[swagger-ui]"` worked for me

[2018-11-29 09:41] RonKalian commented on #801
Hi @dtkav,
thank you for your response.  The curl when swagger-ui is used to enter 3 separate array elements is:

`curl -X POST "http://127.0.0.1:5000/end_point?inParam=first&inParam=second&inParam=third" -H "accept: application/json"`

I think that's possibly the root of the problem.  If it is:

`curl -X POST "http://127.0.0.1:5000/end_point?inParam=first%2Csecond%2Cthird" -H "accept: application

[2018-11-29 11:05] Guru67724 commented on #791
@krise3k . Thank you very much. So it is just a standard format representing the subject of the cookie/token.

[2018-11-30 08:15] lumikanta commented on #594
Can be achieved by tweaking decorators/validation.py, class RequestBodyValidator
- joined jsonschema exception path elements to message

original code
[code]

modified code
[code]

[2018-11-30 10:53] RonKalian commented on #801
Hi @dtkav , thank you for your help.  I can confirm

fixes the issue.

[2018-11-30 13:37] BobDG opened #804 "OneOf does not work for parameters inside a schema"
### Description
When I use oneOf inside a schema to describe that a property can be either an integer or a string, the validation does not fail but when I actually call that method in Swagger, with either an integer or a string, I get an error saying: "Body property 'property_name' not defined in body schema:

### Expected behaviour
It should send the property correctly to my api method

### Actua

[2018-11-30 22:17] magnuspaaske opened #805 "Connexion 2.1.0 doesn't parse the request body using the right content types when more types are present"
### Description
I updated Connexion to version 2.0.2 but none of my routes got any parameters sent. I got the expected behaviour when I accessed the routes with missing params (ie, error), but the params didn't get sent to the controller functions (no params were sent).

### Expected behaviour
I expected that the the parameters would be sent to the controller function like before. Instead no argum

[2018-11-30 23:33] dtkav commented on #805
please attach a spec so I can reproduce the problem, otherwise it is impossible to help you.

[2018-12-01 19:42] dtkav commented on #804
Closing as duplicate of #691

[2018-12-01 19:42] #804 closed

[2018-12-01 19:44] dtkav commented on #691
@cziebuhr it sounds like you are working on this based on your comment in https://github.com/zalando/connexion/pull/789#issuecomment-442370836 (awesome)

Want me to assign this ticket it to you?

[2018-12-01 20:54] wittlesouth opened #806 "Upgrade from 1.5.3 -> 2.0.2 breaks Flask-JWT-Extended"
### Description

I've been using Connexion 1.X with Flask-JWT-Extended for multiple years without issue. I recently started a new project, and decided to start with Connexion 2.0.2. Unfortunately, it appears that Connexion 2.0.2 breaks Flask-JWT-Extended. Every unit test I have that tests against a protected endpoint fails with 2.0.2, but works with 1.5.3 and below.

### Expected behaviour

Flask-

[2018-12-02 09:10] BobDG commented on #804
@dtkav Just checking, I saw the other issue before I posted mine but that one is specifically about nested schemas where the final oneOf is nested within another schema. My issue is less complex and simply about a parameter type, no nesting involved.

But if you're certain the bug of that issue also causes my issue , then closing it is logically of course :)

[2018-12-02 12:22] lucas03 opened #807 "Passing access_log_class option to aiohttp"
### Description

I wanna pass custom formatting to access logs. I could not find an option to do that.

gunicorn config:
[code]

app.py:
[code]

custom [access log class](https://docs.aiohttp.org/en/stable/logging.html):
[code]

running server -> `gunicorn kw.score_machine.app --config=.misc/gunicorn_config.py`. FYI: There is related issue to `access_log_class` in [aiohttp](https://github.com/aio-

[2018-12-03 12:24] sscherfke opened #808 "No sdist available for current release"
For the current 2.0.2 release, there is no source distribution (sdist) available.

Is this on purpose or has this just been forgotten?

Sdists are needed for redistributing connexion, e.g., via Conda, apt or dnf.

[2018-12-03 17:05] coreyjrobins opened #811 "No validation for path and query parameters with schemas"
### Description
There doesn't seem to be any validation occurring for path or query parameters -- the schema does not get validated. I traced this through, and it looks like the schema actually gets overlooked in jsonschema/validators.py (so this may be an issue for jsonschema), because there is no validator for key "schema" in Draft4Validator, and therefore the entire schema is not validated.

I

[2018-12-05 08:42] aweller opened #812 "additionalProperties doesn't work in exploded form query parameters"
### Description

I am trying to accept dynamic parameters, i.e. parameters that are defined by the user and not known to me in advance of the request.

I was following this Stackoverflow example: https://stackoverflow.com/questions/49582559/how-to-document-dynamic-query-parameter-names-in-openapi-swagger

and wrote my yaml as

[code]

### Expected behaviour

A GET to `/nodes?foo=bar` should return

[2018-12-06 00:56] trickidicki commented on #692
I have a use-case which is not currently working (Connexion v 2.0.2)

I am deploying an AWS service with multiple defined 'stages' - dev, test, prod. The URL for the service is:
`https://<random>.<region>.amazonaws.com/dev/index.html`

If I set basePath to `/dev/api/v1.0` then Connexion tries to serve the spec at:

`https://<random>.execute-api.<region>.amazonaws.com/dev/dev/api/v1.0/openapi.json`

[2018-12-06 14:35] Jyhess commented on #781
I confirm this PR fix this issue.

[2018-12-06 14:38] cziebuhr commented on #691
Seems to be a duplicate of #781. Please have a look at https://github.com/zalando/connexion/pull/789#issuecomment-442370836. This is another reason why I don't think that #789 will fix the issue for #781.

[2018-12-07 03:59] blazerguns opened #814 "How do I use connexion with flask limiter?"
### Description
I am trying to get flask limiter working with connexion. I am not sure how to get it working? Earlier when I used flask directly I had the following

[code]
Since connexion made me move the routes handler to separate module like server.api.doScan, I am not sure how to get this working.
[code]
and in my server.api file
[code]
This does not work as the attribute of limiter is not fou

[2018-12-10 00:13] dtkav commented on #812
hey @aweller , thanks for making this issue.
#789 added support for additionalProperties in the requestBody. If you want to take a crack at a PR, that would be a great place to start.
#781 is the related ticket for requestBody.

[2018-12-10 00:14] dtkav commented on #781
Closing this ticket, as the fix has been merged and will be part of the next release.
Thanks @Jyhess for filing the issue, and @krise3k for the fix!

[2018-12-10 00:14] #781 closed

[2018-12-10 00:17] dtkav commented on #805
potentially related to #812

[2018-12-10 20:43] dtkav commented on #691
I don't think they are duplicates.

#781 is about supporting additionalProperties, this ticket is about supporting `oneOf`. The author of that ticket has already confirmed that #789 fixed their issued.

AFAICT In order to support `oneOf` we need to implement logic based on the `discriminator` field, which you mentioned that you were working on.

[2018-12-10 20:49] cziebuhr commented on #691
IMHO `oneOf` should work out of the box (without `discriminator`). The only reason it doesn't work is extra logic in the `_get_body_argument` function which I still try to understand. Can you bring some light into the dark why the function is totally different to swagger 2? Swagger 2 directly passes the `body` arg to the handler function, so 'free form' data should always works.

[2018-12-10 22:21] blazerguns commented on #814
I got this working, not sure if it is recommended method. I did this in def main():
[code]
And in api.py
[code]
Not sure if this is best way but it works. If you want I can close this PR.

[2018-12-10 22:43] dtkav commented on #806
Hey @wittlesouth - I'm not super familiar with the auth parts in Connexion 2.0, but @krise3k may be able to help.
I think your issue might be from applying the decorator to the handler function, which would apply auth much too late (after the entire connexion layer).
There are docs on how to set your auth function here : https://github.com/zalando/connexion/blob/master/docs/security.rst
Hope that

[2018-12-11 02:39] dtkav commented on #814
thanks for reporting back! I'm glad you figured it out.

[2018-12-11 02:39] #814 closed

[2018-12-11 07:50] #699 closed

[2018-12-11 08:13] #801 closed

[2018-12-11 08:30] jmcs commented on #808
`2.1.0` has a [source distribution](https://files.pythonhosted.org/packages/c1/fb/27f6183af251b9ca1075bbc1d8cf451e69838492805493547e8e6c9e9095/connexion-2.1.0.tar.gz). I don't know what went wrong with the `2.0.2` release, sorry.

[2018-12-11 08:30] #808 closed

[2018-12-11 17:43] coltenkrauter opened #819 "Unable to get swagger-ui with localhost:8080/ui when using RestyResolver"
### Description
When I am using the RestyResolver, it seems to overwrite the {basepath}/ui endpoint which loads the swagger-ui.

### Expected behaviour
[code]
*localhost:8080/ui* does not work, though I expected it to

### Actual behaviour
[code]
*localhost:8080/ui* does work

### Steps to reproduce
Build a simple flask app and try using RestyResolver per [documentation](https://github.com/zalando

[2018-12-12 07:03] ctippur commented on #806
Facing the same issue.

[2018-12-12 10:18] tomghyselinck commented on #548
Hi,

I have seen a similar issue with the OpenAPI v3.0 spec.

Please see my issue post [Missing required argument on PUT, POST, PATCH](https://github.com/OpenAPITools/openapi-generator/issues/1666) in [openapi-generator](https://github.com/OpenAPITools/openapi-generator).

[2018-12-12 12:45] dtkav commented on #548
I think #815 might be related.

[2018-12-12 19:17] bhechinger opened #820 "Need variable to alter spec path in Swagger UI Explore bar"
I'm deploying an API written in Swagger (OAS3) behind AWS API Gateway. I can't import it into API Gateway because it seems as if they still only support 2.0.

That's fine. I don't mind that so much, but the problem is it messes with my Swagger UI. API Gateway puts the stage name in the URL but the swagger/connexion app isn't able to "see" this. As a result the Explore bar has the wrong path to the

[2018-12-13 08:35] tomghyselinck commented on #548
@dtkav : When I look in the connexion code, I think it is more related to the missing `x-body-name` in the schema.

But where can I find proper documentation for this `x-body-name` directive?

[2018-12-13 09:08] tomghyselinck commented on #548
See also #579 which is related.

[2018-12-13 09:09] tomghyselinck commented on #579
See also [#1666](https://github.com/OpenAPITools/openapi-generator/issues/1666) on [openapi-generator](https://github.com/OpenAPITools/openapi-generator)

[2018-12-13 09:18] cziebuhr commented on #548
`x-body-name` is for openapi 3 and defaults to `body`. This is swagger 2.
I also want to see a full example, because IMHO due to nature of http, one can't distinguish between an empty body and an "not specified" body.

[2018-12-13 10:10] tomghyselinck commented on #548
@cziebuhr See my [earlier post](https://github.com/zalando/connexion/issues/548#issuecomment-446535545) for a a link to a full example (for OpenAPI 3.x): [#1666 - Missing required argument on PUT, POST, PATCH](https://github.com/OpenAPITools/openapi-generator/issues/1666)

[2018-12-14 06:21] kenneho commented on #407
Sorry for the delayed response.

Your understanding of the issue, at least the issue as I see it, is correct. Enforcing this change now might break a lot of clients, but maybe one could implement enforcing this validation as an optional setting?

Coming to think of it, I'd like like Connexion to also to validate the client's "Accept" header, so that Connexion throws an error if the client asks to

[2018-12-15 07:13] magnuspaaske commented on #805
Okay, I had more of a look at it. Here's the relevant code:

Init connexion
[code]

Swagger file:
[code]

It seems no parameters get sent to the login function and it doesn't actually provide an error if parameters are missing.

[2018-12-15 07:54] dtkav commented on #805
Thanks for reporting back! That's really useful information for a branch I'm working on for adding validation/de-serialization per content-type. (#760)
I hadn't considered the case of `*/*`. Do you mind updating the title to '*/* requestBody content type not handled' or something similar?

[2018-12-15 09:56] magnuspaaske commented on #805
A couple more things for this:

[code]

Adding multiple content types gives all kinds of problems. When I tried this it'll say `this operation accepts multiple content types, using application/json` in the log and produce an error for JSON and not pass params with form encoding (where it'll also say the same).

For now I can solve this by just using JSON everywhere, but it seems it doesn't see the

[2018-12-15 11:05] dtkav commented on #811
Hey @coreyjrobins thanks for filing this issue.
I was able to reproduce it locally, and I've put up a PR to fix it.
Please have a look at #821 and let me know if it fixes it for you as well.

[2018-12-15 11:52] dtkav commented on #812
I looked at that stackoverflow post in detail, and this looks like a bit of a nightmare to implement in connexion.

Right now we loop through the list of query parameters, and for each one we look for a schema and try to cast it to the right type based on the matching schema.

The main thing I can't figure out with this feature is that it's possible to have multiple parameter schemas that accept f

[2018-12-16 11:21] pando85 opened #822 "[aiohttp] Unsupported http authorization scheme bearer"
### Description
`Unsupported http authorization scheme bearer` when using `AioHttpApp`

### Expected behaviour
Not error message.

### Actual behaviour
Error `Unsupported http authorization scheme bearer`

### Steps to reproduce
Define jwt in openapi scheme.
[code]

### Additional info:

Output of the commands:

- `python --version`

[code]
- `pip show connexion | grep "^Version\:"`

[code]

[2018-12-16 13:41] pando85 commented on #822
Ok, I update to 2.1.0 and now it works, sorry for this.

[2018-12-16 13:41] #822 closed

[2018-12-16 16:06] wittlesouth commented on #806
@dtkav - Maybe I wasn't clear what I'm trying to do. I don't want to use any part of the Connexion 2.0 authorization right now; I have already implemented authorization using the flask-JWT-extended package. My authorization works fine with Connexion 1.5.3, and fails with 2.0.2. Therefore, I'm pretty sure that there is a conflict between the two packages. It hasn't irritated me enough yet to figure

[2018-12-16 21:21] dtkav commented on #806
hey @wittlesouth - I understand what you're trying to do. Sorry that it's frustrating.
One thing to note is that applying a security decorator to the handler function is fundamentally insecure.

In addition, Connexion uses semantic versioning, so 2.0.x is a major revision bump, and includes some backwards-incompatible changes. You can always pin connexion to 1.5.3.

If you still want to upgrade to

[2018-12-16 21:35] dtkav commented on #805
Supporting multiple content types is a known issue, and is not new to connexion 2 ( #655 ).
AFAICT the original developers were targeting json-only APIs.
Please take a look at #760 if you have a chance - I need feedback on that PR as it should fix a lot of issues like this, but is potentially a breaking change.

[2018-12-16 21:38] dtkav commented on #807
@dutradda do you know how to do this?

[2018-12-17 02:40] wittlesouth commented on #806
One more update. I went and read through the 2.0 security doc quickly, and checked out the sample app even more quickly. I would guess based on that quick read-through, the "unsupported security requirements are defined" statement is likely to refer to the API specification. I frankly forgot that my API specification does include some attempt to define the security approach for the API. As far as

[2018-12-17 06:18] dtkav commented on #806
The purpose of connexion is to automatically do authentication, validation, serialization/de-serialization based on this specification. The idea is that the spec defines the interface (which connection handles), and then you define the business logic in the handler function.
In connexion 1.5.3, the only supported method of auth was oauth2 (IIRC). It would pass through any other auth methods (witho

[2018-12-17 06:19] dtkav commented on #806
@krise3k please jump in if you have some ideas for how to implement cookies for JWT and/or passing multiple tokens, or if you have any other ideas on how to help @wittlesouth

[2018-12-17 06:40] dtkav commented on #254
Another tool for resolving local references : https://github.com/wework/speccy

[2018-12-17 06:43] dtkav commented on #254
I am starting to think that this behavior is best left to a tool outside of connexion (like wework/speccy).
Otherwise we have to sort out the problems in #798 related to serving up all of the references, and making sure they are accessible to swagger-ui.
Thoughts?

[2018-12-17 06:44] dtkav commented on #461
I'm going to close this as a duplicate of #254

[2018-12-17 06:44] #461 closed

[2018-12-17 06:50] dtkav commented on #407
I believe this is partially fixed in connexion 2.0. Has anyone had a chance to try it?

I'm also working on redoing validation of content types completely. I have a demo going at #760 . If you want to take a look and let me know what you think, that would be awesome.

As far as validating the `Accept` header, I can look into that, but I'm not sure if that would be standards-unfriendly. If anyone h

[2018-12-17 06:54] dtkav commented on #607
JWT auth was introduced with #732 and is available in connexion 2.0.x

[2018-12-17 06:54] #607 closed

[2018-12-17 07:02] dtkav commented on #806
@cziebuhr do you have any thoughts / ideas on supporting JWT refresh tokens and cookies?

[2018-12-17 08:32] cziebuhr commented on #764
Interested yes, but I currently don't find time to do it.

[2018-12-17 08:40] cziebuhr commented on #806
Do you have `security` defined in your swagger.spec? If you remove that, connexion won't do any authentication/authorization and you should be able to use your own decorators.

[2018-12-17 10:03] magnuspaaske commented on #805
Okay – I can see how your PR could break existing apps if that PR is implemented, so perhaps it makes sense to make a new flag that the content type header should be used? Otherwise it looks good.

As far as I can see the main thing is that most clients may treat json- or form-encoding as substituting each other. For instance when testing an API it's typically easier to use form encoding in Postma

[2018-12-17 13:13] Jyhess opened #824 "Failed to get Authorization header when passed in lower case"
### Description
If I setup an application with aiohttp using tests/fixtures/aiohttp/openapi_secure.yaml
I receive a 401 Unauthorized when I use authorization in lower case:
`curl -H "authorization Bearer 100" localhost:8080/v1.0/greeting/jsantos`

### Expected behaviour
authorization header is usable in lower case

### Actual behaviour
Only Authorization header is usable with first letter in capit

[2018-12-17 15:08] Intey commented on #441
@hmajid2301, Thanks!
I also need to fix issue with Werkzeug: `attempt implicit sequence conversion but the response object is in direct passthrough mode`:

[code]
In schema I use:
[code]
Use openapi 3.0.0, connexion==2.0.2, Werkeug==0.14.1.

[2018-12-17 18:48] bhechinger commented on #820
I'll copy the comments here, I accidentally put them on the PR (although that's not necessarily wrong)

That fixes the Explore bar nicely so the spec is loaded into the UI Console.

That also sets the link to the spec file correctly.

The Try it out section still has the wrong URL, however.

[2018-12-17 21:22] pando85 commented on #807
I found in [code](https://github.com/zalando/connexion/blob/master/connexion/apps/aiohttp_app.py#L71) that you can do this doing:
[code]

[2018-12-17 21:38] dtkav commented on #124
Closing this because connexion 2.0 has support for the auth methods in the openapi3 spec, with pluggable auth/scope handler functions. Awesome work by @cziebuhr and @krise3k !

[2018-12-17 21:38] #124 closed

[2018-12-17 21:40] lucas03 commented on #807
I saw this, but I am not running app, gunicorn is AFAIK. But I guess I did not dig deep enough here.

[2018-12-17 22:36] dtkav commented on #341
Closing this because it's very old. Please re-open if I made a mistake!

[2018-12-17 22:36] #341 closed

[2018-12-17 22:42] pando85 commented on #807
@lucas03 Don't use gunicorn with aiohttp, from [docs](https://docs.aiohttp.org/en/stable/deployment.html#nginx-gunicorn): `running aiohttp application under gunicorn is slightly slower`

Async implementation works better with python bin...

[2018-12-17 22:45] dtkav commented on #402
I looks like you may need to set the content type.
Some ways to do that:
[code]
or
[code]
I'm going to close this since it is a very old issue. Please re-open if this is still a problem for you and I'll do my best to help.

[2018-12-17 22:45] #402 closed

[2018-12-18 00:31] wittlesouth commented on #806
The answers above provide an extensive set of options for further investigation on my part. I need to do some more reading and an experiment or two. Unfortunately with this busy time of year, it is likely to be several days before I come back to this.

[2018-12-18 01:20] wittlesouth commented on #806
OK, I was wrong about how long it would take me to come back. Some more reading has lead me to a somewhat different conclusion. According to the OpenAPI 3.0 specification, the only valid authentication types in the spec are defined ("apiKey", "http", "oauth2", "openIdConnect"). Most of these (except openIdConnect) seem to be directly supported by one of the methods defined in the Connexion 2.0 sec

[2018-12-18 08:01] jmcs commented on #588
This should already be possible by [providing the ``openapi_spec_path`` option]( https://github.com/zalando/connexion/blob/44ea9336fe79ddb9592942b405a663d2e3aa612c/connexion/options.py#L91).

[2018-12-18 08:15] #811 closed

[2018-12-18 11:02] dtkav commented on #588
@jmcs I think this is slightly more subtle.
They need to set the basepath of only the raw_spec (the spec served to swagger_ui), without modifying the spec that was used to generate the application.
This is because as the 'server' connexion should be proxy agnostic, but clients like swagger-ui need to understand the reverse-proxied urls.
I hope that makes sense...

[2018-12-18 11:10] wittlesouth commented on #806
I removed the security specification from my APIs, and I'm now able to run Connexion 2.1 without an error. Thank you for the detailed responses, that pointed me in the right direction. I don't know if this problem is going to trip up others, but it would have helped me if there was a debug log message or something in the error message response that showed that the missing token detection error was

[2018-12-18 11:10] #806 closed

[2018-12-18 12:55] lucas03 commented on #807
If I wanna sacrifice slower app for gunicorn perks?

[2018-12-18 13:09] pando85 commented on #807
Yea, it's your choose, sorry.

[2018-12-18 14:21] lucas03 commented on #807
OK, I'm resolving this issue. Thanks

[2018-12-18 14:21] #807 closed

[2018-12-19 05:58] kenneho commented on #407
I'm tagged on another project next next couple of days or so, but will check out your connexion fix after that.

[2018-12-20 15:42] lynxknight opened #829 "AioHttpApi cannot handle None from tokenInfoFuncs (results into 500 instead of 401 for bad tokens)"
### Description

aiohttp_api.py oauth_problem_middleware https://github.com/zalando/connexion/blob/a0ac0fd13f6857bba2563fbdda55404cfa69dde3/connexion/apis/aiohttp_api.py#L33 does not catch any OAuth* exceptions except OAuthProblem. As a result, if x-...TokenInfo function has failed to authenticate user, AioHttp server returns 500 instead of 401

### Expected behaviour

Server should return 401 for

[2018-12-20 18:15] mattspring commented on #254
@dtkav I just stumbled across this issue after running into it when trying to load an openapi spec with relative references. Use cases: multiple services that accept/return objects with the same model; authorization format; big regexs, etc.

Solutions involving the `file:/` scheme or Jinja2 templating are a nonstarter (for me) because the definition files are no longer valid OpenAPI and I sacrific

[2018-12-21 21:19] ericraymond opened #831 "URL for UI must have ui/"
### Description

In 2.1, the url for the ui must have a slash after ui (e.g., https://site.name/ui/)  Request to https://site.name/ui fail

### Expected behaviour

https://site.name/ui should work the same as https://site.name/ui/

### Actual behaviour

Throws a 500 error with the following logs:

[code]

[2018-12-23 12:06] lsorber commented on #792
`swagger_ui_bundle` hasn't been updated for 6 months. Issue that requests a bump to the latest version: https://github.com/dtkav/swagger_ui_bundle/issues/2.

[2018-12-24 07:11] styk-tv commented on #694
@hjacobs @dtkav @cziebuhr from what I understand:

One of `.well-known/openid-configuration`-listed endpoints is called `certs`.  It carries a list of dictionaries that are compliant with JWK (Json Web Key RFC 7517). In my Keycloak there is only one and it carries enough info to reconstruct a public key that is required to verify a signature of a JWT token.

in python `RSAAlgorithm.from_jwk(keys[0

[2018-12-26 20:15] M1CK431 opened #832 "Can't use flask-socketIO with Connexion"
### Description
I have write my first Python app (which is also my first API) using Connexion and now I'm trying to use [Flask-socketIO](https://github.com/miguelgrinberg/Flask-SocketIO) to add real time.

Unfortunately and after days of documentation reading and implements try, I can't have access to the `socketIO` object created at app start because it seems that Connexion re-run my `server.py`

[2018-12-27 14:49] pando85 opened #833 "[AioHttp] share database connection"
### Description
I want to share my database connection between functions.
In `aiohttp` you must initialize connection in on_startup field, cause of framework async nature.
I could solve this and share between all my handlers using subapp field of `aiohttp` and doing this:

[code]

I access on handlers:
[code]

When I want to access this in, for example, a basic auth handler, I cannot.

### Expecte

[2018-12-27 22:36] thygesteffensen commented on #229
Ohh no, and the link is dead... @hjacobs

[2018-12-29 09:21] nmusatti commented on #229
The current link is https://github.com/zalando/connexion/tree/master/examples/swagger2/sqlalchemy

[2019-01-02 21:43] my-name-is-nobody opened #835 "Sanitization removes sensible characters in API definition and json request body input"
### Description

I am using Connexion v2.2.0 to build an API that handles json schemata.

Request bodies containing schemata with a field name containing characters other than [0-9a-zA-Z_] are removed while parsing the request and passed to the handlers sanitized.
This leads to unexpected behavior.

The sanitization done in method `parameter_to_arg` (in file `connexion/decorators/parameter.py`) re

[2019-01-03 22:37] lsorber opened #837 "JSON request bodies are not strictly validated"
### Description

GitHub is starting to apply strict validation in their REST API [1].

Connexion already has a `strict_validation` flag [2], but it doesn't apply to the request body if its content type is JSON.

### Expected behaviour

I would appreciate it if strict validation also validates JSON request bodies.

Related issue: #223
CC: @dsem

[1] https://developer.github.com/changes/2018-09-25-s

[2019-01-04 15:26] alexjg opened #838 "Response validation fails when using `problem`"
### Description
When returning a custom error using `connexion.problem` response validation fails.

### Expected behaviour

For example, given the following openapi 3.0 spec:

[code]

And sample application (in `app.py`)

[code]

We should get a 400 response when POSTing to `http://localhost:8080/somepath`

### Actual behaviour

We get a `500` response with an error indicating that response valida

[2019-01-06 17:03] sunyang76 opened #839 "operator can not get formdata parameter."
### Description

opeerations/openapi.py

line: 276. It will always return {}, which ignore body form parameter

        res = self._sanitize_body_argument(body_arg, body_props, additional_props, sanitize)

        if x_body_name in arguments or has_kwargs:
            return {x_body_name: res}
       return {}

    def _sanitize_body_argument(self, body_arg, body_props, additional_props, sanitize)

[2019-01-07 00:01] grisov opened #840 "In some cases, the connexion sends an incorrect Content-Type in the response header"
### Description and actual behaviour
I was faced with a situation where it is necessary for the server to send data of different types for one route.
An example of such an OpenAPI specification:

      responses:
        '200':
          description: Return html content
          content:
            text/html:
              schema:
                type: string
        default:
          descripti

[2019-01-07 11:45] lsorber commented on #838
This might be because `connexion.problem` generates a response with content type `application/problem+json`, while your specification requires the response's content type to be `application/json`.

[2019-01-07 11:47] alexjg commented on #838
Nice, setting the content type to `application/problem+json` does seem to solve the problem. Thanks!

[2019-01-07 11:47] #838 closed

[2019-01-07 14:48] LienM opened #841 "Default to DISPLAY_OPERATION_ID=false?"
### Description

I'm using connexion to expose the API specification to our customers. I've noticed that in the path, it exposes the codepath (operationId) associated with each route. We'd like to hide this. I've found that Swagger UI configures this using parameter displayOperationId, but I'm not sure how to set it within connexion?

### Expected behaviour

Display of operation Id configurable up

[2019-01-08 05:42] dtkav commented on #835
Thanks for filing this issue. There are a handful of problems in the validation code that are intertwined. If you have free time - it would be really great if you can write a test case for this. I'm trying to fix the underlying flaws with #760 , and having a robust test suite will help a lot.

[2019-01-08 05:52] dtkav commented on #837
Hey @lsorber - Can you same more about how the the GitHub change is related?

AFAICT `strict_validation` in connexion was created error on extra form-parameters in OpenAPI 2.0.

In OpenAPI 3.0.x I believe you can use the `additionalProperties` flag.
If you set `additionalProperties: false` the jsonschema validator should complain if you try to include fields that aren't in the spec.

The OpenAPI f

[2019-01-08 06:31] dtkav commented on #832
hey @M1CK431
try:
[code]
Here's what I get when I start the connexion app instead of using `socketio.run(...)`
[code]
[code]

[2019-01-08 06:38] dtkav commented on #831
I wasn't able to reproduce this with Flask, but I think it is an issue with aiohttp.
There's an open PR to fix this issue here: #827

[2019-01-08 15:03] ioggstream commented on #769
Given the popularity of `yaml` for writing specs, and considering that the patch is trivial, I'm for adding.

Consider that even in this repos, we have almost all yaml files.

I provided a more isolated implementation is in #842 .

[2019-01-09 03:00] dtkav commented on #839
Hey @sunyang76 - can you please include an openapi spec? That will make it easier to debug this and reproduce the problem.

Is it possible that your handler function is not accepting a `body` parameter, `**kwargs`, or another parameter name that you have set with `x-body-name`?

[2019-01-09 14:36] Jyhess commented on #788
It's possible to retrieve aiohttp request object in your handlers.
For that, when adding api, you need to specify which name to use in your functions with `pass_context_arg_name`:

[code]

And to add a parameter with this name in your handlers, which give you access to all request informations, including headers:
[code]

[2019-01-09 14:47] Jyhess commented on #833
Here is the solution I use to handle this issue:
[code]

Then in my handlers:
[code]

Not ideal, but it works.
I'm thinking of patch to add `on_startup` & co argument in `add_api function`.

[2019-01-09 15:08] pando85 commented on #833
@Jyhess  Thanks for your response but that's the same that I'm doing and I can't access to my db connections in middlewares like authentication.

[2019-01-10 12:19] Jyhess commented on #833
Maybe you can have a look to [aiotask-context](https://github.com/Skyscanner/aiotask-context).

[2019-01-10 16:30] Jyhess opened #846 "datetime support for JSonifier"
### Description
Connexion using AioHttp raise a 500 error when accessing specifications with date time example.
Note: when using ujson, datetime is cast to int without error, but it still invalid.

### Expected behaviour
Specifications are returned without error and properly serialized date time.

### Actual behaviour
500 error with json, int with ujson

### Steps to reproduce
openapi.yaml
[code]

[2019-01-10 16:37] Jyhess commented on #846
If you agree, I propose to a following JSONEncoder to default Jsonifier class, with option to use another one:
[code]
[code]

[2019-01-11 12:36] Bengreen commented on #359
MethodView is a common construct for Flask applications to be written against, in particular those people who are already structuring their api shape. So it is a logical next step from MethodView to move towards connexion and implement openapi. So it would be great to have the support in the tools so that people can migrate easily. At the moment this would mean rewriting flask apps written in Meth

[2019-01-11 13:56] smn-snkl commented on #359
I think it would be great if the RestyResolver (which is great) could resolve class (static) methods, so one could build common functionality into a base class and then derive all api endpoints from the base class. E.g. if you have a view like this:

[code]
Without the RestyResolver you can do something like this:

[code]
But it would be EVEN more convenient if the RestyResolver could automaticall

[2019-01-11 16:09] smn-snkl commented on #359
Not sure if that helps, but I just implemented my own class-based RestyResolver like this:

[code]

Essentially it just calls .title() on the resource_name on top of what the RestyResolver already does. Now I can have a project like this:
[code]

And in views.py I have something like this:
[code]
So now the only thing I need to do is import the class-based views in the api/__init__.py e.g.
`from a

[2019-01-12 16:12] smn-snkl commented on #359
@dtkav, sure. I'll take a look at MethodView first as I haven't used it either, but it sounds very similar to my generic class-based solution. Will submit a PR soon.

[2019-01-12 18:58] smn-snkl commented on #359
@dtkav I submitted a [PR](#847 ) with a quick solution for this feature by modifying RestyResolver's `resolve_function_from_operation_id`. Pls take a look and review. I tested it briefly locally, but more extensive testing might be useful.

[2019-01-13 00:40] dtkav commented on #359
Awesome. Thanks! I think the next step is to add tests as you say.
We'll also want to update the docs and including an example.

[2019-01-13 07:46] dtkav commented on #527
Hey folks - please have a look at @823 - It aims to solve this problem and includes an example for both flask and aiohttp.

I'd love your feedback. Thanks!

[2019-01-13 07:47] dtkav commented on #392
Please take a look at #823 as it aims to solve this problem.
It includes and example for both Flask and AioHttp

[2019-01-13 07:48] dtkav commented on #820
Hey @bhechinger - If you don't mind having another look at #823 I'd appreciate it.
It includes examples for both flask and aiohttp.

[2019-01-13 15:16] kopf commented on #527
Fixed link: #823

[2019-01-14 06:17] hqms opened #848 "compat.py cannot resolve Operation class"
Hi everyone,

I trying to dockerize my app, my development machine is MacBook Pro (Mojave, Python 3.6.5).
Everything was running smoothly on my own machine, and I write the Dockerfile for the app, build and run the container.

The problem is, the connexion/operations/compat.py cannot resolve the Operation class.
My exception block raise this message :

`Cannot resolve operationId "app.get_models"!

[2019-01-14 07:44] #829 closed

[2019-01-14 09:06] hqms commented on #848
My IDE accidentally import connexion.api.canonical_base_url, I removed it and re-build the docker and it's running well 😄

[2019-01-14 09:06] #848 closed

[2019-01-14 14:25] adrpp opened #850 "request header params ignored"
### Description
for openapi spec 3, it seems that the header arguments are completely ignored.
For example, `openapi-generator-cli.jar` generates related controller (method), where the header argument defined in the spec, is to be found as positional argument.

venv3/lib/python3.6/site-packages/connexion/operations/abstract.py -> get_arguments() does not care about header arguments at all and so,

[2019-01-14 20:39] smn-snkl commented on #344
Any update on this?

[2019-01-14 20:55] patrickppp commented on #788
@Jyhess can you also provide an example for Flask please?

[2019-01-14 23:46] dtkav commented on #788
@patrickppp you can use the `request` object in flask.
[code]

[2019-01-15 00:37] dtkav commented on #850
The headers are accessible via the flask `request` object.
[code]
There's discussion on #788 to pass the headers into the handler function, but for now you have to use the request object when using flask.

[2019-01-15 05:08] dtkav commented on #344
related: a pr for serializing date-time #851
deserializing to datetimes would be cool too!
it would be great to create a generic solution that could support other formats like `uuid`s and `uri`s.

[2019-01-15 05:09] dtkav commented on #344
also related is #760 , which is a work-in-progress to make pluggable deserializers based on content-type.
One could override them to also add more complex casting.

[2019-01-15 06:09] hardbyte commented on #592
I agree that is different from my original use case but related and equally valid. If the upload (json or not) is too large to fit in memory (and therefore can't connexion can't validate it in one hit) we need a way to access the raw data stream.

[2019-01-15 07:42] madsmtm commented on #344
Is it possible to plug into [`jsonschema`](https://github.com/Julian/jsonschema)'s [`FormatChecker`](https://python-jsonschema.readthedocs.io/en/latest/validate/#validating-formats) validation, and modify the value in place? Is it something we should request from them as a feature?

[2019-01-15 08:04] adrpp commented on #850
@dtkav right, I mean, it's just not working out of box with pre-generated model & server code from openapi-generator-cli which assumes that all defined parameters in the spec file are passed into the contoller.

[2019-01-15 12:43] smn-snkl commented on #344
There's a similar project to jsonschema called `[Cerberus](https://github.com/pyeve/cerberus)` developed by the `[Eve](https://github.com/pyeve/eve)` guys which I have used before. On top of pure validation, it allows for [normalization rules](http://docs.python-cerberus.org/en/stable/normalization-rules.html) to get a normalized version of the validated input, e.g. with types casted.

Something s

[2019-01-15 12:48] deeplook opened #852 "Accepting JSON input?"
I see only YAML as accepted input, but the API specs I usually deal with are all in JSON. Is there any recommended way to work with JSON input?

[2019-01-15 14:06] tommyjcarpenter commented on #592
@hardbyte if we can get down to the "flask level", there is an option for non-RAM large uploads: http://flask.pocoo.org/docs/1.0/patterns/fileuploads/#improving-uploads

So the trick here is figuring out how to turn off validation (maybe using a custom validator?) and then figuring out how to somehow get to the flask level to use the above.

I'm open to any ideas in the short term.

[2019-01-15 15:43] Bengreen commented on #359
I just added a new PR for @smn-snkl  with tests included.
So we now have example and docs and (a very small doc).

[2019-01-15 23:21] dtkav commented on #852
JSON is a subset of YAML, are you running into an error?

[2019-01-17 00:18] rite2hhh opened #854 "HTTP Status Code 415 not handled by custom handler"
### Description
I used [OpenAPI tools](https://github.com/OpenAPITools/openapi-generator) to generate a Python-Connexion based server. This code-gen tool was provided an OpenAPI specification (OAS3). The OpenAPI tool gave server stubs which are bound to that spec. I am extending those for application specific response.

For starters, I decided to take care of error handling, and get that done. I w

[2019-01-19 11:32] lovesuper commented on #691
I have this issue too on Connexion 2.2. What should i do, guys?

[2019-01-19 12:05] lovesuper commented on #691
Hm. I guess I find cheap solution:

Just add "type" key along oneOf expression. Like that:

[code]
Cheers, luv.

[2019-01-21 14:46] madsmtm commented on #344
I tried extending `.apis.flask_utils.flaskify_path` (and related), and adding a custom [`flask.Flask.url_map`](http://flask.pocoo.org/docs/1.0/api/#flask.Flask.url_map) to convert `date` parameters into `datetime.date`.
That approach was unsuccessful, since the parameter is validated after the flask conversion in `validate_path_parameter` (and the converted `datetime.date` cannot be verified again

[2019-01-21 19:53] Bengreen commented on #359
Examples and Tests have been added. Can someone from Zalando team review this please?

[2019-01-22 08:50] dstarod opened #855 "Token validation can't find authorization header in lower case"
### Description

Token validator try to find header "Authorization", but in http2 standard clients uses header name in lower case - "authorization". See `decorators/security.py` line 161. Its `request.headers` attribute is a simple dict, so case sensitive.

### Expected behaviour

Header "authorization"  is usable in lower case.

### Actual behaviour

Only "Authorization" header is usable (first l

[2019-01-22 14:25] heinen opened #857 "nullable elements handled incorrectly in string arrays"
### Description
If nullable is used to specifiy that a single string element can be zero, it works. However, if the type is 'array' and nullable is used in the items, None/null is implicitly converted to the string `'None'`. With numeric values, everything works fine

### Expected behaviour
If single string elements can be nullable, so should be array elements

### Actual behaviour
They're not

##

[2019-01-22 23:01] chinmayprabhudesai commented on #855
[HTTP/2 specification definition (Section 8)](https://httpwg.org/specs/rfc7540.html#rfc.section.2.2):

HTTP/2 is intended to be as compatible as possible with current uses of HTTP. This means that, from the application perspective, the features of the protocol are largely unchanged. To achieve this, all request and response semantics are preserved, although the syntax of conveying those semantics

[2019-01-23 07:12] dstarod commented on #855
We using aiohttp. If provide request into handlers (it's optional with connexion, and it will be aiohttp Request object) the request.headers is CIMultiDictProxy object, where keys are case insensitive. But in out-of-the-box auth validator we have request as ConnexionRequest object, where request.headers is a simple dict, so it keys are case sensitive.

[2019-01-23 10:05] kornicameister commented on #837
So what's the scope of `strict_validation` for Connexion and OAS3? What is strictly validated? Obviously, you're saying that `request_body` does not fall into that category and the only SOT is the schema. What about `query_params` or `path_params` and response bodies?

[2019-01-23 13:44] smn-snkl opened #858 "OAuth2 Authorization Code support"
### Description
I need to secure my app with OAuth2's Authorization Code grant and I'm wondering what the best way is to integrate this OAuth scheme with connexion. Is there already a way to adapt the OAuth2 Implicit and / or Bearer token features to achieve the Authorization Code method? Should I use something like flask-oauthlib? If so, how would one integrate the views into connexion?

[2019-01-23 17:53] smn-snkl commented on #858
More specifically, I've implemented it with [authlib](https://docs.authlib.org/en/latest/flask/2/resource-server.html) before, so now I'm wondering how I would make sure the views are decorated correctly (e.g. in this case there's a `require_oauth` decorator that's used)

[2019-01-24 04:21] dtkav commented on #858
Hey @smn-snkl - I'm not that familiar with oauth2, but I'll do my best to help.

Note that connexion applies a security decorator as the first step in decoding a request, so you'll want to hook in there rather than using security decorators on the handler function (as that would open you up to vulnerabilities in all the code that runs before the handler function).

For oauth2 there's an example he

[2019-01-24 05:36] dtkav commented on #854
Hey @chinmayprabhudesai thanks for the detailed ticket.
I agree it looks like the problem is here: https://github.com/zalando/connexion/blob/master/connexion/decorators/validation.py#L129

One way to do this would be to raise the correct werkzeug exceptions for 400, 415 in connexion. Unfortunately I'm not sure this would work for the other webserver (AioHttp). It actually seems like a potential pr

[2019-01-24 07:03] dtkav commented on #855
@dstarod I wasn't able to reproduce your issue.
Here is what I did:
I modified the example in examples/openapi3/aiohttp
[code]
and the spec to include a secure endpoint
[code]
and applied this patch to current master in order to have a breakpoint
[code]
then started the API and curl'd the endpoint:
[code]
in that function, I can see that the `request.headers` object is a `CIMultiDictProxy`, and I'

[2019-01-24 07:11] dtkav commented on #837
AFAICT originally in swagger 2.0,  `strict_validation` was created for form-parameters and query-parameters only. It raised an error if there were extra parameters.

It's unclear how `strict_validation` should be implemented in openapi3. I believe, per the spec, that allowing extra parameters should now be controlled by `additionalProperties`.

It has been a goal of mine to move the validation out

[2019-01-24 07:21] dtkav commented on #792
swagger_ui_bundle has been update to 3.20.5

I've also updated the link above to an example jinja2 file: https://github.com/dtkav/swagger_ui_bundle/blob/383b1b6d1ed11a590cf9a8d66f3e961fc3372ee3/swagger_ui_bundle/vendor/swagger-ui-3.20.5/index.j2

[2019-01-24 11:52] smn-snkl commented on #858
Thanks @dtkav, I wasn't sure how to move from authlib's require_oauth(scopes, operator, optional) decorator to a token_info(access_token) function.

So now I'm trying to implement it like this:

[code]

And then in the openapi.yml:

[code]

Does that make sense?

However, now I'm struggeling to test it, because I can't change the `oauth2RedirectUrl` configuration parameter for `swagger-ui` which i

[2019-01-24 22:49] chinmayprabhudesai commented on #854
Thank you for the response @dtkav !

Let me add some more information that I did not provide earlier (slipped my mind).
I am using Flask as my under-the-hood framework.

When I do the following, my client receives the desired response!

**app.py**
[code]

**\_\_init\_\_.py**
[code]

**errors.py**
[code]

assuming it went through all the validation and the request reached my `api` or `app` after th

[2019-01-25 00:42] eydin commented on #359
I'll chime in here and add that supporting class-based endpoints would be really helpful for me because I wind up using inheritance a lot. I'm currently working on moving a Django REST Framework project over to Connexion because Connexion's a lot easier to work with for the stuff I'm doing. Having to write DRF serializers all the time is a pain.

[2019-01-25 01:38] dtkav commented on #850
hey @adrpp have you opened a ticket with that project?
It sounds like a bug in the code generator if it generates code that doesn't work with connexion.

That being said, it does sound like a nice feature to have. Feel free to join the discussion in #788 .

[2019-01-25 05:13] kornicameister commented on #837
I think that that goal is actually correct. That means that once that goal is achieved `strict_validation` will become deprecated for `connexion+OAS3`?

Still, I am little puzzled as to what is currently still strictly validated under `connexion+OAS3`? I've been trying to follow the code to find on my own but I lost track quite fast :(. If you don't mind answering that question it'd be awesome and

[2019-01-25 08:43] fpozzobon opened #859 "Oauth2 - uid verification in addition to scope verification"
### Description

I would like to secure an entry point using oauth2 with :
- Specific Scope returned by the token info
- Specific UID returned by the token info

### Expected behaviour

Ideally add in the openApi definition a filter on uid in addition to the scope.
Or having a function like x-scopeValidateFunc but taking in parameter the token-info.
Or store the token-info in the session.

### Act

[2019-01-25 11:36] dojeda opened #860 "Content negotiation and response validation assumes incorrect schema for validation"
### Description
In an API written in OAS v3 (which supports content negotiation), when an operation has two different response mimetypes _and_ one of them is not json-compatible, the validation assumes `application/json`. This entails some errors on the validation.

### Expected behaviour
The validation should honor the API specification and use the schema of the associated content type. One shoul

[2019-01-25 13:35] fpozzobon commented on #859
As a workaround, I use x-tokenInfoFunc to have the extra logic there verifying if the uid is valid or not depending on the context path.

[2019-01-25 14:00] heinen commented on #857
I continued with a workaround but found another, probably correlated, issue: If you have an array of type `integer`, it seems to be impossible to make them nullable altogether. In the above example, just change the `type` to `integer` and try finding any request with nulled elements that goes trough. If `numpy.nan` is passed as an element in the array (which will be converted to `NaN` in the reque

[2019-01-28 23:44] dtkav commented on #837
Sorry @kornicameister - this state of validation is pretty confusing (I have been trying to fix it with #760)

The `strict_validation` flag (regardless of spec version) checks for additional keys in two places:
1. [query parameters ](https://github.com/zalando/connexion/blob/9b76bbc8fc4d1742b78b663cdec8e2df3b41ec86/connexion/decorators/validation.py#L316)
2. [form data](https://github.com/zalando/

[2019-01-29 12:35] lsorber opened #861 "Add support for `x-oas-draft-alternateSchemas`"
OpenAPI lags behind JSON Schema, which means OpenAPI APIs do not benefit from the latest fixes and improvements to the latter.

For example:
1. JSON Schema Draft 4's `patternProperties` is not supported in OpenAPI, even though the latter is based on Draft 5 (OAI/OpenAPI-Specification#687).
2. `additionalProperties: false` is not compatible with OpenAPI's inheritance model using `allOf` [1]. This i

[2019-01-30 10:51] matteogrolla opened #862 "CAS Integration"
Is it possible to integrate CAS authentication?
Can you point me in the right direction to implement this integration?
Thank you very much

[2019-01-30 19:53] janbalaz opened #863 "Auth scopes working only for OAuth"
### Description
Scopes for other auths, e.g. BasicAuth are not passed from schema to auth function, `required_scopes` are always `None`.

### Expected behaviour
Filling out scopes in schema should get these to the auth function, even if it's not `OAuth`.
[code]
It is expected to receive in auth function `["read", "write"]`

### Actual behaviour
`None` is received.

### Additional info:
Problem is

[2019-01-31 03:49] Weilor commented on #476
Is there any progress about this issue?
I installed strict-rfc3339 but date-format param is still be validated.
@rafaelcaricio

[2019-01-31 10:09] bharat-gera opened #864 "Does connexion[swagger.yaml] supports Flask MethodView?"
### Description
I have developed API using Flask MethodView and wrapped these API using connexion Swagger.yaml, but I'm confused how to point the operationID to a specific http method(GET,POST,PUT).I have tried by just giving the class Name but unable to route request to specific method.

### Expected behaviour
It gives error TypeError: Object of type 'Resource Class Name' is not JSON serializable

[2019-01-31 18:34] adrpp commented on #788
Hello,

for now we have patched connexion/decorators/parameter.py accordingly. Feels like there is a need for sync oas-generator with connexion behavior. My point is, if there are pre-generated controllers by oas-code-genarator that expects header params as function argument, then it should be passed down into that callable.
For now, the code you generate, you cannot use out of the box because con

[2019-02-01 13:17] seandavi opened #865 "[Question] Approach to swagger-ui documentation of API endpoint that returns a redirect."
### Description

I have an API endpoint that looks like `/path/{id1}/{fname}` that performs a redirect to a signed s3 URL.

### Expected behaviour

The endpoint returns a 307 and downloads the file as expected using a command-line call like:

[code]

It would be nice it the UI could:

1. follow the 307 redirect and download the file.
2. allow replacement of the generated curl command with alternat

[2019-02-01 21:53] ShakataGaNai commented on #441
A solid example of how to serve static content, with or without catchall, would be greatly appreciated. I've spent an hour trying to follow what's stated here without any success. I've done it before in Flask, but how to access flask "Correctly" using the proper connexion methodology doesn't work either.

I realize this is an API system and not designed for static, but sometimes you need to serve

[2019-02-03 11:53] dtkav commented on #858
@smn-snkl if you install connexion with :
`pip install connexion[swagger-ui]` it will automatically be added to your project.

[2019-02-03 11:54] dtkav commented on #858
Thanks for reporting back by the way - are you ok to close out this ticket now?

[2019-02-03 12:00] dtkav commented on #860
Thanks @dojeda  - I'm working on adding handlers by content-type here: #760
Please take a look - It should enable working with octet-streams, and adding custom validation for various content-types.

[2019-02-03 12:04] dtkav commented on #865
Hey @seandavi - I think you'll want to file this issue over at https://github.com/swagger-api/swagger-ui
swagger-ui is a (optional) dependency of connexion.

[2019-02-03 12:05] #865 closed

[2019-02-03 12:05] dtkav commented on #864
Hey @bharat-gera - there is an open pull request awaiting review here: #847

[2019-02-03 12:06] dtkav commented on #864
closing as a duplicate of #359

[2019-02-03 12:06] #864 closed

[2019-02-03 13:37] bharat-gera commented on #864
Cool, I missed that pull request. Thanks!

[2019-02-03 13:54] seandavi commented on #865
Thx, @dtkav. I thought so, but connexion has a lot of nice bells-and-whistles, so I thought I'd start here first.

[2019-02-04 10:37] smn-snkl commented on #858
Sorry @dtkav, what I meant was that the default swagger-ui config that comes with `pip install connexion[swagger-ui]` redirects to `/oauth-redirect.html` (the default `oauth2RedirectUrl` parameter). However, with connexion, swagger-ui is located at `/ui/` so I'd need to change the swagger-ui configuration. How would I pass a swagger-ui config (like described [here](https://github.com/swagger-api/s

[2019-02-04 12:55] dtkav commented on #859
Hey @fpozzobon - I'm not sure I totally understand your question.
Can you say more about why you think using `x-tokenInfoFunc` is a workaround?
AFAIK that's exactly the place to write your auth logic, but I might just be missing so important detail.
An example would help me if you have one.

[2019-02-04 13:00] dtkav commented on #858
@smn-snkl thanks for clarifying. At the moment the best way to override these settings is to use your own copy of swagger-ui.
You'll want to rename `index.html` in the distribution to `index.j2`. This will allow you to get the swagger.json url set correctly.

There's also an enhancement we could make to connexion to support this. I've just recently updated dtkav/swagger-ui-bundle jinja template to

[2019-02-04 13:47] smn-snkl commented on #858
It makes sense, that would be great actually. That's how I initially imagined it to work, but then realized you can only turn on / off swagger ui with the `connexion` options ;)

[2019-02-04 17:01] Jyhess commented on #855
Which version of connexion are you using ?
It looks like a duplicate of #824, which is fixed on last version.

[2019-02-04 17:34] Jyhess opened #868 "Security handlers should be async when using AioHttp"
### Description
In security functions, I need to call other URL to verify token validity.
With AioHttp, this must be done in coroutine to not block main thread.
But if try to use a coroutine with `x-tokenInfoFunc` (or others), I have following error:
[code]
More than that, we should have access to aiohttp request object in those function, when it is defined with `pass_context_arg_name=request`.

#

[2019-02-04 17:53] Jyhess commented on #868
I had a look on how to fix that with something like `RequestResponseDecorator` decorator, but this is not straight forward because there is some logic inside security decorators at 3 different layers:
- Inside security decorators, like `verify_oauth`
- Inside `get_authorization_info` which check decorators result to know if there is a result
- Inside `verify_security`, which parse token to enrich

[2019-02-04 20:53] chinmayprabhudesai commented on #863
By [OAS 3.0](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#oauth-flow-object) definition scopes are only supported with `OAuth2`.

A related resource not exactly the spec but useful is [this](https://swagger.io/docs/specification/authentication/), which lists that scopes can be also used with `openID Connect Discovery`.

For each scheme, you specify a list of security

[2019-02-04 21:37] janbalaz commented on #863
@chinmayprabhudesai thanks, that would explain why there are no scopes examples for other auth types than OAuth in Connexion or Swagger documentation.

In my opinion, it's a bit sad since I consider scopes to be a great feature which could be leveraged by other auths.

Anyway, if someone needs this to be working via a hackish solution, you can either patch [secure.py](https://github.com/zalando/co

[2019-02-05 14:48] fpozzobon commented on #859
Hi @dtkav - to me it feels like x-tokenInfoFunc is about getting the informations from a token (ie not make sure that he is allowed to see the resource).
- Wouldn't it be nice to have a "x-uidValidateFunc' (same as x-scopeValidateFunc) but taking the uid from the token in parameter ?

Ideally, we could also have in securityDefinitions the option to define uids (a bit like we define scopes) :
[code

[2019-02-05 14:52] fpozzobon commented on #859
What I did to apply a uid whitelist :
[code]

[2019-02-06 14:28] alexfrieden commented on #779
Anyone able to format this into a requirements file?

[2019-02-06 21:26] max-barry opened #870 "Internal references to a model's allOf throws index error"
### Description
Internal references can fail if they involve index access to an array (e.g. an `allOf` statement).

For example:

[code]

When the reference `#/components/schemas/ModelA/allOf/0` is being resolved, the `allOf` (I imagine) is being accessed using `'0'` instead of `0` which results in Connexion throwing an error `TypeError: list indices must be integers or slices, not str` on a call

[2019-02-07 11:43] wittlesouth opened #871 "Pattern support in schema doesn't appear to conform to OpenAPI 3.0 specification"
### Description

According to the [OpenAPI 3.0 specification for the pattern attribute](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#schema-object) of a schema object, the pattern provided should comply with [ECMA 262 regular expression syntax](https://www.ecma-international.org/ecma-262/5.1/#sec-7.8.5). The syntax defined in that specification defines regular express

[2019-02-07 13:09] roman-telepathy-ai commented on #254
Just adding my 2 cents...

I do split api's into different yaml files, so that I have various small API's. If I would like to reuse, I simple merge them on the fly. Each micro-API should have its own namespace.

[2019-02-07 13:11] roman-telepathy-ai commented on #754
for me that is the reason to move away from connexion and maybe start a similar project for tornado.

[2019-02-07 16:58] holdenweb commented on #254
There's a tool called `specsynthase` that's good at merging specifications, detecting duplicated keys and the like and capable of validating the specifications it works with.

I've personally gone for a rather lightweight approach, where a package that implements a set of endpoints is defined by a `paths.json` file in the package's top-level directory. The definitions section is currently shared b

[2019-02-07 21:09] roman-telepathy-ai commented on #254
@holdenweb yep, more or less I followed same approach.

[2019-02-08 13:11] arastel opened #872 "Struggling to start with a basic AioHttpApp"
### Description

Hi everyone, I'm trying to use the aiohttpApp instead of flask default app.
Problem is, I don't manage to handle any request.
I always have the same error descibed in "actual behaviour".
Can you, help me to know if it is a bug or if I don't correctly use connexion/aiohttp ?

### Expected behaviour

Working request/response handler.

### Actual behaviour

Traceback (most recent cal

[2019-02-09 10:06] KBA07 opened #873 "Connexion doesn't execute the function specified in the operation id for request method OPTIONS"
### Description
Connexion doesn't execute the function specified in the operation id for request method OPTIONS

### Expected behavior
It should execute the function specified in the operation id.

### Actual behaviour
It is not executing the function defined in the operation id.

### Steps to reproduce
Swagger File for API description

-- option_api.yml

swagger: '2.0'

info:
  title:  "Test API"

[2019-02-10 17:47] ovunccetin commented on #556
I have extended FlaskApp as follows:

`class ConfigurableFlaskApp(connexion.FlaskApp):
    def __init__(self, import_name, **kwargs):
        self.flask_args = _get_flask_args(kwargs)
        connexion_args = _get_connexion_args(kwargs)
        super().__init__(import_name, **connexion_args)

    def create_app(self):
        app = flask.Flask(self.import_name, **self.flask_args)
        app.json_

[2019-02-11 09:11] Jyhess commented on #868
Hi, this PR fit our needs. Can you have a look and give me some feedback?

[2019-02-11 09:18] dojeda commented on #860
Thanks for the pointer, I'll take a look to that branch this week.

[2019-02-11 11:30] prabhu commented on #746
Hi,

This bug is due to the following line failing since the input is string instead of dict.

https://github.com/zalando/connexion/blob/master/connexion/operations/openapi.py#L268

Will you be able to fix this by converting the string to dict?

Thanks in advance!

[2019-02-12 07:19] simoami opened #874 "base_path is currently ignored for aiohttp"
### Description

Despite passing the base_path to `app.add_api()` and adding `basePath` in the swagger spec , it is actually ignored at runtime.

### Expected behaviour

- swagger docs should be served from `/{base_path}/ui`
- api routes should be server from `/{base_path}/endpoint`

### Actual behaviour

- swagger docs are actually served from `/ui` despite setting `base_path` and `basePath`
- ap

[2019-02-12 21:01] jonbirge commented on #598
With all due respect, given that this doesn't happen in regular Flask but happens in Connexion I'd argue this is a bug in Connexion, and it should be fixed. Blaming this on something two steps upstream (Werkzeug) is not fair, especially given that the package directly upstream (Flask) doesn't have this bug.

[2019-02-12 21:30] dtkav commented on #598
It sounds like you had a good idea of what's happening, do you mind creating a pull request? I'm happy to review it.

I was unaware of the context you provided. I just put in a few minutes of my day to try to help out.

 swagger-codegen is an unrelated project that seems to generate projects that are different from our examples (and certainly my workflow), so we receive tickets often of the form "

[2019-02-13 09:42] roytanmoy commented on #562
Is this resolved part of any other ticket?

[2019-02-13 09:43] roytanmoy commented on #562
@Ryan-Gordon @zhuwei05  Anybody of you got it working?

[2019-02-14 12:39] #872 closed

[2019-02-14 16:21] sandrinr commented on #266
Bumping this.

This is still happening.
Having response validation activated and returning a `ConnexionResponse` (which is created by `connexion.problem.problem()` results in an output body validation error because the validation here https://github.com/zalando/connexion/blob/34c7cb160fec372d386a0daa139df2a568b01ac8/connexion/decorators/response.py#L49 attempts to parse the `ConnexionResponse` as

[2019-02-14 17:20] sandrinr commented on #266
@rafaelcaricio As a note (probably another bug) it seems to be impossible to set the `Content-type` of the response to `application/problem+json`. Connexion is overwriting this value with `application/json` which is set, as far as I can see, from the `produces` section of the spec file.

[2019-02-15 07:33] arastel opened #875 "oauth_problem_middleware not catching OauthResponseProblem in aiohttpapp"
### Description

AioHttpApp is shipped with a dedicated [middleware for wrapping oauth errors](https://github.com/zalando/connexion/blob/master/connexion/apis/aiohttp_api.py#L33) in order not to send default 500 responses.
Problem is, OAuthResponseProblem seems not to be included and is then raising an error 500 when the api key is not valid.
From my perspective, adding OAuthResponseProblem as an

[2019-02-15 11:32] arastel commented on #875
Apparently solved in PR for issues #829 and #830

[2019-02-15 14:50] jonbirge commented on #598
I'm happy to submit a PR if I can figure out how to fix this, but I'm pretty new to Flask/Connexion. In fact, the fact that debugging is broken out of the box is part of what I found frustrating as a new user. having to dig into obscure bugs at the same time you're trying to learn something isn't exactly welcoming! I know these things are sometimes impossible to fix, but I was just trying to make

[2019-02-15 15:02] jonbirge commented on #598
Is there a reason why it wouldn't work to just programmatically ensure that the directory in which the entry point resides is prepended to the Python path before the server starts?

[2019-02-15 16:48] rmanibus commented on #840
I faced a similar problem with the following specification:
[code]
when application/json is set as a content type for the 404, connexion try to serializable the response and asume content type is json even if a 200 is returned.
[code]
If the 404 content is not set, It is not possible to return the pdf but when a 404 is returned the content type is still pdf.

as a workaround, I was able to manuall

[2019-02-16 03:55] ghost opened #878 "requestBody: required: true doesn't work"
### Description
Connexion 2.2.0
OpenAPI 3
[code]
Connexion doesn't validate that a requestBody was provided.

### Expected behaviour

400 Bad request -> requestBody is required

### Actual behaviour

request is passed through to controller; KeyErrors abound because no requestBody was provided

### Steps to reproduce

Submit a POST with no requestBody

### Additional info:

Output of the commands:

[2019-02-17 10:23] peek4y opened #879 "Vague error detail"
Python version 3.6.5
Connexion Version 2.2.0
OpenAPI 3 Spec.

I'm trying to do simple requestBody Validation, it does not give proper error detail.
[code]

Also the error messages are very vague at property level too, it does not give the exact property name, any idea why?

[code]

Is this a regression?

[2019-02-17 18:03] simoami commented on #874
@jmcs @hjacobs Any chance this can be fixed? seems as straightforward as concatenating `self.base_path` and `console_ui_path` before adding routes.

[2019-02-18 11:47] Rev0kz opened #880 "block mapping error"
Hello, I tried to run the following swagger.yml but it displayed the following error. I help me out, please.

[code]

[2019-02-18 19:54] lovesuper opened #882 "Maximum & minimum does not work at parameters"
### Description

[code]
### Expected behaviour

Numbers above and below 1 and 1000 must to decline by server

### Actual behaviour

They are being accepted

### Steps to reproduce

Just try to validate integer by `maximum` and `minimum` at parameters

### Additional info:

Output of the commands:

- `Python 3.7.2`
- `Version: 2018.0.dev1`

[2019-02-19 02:29] dtkav commented on #882
Hey @lovesuper - we use https://github.com/p1c2u/openapi-spec-validator in order to validate incoming data against the spec.
Can you file a ticket there?

[2019-02-19 03:01] dtkav commented on #863
I agree per @chinmayprabhudesai 's comment, connexion implements the OpenAPI spec, so I don't think it makes sense to break from that standard to includes scopes in basic auth.

I'm happy to hear you found a way for your use case.

I'll close this ticket for now - feel free to reopen if you have more thoughts or comments.

[2019-02-19 03:01] #863 closed

[2019-02-19 03:03] dtkav commented on #880
Hey @Rev0kz - It sounds like your yaml is invalid.
You might try pasting it into a linter like this one: http://www.yamllint.com/
Good luck.

[2019-02-19 03:24] dtkav commented on #871
Hey @wittlesouth -
We use https://github.com/p1c2u/openapi-spec-validator for validation.
That might be the best place to raise this issue.

[2019-02-19 03:27] dtkav commented on #874
Hey @simoami - does #823 fix your issue?

[2019-02-19 10:18] Rev0kz commented on #880
Thanks, @dtkav. Issue resolved. Thanks again.

[2019-02-19 10:18] #880 closed

[2019-02-19 10:48] FRNCSCM opened #883 "Request in aiohttp endpoint"
### Description

I am currently trying to use the aiohttp framework inside of the connexion package, which works really good. The one problem i've got is to catch a request (from server side) inside of the endpoint logic, so I can read the header from the request.

The request is available in connexion.decorators.security, but how can i catch it in the endpoint logic!

I appreciate any help, as i'

[2019-02-19 19:37] sherzberg commented on #755
@dtkav Sorry to hijack this thread, but I am in a similar boat. I'm curious if I have misconfigured something or if something is broken. I updated one of the examples for openapi and I'm having trouble with the `validate_responses` option when setting up the app:

https://github.com/zalando/connexion/compare/master...sherzberg:validate-responses-example

[code]

If I am understanding the documenta

[2019-02-20 10:16] Rev0kz opened #884 "Invalid Specification Error"
###   application/json  is not of type 'array'

Someone help me out........Thanks in advance

    raise InvalidSpecification.create_from(e)
connexion.exceptions.InvalidSpecification: '-"application/json"' is not of type 'array'

Failed validating 'type' in schema['properties']['produces']['allOf'][0]:
    {'items': {'$ref': '#/definitions/mimeType'},
     'type': 'array',
     'uniqueItems': True}

[2019-02-21 14:21] colceagus commented on #546
are there any updates on writing unit tests for controllers?

[2019-02-23 16:21] wittlesouth commented on #871
Perhaps I don't understand how you're using the openapi-spec-validator. My understanding was that all that project does is validate that the provided OpenAPI specification is valid, not that it is used to check the validity of JSON passed to a Connexion endpoint via a POST (for example). I'm assuming this because when I use an invalid specification, Connexion fails during startup.

It seems to me

[2019-02-23 16:54] wittlesouth commented on #871
Filed [issue number 57 in the openapi spec validator project](https://github.com/p1c2u/openapi-spec-validator/issues/57).

[2019-02-24 22:58] dtkav commented on #871
There a couple layers that handle incoming request bodies.
First, request body validation only happens if you either (1) only accept JSON, or (2) only accept formdata (unfortunately).
The validator used in connexion is the Draft4Validator from https://github.com/Julian/jsonschema .
If you can reproduce the bug with just the jsonschema validator, that would be the place to follow up.

(We also exte

[2019-02-25 01:54] czchen opened #886 "Cannot install connextion[swagger-ui] due to dependencies collision"
### Description

We cannot install connextion[swagger-ui] via `pipenv install 'connexion[swagger-ui]'` due to broken dependencies in pyyaml. The problem is that `openapi-spec-validator` version `0.2.5` locks to `PyYAML>=4.2b1`, which conflicts with other packages. Lock `openapi-spec-validator` can solve the problem, but I am not sure if that is a good idea or not.

The following is dependency grap

[2019-02-25 03:08] 00willo commented on #886
It's not just the swagger-ui extras as well. Also occurs when just installing connexion

[code]

[2019-02-25 08:38] czchen opened #887 "swagger-ui change URL"
### Description

We put our connexion application in k8s. But when we access swagger-ui via https://example.com/v0/ui, it is redirected to http://127.0.0.1:5000/v0/ui so we cannot use swagger UI. All other URLs in example.com are not redirected, so we think the problem is in swagger-ui.

### Expected behaviour

When access https://example.com/v0/ui, we shall be about to access swagger-ui

### Actu

[2019-02-25 16:59] simoami commented on #558
I handle this elegantly by defining an error middleware. This way you process all errors (connexion validation and downstream errors) from a single handler:

[code]
**Sample response**
[code]
With minor changes, you can make it work for your specific app setup.

[2019-02-26 04:52] peek4y commented on #879
@dtkav any thoughts on this?

[2019-02-26 05:02] dtkav commented on #879
Hey @peek4y
Please attach a spec, and a curl command that reproduces the issue.
I'm unable to reproduce the issue with the information you have provided.

[2019-02-26 05:18] dtkav commented on #887
hey @czchen,

Can you please provide the `servers` block of your specification? Also, are you explicitly setting `base_path`?

This may be caused by a trailing-slash redirect. Can you try https://example.com/v0/ui/ (with trailing slash) and let me know if you are still having the issue?

I think the issue may also fixed by #823 - the goal of that diff is to fix connexion behavior when behind a rev