[2015-06-03 14:17] jmcs opened #1 "Support configurable arguments on yaml specifications"
Connexion should allow some variables inside the swagger specifications to allow, for example, setting different authentication URLs, without changing the yaml itself.

[2015-06-05 14:04] jmcs commented on #1
Missing: Documentation, new version

[2015-06-07 20:58] #1 closed

[2015-06-07 20:59] jmcs opened #2 "Use PEP 484 Type Annotations"
Use [PEP 484](https://www.python.org/dev/peps/pep-0484/) type annotations.

[2015-06-12 07:21] jmcs opened #3 "Convert dashes in the path to underscore"
Convert `-` in url routes to  `_` so they are valid python identifiers.

[2015-06-12 07:34] #3 closed

[2015-06-12 08:45] hjacobs opened #4 "Add validation for Swagger schema definitions"
Requests should be validated automatically using the schema definitions defined in the Swagger file (similar to what https://github.com/sarnowski/swagger1st/blob/master/src/io/sarnowski/swagger1st/parser.clj does).

[2015-06-12 09:28] jmcs opened #5 "Fix security parsing"
Proper security objects are crashing connexion

[2015-06-12 09:28] #5 closed

[2015-06-12 11:53] hjacobs opened #6 "Add Travis CI test running py.test and flake8"
IMHO we should have automated builds on Travis CI with a high (80%+) code coverage and flake8 formatting checks. Personally I'm using this configuration: https://github.com/zalando-stups/senza/blob/master/.travis.yml

[2015-06-13 15:48] jmcs commented on #6
[Pull Request](https://github.com/zalando/connexion/pull/7)

[2015-06-14 09:35] #6 closed

[2015-06-17 05:47] jmcs commented on #2
On hold because the typing module currently on pypi sometimes fails to install.

[2015-06-17 06:13] jmcs opened #8 "Custom jsonfier"
Instead of using flask's jsonifier use python json module to serialize response as it is more flexible.

[2015-06-17 06:27] jmcs opened #9 "Decorator to set the correct content-type"
Connexion should ensure the responses have the correct content-type.

[2015-06-17 06:53] jmcs opened #10 "Jsonify responses with application specific content types"
Connexion should support application specific content types for example "application/vnd.zalando.article+json;version=2".

[2015-06-17 06:57] jmcs opened #11 "Use application/problem+json for error messages"
Connexion error messages should follow the [draft-ietf-appsawg-http-problem-00](https://tools.ietf.org/html/draft-ietf-appsawg-http-problem-00#section-4).

[2015-06-17 07:58] jmcs opened #12 "Use certifi bundle in security decorator"
Use certifi bundle in security decorator to avoid wrong valid certificate errors

[2015-06-17 08:13] #12 closed

[2015-06-17 08:18] #8 closed

[2015-06-17 09:17] #9 closed

[2015-06-17 13:42] #11 closed

[2015-06-18 09:54] #10 closed

[2015-06-19 08:53] jmcs opened #18 "Make swagger ui optional"
Swagger ui should be optional.

[2015-06-19 08:54] jmcs opened #19 "Include extra information in logs"
Include detailed information with extra parameter when logging.

[2015-06-19 12:17] jmcs opened #20 "Allow adding single routes"
Allow adding single routes to an application, including by using decorators.

[2015-06-22 06:25] jmcs opened #21 "Don't change the specification when parsing it"
Currently connexion is changing the global produces and the security objects when adding the endpoints. This must not happen.

[2015-06-22 06:35] #21 closed

[2015-06-25 13:49] #18 closed

[2015-06-26 13:36] jmcs opened #24 "Don't jsonify responses with status 204"
Jsonify shouldn't "jsonify" responses with status 204 (no content)

[2015-06-29 09:30] #19 closed

[2015-06-29 11:50] #24 closed

[2015-07-06 20:53] hjacobs opened #27 "Swagger paths without operationId property should not crash connexion"
To ease incremental development, Connexion should not fail if one of the operationId properties is missing.

$ python3 hack.py
Traceback (most recent call last):
  File "hack.py", line 4, in <module>
    app.add_api('swagger.yaml')
  File "/usr/local/lib/python3.4/dist-packages/connexion/app.py", line 81, in add_api
    api = connexion.api.Api(yaml_path, base_path, arguments, swagger_ui)
  File "/

[2015-07-07 05:49] #27 closed

[2015-07-08 13:18] #4 closed

[2015-07-09 07:11] jmcs opened #32 "Return more detailed errors when validation fails"
Validation errors should return problems instead of simply aborting. Example:

    return connexion.problem(400, 'Bad Request', "Missing property: {}".format(missing_property))

[2015-07-09 11:58] hjacobs commented on #32
:+1:

[2015-07-14 03:19] betolink opened #33 "Make it Python 2 compatible"
It will be really useful to be compatible with Python 2.x and to support Flask decorators for app routing. I think the later is related to #20

[2015-07-14 07:27] jmcs commented on #33
:+1: I was using some python 3 only features, but since there is interest in using connexion with python 2 I'll make python 2.7 compatible.

[2015-07-14 17:10] hjacobs opened #36 "Paths with "-" do not work"
The "flaskify_path" utility function will rewrite all paths with hyphen ("-") to underscore ("_").

Paths containing hyphens should work too:

    paths:
      /my-test-path/{param-1}/{param-2}:
         ...

[2015-07-14 17:11] hjacobs commented on #36
I think the str.maketrans must be replaced with some regex magic (only replace "-" inside curly braces).

[2015-07-17 07:49] hjacobs commented on #36
Should get fixed with #37

[2015-07-17 10:03] hjacobs commented on #36
Fixed with https://github.com/zalando/connexion/releases/tag/0.7.1

[2015-07-17 10:03] #36 closed

[2015-07-20 16:56] #32 closed

[2015-07-20 18:29] hjacobs opened #39 "Support all JSON schema validation and parsing attributes"
https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#schemaObject

Currently missing:

* allowEmptyValue
* default
* maximum
* exclusiveMaximum
* minimum
* exclusiveMinimum
* maxLength
* minLength
* pattern
* maxItems
* minItems
* uniqueItems
* enum
* multipleOf
* maxProperties
* minProperties
* allOf
* additionalProperties
* discriminator

(striked through entries are already d

[2015-07-28 11:44] hjacobs opened #40 "Support gevent WSGI server"
gevent has the advantage of supporting monkey patching all libraries (Tornado does not support this), i.e. the "requests" library can be non-blocking, too:

http://gevent.org/

[2015-07-29 07:39] #20 closed

[2015-07-29 10:00] #33 closed

[2015-07-29 14:25] hjacobs commented on #40
This is already fixed in master branch.

[2015-07-29 14:26] hjacobs commented on #39
The following properties are now supported:

* pattern
* maximum
* minimum

[2015-07-30 09:13] #40 closed

[2015-08-12 19:55] hjacobs commented on #39
The following properties are now additionally supported:
* minLength
* maxLength
* enum

[2015-08-12 23:22] iwsmith opened #46 "JSON References for Parameters Not Supported"
Hello all,

If you are using references in a parameter list an error is thrown: ``body_parameters = [parameter for parameter in self.parameters if parameter['in'] == 'body']``

An example of using a reference is included in the first definition of my swagger file:

Full Swagger def:
[code]

Full Error
[code]

Please let me know if there is anything else I can do to help with this issue.

Thanks!

[2015-08-13 07:02] hjacobs commented on #46
Thanks for reporting this issue, we will look into it --- obviously Connexion should eventually work out of the box with any Swagger file, but we are not there yet.

[2015-08-13 07:22] hjacobs opened #47 "Tornado dependency should be optional"
As there are now three HTTP server options (Werkzeug, Tornado, gevent), we should make Tornado an optional dependency --- I'm using gevent myself most of the time (easy monkey patching supporting the requests library).

[2015-08-13 08:01] hjacobs commented on #46
Fixed in 0.8.5: https://github.com/zalando/connexion/releases/tag/0.8.5

[2015-08-13 08:02] hjacobs commented on #46
Please note that parameter validation is not supported yet (only body schema).

[2015-08-13 08:02] #46 closed

[2015-08-13 08:03] hjacobs opened #48 "Query and Path Parameter Validation"
Only "body" parameters are validated right now, we need to validate other parameters ("path", "query") too.

[2015-08-13 08:07] hjacobs commented on #46
@iwsmith I also updated my Connexion example to use parameter references: https://github.com/hjacobs/connexion-example

[2015-08-13 18:23] iwsmith commented on #46
Awesome! Just tried it out and it works, thanks!

[2015-08-14 14:37] hjacobs opened #49 "Expose Request Metrics as JSON endpoint"
Connexion could (optionally) expose request metrics via a dedicated "/metrics" endpoint as JSON.
The format could be like Dropwizard Metrics (http://metrics.dropwizard.io/3.1.0/manual/servlets/) or Prometheus.

Example metrics JSON (Dropwizard format):
[code]

[2015-08-18 09:00] cansik opened #50 "Cross-origin resource sharing support"
Is it planned to build CORS into connexion? The only way I found was to use the app (flask) attribute of the app (connexion) and [flask-cors](https://flask-cors.readthedocs.org/en/latest/):

[code]

[2015-08-18 13:42] cansik opened #51 "JSONEncoder datetime.date encoding fails"
The default function of the [JSONEncoder](https://github.com/zalando/connexion/blob/master/connexion/decorators/produces.py) does only handle `datetime.datetime` types in a special way. So if you insert a `datetime.date` the method fails.

Would be great if you could extend the default function with a special treatment for `datetime.date` objects:

[code]

This converts the `date` into a [W3C](htt

[2015-08-18 15:51] hjacobs commented on #50
Using the flask-cors extension does not look too ugly, but we could also enable CORS by default as Connexion supports OAuth (but I'm not sure if this is a good idea as not everybody uses OAuth)

[2015-08-18 15:52] hjacobs commented on #51
Your fix looks straight forward :-)

[2015-08-18 15:52] #51 closed

[2015-08-19 23:17] iwsmith opened #53 "Not including a 'produces' in a swagger definition results in an error"
Hi again,

I found out that if you don't include produces section you will get a very odd error:
[code]

The swagger fragment that generated this is below:
[code]

I fixed this by including a ``produces: -application/json`` in the definition.

[2015-08-24 08:30] hjacobs commented on #53
Probably it makes sense to assume "application/json" as default? The Swagger spec does not mention any default behavior and "produces" seems to be optional.

[2015-08-24 18:52] iwsmith commented on #53
That seems like a reasonable default, though I think adding a more descriptive error message would also be a reasonable, and potentially less surprising. Both are good though :-)

[2015-08-25 20:54] iwsmith opened #54 "Expose WSGI interface"
This bug is actually part bug, part feature request/enhancement, depending on how one wants to approach it.

## Problem
The Connexion app doesn't expose a WSGI interface, and as such cannot be hosted by Nginx/Apache/other WSGI compliant servers.

## Solution 1
Instead of wrapping the Flask application object, make Connexion a [Flask extension](http://flask.pocoo.org/docs/0.10/extensiondev/). I am

[2015-08-26 07:35] hjacobs commented on #54
Definitely looks like something desirable, but actually I never used a WSGI server host such as Apache/mod_wsgi etc before. I simply use Connexion with gevent and packaged as Docker image.

[2015-08-26 07:44] #53 closed

[2015-08-26 07:44] #47 closed

[2015-08-26 19:49] iwsmith commented on #54
Yeah this is what I ended up doing as well. So this issue isn't blocking/causing an issue, more of a "one day Connexion should probably do this" sort of thing. Maybe an enhancement instead of a bug? Some additional documentation on the matter wouldn't hurt though...

[2015-08-27 07:40] hjacobs commented on #54
:+1: I hope "somebody" (tm) with WSGI experience can step in here :-)

[2015-08-27 08:28] hjacobs commented on #48
Basic query parameter validation is now part of Connexion 0.9.1, I will add basic path parameter validation next.

[2015-08-27 13:30] cansik commented on #48
:+1:

[2015-08-27 14:18] hjacobs commented on #48
Path and header parameters are now also validated in Connexion 0.9.2.
Note that some less common Swagger validation rules are not yet implemented.

[2015-08-27 14:21] samuelvonstachelski commented on #48
:+1:

[2015-08-28 14:49] hjacobs opened #59 "Pass query and body parameters as keyword arguments to handler function"
Connexion should actually map query parameters (flask.request.args) and body parameters to keyword arguments (including type conversion) and pass them to the handler function directly.

[2015-09-07 20:23] hjacobs commented on #59
This could be done in a "smart" and backwards-compatible way by inspecting the handler function with "inspect.signature" (https://docs.python.org/3/library/inspect.html#inspect.signature) --- i.e. automatically map keyword arguments if the function signature contains them.

[2015-09-14 08:59] valgog opened #61 "Provide examples of correctly configuring OAuth support"
Documentation on how to configure the OAuth support for Greendale and STUPS would be very helpful

[2015-09-14 09:35] hjacobs commented on #61
@valgog there is a more or less complete example in my personal repo (it's also linked from the README): https://github.com/hjacobs/connexion-example

You basically have to provide only the TokenInfo URL, see https://github.com/hjacobs/connexion-example#using-oauth2-security

[2015-09-14 09:39] valgog opened #62 "Document how to allow long running request not block everything else"
Now per default the long running request is blocking all other requests. This is an issue of Flask, but still would make sense to document.

Here is an example from Henning's email:

[code]

[2015-09-14 09:47] hjacobs commented on #62
Yes, not specifying the server will run Flask with the Werkzeug development HTTP server --- which is not meant for production usage.

You can either run Connexion with gevent, Tornado or some WSGI container (not tested, see #54).

[2015-09-14 20:54] hjacobs commented on #54
@iwsmith using uWSGI is actually quite easy (just needs to expose app.app as "application" for WSGI), check my example: https://github.com/hjacobs/connexion-example#using-connexion-with-a-wsgi-container

[2015-09-15 14:11] merqurio opened #63 "Python3 swagger.json generation error"
Hi ! I've been testing the generator and works perfectly on Python 2 but I get this error when asking for the swagger.json if I run it with python3. I'm not sure how I can help to get this working, but please let me know, I'll gladly help on this .

Thanks in advance

[code]

[2015-09-15 14:58] hjacobs commented on #63
Can you post your swagger.json? I believe you have somewhere a dictionary with both integer and string keys.

[2015-09-15 14:59] hjacobs commented on #63
Most probably you can fix this by quoting the "integer" keys in your swagger.yaml (to make them strings).

[2015-09-15 15:40] merqurio commented on #63
Thanks !
You were right. I should put everything in quotes ? Is this an exception ?

[2015-09-16 14:55] samuelvonstachelski commented on #48
I get the following exception on all path parameters even though the swagger editor tells me, that my file is correct...

    ERROR:connexion.api:Failed to add operation for PARAMETERS /containers/<id>
    Traceback (most recent call last):
      File "/usr/local/lib/python2.7/dist-packages/connexion/api.py", line 131, in add_paths
        self.add_operation(method, path, endpoint)
      File "/us

[2015-09-16 19:10] hjacobs commented on #48
@samuelvonstachelski  can you paste your swagger.yaml here?

[2015-09-16 19:20] hjacobs commented on #63
You don't need to put everything in quotes, but YAML will consider a sequence of digits as integers, i.e. this YAML will give you the above Python JSON serialization error (as it tries to sort the dictionary keys):

[code]

[2015-09-16 19:22] hjacobs commented on #48
It looks like your operation is not a map, but a list (this would not conform with Swagger spec).

[2015-09-16 19:41] merqurio commented on #63
Understood ! Thanks a lot !!

On Wed, Sep 16, 2015 at 9:20 PM Henning Jacobs <notifications@github.com>
wrote:

[2015-09-17 08:35] samuelvonstachelski commented on #48
swagger: "2.0"
info:
  title: "FLARECAST pipeline service"
  version: "0.1"
consumes:
  - application/json
produces:
  - application/json
paths:
  /:
    get:
      operationId: pipeline.routes.root
      responses:
        200:
          description: List of base resources
          schema:
            type: array
            items:
              enum:
                - algorithms

[2015-09-17 10:33] hjacobs commented on #48
Your Swagger YAML is wrong in line 65: https://dev.flarecast.eu/stash/projects/INFRA/repos/pipeline/browse/pipeline/swagger.yaml#65

The "parameters" key is on the same level as the HTTP verbs.

[2015-09-17 10:52] samuelvonstachelski commented on #48
Swagger specs 2.0 says this is ok:
http://swagger.io/specification/#pathItemObject

[2015-09-17 11:58] hjacobs commented on #48
Oh, true, i.e. we have missing support in Connexion for that right now.

[2015-09-17 12:09] samuelvonstachelski commented on #48
Okay, no problem. I am going update our swagger file. This is anyway just a "shortcut"-feature, explicit description for each http verb may be better...
Btw: In earlier versions it worked, but I suppose the path-validation which you introduced shortly broke this.

[2015-09-18 12:05] hjacobs commented on #49
http://uwsgi-metrics.readthedocs.org/en/latest/

[2015-09-18 16:11] Jan-M commented on #49
The "status_code" is missing currently.

[2015-09-21 15:24] hjacobs commented on #62
I'm reopening this issue as the mentioned behavior (gevent monkey patch, uWSGI, etc) is not yet fully documented (in README or connexion.readthedocs.org).

[2015-09-21 15:25] hjacobs commented on #62
This is not really an issue of Connexion, but we should make it easy for people without prior Python/Flask/WSGI knowledge :smile:

[2015-09-21 18:23] hjacobs commented on #49
ZMON reference: https://github.com/zalando/zmon-worker/blob/master/zmon_worker_monitor/zmon_worker/functions/http.py#L103

[2015-09-22 09:38] #63 closed

[2015-09-23 06:11] #59 closed

[2015-09-25 12:12] cansik opened #66 "List as body parameter fails in validation"
As I saw you modified body parameter handling in version 0.10.2 #59. Now the problem is that lists cause an error because you try to call `items` on a `list` object which fails.

It looks like you just handle dicts (JSON Objects) as body parameters ([code](https://github.com/zalando/connexion/blob/9593e9e4611d9d434f00d7057b4e5f2de4308273/connexion/decorators/parameter.py#L57)):

[code]

My swagger

[2015-09-28 07:23] hjacobs commented on #66
Yes, looks like a bug :beetle: at first glance --- we will check this.
Thanks for reporting :smile:

[2015-09-28 14:12] jmcs commented on #66
Fixed by #68

[2015-09-28 14:13] #66 closed

[2015-09-30 19:08] hjacobs commented on #54
I will close this issue as the Flask WSGI application can readily be used in WSGI containers (see connexion-example).

[2015-09-30 19:08] #54 closed

[2015-09-30 19:19] iwsmith commented on #54
I haven't had time/the need to look into this, but thanks for following up!

[2015-10-02 06:18] jmcs opened #69 "Token_info in request object"
Include token_info information in the request object so that applications can get that information without having to request it again

[2015-10-02 07:19] #2 closed

[2015-10-02 10:34] kmoppel opened #71 "Problems with array and boolean inputs from query parameters"
Not sure if I'm using connexion incorrectly or it's a bug - from "in: query" input array seems to be just a string and boolean is always True

My test repo examplifying the issues:
https://github.com/kmoppel/connexion-test

[2015-10-07 07:31] jmcs commented on #69
There is still a bug on the implementation (see #70)

[2015-10-12 14:03] elezar opened #73 "HTTPS support"
When specifying {{https}} as the scheme in the API YAML file, all the URIs in the Swagger UI that is served are HTTPS endpoints. The problem is that the default server that is running is a "normal" HTTP server. This means that the Swagger UI cannot be used to play with the API.

What is the correct way to start a HTTPS server using connexion?

[2015-10-12 15:30] cansik commented on #73
The default server of connexion is the werkzeug server which is used by flask. So if you want to provide an https server there are several ways to go. One way is described by flask [here](http://flask.pocoo.org/snippets/111/) and looks like this:

[code]

But there you will encounter the problem that connexion doesn't provide a `ssl_context` parameter at the moment. This is because flask doesn't e

[2015-10-12 16:14] elezar commented on #73
Yes, I saw the comments related to PR #72, thanks. There is still some time before I have to roll things out on this side, so I can wait for your changes. Let me know if there is anything that I should have a look at from this side.

[2015-10-13 06:23] #69 closed

[2015-10-16 15:40] danballance opened #74 "How to add headers to the Response object?"
Hi guys,

I'm loving this project and hoping to make some contributions. One thing I'm unclear on though, is once I have routed the request to the function listed in operationId, is there any way that I can modify the response object before it is sent to the client?

For example, I would like to add a Location header to my 201 response when a resource is successfully created. I can create a Respon

[2015-10-16 16:16] danballance commented on #74
Okay, digging into the code a little more now and I can see that the operationId is the view_func for Flask.add_url_rule.

I can also see that the Operation class uses a series of decorators to transform the view_func response. And according to line 126 of decorators/produces.py when I return a flask.Response object, the code decides to just return my response with no further processing.

So shoul

[2015-10-16 16:42] hjacobs commented on #74
Do you want to have generic logic of adding the location header (e.g. pointing to "GET" of the same path when doing a PUT)? Where do you decide how to fill the "Location" header?

[2015-10-17 10:18] danballance commented on #74
Hi,

So I am trying to find a way to return some headers of my own, along with the response body, from the view_func specified via the operationId. Perhaps some kind of decorator on the view function might work?  Or alternatively maybe some kind of collection could be added as an attribute to the view function? So something like:

def my_view_func():
    pass
my_view_func.headers = list_of_tuples

[2015-10-17 10:18] danballance commented on #74
Hi,

So I am trying to find a way to return some headers of my own, along with the response body, from the view_func specified via the operationId. Perhaps some kind of decorator on the view function might work?  Or alternatively maybe some kind of collection could be added as an attribute to the view function? So something like:

def my_view_func():
    pass
my_view_func.headers = list_of_tuples

[2015-10-23 14:49] valgog opened #75 "Document how arguments are passed to the functions"
Please document how parameters are passed to the functions.

Also please document how strict is type checking and how much of the type checking is already implemented.

[2015-10-23 15:00] valgog opened #76 "Document, how headers are passed to the methods"
Please document and provide some examples of how headers are passed into the methods

[2015-10-23 15:02] hjacobs commented on #76
There is no special trick here: you can simply access the Flask headers via "flask.request.headers", see http://flask.pocoo.org/docs/0.10/api/#flask.Request.headers

[2015-10-27 10:52] danballance commented on #74
Hi there,

I've been thinking a bit more about this. I can see in the code that a tuple of length 2 is returned from the view function. I was thinking of modifying BaseSerializer.get_data_status_code to handle a tuple of length 2 or 3 - with the third element being a list of tuples of additional headers. Once the Response object has been generated, if the headers are not an empty list, then these

[2015-10-27 13:28] danballance commented on #74
Okay, looks like I should have referenced this issue in my pull request to link this issue in. Since I didn't do that, here's the link:

https://github.com/zalando/connexion/pull/77

[2015-10-27 18:22] hjacobs commented on #74
@danballance thanks for the PR, we'll check it :smile:

[2015-10-28 07:26] jmcs opened #78 "Document response handling"
Create a section in the documentation for response handling.
It should include:

- Serialization (From the current quickstart section)
- How connexion handles response objects
- How to return status code
- After #77 is merged, how to return headers

[2015-10-28 10:55] hjacobs commented on #78
:+1: the Sphinx documentation is pretty sparse right now

[2015-10-28 12:38] danballance opened #79 "Return api from App.add_api ?"
Hi,

I promise not to flood you with spammy pull requests, but would you be willing to accept another small change? I need access to the Swagger spec in other parts of my application. Now I could parse the yaml spec again myself, but seeing as you are already doing the Jinja2 parametrization, it makes sense to me to do this in just one place.

The processed spec is stored in Api.specification. Wou

[2015-10-28 13:02] hjacobs commented on #79
Yeah, I think app.add_api(...) can return the "Api" instance --- sounds good to me :smile:

[2015-10-29 11:28] chutium opened #82 "Add /.well-known/schema-discovery route for queries from TWINTIP"
many exceptions regularly appeared on our applications, we find they were caused by the queries from TWINTIP (https://docs.stups.io/en/latest/components/twintip.html)

we need to create a dummy response of "/.well-known/schema-discovery" for each applications, most of them are using connexion.

so it will be nice if connexion can handle those TWINTIP queries internally, or provide a template or so

[2015-10-29 11:53] elezar commented on #82
Could one add the routes when an API is added using a call to ```add_api``` returning the required information from the api?

What happens when one calls ```add_api``` multiple times (specifying different ```.yaml``` files each time)?

[2015-10-29 12:16] hjacobs commented on #79
@jmcs already did a PR to fix this issue: add_api now returns the API object :point_right: https://github.com/zalando/connexion/commit/144da03f50fd0f330eb1ccf324b43981814f3d3e

[2015-10-29 12:16] #79 closed

[2015-10-29 12:17] hjacobs commented on #82
@chutium I think adding (at least allowing "opt-in") the schema-discovery URL is a good idea

[2015-10-29 12:19] hjacobs commented on #82
For background explanation: the "/.well-known/schema-discovery" URL (https://docs.stups.io/en/latest/components/twintip.html) is our Zalando STUPS way of discovering Swagger API definitions. The STUPS TWINTIP service is regularly scanning all deployed application endpoints to find Swagger API definitions.

[2015-10-29 12:20] hjacobs commented on #82
FYI: There is also an ongoing discussion about allowing multiple Swagger API definitions per service, see https://github.com/zalando-stups/twintip-crawler/issues/5

[2015-10-29 17:48] hjacobs commented on #82
@chutium I now see your problem more clearly: I guess the real problem is Connexion logging HTTP 401 (unauthenticated) as "ERROR", we probably should reconsider and use "INFO" log level (as it's a client error and should not spam the server logs)

[2015-10-29 17:52] hjacobs opened #83 "Reconsider logging client errors (HTTP status 4xx) with "ERROR" log level"
Connexion is currently logging some client failures (HTTP 4xx) as errors (logging.error or logging.exception), we should reconsider/discuss this.

Client errors should not spam the server log file. We could (depending on the severity) consider INFO or WARN log levels.

[code]

[2015-10-29 17:53] hjacobs commented on #83
Let's discuss this before changing any code :smile:

[2015-10-29 17:53] hjacobs commented on #82
@chutium see #83

[2015-10-29 17:54] hjacobs commented on #83
I would strongly suggest to either remove "... No auth provided. Aborting with 401." or log it with INFO or DEBUG (crawlers, spiders etc will always pass by your API without any token...)

[2015-10-30 01:34] valgog commented on #76
This way one can say, that all parameters are accessible with this "trick".

Headers are 1st class citizens in Swagger and are typed as well. So it seems that they should be pushed into the method as a parameter and typing should be checked and probably values converted, just like for the normal parameters.

[2015-10-30 06:55] danballance commented on #76
That would be a nice feature if it was possible.

[2015-10-30 08:20] hjacobs commented on #76
@valgog ok, I agree. I would define most headers not in the Swagger file (as they are usually technical metadata), but I see that there are valid use cases for using headers as first class citizens as defined in Swagger spec.

[2015-10-30 09:55] danballance commented on #76
I agree with @hjacobs here - in that we wouldn't want to define every header. Rather just have the option to define one or more important headers in the spec. If a header is specified, then validating it would be great. Ideally this would work in both directions - request and response headers.

I had an example recently where in my spec I want to specify that a Location header is returned for a PO

[2015-11-05 10:05] jmcs commented on #74
#77 was already merged.

[2015-11-05 10:05] #74 closed

[2015-11-05 10:07] jmcs opened #85 "Allow adding headers to problem responses"
It should be possible to add HTTP headers to a problem response to easy debugging.

[2015-11-06 07:31] #83 closed

[2015-11-06 07:35] #85 closed

[2015-11-06 12:16] valgog opened #89 "Add support for multiple implementations in operationId"
To make it possible to use the same `swagger.yaml` file, make it possible to specify several operationId entry points. Like:

[code]

Or maybe even to somehow pin the project to enable not per-swagger-first-library, but per-project distinction.

[2015-11-06 13:02] jmcs commented on #89
According to [Swagger Spec](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#fixed-fields-5) `operationId` has to be a string.

Connexion supports Jinja2 templating and [Selmer](https://github.com/yogthos/Selmer) for Clojure seems similar, so maybe it's possible to change the `operationId` based on the implementation:

[code]

[2015-11-06 13:12] valgog commented on #89
how a JSON or YAML is not string? :D

[2015-11-06 13:25] valgog commented on #89
The templated version looks really horrible.
[code]

though it is not quite clear, if this version with JSON as a string is better :)

[2015-11-08 22:22] hjacobs commented on #89
@jmcs is right, "operationId" must be a single string.

We could implement some name mangling, i.e. using one operationId for both Connexion and Swagger1st and automatically finding the correct function:

* Connexion could use a configurable base module to prepend
* Swagger1st could use a configurable base namespace to prepend and additionally replace underscores with hyphens

[2015-11-09 11:11] sarnowski commented on #89
Small introduction how the `operationId` is handled in https://github.com/sarnowski/swagger1st :

The configured executor has a generic way of plugging in any `operationId` evaluation you need. [The default implementation](https://github.com/sarnowski/swagger1st/blob/master/src/io/sarnowski/swagger1st/core.clj#L77) resolves the `operationId` string to a full qualified Clojure function.

However, t

[2015-11-11 07:45] cansik opened #92 "Prioritisation of similar paths"
I'm currently working on an api where we have two paths which looks very similar. The only difference is the last part of the paths. In one path there is a string parameter at then end and in the other one there is a fixed path name:

[code]

So I would suggest that if I call the second path, the operation of the second path should be called. But when I try it out, connexion takes the **userid** p

[2015-11-11 08:12] jmcs commented on #92
Connexion uses Werkzeug for routing (indirectly via Flask). According to [Rule.match_compare_key](https://github.com/mitsuhiko/werkzeug/blob/5cdc596fd1b725cd25b457072e1f545958c78226/werkzeug/routing.py#L777):

So I'm almost sure that `/user/insert` will be prioritized, but I never tested it.

[2015-11-11 08:16] jmcs commented on #92
Connexions uses Werkzeug (indirectly via Flask) to route requests. According to [Rule.match_compare_key](https://github.com/mitsuhiko/werkzeug/blob/5cdc596fd1b725cd25b457072e1f545958c78226/werkzeug/routing.py#L777) `/user/insert` should be prioritized. I'll try to find out why it isn't.

[2015-11-11 08:49] cansik commented on #92
Ok, very strange but it seems to work now. Maybe there was a mistake on my side. I'll check it with a my small example and give you feedback.

[2015-11-12 13:31] valgog commented on #89
As I understand, way2 can be considered as one of the default implementations of the way1.

[2015-11-12 14:20] jmcs commented on #89
I'm completely against having way 2 as default on connexion, not only it's hacky, it would also break existing code. Adding support for a custom mapper seems cleaner.

[2015-11-12 15:17] sarnowski commented on #89
@valgog in case of swagger1st, this would be a custom handler anyway yes

[2015-11-13 14:55] valgog commented on #89
@jmcs one should not really break anything, one could implement the resolver with a fallback possibility.

Anyway, even if we would decide to go with the Way2, we have to have a solution for the Way1 in connexion. Do we have it already?

[2015-11-13 17:30] hjacobs commented on #89
@valgog no, not yet, I would propose adding some "operation resolver" configuration to the Api class (default implementation like it is now).

[2015-11-13 18:03] jmcs commented on #89
@hjacobs I agree, I will assign this issue to my self to implement this approach.

[2015-11-14 21:27] #89 closed

[2015-11-17 20:29] fehguy opened #94 "change use of `operationId`"
The spec field `operationId` is used for client generation method names.  While connexion uses `operationId` for routing directly to a controller, it will make for some very ugly client SDK methods.

For example:

[code]

Will generate into this for ObjectiveC:

[code]

It would be nice if connexion followed the same strategy as [swagger-inflector](https://github.com/swagger-api/swagger-inflector#

[2015-11-18 07:01] fehguy opened #96 "unorderable types with `default` response"
When you have an operation response like this:

[code]

the mix of integers and strings (`200` and `default`) seems to cause jsonify to blow up when loading from {{basePath}}/swagger.json:

[code]

[2015-11-18 09:26] hjacobs commented on #96
True, that was already reported once.

[2015-11-18 09:28] hjacobs commented on #94
I would rather like to see a pluggable solution like discussed in #89. There could be one implementation of the resolver using your suggested "x-swagger-router-controller".

[2015-11-18 09:29] hjacobs commented on #94
Our Friboo Clojure library does it the same: the operation resolving function can be configured.

[2015-11-18 11:10] hjacobs commented on #96
should be fixed in https://github.com/zalando/connexion/releases/tag/1.0.8

[2015-11-18 11:10] #96 closed

[2015-11-18 20:34] #94 closed

[2015-11-18 20:40] hjacobs commented on #94
Released in https://github.com/zalando/connexion/releases/tag/1.0.9

[2015-11-18 20:51] hjacobs commented on #92
@cansik any update on this? I would close this issue otherwise :hourglass_flowing_sand: :

[2015-11-18 21:00] cansik commented on #92
Sorry, I tried it and it was a mistake on my side! But thank you for the fast reply!

[2015-11-18 21:00] #92 closed

[2015-11-20 02:35] fehguy opened #98 "Allow for optional operationId"
The swagger spec states that operationId is optional.  We should auto-generate one if it does not exist--there is a simple algorithm that can be used here:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L1086-L1107

[2015-11-20 07:54] hjacobs commented on #98
@fehguy what would be the use case for this? Without a proper operationId we cannot resolve to any Python function, i.e. it would be like "operation not implemented".

[2015-11-20 07:58] hjacobs commented on #71
I think at least the "query" parameters with type "array" are now (partly) supported by #90 .

[2015-11-20 16:43] fehguy commented on #98
The ideal behavior would be to send mock responses for inimplemented methods. This is how both the node and Java frameworks operate, and it has been extremely well received.

[2015-11-21 21:56] valgog commented on #98
One could define some special function, that is used if operationId is not present, and it would default to returning "operation not implemented".

[2015-11-24 19:28] generalmilk opened #99 "Optional and uppercase parameters"
These maybe swagger codegen issues.

Optional parameters in operation are required, otherwise produce 500 internal error
Tried adding default value for optional parameters in yaml, but it is ignored.

If a parameter have uppercase first letter, it will become lower case in controllers, and produce 500 internal error.

[2015-11-24 19:55] hjacobs commented on #99
Can you give some examples (YAML + Python code)? Optional query parameters should work correctly as far as I know (but you need to set default value for Python keyword argument of course).

[2015-11-24 19:56] hjacobs commented on #99
@generalmilk you can find a working example of optional (non-required) query parameters here: https://github.com/hjacobs/connexion-example

[2015-11-25 00:18] generalmilk commented on #99
@hjacobs Thanks for quick replay.

If there is default value, then it will be automatically filled in the swagger UI, but still does not work for RESTAPI call

For eample, I have an API http://localhost/v1/getResult?num=0
where num is optional and 0 is default and means no number limit.
If I call http://localhost/v1/getResult
There will be an internal 500 error
The other problem is, 0 will be show

[2015-11-25 10:08] hjacobs commented on #99
@generalmilk yes, the Swagger "default" values are not automatically filled right now.

[2015-11-26 17:15] elezar opened #101 "Endpoint not found in main module"
With the current version of connexion I am getting messages such as the following:
[code]

for each of the endpoints that I have defined.

I am starting the server locally using:
```python app.py```

I have noticed the following:

1. The application still runs (and serves the pages), but this causes a lot of extra output at the start of the application.
2. The error only occurs when the module in

[2015-11-26 17:37] hjacobs commented on #101
@elezar can you post your Swagger YAML and app.py?

One idea: you are running Python 2 and therefore the module import will be relative, i.e. using "app" will actually import "connexion.app" (in connexion/utils.py).

It should work in Python 3 as it fixes this (module imports are absolute if they do not start with a dot).

[2015-11-27 11:44] elezar commented on #101
I can confirm that I am running python3:
[code]
(running ```python3 app.py``` results in the same error messages).

The error also shows up in a docker container that I built for this project, so I don't think that the problems are configuration-specific.

The problem is also not limited to files named ```app.py```. I have attached an example that reproduces the issue here:
[dummy.yaml.txt](https:

[2015-11-27 12:22] hjacobs commented on #101
@elezar ok, I see what your problem is: you are calling the connexion.App constructor during your module initialization, i.e. the functions are not yet defined at this point:

[code]

You can see that the module import itself fails already:
[code]

You need to ensure that importing your module does not create the app yet, or you create the app below your functions.

[2015-11-27 12:22] hjacobs commented on #101
I added the "invalid" label, as this is not a bug in Connexion.

[2015-11-27 12:50] elezar commented on #101
Thanks @hjacobs. I will move the construction to the ```start_server``` function instead.

As a general question, what is the best practice in terms of having a class handle the requests? I assume that a custom resolver would be the way to go?

[2015-11-30 22:46] hjacobs commented on #49
This works with uWSGI :smile:

[2015-11-30 22:46] #49 closed

[2015-12-04 14:44] kleijnweb opened #103 "Won't build in official python Docker image"
Connexion won't install when building the official python image (2.7):

    Digest: sha256:66cb43facbc0356c19d9522cdeffe75efae19dc27f9ba4e73f1f4bbe470de9ca
    Status: Downloaded newer image for python:2.7-onbuild
    # Executing 3 build triggers...
    Step 1 : COPY requirements.txt /usr/src/app/
    Step 1 : RUN pip install --no-cache-dir -r requirements.txt
     ---> Running in 8ddfc3fa74f4

[2015-12-04 17:11] kleijnweb opened #104 "Typecasting?"
connexxion seems to pass Swagger integers as unicode strings. At least a note in the docs would be a start.

[2015-12-05 16:33] hjacobs commented on #104
Depends on what you mean, type casting "partly" works, see e.g. https://github.com/hjacobs/connexion-example

Can you describe your situation / use case where it fails?

[2015-12-05 16:36] hjacobs commented on #103
@kleijnweb could you provide some more details and context (e.g. Dockerfile etc)? It's hard to see what's going wrong in your case. From the information you gave I would assume that you COPY the requirements file into the wrong directory (/usr/src/app) and run pip from another directory?

[2015-12-05 17:22] kleijnweb commented on #103
As you can see in that last 'onliner', the Dockerfile contains nothing but 'FROM python:2-onbuild'. Just try the oneliner in an empty directory.

[2015-12-05 17:37] hjacobs commented on #103
Thanks for reporting, seems to be a legit bug --- requirements.txt is missing from source .tar.gz

[2015-12-05 17:38] hjacobs commented on #103
I did not see this bug as I'm using the Python 3 wheel package...

[2015-12-05 17:45] hjacobs commented on #103
@kleijnweb OK, it's now fixed in 1.0.20

[2015-12-05 17:56] #103 closed

[2015-12-05 17:58] kleijnweb commented on #103
Confirmed. Very quick, thanks :)

[2015-12-05 18:05] kleijnweb commented on #104
To reproduce:

`swagger.yml`:

[code]

`api.py`:

[code]

[code]

Actual:

[code]

Expected:

[code]

[2015-12-05 18:21] hjacobs commented on #101
@elezar I was thinking about making the lookup work for class instances too.

[2015-12-05 18:21] kleijnweb commented on #104
Sidenote, this also works (`"<type 'unicode'>"`):

[code]

It would be nice if connexion was a little more defensive, this way typos can lead to hard to track bugs.

[2015-12-05 18:28] hjacobs commented on #104
True, that's a missing feature: Flask route converters should be supported http://flask.pocoo.org/docs/0.10/api/#url-route-registrations

[2015-12-05 18:34] kleijnweb commented on #104
In the mean time, a small note in the README might save new users  some time. I myself was baffled when a `pymongo.find_one()` operation did not yield any results because the argument was not an integer. Naive, perhaps, but still.

[2015-12-05 18:34] elezar commented on #101
I think I ended up adding a resolver as a class method, which added "self"
to the functions. When I get to the office on Monday, I will add an example
or a snippet.

On Sat, 5 Dec 2015 19:21 Henning Jacobs <notifications@github.com> wrote:

[2015-12-05 18:41] hjacobs commented on #104
@kleijnweb my personal recommendation (off topic): stay away from MongoDB :smirk: (we replaced a 5 node MongoDB cluster with a single node PostgreSQL :elephant:)

[2015-12-05 18:42] hjacobs commented on #104
In general we need more documentation and tutorials for Connexion...

[2015-12-05 18:48] hjacobs commented on #101
@elezar operationId can now point to instance, class or static methods (https://github.com/zalando/connexion/releases/tag/1.0.22)

Examples:

[code]

[2015-12-05 18:52] kleijnweb commented on #104
It's only a dummy backend for an AngularJS app, so yeah, not worried about that.

Far as docs go, a simple example in the README with a note about how the arguments are passed (including type coercion -- or lack thereof) would go long way.

[2015-12-05 20:05] hjacobs commented on #104
@kleijnweb you can check my pull request #105 which adds type casting for int and float path parameters using Flask path converters

[2015-12-05 20:49] kleijnweb commented on #98
@fehguy I strongly disagree. The ideal behavior would be provide a "sensible default", eg something matching the HTTP method (as an aside, you are referring to stubbing, not mocking).

[2015-12-05 21:03] hjacobs commented on #98
@kleijnweb could you elaborate on your "sensible default" proposal? I also dislike implementing stubbing/mocking as default behavior -- "not implemented" responses look more like the way to go (if one would really want to start the server without an operationId mapping)

[2015-12-05 22:31] hjacobs opened #106 "Fix GitHub language detection"
Connexion is Python, but is detected as JavaScript because of all the bundles Swagger UI JS stuff.

Fix it by following some vendor convention, see https://github.com/github/linguist/blob/master/lib/linguist/vendor.yml

[2015-12-05 22:34] hjacobs commented on #106
I moved Swagger UI into a folder called "vendor", this excludes it from GitHub's language detection. Connexion is now shown as 99.5% Python :smile:

[2015-12-05 22:34] hjacobs commented on #106
Waiting for Zalando's Open Source listing (http://zalando.github.io/) to update :hourglass_flowing_sand:

[2015-12-05 23:31] valgog commented on #98
What speaks against returning "Not implemented" error on invocation and putting a WARNING in the logs during initialization for the methods without defined `operationId` ?

[2015-12-06 05:53] kleijnweb commented on #98
@hjacobs, @valgog

Well, that's not it being optional. That's deferring the handling of the fact that it is required. With a Swagger spec you know all the endpoints, and you can know in advance that the Operation does not resolve. As a dev (-opper) I'd rather know sooner than later.

As I said, a sensible default would be the method name. HTTP methods are perfectly good verbs to use as operation n

[2015-12-06 06:22] kleijnweb commented on #98
That's a bit rough, give me some time to cook up a PR.

[2015-12-06 07:01] kleijnweb commented on #98
I kept the current behavior of appending `operationId` to `x-swagger-router-controller`, debatable but looks useful to me.

[2015-12-06 08:16] kleijnweb commented on #98
Realizing this wont work when you have more than one endpoint using the same HTTP method. Unless you define an operationId for the overlap, like so:

[code]
And of course wont work when dealing with multiple resource types, so pretty limited 'as is'.

[2015-12-06 10:35] hjacobs commented on #106
Looks good now: http://zalando.github.io/#repositories :snake: :smile:

[2015-12-06 10:35] #106 closed

[2015-12-06 10:37] kleijnweb commented on #98
Addressed both issues in #107, example:

`app.py`:

[code]

The `default_module_name` is now configurable per `Api` which makes more sense.

`api/foo.py`:
[code]

`api/bar.py`:
[code]

[code]

[2015-12-06 16:48] kleijnweb commented on #76
I don't really see a use case for passing to controllers. Headers are to be picked up by the infrastructure (gateways and the framework), usually. I realize you can specify `in: header` according to the docs, but that doesn't necessarily mean they should be passed to controllers. They *should* be validated and type casted though.

The Swagger spec is IMO a bit vague on header params. I mean this (

[2015-12-07 08:43] elezar commented on #101
Thanks, I will have a look at the new changes (and those of the resolver object that @kleijnweb is implementing for #107). For the time being, I was using the following:

[code]
where I explicitly map to function methods even if only a function name is provided as an ```operationId```.

[2015-12-07 12:20] jmcs opened #108 "Explore using jsonschema to validate requests"
Swagger's [Schema Objects](http://swagger.io/specification/#schemaObject) follow the [JSON Schema] so using (http://json-schema.org/) [jsonschema](https://pypi.python.org/pypi/jsonschema) to validate the requests can make connexion much simpler.

[2015-12-07 12:55] hjacobs commented on #108
True, we should try it out

[2015-12-07 16:59] kleijnweb opened #109 "Simple HTTP Cache Using Resty E-Tags"
REST has well known semantics that make it relatively easy to employ E-Tags for both caching and (optimistic) concurrency control. I'm mostly interested in caching right now.

Simple implementation:

 - Serve from memory if available, remove when invalidated
 - Enforce a limit based on byte length, pop when exceeded
 - POST on `/resource` invalidates` /resource`
 - PUT, PATCH or DELETE on `/resour

[2015-12-07 18:04] danballance commented on #109
I'm not familiar enough with the code to contribute constructively right now, but I did just want to add that this would be a nice feature to have.

When you say cached in memory, might this be configurable to use something like memcached? Or would setting up memcached be as much work as Varnish and defeat the purpose?

[2015-12-07 18:28] kleijnweb commented on #109
It'd be less work from your perspective as what I was referring to would encompass writing the needed VCL. For me, writing the VCL and implementing this into Flask/Connexion would be comparable.

When I say 'platform', I mean Python->Flask->Connexion. And when I say 'in memory' I mean Flask running indefinitely. Although writing/reading to/from memcached would probably be trivial to add.

[2015-12-07 19:13] valgog commented on #108
One should be really careful as JSON parsing is the heaviest operation in connexion for now.

[2015-12-07 19:36] danballance commented on #109
:+1:

[2015-12-07 22:19] exdevlin opened #110 "Option to disable validatorUrl"
This option was implemented in https://github.com/swagger-api/swagger-ui/issues/630 but has not made its way here. It would be nice to have the option available in the swagger.yaml to either use a different validator or disable the validator indicator at the bottom of the UI page. The API I'm currently building out is an internal one, so we'd rather not be hitting an external validator.

[2015-12-08 07:34] hjacobs commented on #110
:+1: sounds like a reasonable request

[2015-12-08 13:39] hjacobs commented on #104
changes now released in https://github.com/zalando/connexion/releases/tag/1.0.25

[2015-12-08 13:47] hjacobs commented on #101
@elezar I release a new version https://github.com/zalando/connexion/releases/tag/1.0.25 --- can you check if it works for you (with the custom resolver)?

[2015-12-08 13:55] elezar commented on #101
My custom resolver method still works as expected. Is this what you were asking, @hjacobs?

[2015-12-08 14:10] hjacobs commented on #101
:+1:

[2015-12-08 14:10] #101 closed

[2015-12-08 14:10] kleijnweb commented on #98
The changes in #107 were merged (which is great); the implementation ended up a slightly different than above (the interface, not so much the behavior).

I'll create a PR for a README update. This can probably be closed, as `operationId` is now indeed optional (albeit not by default).

[2015-12-08 14:42] kleijnweb opened #111 "Concurrency Control Using E-Tags"
Would be nice to have to have concurrency control at the API level, especially for microservices that tie different resources together, using a virtual data model.

Here's how Spring does it: https://objectpartners.com/2015/06/02/etags-and-spring-data-rest/

Related to #109

[2015-12-08 16:38] kleijnweb commented on #109
I just realized I'm being silly :blush: A 304 does not need a body, so there's no need to keep the responses in memory. The client should keep its own cache.

[2015-12-08 21:19] kleijnweb commented on #109
@hjacobs @danballance

I created a gist of what I came up with. Totally untested and is not going to plug-in into connextion as is. I'm looking for some feedback.

Gist: https://gist.github.com/kleijnweb/f11ae17446ab6e72107d

Basically it:

1. Enables content-hash based ETagging by default. The cache then (you can plugin anything that supports `get`, `set` and `has`) contains the current ETags, in

[2015-12-10 17:31] danballance commented on #109
Hi,

I'm not really qualified to comment on your TODO concerns. I'll leave that to someone more ecperienced with the code base I think! But in principle it looks good to me. ETag support working "out of the box" would be a really nice feature I think and I could see myself using this. Even so, I wonder if it should be switched on via a config setting and not be on by default?

[2015-12-10 18:11] kleijnweb commented on #109
As with any type of caching, you should at least be able to disable it. The "by default" above refers to the plugin, not connexion. I feel it would make sense so handle ETag related headers by default, but suspect that type of decision is better handled separate from adding the option.

[2015-12-10 18:16] kleijnweb commented on #104
@hjacobs What about arrays/dicts? Difficult?

[2015-12-10 18:16] kleijnweb commented on #111
Closing this as part of #109 now.

[2015-12-10 18:16] #111 closed

[2015-12-10 18:25] kleijnweb commented on #98
Closed? operationId *is* optional now...

[2015-12-10 19:20] hjacobs commented on #98
@fehguy any comments on this? you opened the issue :smirk:

[2015-12-10 19:22] hjacobs commented on #104
@kleijnweb Flask supports custom "converts" in the path, so I don't think it's difficult --- I'm not sure what the semantics are for other types in "path" parameters (need to check Swagger spec)

[2015-12-10 19:24] hjacobs commented on #109
BTW (as a side note): uWSGI supports some kind of "cache" memory region for server-side caching (uWSGI has "better" concurrency behavior than Python with GIL), see http://uwsgi-docs.readthedocs.org/en/latest/PythonModule.html#cache-functions

[2015-12-10 19:37] fehguy commented on #98
Seems reasonable to me!  Thank you

[2015-12-10 19:37] #98 closed

[2015-12-11 06:07] kleijnweb commented on #109
Hmm. That reminds me to add an internal optimistic locking mechanism. Just validating that the ETag hasn't changed since the request started would do :)

[2015-12-21 11:46] jimsproject opened #115 "route file per entity fail compile."
i have swagger yaml that operation id group per entity.  for example i have acc_manager file contain add,update,get,delete function. and so for others like brand, user.
the issue is when i import the library in main script like sqlalchemy.  i have declare db connection in main. then in file acc_manager from myapp import db. when i compile it fail . with err. all function in acc_manager not detect.

[2015-12-21 11:48] hjacobs commented on #115
Can you provide some example code snippets to reproduce the problem?

[2015-12-21 11:48] hjacobs commented on #115
I guess the issue is similar to #101

[2015-12-21 12:03] jimsproject commented on #115
here the error
Failed to add operation for POST /v1/am
Traceback (most recent call last):
  File "/home/jimmy/api/lib/python3.4/site-packages/connexion/api.py", line 136, in add_paths
    self.add_operation(method, path, endpoint)
  File "/home/jimmy/api/lib/python3.4/site-packages/connexion/api.py", line 117, in add_operation
    validate_responses=self.validate_responses, resolver=self.resolver)

[2015-12-21 12:09] hjacobs commented on #115
What Python version are you using? Can you try renaming the `api` package to something else? I suspect the relative imports in Python 2 (?) to import `connexion.api` instead of your `api` module.

[2015-12-21 12:20] hjacobs commented on #115
OK, I found the problem: the `account_manager` module cannot import the `db` module as it is defined in `__init__.py`. You have a circular reference (`__init__.py` referencing swagger.yaml and loading the modules which in turn try to load `db` from `__init__.py`.

Try to defer the application initialization or `app.add_api(..)`.

[2015-12-21 14:33] hjacobs commented on #108
JSON Schema validation was released in https://github.com/zalando/connexion/releases/tag/1.0.28

Please check and report any issues..

[2015-12-27 22:19] #115 closed

[2016-01-12 16:11] KarimJedda opened #119 "Passing configuration objects to routes"
Hi,
thanks for this awesome project, I set up a whole api with authentication and everything in 2 hours tops!!
Now I want to pass a configuration file for when I start an api; let's say I have a test api, a dev api and a production api, that all three should make requests on different databases (test, dev, prod), how can I pass the configuration to every function of every route?

Eg I want to be a

[2016-01-12 16:32] hjacobs commented on #119
@KarimJedda thanks for the positive feedback!

What do you want to achieve exactly? Do you want to have different configurations for different routes (operations)? Or do you want to use a global configuration?

Note: you can also use custom classes (with instance or static methods) to encapsulate your operations (example operationId: "mymodule.mysubmodule.MyClass.my_static_method").

[2016-01-12 19:00] hjacobs commented on #108
@jmcs can we close this issue?

[2016-01-13 00:13] dfeinzeig opened #120 "Basic working example for RestyResolver?"
I'm trying to get RestyResolver working and I'm encountering an exception:

[code]

I've defined get() inside of api/mypath.py, which I thought was the right thing to do, omitting operationIDs from my swagger.yaml.

Is there an example that uses RestyResolver?

[2016-01-13 08:12] hjacobs commented on #120
Would the exception be fixed with #121?

I haven't used RestyResolver myself yet...

[2016-01-13 08:14] hjacobs commented on #120
@kleijnweb as you introduced `RestyResolver`, could you provide some examples (e.g. below https://github.com/zalando/connexion/tree/master/examples/)?

[2016-01-13 08:27] kleijnweb commented on #120
Sure. Not before the weekend I'm afraid though.

[2016-01-13 08:29] hjacobs commented on #120
:+1: thanks

[2016-01-13 08:44] KarimJedda commented on #119
You're welcome @hjacobs thanks for this amazing tool!

Well I want to use a global configuration for every route. This means if I start the api in development mode, i want the /channel route to call the function get_channel with configuration=dev. If I start the api in test mode, I want it to call the function get_channel with configuration=test.

This means, I want to put a global configuration v

[2016-01-13 08:49] #108 closed

[2016-01-13 12:02] KarimJedda commented on #119
Ok, found it!

### api.py
[code]

### routes.py
[code]

Does the job pretty well. So I have a shell script that sets the environment everytime (test, dev, prod, qa)

Thanks buddy!

[2016-01-13 12:03] #119 closed

[2016-01-15 04:54] dfeinzeig opened #122 "how to use uwsgi_metrics?"
i see that if uwsgi_metrics is installed it seems to create timers.  how would i use this?

[2016-01-15 08:32] hjacobs commented on #122
You would need to initialize the module (see https://github.com/zalando-stups/connection-tracker/blob/master/app.py#L162) and expose the metrics via HTTP (https://github.com/zalando-stups/connection-tracker/blob/master/swagger.yaml#L26).

NOTE: The linked "Connection Tracker" app (https://github.com/zalando-stups/connection-tracker) is really hacked together and I would not use it as a good exampl

[2016-01-15 22:33] dfeinzeig commented on #122
Cool, thanks!  I'll give it a try!

[2016-01-16 23:04] hjacobs commented on #122
@dfeinzeig no problem, just file an issue (as you did) for any questions or problems you might have :smile:

[2016-01-16 23:04] #122 closed

[2016-01-17 15:33] kleijnweb commented on #120
Didn't get around to it yet, but I'll make time coming week or at worst the week after that. I'm going to need it for an upcoming microservice anyway, so it shouldn't be much trouble. Sorry for the delay / poor expectation management.

[2016-01-21 10:50] hjacobs commented on #99
Default values for query parameters should now work (fixed with #117), see my example app: https://github.com/hjacobs/connexion-example

[2016-01-21 10:50] hjacobs commented on #99
@generalmilk could you check whether the fix (default query params) works for you?

[2016-01-21 18:17] Majoros commented on #54
The following is all that's needed to get it working with wsgi

app = connexion.App(__NAME__)
application = app.app

[2016-01-21 18:18] hjacobs commented on #54
:+1:

[2016-01-21 18:37] hjacobs commented on #110
Online validator is now disable by default, released in https://github.com/zalando/connexion/releases/tag/1.0.38

[2016-01-21 18:37] #110 closed

[2016-01-22 17:53] hjacobs opened #123 "Add basic example with HTTP Basic Auth"
We should add a basic example on how to do simple basic auth (asked here https://github.com/hjacobs/connexion-example/issues/1).

Good starting point: http://flask.pocoo.org/snippets/8/

[2016-01-22 21:42] hjacobs commented on #123
Done: Basis Auth example added here: https://github.com/zalando/connexion/tree/master/examples/basicauth

[2016-01-22 21:42] #123 closed

[2016-01-22 21:48] hjacobs opened #124 "Consider having a pluggable Security mechanism (OAuth2, Basic Auth, ..)"
Connexion only supports [simple OAuth 2 Bearer token lookups](https://github.com/zalando/connexion/tree/master/examples/oauth2) right now, we might consider having a more pluggable (but simple) mechanism which supports defining custom authentication/authorization functions for [OpenAPI/Swagger security requirements](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#securityR

[2016-01-23 00:46] jmcs commented on #124
I already thought it. This could be implemented with [pkg_resources](https://pythonhosted.org/setuptools/pkg_resources.htm) entrypoints.

[2016-01-25 09:31] trancee commented on #124
@jmcs can you give an example on how to do that?

[2016-01-25 09:34] jmcs commented on #124
You can see how I did it in [turnstile](https://github.com/zalando/turnstile/blob/master/turnstile/checks/__init__.py#L76), you can add entry points in the [setup.py](https://github.com/zalando/turnstile-codevalidator/blob/master/setup.py#L52).

[2016-01-25 13:26] trancee commented on #124
I am sorry, but I do not quite understand how I can use that in my case. I am rather new to this library and Python itself. Do you have some sort of guide to follow?

[2016-01-27 00:36] dfeinzeig commented on #50
thanks @cansik !  just used flask-cors myself.

[2016-01-27 08:49] hjacobs commented on #50
I guess the flask-cors approach is good enough, closing this issue :smile:

[2016-01-27 08:49] #50 closed

[2016-01-27 16:08] dfeinzeig commented on #50
I think it makes sense to use that package, especially given the flask philosophy of minimalism.  But maybe we can update the docs recommending it and with the example from above?

[2016-01-30 12:46] kleijnweb commented on #120
Created the example, tried the Swagger UI, works nicely.

[2016-01-30 14:05] generalmilk commented on #99
Hi Henning,

Thanks for the notice. I can't test it in recent, but I may do it after the
vacation.

On Thu, Jan 21, 2016 at 6:50 PM, Henning Jacobs <notifications@github.com>
wrote:

--

Best Regards,

Tao Chenhttp://www.ee.columbia.edu/dvmm/vso/~taochen/
Post Doctoral Research Scientist,
Digital Video and Multimedia Lab,
Columbia University

[2016-02-01 03:55] scolby33 opened #127 "Issue with Boolean types in code generated by swagger-codegen"
Here is a minimal (non-)working example needed to reproduce this issue.

test.yml:
[code]

Process this file via swagger-codegen:

`java -jar /usr/local/Cellar/swagger-codegen/2.1.5/libexec/swagger-codegen-cli.jar generate -i ./test.yml -l python-flask -o .`

Here is the resulting swagger.yml:
[code]

Running this with `python app.py` results in the following error:

[code]

Manually changing `boo

[2016-02-01 11:25] hjacobs commented on #127
@scolby33 thanks for the bug report, we'll look into it (apparently @rafaelcaricio will tackle it)..

[2016-02-01 15:25] milo-minderbinder opened #128 "Documentation - relative routing with router controller"
The endpoint routing section incorrectly states that the `x-router-controller` property may be set for an operation to make the operationId property relative. However, the correct property name is `x-swagger-router-controller` (see [connexion.resovler:60](https://github.com/zalando/connexion/blob/master/connexion/resolver.py#L60)).

[2016-02-01 15:45] rafaelcaricio commented on #127
I was investigating on this issue and I found out that the default property should be `"true"` (with quotes) in your fist example and then it would work. But I tried to run locally to reproduce the fix, but I did not worked. So I dig into more on that issue...

I found out that the Swagger model converts the `default` property to a [native boolean value](https://github.com/swagger-api/swagger-core

[2016-02-01 15:48] #128 closed

[2016-02-01 15:56] rafaelcaricio commented on #127
Giving a second thought on it. Maybe an option to make Connexion accept literal boolean values and not only string boolean values as default value.

[2016-02-01 15:59] rafaelcaricio commented on #127
Yes, we should update Connexion (ref. https://github.com/swagger-api/swagger-core/issues/1368)

[2016-02-01 15:59] scolby33 commented on #127
I can confirm that placing quotes around the default values fixes the issue.

Is the issue that YAML expects that Boolean values are quoted? [Here](http://www.yaml.org/spec/1.2/spec.html#id2803629) in the spec, it seems that Booleans can be `true` or `false`, without quotes. This is matched in the [Ansible documentation](https://docs.ansible.com/ansible/YAMLSyntax.html#yaml-basics) (scroll down a

[2016-02-01 16:00] rafaelcaricio commented on #127
Yes, I searched further and we should accept in Connexion the `true` literal. I am working on it right now.

[2016-02-01 16:02] scolby33 commented on #127
Oh, I see we commented at the same time. Thanks for the update!

[2016-02-01 22:39] hjacobs commented on #120
@dfeinzeig the example is here: https://github.com/zalando/connexion/tree/master/examples/restyresolver

[2016-02-02 12:20] jvgutierrez opened #131 "Missing query parameters returns HTTP 500 instead of 400"
swagger endpoint definition:
[code]

Steps to reproduce the issue:

1. Launch app server
2. curl -I http://192.168.99.101:8080/v1/dummy --> returns HTTP 400 as expected
3. curl -I http://192.168.99.101:8080/v1/dummy?test=1 --> returns HTTP 200 as expected
4. curl -I http://192.168.99.101:8080/v1/dummy --> **returns HTTP 500**

stack trace:
[code]

[2016-02-02 12:48] hjacobs commented on #131
Hmm, your points 2 and 4 have the same URL, but return different status codes? How can this be?

Could you also post your Python code?

Thanks!

[2016-02-02 13:03] jvgutierrez commented on #131
@hjacobs it changes from 400 to 500 after one request with the mandatory parameter being present.
The code is pretty simple:
[code]

[2016-02-02 13:09] hjacobs commented on #131
True, I can confirm the bug.

[2016-02-02 13:31] jvgutierrez opened #132 "Pass formData parameters as keyword arguments to handler function"
Hi

formData parameters (flask.request.form) should be mapped as keyword parameters like query or body parameters.

Is this feature on the roadmap?

[2016-02-02 14:10] hjacobs commented on #132
@jvgutierrez we don't have any "roadmap" :smirk:

Could you reference the OpenAPI Spec regarding this feature?

[2016-02-02 14:20] jvgutierrez commented on #132
Sure, it's documented here: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameterIn

example from OpenAPI 2.0 spec:
[code]

[2016-02-02 14:46] jmcs commented on #39
Isn't this fixed by #108 and #114 ?

[2016-02-02 14:57] jvgutierrez opened #133 "What is the way to declare an endpoint that returns a flask.Response object?"
I'm trying to create an endpoint that returns a flask.Response (302).
Code:
[code]
But I get the following error:
[code]
Additionally if I try to avoid the JSON conversion setting the output for that endpoint as text/plain using the following swagger definition:
[code]
I get the following stack trace when I launch the server:
[code]

What is the right way to return a flask.Response object using co

[2016-02-02 15:14] hjacobs commented on #133
1. returning flask.Response should work out of the box (I haven't tested "redirect"..), will check...
2. regarding the "produces" mimetype: The "produces" property needs to be a _list_ of mimetypes, see https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields (obviously Connexion's error handling could be better..)

[2016-02-02 15:18] jvgutierrez commented on #133
@hjacobs flask.Response is handled by Produces(BaseSerializer) class:
[code]

BaseSerializer has associated the mimetype text/plain but I'm not able to set the endpoint output to text/plain, I tried with text/plain and text/plain; charset=utf-8 as is specified in the OpenAPI spec but I get the error that I pasted in the issue.

[2016-02-02 15:37] hjacobs commented on #132
:+1: I personally don't "need" this, but happy to see contributions :smirk:

[2016-02-02 17:05] rafaelcaricio commented on #131
@jvgutierrez which version of `connexion` are you using?

[2016-02-02 17:15] hjacobs commented on #131
@rafaelcaricio I can reproduce the bug with connexion==1.0.49

[2016-02-02 17:19] hjacobs commented on #127
@scolby33 the fix was released in https://github.com/zalando/connexion/releases/tag/1.0.49

Can you verify that it works for you? Thanks!

[2016-02-02 17:50] scolby33 commented on #127
Everything looks good! Thank you for your quick response and fix for this issue.

[2016-02-02 17:50] #127 closed

[2016-02-03 07:51] #132 closed

[2016-02-03 09:24] jvgutierrez commented on #133
Ok.. the problem with the text/plain is solved. It was my fault:
[code]
is not the the same than:
[code]

But it is still sending a 200 response with the text conversion of the flask.Response object:
[code]
[code]

[2016-02-03 09:36] jvgutierrez commented on #133
Ok.. It's solved. The way to go is the following:
[code]
Instead of returning a real flask.Response object

[2016-02-03 09:55] hjacobs commented on #132
Released in https://github.com/zalando/connexion/releases/tag/1.0.50

[2016-02-03 09:55] hjacobs commented on #133
hmm, IMHO real flask.Response should also work -- I will reopen the issue...

[2016-02-03 09:57] andwxh opened #135 "Not passing get params to controller function"
I have a swagger endpoint like this:

[code]
And I have used swagger editor to generate a server, I got two _.py_ files:
**app.py:**
[code]
**default_controller.py:**
[code]
It looks fine.
I have tried using some wrong params, it returns a good 400 status with error information.

But when I using correct params, here comes **500** with no details information.
I have read the documents and connexio

[2016-02-03 09:57] jvgutierrez commented on #133
@hjacobs I can send you two tests showing the behaviour if it's helpful for you guys

[2016-02-03 10:10] jvgutierrez commented on #133
Check https://github.com/jvgutierrez/connexion/commit/3697a5d72c40795fe5600491a609f8421d11322d
[code]
[code]
[code]

[2016-02-03 10:45] jvgutierrez commented on #131
@rafaelcaricio I just pushed a test against in my repo https://github.com/jvgutierrez/connexion/commit/7eba65459ad3c1bb03b7663c74df28365bc9b86f.

Check:

[code]

[2016-02-03 10:50] rafaelcaricio commented on #131
@jvgutierrez  I am sending a PR now with the fix. ;)

[2016-02-03 10:57] jvgutierrez commented on #131
@rafaelcaricio awesome, thanks :)

[2016-02-03 11:07] #131 closed

[2016-02-03 11:12] hjacobs commented on #133
@jvgutierrez :+1: thanks for reporting and the test (I was assuming it worked fine)

[2016-02-03 11:14] hjacobs commented on #135
@andwxh the query parameter names must match exactly: compare "orderId" and "order_id" --- if you use `order_id` in Python too (which also follows Python coding conventions), it should work (?)

[2016-02-03 11:33] andwxh commented on #135
@hjacobs you are right. It works!
It seems that swagger-editor generates a wrong param name.
It's a little confusing that there is no searching result about this issue.
Thank you for your answer.

[2016-02-03 11:39] hjacobs commented on #135
@andwxh maybe you can raise the issue in swagger-codegen or swagger-editor or wherever the root cause lies.
Thanks!

[2016-02-03 12:51] rafaelcaricio commented on #133
@hjacobs I can take care of this issue.

[2016-02-03 14:44] #133 closed

[2016-02-03 15:10] hjacobs commented on #133
fixed in https://github.com/zalando/connexion/releases/tag/1.0.52

[2016-02-03 15:10] hjacobs commented on #131
fix released in https://github.com/zalando/connexion/releases/tag/1.0.52

[2016-02-04 03:46] andwxh commented on #135
@hjacobs yep, I will read the code of swagger-editor, trying to find out what cause this problem.

By the way, when I using the new function param, here comes a new issue. The server returns **500** after the first time of wrong param.

The new controller function is like this:
`def query_get(token, order_id):`

After I start this server, I have tried some requests:

The first 3 requests with wron

[2016-02-04 05:51] elezar commented on #135
The 500 on the second call sounds like Issue #131.

On Thu, 4 Feb 2016 04:46 andwxh <notifications@github.com> wrote:

--
Evan Lezar
www.evanlezar.com

[2016-02-04 08:37] hjacobs commented on #135
@andwxh this sounds like #131 which was fixed in https://github.com/zalando/connexion/releases/tag/1.0.52 --- please try upgrading:

[code]
(command assumes you are using a globally installed Connexion lib with Python 3)

[2016-02-04 12:33] ilia-khaustov opened #138 "Any possibility to override default validation error message?"
Hello, default error message is formed in `problem` module, I would like to change this like I did for Flask app:

[code]

However I didn't manage to do it with connexion swagger validation errors. Any help?

[2016-02-04 12:47] hjacobs commented on #138
I think you can't override the Connexion error response right now (only with "monkey patching").

Probably a reasonable feature request...

[2016-02-07 10:33] scolby33 opened #139 "All Boolean values passed in via query strings evaluate to True"
I have an issue with an endpoint defined like so:
[code]
(slightly edited to only include salient parts)

The test controller function I've been using goes like this:
[code]

This request doesn't print `reverse` to the console:
[code]

And this one does
[code]

So far, so good. But this request *also* prints `reverse`:
[code]

After several hours of pulling my hair out and single-stepping through

[2016-02-07 11:44] danballance commented on #139
Nice catch!

[2016-02-07 16:30] hjacobs commented on #139
:+1: thanks!

[2016-02-08 07:26] #139 closed

[2016-02-08 13:15] jmcs commented on #124
I will implement the plugin system as soon as possible. When I'm done I'll provide an example on how to create a plugin.

[2016-02-08 13:25] KarimJedda commented on #124
I don't know if it's relevant but i've added JWT as auth method for connexion, how can I share it?

[2016-02-08 13:43] jvgutierrez opened #141 "Issue with endpoints with body and path params"
I'm having problems creating an endpoint like this one:
[code]

When a request is sent to this endpoint the following error is generated:
[code]

I've committed a test case for this issue in https://github.com/jvgutierrez/connexion/commit/95fcdbeb18242832e3799e02e22ecc3c9698a5a7

Test case output:
[code]

[code]

[2016-02-08 14:03] jvgutierrez commented on #141
Sorry guys... it was a problem on my side, I have to send Content-type header set to application/json.
BTW, according to flask API (http://flask.pocoo.org/docs/0.10/api/#flask.Request.json) in https://github.com/zalando/connexion/blob/master/connexion/decorators/parameter.py#L79 flask.request.get_json() should be used instead of flask.request.json

[2016-02-08 14:03] #141 closed

[2016-02-08 15:30] jvgutierrez opened #142 "get_function_arguments() behavior changes between python 2.7 and python 3.5"
Function get_function_parameters from connexion/decorators/parameters.py changes its behavior from python 2.7 to python 3.5:

[code]

If the parameter function is a decorated function (i.e basicauth example) with parameters in python 2.7 the result is always an empty list while in python 3.5 the result is the list with the actual parameters of the decorated function.

[2016-02-08 15:31] jvgutierrez commented on #142
This it's why I was misleaded to open #141 :(

[2016-02-08 21:41] hjacobs commented on #139
Released in https://github.com/zalando/connexion/releases/tag/1.0.54

[2016-02-09 22:40] #120 closed

[2016-02-10 15:14] rafaelcaricio opened #144 "Status code 204 should be allowed to return headers metadata"
Currently connexion does not provide a way to return headers with metadata on [204 HTTP response codes](https://github.com/zalando/connexion/blob/master/connexion/decorators/produces.py#L123-L125) from endpoints. On my perspective it should be allowed as described in the [RFC-2616 section 10.2.5](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html) of HTTP/1.1.

[2016-02-11 15:54] #144 closed

[2016-02-12 09:59] hjacobs opened #146 "Use "TOKENINFO_URL" environment variable as fallback"
We decided to standardize the OAuth 2 token info URL configuration: we are now using the `TOKENINFO_URL` environment variable which should be supported by Connexion.

See also https://github.com/zalando-stups/taupage/issues/177

[2016-02-12 09:59] hjacobs commented on #146
See also https://github.com/zalando-stups/friboo/issues/45

[2016-02-13 11:56] hjacobs commented on #146
This change allows us to roll-out our [Plan B Token Info](https://github.com/zalando/planb-tokeninfo) service in shadow-mode by relying on naming convention (using `TOKENINFO_URL` in all apps).

[2016-02-13 13:24] hjacobs opened #148 "Remove usage of HTTP_TOKENINFO_URL environment variable"
Follow up to #146

This should be done not before March 2016.

[2016-02-13 17:06] #146 closed

[2016-02-15 11:04] rafaelcaricio commented on #148
Why it shouldn't be done before March 2016?

[2016-02-15 11:21] rafaelcaricio commented on #142
Could you please provide an example of a function that have different behaviour so we can reproduce this situation?

[2016-02-15 11:34] jvgutierrez commented on #142
@rafaelcaricio Take your basicauth example (https://github.com/zalando/connexion/blob/master/examples/basicauth/app.py#L36). Modify /secret to receive one parameter. For instance:
[code]

And of course the controller to handle the new parameter:
[code]

This will only work in python 3, in python 2.7 get_secret will be always invoked without parameters

[2016-02-15 12:16] hjacobs commented on #148
@rafaelcaricio that's just an arbitrary date to give people the chance to see the warning (if they always rely on the latest version) --- we could do it anytime :smirk:

[2016-02-15 12:18] hjacobs commented on #148
I'm personally relying on latest versions of many libraries and I don't like it if they break suddenly without any prior deprecation warnings..

[2016-02-15 12:44] rafaelcaricio commented on #148
Ok. I was just curious why that specific date. :+1: I understand your concern and support the idea. :smiley:

[2016-02-15 13:00] rafaelcaricio commented on #39
Can we close this issue?

[2016-02-15 13:25] hjacobs commented on #39
@rafaelcaricio I guess we need to go through all properties defined in Swagger Spec and check :smirk:

[2016-02-15 16:21] rafaelcaricio commented on #142
@jvgutierrez I have been investigating this issue and seems like there it is a problem when you use the `functools.wraps` or nothing in your decorators. The `functools.wraps` does not pass the information about parameters of the original function to the decorated instance. This makes connexion fail to get the argument list defined in the original function.

A solution I recommend is to use the [`d

[2016-02-15 19:32] #142 closed

[2016-02-15 21:47] rafaelcaricio commented on #82
Can we close this issue?

[2016-02-15 21:53] hjacobs commented on #82
Yes, let's close it.

[2016-02-15 21:53] #82 closed

[2016-02-15 21:58] rafaelcaricio commented on #71
I cloned your project and everything works as expected on the most recent version [1.0.58](https://github.com/zalando/connexion/releases/tag/1.0.58).

[2016-02-15 21:58] #71 closed

[2016-02-15 21:59] hjacobs commented on #71
:+1: great :smile:

[2016-02-15 22:08] rafaelcaricio commented on #62
Does [it](https://github.com/zalando/connexion#server-backend) covers what is expected by this issue?

[2016-02-15 22:12] rafaelcaricio commented on #61
Can we close this issue?

[2016-02-15 22:12] hjacobs commented on #61
Yes, I added an example recently here: https://github.com/zalando/connexion/tree/master/examples/oauth2

[2016-02-15 22:13] rafaelcaricio commented on #61
Great! :heart:

[2016-02-15 22:13] #61 closed

[2016-02-16 11:58] rafaelcaricio opened #151 "Consider bravado-core to manage OpenAPI/Swagger 2.0 validation/parser"
I have found that we are dealing a lot with OpenAPI/Swagger 2.0 Specification validation and parsing in Connexion code. I was willing to implement an library independent of Connexion code that would manage all those reference checks and validations in a way that could be used by Connexion and other packages that want to deal with OpenAPI Specification. I have found that there is already a package

[2016-02-16 13:00] hjacobs commented on #151
@rafaelcaricio thanks for the hint, I'm planning on writing a library to automatically have a convenient command line client for Swagger APIs: https://github.com/zalando/openapi-cli-client

[2016-02-17 10:30] rafaelcaricio commented on #48
This is now supported after #152 got merged.

[2016-02-17 10:30] #48 closed

[2016-02-17 10:32] rafaelcaricio commented on #99
Closing this issue since it seems fixed.

@generalmilk if you find any problem, you are welcome to open this issue again.

[2016-02-17 10:32] #99 closed

[2016-02-17 10:33] #135 closed

[2016-02-17 19:28] rafaelcaricio commented on #151
I will try to fit `bravado-core` into Connexion code and see what happens.

[2016-02-18 10:01] danballance opened #153 "Log details of response validation errors?"
Hi guys,

I'm not sure if I'm missing an option here - or maybe I can add something in for you? So I haven't upgraded in a while and now when I run my code I get this error message:

500, "Response body does not conform to specification"

Tracing this back through the code, this seems to be generated at lines 54-56 of decorators/response.py. If I examine the error returned, there is plenty of info

[2016-02-18 19:52] hjacobs commented on #153
@danballance I guess that sounds reasonable :smile:

[2016-02-18 20:35] rafaelcaricio commented on #153
Hi @danballance! It makes total sense what you wrote. If you can send a PR with your suggestions would be even better. Anyway, submitting an example of what your are experiencing would help to learn how we can improve.

[2016-02-19 15:24] jkozlowicz opened #155 "Silencing ImportErrors raised in modules referenced by operationId"
To reproduce simply create an incorrect import that will raise an ImportError in a module that is referenced by operationId of an endpoint specified in a swagger API.

[code]

When URL `/api/scms` is requested the module raises an `ImportError` and the test method is not reachable, but connexion proceeds and it says:
```{"status": 404, "type": "about:blank", "detail": "The requested URL was not fo

[2016-02-19 15:40] hjacobs commented on #155
:+1: good point, better error messages would be helpful here --- maybe just log an error?

[2016-02-19 17:48] rafaelcaricio commented on #151
I started working on it and seems like we are already supporting some invalid definitions. I am thinking about creating a compatibility layer over the invalid declarations we are supporting and throwing a warning for those while fixing them automatically whenever possible. Also I am fixing our code to work only with valid specification. I just wanted to update you all with the status of this task.

[2016-02-22 12:52] jkozlowicz commented on #155
I would rather re-raise the ImportError. Logging the error would have the following meaning for me:
Some of your views could not be imported, but the applications has been started anyway.

I'd rather prevent application from starting when something could not be imported and show why and where it failed. To me that seems to be the most reasonable choice.

[2016-02-22 12:55] rafaelcaricio commented on #155
I agree with @jkozlowicz even more because it is a route that will be unavailable and your specification is saying that it should be available. So it should fail badly and not start the server in that case.

[2016-02-22 17:41] LappleApple opened #158 "Proposed Tagline change"
The current tag -- "Python Flask Framework to automagically handle REST API requests based on OpenAPI/Swagger"—doesn't completely convey all that Connexion does, or what makes it particularly useful.

The tagline at Swagger.io—"A Swagger-first REST framework on top of Flask with validation and OAuth 2 support"—brings in the OAuth 2 support, which is good.

But I'm wondering if the focus should be

[2016-02-23 07:28] jmcs commented on #158
Maybe we can include "Api First"®™ there to be buzzword compliant :)

[2016-02-23 08:26] hjacobs commented on #158
Uppercase "API" please... :smirk:

[2016-02-23 10:18] rafaelcaricio commented on #155
That is actually the problem: https://github.com/zalando/connexion/pull/28

It was intentionally added to keep the application going, there is even a [test for it](https://github.com/zalando/connexion/blob/master/tests/fakeapi/api.yaml#L433-L450). Connexion keeps going even if there is a problem adding a operation. @hjacobs @jmcs Should we change that?

I still agree that this kind of problem shou

[2016-02-24 10:50] LappleApple commented on #158
"API First" is subjective -- I'd stick to functionality

[2016-02-25 12:55] #155 closed

[2016-02-26 14:28] rafaelcaricio commented on #158
My 2 cents:

or

[2016-02-26 14:33] rafaelcaricio commented on #151
I have backed up on using `bravado-core` since it's propose is other than being used in backend applications to handle specs. We would need to call their internal functions/methods that could change anytime and make bad impact in how we would use it in Connexion codebase.

Instead I decided to just use the [`swagger_spec_validation`](https://github.com/Yelp/swagger_spec_validator) package which wi

[2016-02-26 14:35] rafaelcaricio commented on #124
@KarimJedda Do you have it in a public repo where we could take a look?

[2016-02-26 14:51] #151 closed

[2016-03-01 10:57] danballance commented on #153
Hi guys,

I got sidetracked with other work, but hope to get a pull request in this week. It's only quite a simple change to add the extra logging.

[2016-03-02 21:11] hjacobs opened #164 "README: "Installing It" section will not work"
The "Installing It" section in the README..
* references uppercase PyPI package (will work anyway with PIP, but not good...)
* tells me to run "python hello.py" (no such file or directory)

[2016-03-03 08:46] #164 closed

[2016-03-04 11:55] jmcs opened #167 "Include a link to the RTD in the README."
Include a link to the documentation in read the docs in the README and make sure all the information the README is also on the documentation

[2016-03-04 12:04] #73 closed

[2016-03-04 12:05] rafaelcaricio commented on #62
Closing this issue, we have info about that in the `README`

[2016-03-04 12:06] #62 closed

[2016-03-04 13:51] jmcs commented on #39
Anything missing here is now a bug on jsonschema and not in connexion.

[2016-03-04 13:51] #39 closed

[2016-03-04 14:15] #75 closed

[2016-03-04 15:06] rafaelcaricio commented on #158
Any decision on that?

[2016-03-04 15:19] LappleApple commented on #158
I think #1 is clearer

[2016-03-04 15:44] #78 closed

[2016-03-04 15:44] #167 closed

[2016-03-07 09:51] #104 closed

[2016-03-08 06:49] jmcs opened #173 "Fix issues reported by quantified code"
To avoid bugs and improve maintability the issues reported in [quantifiedcode](https://www.quantifiedcode.com/app/project/6ca6bc4af4224f4586a74658f551a64f) should be fixed

[2016-03-09 20:45] JoshStutts opened #179 "OAuth: When verifying token, do not pass the access_token as query param"
In decorators/security.py - verify_oauth, a session.get() call is made to the token_info_url and the access_token to be verified is passed as a query parameter.  According to the OAuth 2.0 Authorization Framework: Bearer Token Usage, section 5.3 ( https://tools.ietf.org/html/rfc6750#section-5.3 ):

I propose that this code is changed to something along these lines:

`token_request = session.post(t

[2016-03-09 20:59] hjacobs commented on #179
@JoshStutts thanks, actually I would propose passing the OAuth token in the `Authorization` header (as "Bearer" token), this is also what our two (!) :smirk: different OAuth providers support, e.g. our Open Source Plan B infrastructure, see https://planb.readthedocs.org/en/latest/oauth2.html#introspection-endpoint

Even better would be to support the "new" standard OAuth 2.0 Token Introspection En

[2016-03-09 21:02] hjacobs commented on #179
Our STUPS Spring support library (for implementing OAuth resource servers with Java/Spring) also uses the `Authorization` header, see https://github.com/zalando-stups/stups-spring-oauth2-support/blob/master/stups-spring-oauth2-server/src/main/java/org/zalando/stups/oauth2/spring/server/DefaultTokenInfoRequestExecutor.java#L71

[2016-03-09 21:06] hjacobs commented on #179
I would not use the HTTP "POST" method here as the request does not change any state, I think passing the access token should look like:

[code]

[2016-03-09 21:07] JoshStutts commented on #179
Good call on changing the title of this issue, I should not have been presumptive of the solution when opening the issue.  I like the idea of passing it as an Authorization header and you are right about using GET instead of POST, but RFC 7662 that you linked to wants the access_token passed as '"application/x-www-form-urlencoded" data'.

[2016-03-09 21:09] hjacobs commented on #179
@JoshStutts yes, the linked RFC is fairly new and not yet implemented (at least not in our own OAuth providers, e.g. https://github.com/zalando/planb-tokeninfo/issues/32) --- the response structure is also different, i.e. the new "Introspection Endpoint" is something for the future and should be configurable (on/off)

[2016-03-09 21:15] hjacobs commented on #179
NOTE: Google actually uses the `access_token` query parameter, see https://developers.google.com/identity/protocols/OAuth2UserAgent#validatetoken

[2016-03-09 21:19] JoshStutts commented on #179
Their first example of calling one of their APIs also passes the access_token as a query parameter:  https://developers.google.com/identity/protocols/OAuth2UserAgent#callinganapi

[2016-03-09 21:28] hjacobs commented on #179
@JoshStutts I propose adding a `TOKENINFO_METHOD` option:

* "auth" --- use Authorization header (make this the default)
* "query" --- use "access_token" query param
* "introspect" --- use RFC 7662 method (which also has different response structure)

(Just a quick shot, open for better ideas...)

Obviously passing a custom function into Connexion for token validation is another option.

[2016-03-09 21:29] hjacobs commented on #179
@JoshStutts what OAuth infrastructure are you using? I guess most people will be constrained by existing infrastructure...

[2016-03-09 21:33] JoshStutts commented on #179
I created my own JWT based OAuth server, so I'm not using any particular product and I'm open to any implementation that helps secure the access_token.  I like the idea of having auth, query, or introspect as options that could be passed to connexion.

[2016-03-09 21:35] hjacobs commented on #179
:+1:

[2016-03-09 21:37] hjacobs commented on #179
NOTE: We also need to update our Connexion OAuth example (https://github.com/zalando/connexion/tree/master/examples/oauth2) as soon as this issue is tackled...

[2016-03-11 00:09] ja-b opened #180 "Global response definitions not supported"
When response validation is enabled, we trigger the `$ref needs to point to definitions or parameters` when using global response definitions. The swagger [spec](http://swagger.io/specification/) contains the responses field as global and should support references to global responses.

This is a matter of copying the behavior for definitions and parameters to handle responses. I can add a pull req

[2016-03-11 07:52] #148 closed

[2016-03-11 16:08] cansik opened #182 "Add flag for validation disabling"
In my swagger definition I have a lot of parameters which contain a valid datatype which then is needed for our automated query builder:

[code]

Now the problem we encounter is, that sometimes the validation of these types is not possible because we need for example **nullable types** as well.

So my question is, if it is possible to add an option which disables the validation or a method to prov

[2016-03-15 19:17] dfeinzeig commented on #124
@KarimJedda, I need JWT as an auth method too.  can you share what you've done?

[2016-03-15 19:35] dfeinzeig commented on #124
@jmcs , so you are suggesting that folks would write their custom security mechanism as a separate package?  i will either be using or writing a JWT mechanism in the coming days, so if you have any suggestions I'm glad to think about them while working on this.

[2016-03-15 20:52] dfeinzeig opened #183 "How are new releases to PyPI indicated?"
i love the momentum that is gaining with this package. how can i tell which code is included in which releases to pypi? can we maybe use tags or have PRs that include the version increment and release or such?  thanks!

[2016-03-15 20:58] hjacobs commented on #183
We are using release tags, these are automatically created by our Continuous Delivery pipeline (as soon as I press the "release" button): https://github.com/zalando/connexion/releases

[2016-03-15 20:59] hjacobs commented on #183
NOTE: the release description on GitHub is not automatic, so I add bullet points manually with a short summary :smile:

[2016-03-15 21:02] hjacobs commented on #183
FYI: the release process steps are basically in here: https://github.com/zalando/connexion/blob/master/release.sh

* replace the version number in __init__.py
* upload to PyPI (python3 setup.py sdist bdist_wheel upload)
* git tag && git push --tags

Afterwards I add the release note on GitHub manually.

[2016-03-15 21:03] hjacobs commented on #183
If you want to be notified, either watch this repository or see e.g. https://stackoverflow.com/questions/17395151/how-can-i-subscribe-to-updates-of-a-package-on-pypi

[2016-03-15 21:05] hjacobs commented on #180
@rafaelcaricio @jmcs could you check this?

[2016-03-15 21:05] hjacobs commented on #182
@rafaelcaricio @jmcs could you check this?

[2016-03-15 21:57] dfeinzeig commented on #183
Awesome!  Thanks for the pointer to /releases !

[2016-03-15 21:57] #183 closed

[2016-03-17 14:50] KarimJedda commented on #124
@rafaelcaricio @dfeinzeig , I put an example up here https://github.com/KarimJedda/connexion_jwt_example , improve it and hack it and let's make a plug and play thing with it :dancer:

[2016-03-17 15:37] dfeinzeig commented on #124
@KarimJedda , thank you!  Looks like the flask-jwt package assumes that the flask app is also the source of issuing JWTs.  A common case is using another service to issue JWTs, and using a flask/swagger-based service that does something, but using JWTs for auth.  This is my need and the path I'm headed down now.  I'll keep digging in and post PR when I have something and we can discuss it further

[2016-03-17 15:44] hjacobs commented on #124
@dfeinzeig you can also check our Plan B Token Info service which validates JWT (issued by Plan B Provider) and provides a "traditional" OAuth Token Info: https://github.com/zalando/planb-tokeninfo

The problem with validating self-contained JWTs directly is not having any revocation mechanism, Plan B Token Info provides that (checking tokens against revocation lists).

[2016-03-17 15:50] dfeinzeig commented on #124
I'll take a look at that, thanks.

I believe it's fairly common to have relatively short expirations on JWTs,
in our case 30 minutes, so there isn't really a need to revoke a token,
since it's going to expire soon.  Let me think about this some more though.

On Thu, Mar 17, 2016 at 11:44 AM, Henning Jacobs <notifications@github.com>
wrote:

--
David Feinzeig
feinzeig@gmail.com
508.353.4735

*Site:

[2016-03-18 10:49] beenhead commented on #179
Would you expect the example to be broken at the moment? Having some trouble testing it. Thanks.

[1] 13287
srv:~/connexion/examples/oauth2$  * Running on http://0.0.0.0:7979/ (Press CTRL+C to quit)
srv:~/connexion/examples/oauth2$ ./app.py
INFO:werkzeug: * Running on http://0.0.0.0:8081/ (Press CTRL+C to quit)
srv:~$ curl http://localhost:8081/secret
{"type": "about:blank", "title": "Unauthorized

[2016-03-18 12:36] rafaelcaricio commented on #153
Solution for this issue being discussed in https://github.com/zalando/connexion/pull/186

[2016-03-18 12:38] #76 closed

[2016-03-18 14:42] rafaelcaricio commented on #180
@ja-b please check #187 .

[2016-03-18 14:53] #158 closed

[2016-03-18 16:15] ja-b commented on #180
lgtm, this issue can be closed on merge.

[2016-03-18 18:25] hjacobs commented on #179
@beenhead works for me --- I just tested it with Connexion 1.0.76 (Python 3, installed from PyPI)

[2016-03-18 18:28] hjacobs commented on #179
@beenhead what version are your running? Did you change the example `app.py`? I see that your `app.py` starts on port 8081, but the example uses port 8080 (compare yourself: https://github.com/zalando/connexion/blob/master/examples/oauth2/app.py)

[2016-03-18 20:08] beenhead commented on #179
Hi - I am running 1.0.76:

And the only thing I changed in app was the port (I had something running on 8080). I shut down the other service and started `app.py` on 8080 just to make sure, and still same issue.

[2016-03-19 14:36] rafaelcaricio commented on #182
I was reading about [this issue](https://github.com/OAI/OpenAPI-Specification/issues/229) which cover this topic about Swagger/OpenAPI Spec. I would be nice to support `x-nullable` in Connexion. But I also agree we should have a way to make possible more personalisation of custom types/formats. I will invest some work on that next week.

[2016-03-20 18:49] srlopez opened #188 "Is a standalone Framework in top of Flask o can be implemented as a Flask Blueprint?"
Just my question.

Is there a sample with connexion implemented as a Blueprint for Flask.
Could be interesting to use existing server apps to server api too with connexion.

Thanks

[2016-03-21 08:55] jmcs commented on #188
You can instantiate an [Api object](https://github.com/zalando/connexion/blob/master/connexion/api.py#L48) and use the `Api.blueprint` to add the API blueprint to Flask. At least for simple applications you can also use the App object from connexion as you would use a Flask App object.

[2016-03-21 09:15] #153 closed

[2016-03-21 12:49] #180 closed

[2016-03-21 14:56] srlopez commented on #188
Thanks @jmcs  Joao . Don`t know too much about Api.object. I'll try to doit.
Close the issue.
Thanks again

[2016-03-21 14:56] #188 closed

[2016-03-21 18:22] d6e opened #190 "Python3 syntax used in exception"
In `connexion/api.py::add_paths()`, the following statement is used in an `except` block:
[code]
This statement will fail with an AttributeError when using python2.

[2016-03-21 18:25] dfeinzeig commented on #190
This is now fixed in master with PR #186 .

[2016-03-21 18:25] d6e commented on #190
Nevermind, this appears to be fixed in a recent commit 191ec9aeda283d20dc56c55e74ab477511f1faf5.

[2016-03-21 18:25] #190 closed

[2016-03-22 21:16] WouterVH commented on #183
for releasing, you might look into the zest.releaser-package.

[2016-03-23 17:13] chriscoomber opened #191 "File upload doesn't work"
I'm trying to upload a file with Swagger and Connexion, but the file part of the formData doesn't make it to my handler.

The relevant swagger.yaml is (the file is the 3rd parameter):
[code]

My handler at `mypackage.controller.put_avatar` receives only the first two parameters, and was expecting: deployment_id, avatar_filename, avatar:
[code]

I think this is an error in https://github.com/zaland

[2016-03-24 03:20] chriscoomber commented on #191
A similar problem in parameter.py is that the body is assumed to be JSON. My workaround for the above issue is to send a byte string in the body with content-type `application/octet-stream`, but naturally this isn't JSON.

[2016-03-24 14:03] WouterVH opened #194 "version-mismatch: v1.0.33 in master, while v1.0.76 was already released"
On pypi I see as latest release v1.0.76
https://pypi.python.org/pypi/connexion/1.0.76

yet  in github-master I see 1.0.33
https://github.com/zalando/connexion/blob/master/connexion/__init__.py

this breaks my setup when using addon packages like swagger-tester
https://github.com/Trax-air/swagger-tester

this depends on connexion >=1.0.37, so when I switch to master,
my setup stops working because

[2016-03-24 14:29] WouterVH opened #195 "specify minimum requirements"
the connexion-requirements are listed without any minimum version-numbers,
this can lead to broken setups, when older dependencies are already installed.

eg. connexion is broken when using jsonschema v2.4.0
so the requirement should be:
jsonschema >= v2.5.0

[2016-03-25 15:50] kmoppel opened #196 "Not possible to return Decimals from the controller"
I'm getting a serialization error when returning python Decimal data types with the built in automatic JSON serialization.
I guess one solution would be to add special handling in JSONEncoder and convert to str or float or maybe just make it possible to provide a custom JSON serializer.

  File "/usr/local/lib/python3.4/dist-packages/connexion/decorators/produces.py", line 44, in default
    retur

[2016-03-25 18:36] rafaelcaricio commented on #196
Hi @kmoppel thank you for bringing up this issue. Would it be better for you to convert your `Decimal` value to string yourself and then return in your view? I say that because `Decimal` conversion to string is tricky since every usage needs a different precision.

[2016-03-29 13:44] kmoppel commented on #196
Hi, thanks for the reply! Well, converting myself would be of course doable but could definitely get tricky with nested datatypes and such...so I think being able to provide a custom serializer would be the best. Flask already supported something like that (http://flask.pocoo.org/snippets/119/), but when I tried like described it didn't have an effect.

[2016-03-29 16:31] rafaelcaricio commented on #196
@kmoppel Got it. I tried to reproduce and then sent a PR to fix that. Please check the #199.

[2016-03-30 14:38] alex1235 opened #200 "File upload with Swagger"
My webapi uses swagger to document it. How do I make the swagger to show the upload button - similar to petstore upload example? Any help is much appreciated

[2016-03-30 17:58] hjacobs commented on #194
We patch the version number during the release process, but the change is not pushed to master (only tagged) --- I guess we can replace the version number in `__init__.py` with something like "dev" or "unknown".

You can verify that the version number is correct in the PyPI sdist Tar GZip: https://pypi.python.org/packages/source/c/connexion/connexion-1.0.81.tar.gz#md5=f02832b1e329257af48d2b8e5487c

[2016-03-31 11:20] #191 closed

[2016-03-31 11:34] rafaelcaricio commented on #194
@hjacobs I added a PR to try to avoid those kind of problems from now on. Please take a look at #201

[2016-03-31 11:37] rafaelcaricio commented on #182
@cansik Please check if #197 solves partially your problem.

Allowing customisation for validation is the next step.

[2016-03-31 11:39] WouterVH commented on #194
please take a look at PEP 0386: https://www.python.org/dev/peps/pep-0386
version-numbers should be comparable,and where :
master dev-version  >  v1.0.76

is v0.0.0 >  v1.0.76?  Definitelety not, and this will break dependencies

[2016-03-31 11:40] WouterVH commented on #194
a good dev-version-number is
next release + ".dev0"

it should be rather  v1.0.77.dev0

[2016-03-31 12:13] cansik commented on #182
@rafaelcaricio Yes this looks very promising! I'll give it a try this week. Thank you!

[2016-03-31 13:36] rafaelcaricio commented on #194
@WouterVH Not sure if you read the @hjacobs comment previously. This value is replaced during the release processes before publishing into [pypi](https://pypi.python.org/pypi). So it will not break anything.

Please use the Connexion package from *pypi* (oficial published version) and not a local clone to avoid this kind of problems. Or since you want to use a local version of Connexion change the

[2016-03-31 13:48] rafaelcaricio commented on #194
In the PR #201 the version **placeholder** was updated to `2016.0.dev1` to be complaint with PEP-440.

[2016-03-31 21:27] #194 closed

[2016-03-31 21:28] #196 closed

[2016-04-01 13:05] chriscoomber commented on #200
Check out my swagger spec fragment in the issue I raised before (which is now fixed): https://github.com/zalando/connexion/issues/191

This is what I'm using now, and in the swagger UI you can use the upload button. My handler at `mypackage.controller.put_avatar` looks like:
[code]
where `avatar` is a FileStorage object as described by http://werkzeug.pocoo.org/docs/0.11/datastructures/#werkzeug.d

[2016-04-01 13:43] chriscoomber opened #203 "File download doesn't work"
I'm trying to use connexion to return a requested file, such that the 200 response has a binary string as its body. I've tried two ways so far and neither have worked. The first looks like a bug in swagger_spec_validator, but the second looks like a Connexion issue.

Swagger yaml fragment:
[code]

### Problem 1
I raised https://github.com/Yelp/swagger_spec_validator/issues/46 to cover this, but ac

[2016-04-01 14:18] dimbleby commented on #203
I think that the first issue above was fixed only last week, via Yelp/swagger_spec_validator#40.  (This is not yet published).

[2016-04-01 14:44] chriscoomber commented on #203
I've double checked the issue I raised (https://github.com/Yelp/swagger_spec_validator/issues/46) on their master branch and it still fails, so I'm not sure.

[2016-04-03 12:02] alex1235 commented on #200
Apologies - should have stated that my question pertained to uploading multiple files in a C# project. Thank you for the speedy answer, though.

[2016-04-03 21:34] bkcsfi opened #204 "Possibility to be strict while validating JSON responses with more keys than defined in spec"
Hi,

I'm trying out connexion, and even with logging level = DEBUG I can see it's not validating response data. Looking through the source code I don't see in master where it actually does any validation of responses.

Has this been implemented?

thanks

[2016-04-04 03:01] dfeinzeig commented on #204
When you make the call to app.add_api() you need to pass the argument validate_responses=True

[2016-04-04 03:03] bkcsfi commented on #204
I am passing that parameter:

connexion_app.add_api(
     'swagger.yaml',
     resolver=class_resolver,
     validate_responses=True)

[2016-04-04 03:04] dfeinzeig commented on #204
The validation is a bit limited right now.  Try changing a type in your swagger doc and see if it fails validation (e.g., int to float or string or such).

[2016-04-04 03:21] bkcsfi commented on #204
Thanks for the fast response.

one example I'm testing is this simple schema. The customer.get_customer method is returning a dictionary with many more keys than just 'id', but no exception is raised.

I am using connexion==1.0.84

[code]

[2016-04-04 03:23] dfeinzeig commented on #204
No problem.

Yeah, that kind of validation isn't yet in connexion as far as I know.  I discovered that myself a few weeks ago.  It's on my todo list to add.  I believe data types are the only real response validation at the moment.  Missing or extra return values aren't caught yet.

[2016-04-04 03:24] bkcsfi commented on #204
great, thanks for the info, I won't worry about it right now.

[2016-04-04 08:40] rafaelcaricio commented on #204
Extra keys in objects are not covered. It should throw an error if you mare missing a required field in a object though.

If we are thinking of adding that kind of validation (more keys than defined) I would recommend to add an option to make the validation be strict about that or not.

[2016-04-04 15:14] rafaelcaricio commented on #203
@dimbleby @chriscoomber I made some changes in Connexion to behave properly when the operations return binary data. It should help you here.

[2016-04-04 15:18] rafaelcaricio commented on #200
@alex1235 Please only open issues with questions related to the Connexion project. If not, please ask in the pertinent project or mailing list or stack overflow or wherever else.

[2016-04-04 15:18] #200 closed

[2016-04-04 15:35] beenhead commented on #179
Since updating to 1.0.81 this issue is resolved and demo code works. Thanks.

[2016-04-04 15:39] rafaelcaricio commented on #179
@beenhead thanks for the feedback! :grinning:

[2016-04-04 15:46] hjacobs commented on #179
@rafaelcaricio I think this issue must be kept open, @beenhead's problem was "unrelated" to this issue's title.

[2016-04-04 15:49] rafaelcaricio commented on #179
@hjacobs Oops, sorry.

[2016-04-05 12:35] adelosa opened #206 "Handle nested paths in swagger definitions"
Connexion does not seem to handle nested paths.
Tried loading the example Uber swagger spec provided at [editor.swagger.io](editor.swagger.io).
Using RestyResolver to perform view resolution with 'api' as module.
Added placeholder views for all path actions.
Python 3.5.1 on MacOS
The spec has the following paths defined:
- /estimates/time
- /estimates/price
  Fails with `Attribute error: module 'a

[2016-04-05 14:14] hjacobs commented on #206
@adelosa I think this is not a problem with Connexion, but with RestyResolver..

[2016-04-05 14:22] dfeinzeig commented on #206
@adelosa , /estimates/ and /estimates/1/ would both live in /api/estimates.py as search() and get().  is it weird for nested paths to live in directories under /api when the root doesn't?  what if the methods for /time and /price lived in /api/estimates.py, since that is the module that handles the estimates resource?  they could possibly be called get_price() and get_time().  thoughts?

[2016-04-06 12:43] adelosa commented on #206
@hjacobs agree, its the RestyResolver thats the issue.
@dfeinzeig I'm fairly new to the whole swagger thing and not sure how often this actually happens or how deeply nested a resource could or should be but I do like the idea of auto generated method locations..
Is it possible in a swagger spec to have paths that could be 2, 3, 4 levels and if so, would a get_level1_level2_level3 type function be

[2016-04-06 13:08] SensibleWood commented on #138
Just for the record I hacked this together from elsewhere to overwrite validation errors to my own needs:

[code]

Good enough but a better way to override would be super

[2016-04-07 05:54] #203 closed

[2016-04-07 13:57] rafaelcaricio commented on #206
@adelosa

I think a more clean way would be to have it with nested modules. And if someone does not agree and wants to add "nested method naming" (`get_level1_level2_level3`) they can send a new PR with a option to specify that they want nested method naming.

Please send your PR and I will be happy to review and get it merged.

What do you think?

[2016-04-07 14:42] dfeinzeig commented on #206
@rafaelcaricio , sorry, I didn't mean to sound argumentative. I've been thinking about this problem too and was curious to hear other people's thoughts on the best approach. When I have time I'll put together a PR with my thoughts so we can discuss it.

[2016-04-07 15:05] rafaelcaricio commented on #206
@dfeinzeig No problem! Thank you!

In my opinion both approaches are valid. It is hard so set a general rule that will work for everyone, so I suggest we could be as flexible as possible.

[2016-04-07 17:16] #195 closed

[2016-04-08 11:18] jmcs opened #210 "Vendorize dependencies?"
### Description

After seeing #195 and taking the whole node left-pad debacle we should consider vendorizing at least some our dependencies like [pip](https://github.com/pypa/pip/tree/develop/pip/_vendor) and [requests](https://github.com/kennethreitz/requests/tree/master/requests/packages), among others, do.

### Pros

- We control the versions that we use, and are not dependent on what's is or i

[2016-04-08 11:42] alexole commented on #210
I'd opt for explicitly mentioning version numbers, not more, not less. It's open source, sometimes new version breaks something.

[2016-04-08 11:46] hjacobs commented on #210
My opinion: we should not vendorize packages, only if we really have a "risky" package among our dependencies, e.g. I would never vendorize Flask.

[2016-04-08 12:01] jmcs commented on #210
@hjacobs what about "less known" packages like strict-rfc3339 (the page for this one doesn't even exist anymore http://www.danielrichman.co.uk/projects/strict-rfc3339.html) and jsonschema?

[2016-04-08 12:20] rafaelcaricio commented on #210
_TL;TR:_ I vote to not vendor dependencies.

Our user base is not that broad and people that use Connexion use it in their own applications, as part of it, so they have control over what is going to be installed together. If Connexion was a CLI tool or something to be used as it-is I would vote to vendor the dependencies.

[2016-04-08 14:59] hjacobs commented on #210
@jmcs even "less known" packages will (usually) not just disappear --- in the end we could always fork and upload a new package (I did this for at least one package where the maintainer was not responding to my Python 3 support issue / PR).

I guess Connexion apps will mostly be packaged e.g. as Docker images anyway (in Zalando definitely), so the risk that existing app versions break due to packa

[2016-04-12 13:22] WouterVH commented on #210
:-1: for vendoring

[2016-04-12 13:28] hjacobs commented on #210
Can we close this issue? Apparently the consensus is to avoid vendoring :smile:

[2016-04-12 13:32] #210 closed

[2016-04-18 15:13] jerameelsaavedra opened #213 "JSON generated not in order with respect to the YAML file"
### Description
Json that is generated is out of order then output on the swagger ui is not in order with respect to the yaml file

### Expected bahaviour
to follow the order that is assigned on the yaml file

### Actual behaviour
random order of the operations

### Steps to reproduce
I followed the tutorial and the examples that are on this repo

### Additional info:

Output of the commands:

- `

[2016-04-21 22:14] wasbazi opened #214 "swagger_spec_validator adds in x-scope property to definitions"
When validating the swagger document the dictionary that is passed to `swagger_spec_validator.validator20` is modified. It is possible for that library to add in any properties it wants to the spec.

Expected behavior, validation doesn't add in extra properties like `x-scope` to references.

Actual behavior, validation adds in extra properties like `x-scope` to references which can cause issues wh

[2016-04-22 16:20] #214 closed

[2016-04-25 09:25] rafaelcaricio commented on #213
JSON objects should not rely on ordering of members. Ref.: https://tools.ietf.org/html/rfc7159#page-6

This is **not** an issue/bug.

What is your problem with that not being ordered?

[2016-04-25 11:16] jerameelsaavedra commented on #213
yes you are right it not an issue but i would like to have it in order as when i create a yaml and they show in order( as on the swagger ui website ). .  its not a big deal but i would like to show them organize and not randomly in different places. do you know a way that i can show them in order using connexion ?thank you

[2016-04-25 11:58] rafaelcaricio commented on #213
Not with Connexion.

You can run your own Swagger UI instance that reads your API JSON spec and customise the frontend code to render it the ordering you want. It has nothing to do with Connexion.

[2016-04-25 11:58] #213 closed

[2016-04-25 12:42] rafaelcaricio commented on #182
@cansik It might interest you. I just added an example how to create custom formats to be used with Connexion https://github.com/zalando/connexion/pull/216

[2016-04-28 01:54] mit2nil opened #217 "AttributeError: 'App' object has no attribute 'handle_exception'"
### Description
I am writing flask backend application which uses flask-restful. I created swagger.yaml using swagger.io's online editor and exported its connexion based server implementation of swagger UI. I merged that code on top of my existing application and after that I tried to run my application.

### Expected bahaviour
It should be able to start the server and localhost:5000/v1/ui should

[2016-04-30 14:38] tommyjcarpenter opened #218 "Connexion hides real errors in endpoint handling module"
### Description

If you have an error in the module that handles an endpoint, Connexion bombs while importing the API, so you never see what the real error is. You have to drop into python and import the endpoint-handling module to see the real error. This makes debugging somewhat painful.

### Expected bahaviour
If I drop into python, I see the real error in my module (in this case, a missing imp

[2016-04-30 16:58] KarimJedda commented on #218
I second this one, happened so many times to me and didn't understand why.

[2016-05-01 20:50] hjacobs commented on #218
I guess we have to change this function and optionally (if "debug" is set?) print all ImportErrors:
https://github.com/zalando/connexion/blob/master/connexion/utils.py#L94

[2016-05-02 15:36] arjunrn opened #219 "Skipped Parameter Validation"
In the _validation.py_ file there is a _ParameterValidator_ class with follow line in it's init method:
[code]

Here `parameters` is a list of parameters for an endpoint from the swagger specification. The expected behaviour is that the parameters get sorted into a dictionary based on their type. But the _groupby_ has a caveat which is mentioned in the documentation.

When the parameters are sorte

[2016-05-03 17:10] josephwinston opened #220 "Swagger 2.0 yaml and git head and pip install connextion fail"
### Description
Loaded ```yaml``` into ```swaggerapi/swagger-editor```, Generate Server-> Python Flask, install connexion either from git (via ```python setup.py install```) or ```pip install connexion``` on both python 2 and python 3.  Running ```app.py``` gives the following traceback:

[code]

### Expected

### Actual

### Steps to reproduce
See about

### Additional info:

Output of the comman

[2016-05-05 18:19] nickdirienzo opened #221 "How is Connexion doing in production?"
I'm considering using Connexion in production for similar reasons [Zalando's blog post](https://tech.zalando.de/blog/meet-connexion-our-rest-framework-for-python/) outlines.

I have a couple of questions before actually doing that, none of which are actually issues, but this seems like the best medium to get in touch with the team behind this project to help shed some light here.

Given that the p

[2016-05-05 18:47] hjacobs commented on #221
We are using it in "production" at Zalando, at least for low-traffic services (not anything customer facing). One example is Lizzy: https://github.com/zalando/lizzy (both traffic and latency do not matter in this case)

I'll try to find out what use cases Connexion is used for in Zalando...

[2016-05-05 18:52] hjacobs commented on #220
Could you paste your YAML snippet here? It looks like the structure is not what the code expects (string where a dict is expected).

[2016-05-05 20:35] nickdirienzo commented on #221
Thanks for the quick reply, @hjacobs. Oh, okay. Thanks for digging up more use cases / data on it.

[2016-05-05 20:40] nickdirienzo commented on #221
This is a bit of an aside, but because of your experience with API First / Swagger-first services, what project is running your customer-facing API gateway?

[2016-05-06 08:50] drummerwolli commented on #221
@nickdirienzo e.g. our spark-appliance is using connexion as a http interface for handling request in a restful manner: https://github.com/zalando/spark-appliance

several teams are using this for production usecases, mostly in analysis and reporting. again: latency, traffic and speed do mostly not matter here. but connexion is serving us well there ... @chutium can tell you more about it ...

[2016-05-06 09:46] thirty3 commented on #217
I ran into a similar problem and the reason is that `connexion.app` is not a direct swap for `Flask`. connexion does however encapsulate the Flask instance in an `app` variable

If your original code is:
[code]

Then the connexion equivalent is:
[code]

You do not need to create an `API` instance since connexion does that for you.

Disclaimer: This may lead to unexpected side affects, yet to be fo

[2016-05-06 15:34] chutium commented on #221
Hi @nickdirienzo , yes, our team is using Connexion for some low-traffic services, non-customer-facing API, such as the spark-appliance mentioned by @drummerwolli , there is a REST API built with Connexion (https://github.com/zalando/spark-appliance/blob/master/webapp.py) for providing an OAuth/JWT protected gateway for spark cluster.

but yes, latency, traffic or speed are no matter here, all of

[2016-05-06 15:45] hjacobs commented on #221
@nickdirienzo here the other API First frameworks (JVM based) we use: https://github.com/zalando/restful-api-guidelines/blob/tooling-section/tooling/Tooling.md

[2016-05-06 21:36] WouterVH commented on #124
For my use-case the example of @KarimJedda is perfect,

in my swagger.yml I have:

[code]

however  to make it work with flask-jwt, you need to customize swagger-ui/index.html

[code]

there is currently no clean way to make this customisation.

[2016-05-06 23:47] nickdirienzo commented on #221
Ah alright. Thanks for the info on how you use Connexion internally, @drummerwolli and @chutiu. And thanks for the extra info on API First frameworks, @hjacobs!

[2016-05-09 16:04] rafaelcaricio commented on #219
For me looks like the second option you proposed is more clear. Please send a PR with some test case and I will be happy to accept.

Thank you for finding this bug.

[2016-05-09 16:53] josephwinston commented on #220
The YAML works for other generated servers so I'm *assuming* that the code is valid.  Is there an easy way to have the parse tell me where the failure is in the YAML?

[2016-05-10 15:58] rafaelcaricio commented on #217
@thirty3 You are correct.
@mit2nil Could you please let us know if that solves your issue?

[2016-05-10 16:44] mit2nil commented on #217
Thanks @rafaelcaricio and @thirty3 . Yes this did solve the issue.

[2016-05-10 17:00] #217 closed

[2016-05-10 19:28] dsem opened #223 "Validate that all query and formData parameters are in spec"
I think a case can be made that the validators should fail if a request is made with an extra query or formData parameter that is not in the spec (though I don't think this should apply to header parameters).

I have a commit that implements this change.  If it's wanted, how should I contribute it?

[2016-05-10 21:23] hjacobs commented on #223
@dsem IMHO it's not good practice to be too strict here --- unknown params and payload fields should be ignored to support API evolution. See also our RESTful API guidelines: https://zalando.github.io/restful-api-guidelines/compatibility/Compatibility.html

We _MAY_ consider supporting a strict mode which needs to be explicitly enabled...

[2016-05-11 08:46] #220 closed

[2016-05-11 08:56] jmcs commented on #223
If we took this to an extreme we would need to document every single standard HTTP header in the spec. I think it's a good idea to follow [Postel's law](https://en.wikipedia.org/wiki/Robustness_principle) (within reason).

[2016-05-11 08:57] rafaelcaricio commented on #220
@josephwinston Please update your Connexion version and try again. It should show a better error message this time.

[2016-05-11 12:50] dsem commented on #223
I have not yet had to support an evolving API so I don't know the pain-points first-hand, but feel this validation would help in a few ways:
* Clients developing against the API would see a clear error message if e.g. they have a typo in their parameter name
* Clients migrating from one version of the API to the next would have explicit messages showing which parameters they use are no longer supp

[2016-05-12 09:11] rafaelcaricio commented on #223
@dsem If you can make you can create a "flag" to enable strict validation and make sure the strict behaviour only executes when the flag is active, you can send a PR and we will be happy to discuss and accept.

[2016-05-14 03:05] dsem commented on #223
So, I've done some more reading about API design and can see the value in not having strict validation.  (sorry to cause such a fuss).  Still, I updated the patch and made it optional if anyone finds it useful.

On a side note, I see in the link to Zalando's API standards that your responses are structured in the HAL format.  Do you use a Flask module to achieve this and is it compatible with conn

[2016-05-14 09:22] hjacobs commented on #223
@dsem short answer regarding HAL: I never used it myself and I'm personally not convinced that HATEOAS brings many benefits. Our RESTful API guidelines say "Could: Use HATEOAS", so it's not mandatory (but if you do it then use HAL) http://zalando.github.io/restful-api-guidelines/hyper-media/Hypermedia.html

[2016-05-15 14:16] cadupont commented on #221
Great thread, thanks for sharing. Has anyone done a benchmark to see the real cost of connexion? (Maybe it isn't that expensive?)
ps. @hjacobs Your last link is dead.

[2016-05-16 10:13] hjacobs commented on #221
@cadupont thanks, I updated my comment :smile:

[2016-05-16 22:02] dfeinzeig opened #226 "How to define nullable response attributes?"
If I have the properties of a response defined as:

[code]

and I want description to be nullable, that is, the values are a string or the non-string value null, how can I define that in my swagger spec?

[2016-05-16 22:20] dfeinzeig commented on #226
Seems that swagger v2 does not all nulls.  :/

https://github.com/OAI/OpenAPI-Specification/issues/229

We could add x-nullable or x-isnullable support in connexion.  Thoughts on this?

[2016-05-17 08:42] rafaelcaricio commented on #226
@dfeinzeig We actually already support that: http://connexion.readthedocs.io/en/latest/request.html#nullable-parameters

[2016-05-17 12:29] dfeinzeig commented on #226
@rafaelcaricio Does that only apply to request parameters?  What about response properties?

[2016-05-17 13:04] rafaelcaricio commented on #226
@dfeinzeig it does apply for request parameters. I haven't tried it with response properties. But I think it should work too.

[2016-05-17 16:38] dfeinzeig commented on #226
@rafaelcaricio , doesn't work for response properties.  I'll submit a PR for responses, modeling it after your PR (https://github.com/zalando/connexion/pull/197/files) for requests.

[2016-05-17 16:38] #219 closed

[2016-05-17 20:38] dfeinzeig commented on #226
actually, this doesn't seem straight forward.  ResponseBodyValidator calls the jsonschema validate method passing the definitions and response data.  I was thinking of following the pattern used by ParameterValidator, which seems to iterate over each parameter and call validate_parameter.  But it feels  like that will get quite complex based upon the objects returned as responses.  so i'm not sure

[2016-05-18 13:48] rafaelcaricio commented on #226
@dfeinzeig Seems like you can just do it http://stackoverflow.com/a/22565006 in your own schema definitions? I tried that and it worked fine.

[2016-05-18 15:12] dfeinzeig commented on #226
Oh yeah, that totally does work.  Thanks @rafaelcaricio ! 👍

[2016-05-18 15:24] rafaelcaricio commented on #226
Closing this issue then.

[2016-05-18 15:24] #226 closed

[2016-05-19 14:25] cansik commented on #182
@rafaelcaricio Great!

[2016-05-20 17:46] basisklasse opened #229 "Any elegant way to get SQLAlchemy result objects JSONencoded?"
### Description
I would like to get Custom Objects JSON encoded by the connexion framework automatically. ATM i am trying to fiddle around with CustomJSONEncoders, but i don't find the right spot to hook them into connexion.

### Expected bahaviour

A call to e.g.:
INFO:werkzeug:127.0.0.1 - - [20/May/2016 19:33:46] "GET /v0/floor/1/rooms HTTP/1.1" 500 -

pointing to:

def get_floor_rooms(floor_id)

[2016-05-20 20:12] rog555 opened #230 "AWS API Gateway, Lambda & DynamoDB"
Would be interesting to have another server mode that could run this as on AWS Lambda behind API Gateway, loading its YAML files from another datasource such as DynamoDB or S3 (could adding yaml files/datasources be pluggable perhaps rather than filesystem?)

https://zappa.gun.io/ does something similar with Flask, though it creates all the API Gateway configuration - something which Terraform and

[2016-05-21 02:44] rog555 commented on #230
managed to do something similar to zappa and invoke out-of-the-box connexion running as lambda behind API Gateway using apex
https://4wf2zjem76.execute-api.us-east-1.amazonaws.com/dev/greeting/bob
would need to do all the middleware mapping as zappa however (might just be easier to user zappa to call connexion :-) )

[2016-05-21 11:35] rafaelcaricio commented on #230
@rog555 That sounds like an interesting setup. But I cannot imagine how Connexion could change to help on that. It sounds more like a separated tool that would deploy Connexion apps in AWS Lambda and as you said seems like Apex did the job. I will give a try to this use case to get more familiar with this idea.

[2016-05-22 16:18] rafaelcaricio commented on #230
@rog555 it was pretty straight forward to deploy the connexion example project with zappa https://vgd8lgzajc.execute-api.us-east-1.amazonaws.com/dev/pets

I will close this issue since it has nothing to do with Connexion.

[2016-05-22 16:18] #230 closed

[2016-05-23 08:01] basisklasse commented on #229
Ok found that in the official doc...will try :)

Connexion allows you to customize the JSONEncoder class in the Flask app instance json_encoder (connexion.App:app). If you wanna reuse the Connexion’s date-time sezialization, inherit your custom encoder from connexion.decorators.produces.JSONEncoder.

[2016-05-23 08:07] nmusatti commented on #229
How are your room objects defined?

[2016-05-23 08:22] basisklasse commented on #229
Pretty Straight forward i would say ;)

from sqlalchemy import Column, Integer, String
from database import Base

class FloorRoomListObject(Base):
    __tablename__ = 'rooms'
    id = Column(Integer, primary_key=True)
    floor_id = Column(Integer)
    name = Column(String())
    frontend_css_position_x = Column(Integer)
    frontend_css_position_y = Column(Integer)
    frontend_css_position_h = C

[2016-05-23 08:27] nmusatti commented on #229
I'm really a beginner myself with Flask, Connexion and API's in general. Working with SQLite I found that, as long as you're using numbers and strings only, it's sufficient to copy __dict__ to repr without any attribute whose name begins with underscore.

[2016-05-23 08:41] basisklasse commented on #229
Hmm, did that...but did't work for me...Maybe the underscores in the names 'frontend_css_position_x' are the problem here...

[2016-05-23 08:46] basisklasse commented on #229
will camelcase everything and lets see ;)

[2016-05-23 09:15] hjacobs commented on #229
@basisklasse if you have a minimal example with  SQLAlchemy working we could add it to our Connexion `examples` folder, I think it would be useful for many people :smile:

[2016-05-23 11:54] basisklasse commented on #229
Ok, i think i have a nice solution.

I added the flask-jsontools extension:
`from flask.ext.jsontools import DynamicJSONEncoder`

set up SQLAlchemy to use declarative extension with Serializable Base
[code]
And the models just return themselves as repr:
`def __repr__(self):
        return self`

Works like a charm for normal fields, but you have to add own encoding for specific datetime etc stuff.

[2016-05-23 14:08] rog555 opened #231 "dynamically add_api based on http header"
Hi, i'm trying to add different APIs dynamically based on the basic auth user or oauth token being sent in the request.  Is there any way to do this?
thanks
roger

[2016-05-23 14:22] rafaelcaricio commented on #231
That is more a question on the Flask side. We translate your Swagger definition to Flask blueprint before running the Flask app instance.

To change that blueprint in runtime I would recommend you to look how to do it in Flask first. I found that http://stackoverflow.com/questions/16016060/change-blueprints-or-reload-flask-app-during-runtime might be what you want.

Anyway personally I think you s

[2016-05-23 22:35] nmusatti commented on #229
@hjacobs I created a variant of your own connexion-example project that uses SQLAlchemy. Note that I really am a beginner with both SQLAlchemy and Connexion and it is still very much work in progress, but you may check it out [here](https://github.com/nmusatti/connexion-sqlalchemy-example).

[2016-05-24 07:44] hjacobs commented on #229
@nmusatti cool, thanks! I just checked it out :smile: --- can you do a PR to put your example in `examples/sqlalchemy` ?

[2016-05-24 14:36] nmusatti commented on #229
@hjacobs Certainly. I'll just clean it up and streamline it a bit.

[2016-05-24 15:38] rog555 commented on #231
Thanks, someone on the pocoo channel pretty much said its not possible with flask, as the blueprint is instantiated before the request comes in.  I'd be calling this via AWS API Gateway / Lambda, so would actually have the request header before starting up connexion.

The use case i'm chasing here, is a form of service virtualisation - where i can define APIs that emulate services and test data se

[2016-05-24 15:38] rog555 commented on #231
btw - is there a better place for raising questions on connexion - or github issues OK? (i have another one already!)

[2016-05-24 16:03] hjacobs commented on #231
@rog555 GitHub issues are OK IMHO (we can flag those issues as "question") :smile:

[2016-05-24 16:53] rog555 opened #233 "multiple operationId's to same function"
Hello, I'm trying to find a way to have multiple API endpoints reuse the same operationId / method (ie like a generic handler), however get an error back from Flask:

  AssertionError: View function mapping is overwriting an existing endpoint function

It looks like its possible in blueprint add_url_rule:  http://stackoverflow.com/questions/17256602/assertionerror-view-function-mapping-is-overwrit

[2016-05-24 20:12] rafaelcaricio commented on #233
It is not allowed by [swagger specification](http://swagger.io/specification/#operationObject) thus Connexion does not support that. From the specification:

#### operationId (*string*)

You are probably looking for [vendor extensions](http://swagger.io/specification/#vendorExtensions). But Connexion currently does not pass any metadata of vendor extension to the handlers. Maybe that something tha

[2016-05-24 20:39] rog555 commented on #233
Thanks for confirming, maybe if something like x-connexion-operation is optionally supplied, then this is used instead of operationId, which is left as whatever it is defined as (and as you highlight, has to be unique)

Eg:

paths:
  /greeting/{name}:
    post:
      summary: Generate greeting
      description: Generates a greeting message.
      operationId: something-unique
      x-connexion-op

[2016-05-25 13:36] jvinet opened #234 "Don't send back entire schema after validation errors"
### Description

When Connexion validates incoming data and finds a property is missing, it will dutifully report this back to the caller. However, it will include the entire swagger spec/schema as part of the response. For large APIs, this can be tens of KB of text, which is not ideal for debugging or logging.

### Expected behaviour

Expect to only receive the error portion, eg: "Missing require

[2016-05-25 13:39] jvinet commented on #234
I should mention that this `str(exception)` behaviour occurs in a second place in the `decorators/validation.py` file as well, in the `validate_parameter()` method of the `ParameterValidator` class.

This is likely the spot where I was seeing this behaviour, not the schema validation itself.

[2016-05-25 18:50] hjacobs commented on #234
Thanks for your issue report! I haven't tried it myself, but it sounds reasonable.

[2016-05-25 19:42] rafaelcaricio commented on #233
@rog555 With Connexion we try to stay as close as possible with Swagger specification and handle creation of standard REST API's. What you are proposing here goes far beyond what Connexion suppose to support. In that case I would recommend you to maybe fork Connexion and modify it to behave the way you are trying to describe here.

[2016-05-26 10:02] cansik commented on #182
@rafaelcaricio So it is possible to write a validator for `format`, is it also possible to write one for `type`?

[2016-05-26 14:25] rafaelcaricio commented on #182
@cansik You validate types using formats, no? Do you wanna define new types?
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types

[2016-05-26 14:31] cansik commented on #182
@rafaelcaricio Yes your right, but as described in my initial issue, we need to support nullable types. This isn't possible with `format` validators because e.g. as `type` we use **number**. Even if I now create my own format validator `nullableint32`, the type validator won't let `None` pass.

So the only possible option I have would be to send the data as string and validate it then with a forma

[2016-05-26 14:39] rafaelcaricio commented on #182
@cansik you can define many types for a single field. So in your case you can do:
[code]

No need for new types. This is pure JSON schema stuff.

[2016-05-26 14:48] cansik commented on #182
@rafaelcaricio Very nice! This works great! Thank you so much!

[2016-05-26 14:48] #182 closed

[2016-05-27 15:58] jvinet commented on #234
Great! As a little addendum, I'll include the relevant part of jsonschema's code that is shoving the whole schema into the error response.

    def __unicode__(self):
        essential_for_verbose = (
            self.validator, self.validator_value, self.instance, self.schema,
        )
        if any(m is _unset for m in essential_for_verbose):
            return self.message

        pschema =

[2016-06-03 08:32] rafaelcaricio opened #239 "Problems with new version of Flask 0.11"
### Description

New version [0.11 of Flask](http://flask.pocoo.org/docs/0.11/changelog/#version-0-11) change some behaviour that Connexion currently is not supporting.
### Expected bahaviour

No errors while running the tests.

### Actual behaviour

We get this exception:

[code]

### Steps to reproduce

Run tests:

[code]

### Additional info:

Output of the commands:

- `python --version`: 3.5.

[2016-06-03 12:53] #239 closed

[2016-06-03 21:59] hjacobs commented on #229
We now have a simple SQLAlchemy example: https://github.com/zalando/connexion/tree/master/examples/sqlalchemy

Thanks to @nmusatti :smile:

[2016-06-03 21:59] #229 closed

[2016-06-04 08:43] #233 closed

[2016-06-04 08:43] #231 closed

[2016-06-06 08:45] #221 closed

[2016-06-08 13:21] #218 closed

[2016-06-09 19:09] pvoisin commented on #239
+1

[2016-06-10 16:15] dimbleby opened #246 "Stricter requirements.txt?"
The recent release of flask 0.11.0 required Connexion changes, per #240.

Since your `requirements.txt` says [`flask>=0.10.1`](https://github.com/zalando/connexion/blob/1.0.88/requirements.txt), the result was that all versions of Connexion that do not include that fix are broken.

As it happens this isn't a big deal this time; upgrading has just been a matter of figuring out what has happened and

[2016-06-10 16:52] hjacobs commented on #246
I would like to keep the relaxed requirements (mostly for convenience), in real world scenarios this is not a problem as you always can pin your application dependencies to something fixed. I'd like to avoid a dependency hell where my app requires Connexion==123 and libfoo=456, but Connexion wants libfoo==789.

[2016-06-10 17:06] dimbleby commented on #246
This absolutely is a problem in real world scenarios.  There was a period (between the releases of flask 0.11 and, I think, connexion 1.0.98) where typing `pip install connexion` resulted in a setup that was broken.

I know this because it happened to the chap who sits next to me, and who was consequently not too impressed by my suggestion that he try connexion out!

[2016-06-10 18:49] dimbleby commented on #246
So as to make the discussion concrete, I've opened #247

[2016-06-13 09:27] fangaofeng opened #249 "UnicodeDecodeError: 'gbk' codec can't decode byte 0xaf in position"
### Description
swagger-editer generator server python flask based connexion, when i run app.
### Expected bahaviour

Traceback (most recent call last):
  File "E:\eclipsephp\plugins\org.python.pydev_4.5.4.201601292234\pysrc\pydevd.py", line 1524, in <module>
    globals = debugger.run(setup['file'], None, None, is_module)
  File "E:\eclipsephp\plugins\org.python.pydev_4.5.4.201601292234\pysrc\pyd

[2016-06-13 11:05] jmcs commented on #249
By default, python tries to open files with your system's prefered encoding (as returned by [locale.getpreferredencoding()](https://docs.python.org/3/library/locale.html#locale.getpreferredencoding)) Hardcoding 'utf-8' breaking connexion for people that want to use other encodings. A solution would be to include an optional encoding argument to add_api

[2016-06-13 11:27] rafaelcaricio commented on #246
@dimbleby IMHO your application is what should have strict version dependencies (do a `pip freeze`) with each dependency package pointing to a specific version you tested your app with.

If a new version of the packages that Connexion uses have a new release we will fix Connexion to be compatible as soon as possible as we did with the latest version of "requests". We have CI for catching those kin

[2016-06-13 11:45] dimbleby commented on #246
(You mean `flask`, not `requests`).

I can only reiterate that for about two weeks, `pip install connexion` gave a broken installation.  It would surely be a good thing if such things could be prevented in advance rather than eventually fixed.

If you think that this is not important, or not important enough: well, fair enough.  I've said my piece here - if you all don't agree, then please feel fr

[2016-06-13 12:03] rafaelcaricio commented on #246
Yes, I meant `flask` sorry.

We could set strictly versions of each dependency and guarantee that Connexion would work always when installed. But as Connexion is a package that will be deployed together with your own code we leave to you the freedom and responsibility to choose to use the latest version of the dependencies you want.

Anyway, If you want to guarantee that Connexion installation wil

[2016-06-13 12:26] dimbleby commented on #246
Yes, but... are you seriously suggesting that this is how new users should install Connexion?

(If so I guess you should update the README).

[2016-06-13 12:48] rafaelcaricio commented on #246
Of course I am not suggesting that new users should install connexion that way. I am suggesting it to you.

[2016-06-13 12:57] dimbleby commented on #246
OK, I think we're talking slightly past one another.

I understand this issue completely, and can absolutely freeze my requirements and not have more problems in the future.  The issue isn't about me.

Rather, I've raised it in the hope of making Connexion better for future users; and in particular because of the experience of the [chap sitting next to me](https://github.com/zalando/connexion/issu

[2016-06-13 13:02] #246 closed

[2016-06-15 16:16] tomas-fp opened #250 "Raise original exception while importing modules"
### Description

Currently, when importing Python modules dynamically while binding routes to Flask, if something is wrong with the loaded code there's only a generic `connexion` exception raised, so the original error is hidden and therefore there's not easy way to see what was the real error.

### Expected behaviour

Catch the original Python exception and raise it properly exposing it to higher

[2016-06-16 09:03] rafaelcaricio commented on #250
@tomas-fp could you please try the latest version of Connexion? Currently the latest is [`1.0.103`](https://github.com/zalando/connexion/releases/tag/1.0.103) and it actually changes the way we handle import errors.

[2016-06-25 18:37] rafaelcaricio commented on #250
No feedback received. Closing issue for now. @tomas-fp feel free to open this issue again if the problem persists.

[2016-06-25 18:37] #250 closed

[2016-06-27 12:10] pkjg commented on #234
The entire schema is
1. poorly formatted with '\n's and tabs.
2. too much information to the consumer from a production setup point of view.

something like this to extract the first line of the message should help.
str(exception)[:(str(exception).find('\n'))]

[2016-06-27 12:11] pkjg commented on #234
The entire schema is
1. poorly formatted with '\n's and tabs.
2. too much information to the consumer from a production setup point of view.

something like this to extract the first line of the message should help.
`str(exception)[:(str(exception).find('\n'))]`

[2016-06-27 12:13] pkjg commented on #234
The entire schema is
1. poorly formatted with '\n's and tabs.
2. too much information to the consumer from a production setup point of view.

something like this in **validation.py** to extract the first line of the message should help.
`str(exception)[:(str(exception).find('\n'))]`

I am looking forward for this issue's resolution.

[2016-06-28 09:29] #249 closed

[2016-07-06 19:11] patrickw276 opened #254 "Breaking up large swagger.yaml files"
Is there any way to break up large swagger.yaml files into smaller pieces? I've tried using external references but it doesn't seem like Connexion supports these. I've also tried using jinja features to break the swagger files up but this doesn't work (and its ugly).

Am I missing a feature that would let me do this? If not, is relative referencing a feature Connexion would be interested in? I kno

[2016-07-07 07:28] hjacobs commented on #254
@patrickw276 I think it's not supported right now in Connexion, but "people" might be interested in this feature. I personally don't have the need for it as IMHO "microservices" should not have large Swagger files :smirk:.

[2016-07-07 10:00] rafaelcaricio commented on #254
As @hjacobs said, one using Connexion might be interested in this kind of feature. It might be something interesting to support. Please send a PR and we will review. 😃

[2016-07-20 01:21] jaconstantine opened #255 "access to Model objects"
### Description

I'm trying to extend a swagger-codegen app replacing the generated controller functions with real code.  So for example I want to expand:

[code]
with something that does real work.  I'd like to have access to Model objects, the ones that I defined in the ```definitions:``` section of the swagger yaml file.  In that section I have specified that I have a Site model that has a bunc

[2016-07-20 08:37] hjacobs commented on #255
@jaconstantine short answer: there is AFAIK currently no way in Connexion to conveniently use Swagger schema objects as Python objects, i.e. if your function returns a "Site" you will have to create a proper `dict` manually (or by other means). Please check this example for one way of mapping DB objects "automatically": https://github.com/zalando/connexion/tree/master/examples/sqlalchemy

[2016-07-20 15:23] jaconstantine commented on #255
Thanks for the tip.  I'll look for another way to get what I need to get done done.

[2016-07-21 09:15] rafaelcaricio commented on #255
Connexion validates the fields, do type conversions, and pass along a valid `dict` (following your spec) there is not object mapping.

[2016-07-22 09:25] #234 closed

[2016-07-22 13:36] zd0 opened #256 "OAuth token should have all scopes listed in swagger spec to grant access"
Hi, I have a question regarding implementation:
https://github.com/zalando/connexion/blob/master/connexion/decorators/security.py#L88
checks that access token must have any scope from the list of scopes.

Should the check be more strict, by checking that declared scopes is a subset of token's scopes?

[2016-07-22 15:06] patrickw276 commented on #254
@hjacobs My use case doesn't involve very much processing but the model's schema is somewhat complex. It doesn't make much sense to break the API into smaller microservices (IMO).

I've started working on a PR where the swagger document's external references are resolved into a single dictionary before being passed to the swagger validator. For example:
[code]

will resolve to a dictionary that lo

[2016-07-22 15:42] rafaelcaricio commented on #254
A simpler way, since Connexion already uses [Jinja2](http://jinja.pocoo.org/docs/dev/) for template rendering, would be making use of the [`{% include "something.yaml" %}`](http://jinja.pocoo.org/docs/dev/templates/#include) directive. All necessary work to make this work is to configure the [Template#environment](http://jinja.pocoo.org/docs/dev/api/#jinja2.Template) attribute in [the Connexion co

[2016-07-22 15:57] rafaelcaricio commented on #256
@zd0 that is exactly what [it](https://github.com/zalando/connexion/blob/master/connexion/decorators/security.py#L86) does, no?

[2016-07-22 16:02] patrickw276 commented on #254
@rafaelcaricio That would definitely be simpler to implement BUT you can get in to some weird issues with local references. These references would have to be declared relative to the complete concatenated document, not the document they actually exist in. I'm not sure how often this would be an issue in a real API but it's something to consider.

I favor the reference resolution approach I outline

[2016-07-22 16:07] rafaelcaricio commented on #254
I do not dislike your solution. I am just trying to show more possibilities. ✌️

Anyway, where is this outlined in the Swagger/OpenAPI Specification?

[2016-07-22 16:17] patrickw276 commented on #254
@rafaelcaricio It's good to be open to other approaches, so I definitely appreciate the input (and all your guys work on Connexion in general).

The spec mentions them [here](http://swagger.io/specification/#pathItemObject) and a few other places.

[2016-07-25 07:49] hjacobs commented on #256
@zd0 I think you are right, it should check `allowed_scopes <= user_scopes`.

[2016-07-25 08:22] rafaelcaricio commented on #256
I get it now. In the logging message that was clearly the intention: https://github.com/zalando/connexion/blob/master/connexion/decorators/security.py#L89 ("one of allowed scopes")

If we are going to change that, it is a breaking change with older versions.

[2016-07-25 08:36] hjacobs commented on #256
This is clearly a bug and needs to be fixed, see https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/2.0.md#securityRequirementObject .

[2016-07-28 11:49] #256 closed

[2016-07-29 15:10] LappleApple commented on #109
@kleijnweb @danballance @hjacobs Going through the issues on this project and this one's pretty old. What would you guys like to do here? Should I close it, or do you want to leave it open for something?

[2016-07-29 15:12] LappleApple commented on #124
@jmcs @rafaelcaricio @hjacobs Hi colleagues, wondering what you might want to do with this open issue. Looks like the previous commenter didn't get a direct response, at least not here?

[2016-07-29 15:13] LappleApple commented on #138
Hi @ilya-khaustov, were you still planning on making this enhancement or should someone else take over?

[2016-07-29 15:13] LappleApple commented on #173
Hey @jmcs, is there more to do here or can we close the issue?

[2016-07-29 15:18] LappleApple commented on #179
@hjacobs For your March 9 comment above (NOTE: We also need to update our Connexion OAuth example (https://github.com/zalando/connexion/tree/master/examples/oauth2) as soon as this issue is tackled...): Looks like no update was made?

[2016-07-29 15:19] LappleApple commented on #204
@rafaelcaricio @dfeinzeig Hi there, wondering if this issue is on the way to resolution or if we ought to keep it open?

[2016-07-29 15:23] LappleApple commented on #206
Hi @dfeinzeig, wondering if you've given more thought to the PR you suggested above (April 7). :)

[2016-07-29 15:28] rafaelcaricio commented on #204
@LappleApple it could stay open as a suggestion to someone looking to work on something in Connexion.

[2016-07-29 15:33] kleijnweb commented on #109
@LappleApple You can close it. Don't have the time for it right now.

[2016-07-29 15:41] #109 closed

[2016-07-30 05:46] ilya-khaustov commented on #138
@LappleApple No, I'm not planning an enhancement. Everybody else can continue with it.

[2016-07-30 12:29] rafaelcaricio commented on #138
@LappleApple I think this is an interesting feature. So I would be glad to see someone working on it in the future.

[2016-07-30 12:30] rafaelcaricio commented on #173
I think we can close this.

[2016-07-30 12:30] #173 closed

[2016-07-30 12:31] #255 closed

[2016-07-30 12:33] rafaelcaricio commented on #254
@patrickw276 Sounds good. 👍

[2016-08-01 07:19] #223 closed

[2016-08-04 18:43] funseiki commented on #62
This makes sense for the gevent lib, since the corresponding libraries are patched. How does this work with something like tornado, where we must yield a Future object?

[2016-08-04 20:53] Shaun1 opened #258 "Crashes with `[Errno 32] Broken pipe` when changing angular.js $http requests"
### Description
HTTP requests coming from an angular.js application cause connexion to crash because of a broken pipe.

### Expected behavior
`socket.error: [Errno 32] Broken pipe` should be handled by the connexion server & server should continue running.

### Actual behavior
Connexion crashes with the following:

[code]

### Steps to reproduce
- start connexion server
- load angular.js app that

[2016-08-04 20:57] Shaun1 commented on #258
This may be a Flask problem

[2016-08-04 21:03] Shaun1 commented on #258
Here's how the connexion app was configured:
[code]

[2016-08-04 23:19] Shaun1 commented on #258
changed to using tornado server & working fine - must be a flask issue.

[2016-08-04 23:19] #258 closed

[2016-08-08 20:53] cansik opened #259 "PIP install package on windows 10 fails with path error"
Installation by pip packet manager fails because of path error. There is a **slash (/)** at the end of the string and windows does not recognise it as a valid path.

The problem appears only on windows.

[code]

Here is the error message (just the part which matters):

[code]

[2016-08-09 07:40] hjacobs commented on #259
@cansik thanks for reporting --- it will be hard to find a Connexion developer using M$ Windows, but we'll check...

[2016-08-10 21:49] rjurney opened #260 "python setup.py install fails with: ValueError: invalid literal for int() with base 10: '6rc1'"
### Description

pip install fails

### Expected bahaviour

Install complete

### Actual behaviour

Russells-MacBook-Pro-OLD-506:connexion-1.0.109 rjurney$ python setup.py install
Traceback (most recent call last):
  File "setup.py", line 23, in <module>
    py_major_version, py_minor_version, _ = (int(v.rstrip('+')) for v in platform.python_version_tuple())
  File "setup.py", line 23, in <genexpr

[2016-08-11 22:52] abnerjacobsen opened #263 "GET route with parameter in .yaml file don't show 200 as an possible HTTP Status Code response"
### Description
In my connexion API yaml file I have this:

[code]

but, when I go to swagger ui I only can see in the "Response Messages" section the 404 response as sole type of response

if my .yaml file have only

[code]

the swagger ui show avaiable responses as 200 and 404 as expected.

### Expected bahaviour

I want so see that the rest call can return 200 or 404

### Actual behaviour

I on

[2016-08-12 07:41] jmcs commented on #263
Can you check the generated `/swagger.json` to see if it matches the yaml?

[2016-08-12 09:25] rafaelcaricio commented on #263
@abnerjacobsen First I would like to remind you how the Swagger interface display this kind of data.

Please notice that when a response status has a object associated to it, the format to display the responses is not in a list format.

When **there is *not* a object schema** defined by response status is displayed as list:

![](https://gist.githubusercontent.com/rafaelcaricio/7d5d7b70526770c40884

[2016-08-12 22:43] abnerjacobsen commented on #263
@rafaelcaricio thanks, you are right. This is not an issue but an design implementation of the swagger-ui.

this issue can be closed.

[2016-08-12 22:43] #263 closed

[2016-08-13 10:06] the01 opened #265 "Small error in documentation"
### Description
I believe there is a small error in the documentation at [L192](https://github.com/zalando/connexion/blame/master/README.rst#L192) / [L193](https://github.com/zalando/connexion/blame/master/README.rst#L193)

### Expected bahaviour
either

[code]

or

[code]

### Actual behaviour
[code]

### Steps to reproduce

### Additional info:

Output of the commands:

- `python --version`
- `p

[2016-08-15 12:19] rafaelcaricio commented on #265
Thanks for caring to report, but that is not an error. Please notice that the HTTP method "GET" is interpreted here as a kind of search by [it's definition](http://zalando.github.io/restful-api-guidelines/http/Http.html#get) in the context of REST APIs.

[2016-08-15 12:19] #265 closed

[2016-08-15 13:02] the01 commented on #265
Sorry for the confusion. From the rest of the doc, I thought it had to match the implied operationId..

And thank you, very interesting framework!

[2016-08-15 13:12] rafaelcaricio commented on #265
@the01 No, you can have the `operationId` value with whatever name your function have.

Thank you!

[2016-08-15 13:30] rafaelcaricio commented on #260
If you run `pip install connexion` it works fine:
[code]

You reported that you expect the `pip install connexion` to work, **it works**. Please notice that `python setup.py install` is **a different command**. Indeed the error occurs when trying to run it.

[code]

Just to make this issue clear.

[2016-08-16 21:55] invernizzi-at-google commented on #204
Good news, everyone!
The current version of `connexion` can already raise validation errors if any unexpected key is present.
Following from the example above, with an API so defined:

[code]
Code that returns a Customer object so defined:
  `{'id': 42, 'password': 's3cure', 'name': 'charlie'}`

Yields:
`  validation error: Additional properties are not allowed (u'password', u'name' were unexpecte

[2016-08-16 21:57] invernizzi-at-google commented on #204
(Option number 2 is to add a strictly_validate_responses param)

[2016-08-17 07:41] sdementen opened #266 "Validation issue with validate_responses=True and connexion.problem(...)"
When using connexion.problem(...) to return an error response AND at the same time enabling validate_responses in the API, I get an exception.

With the example in attachment, when going to
http://127.0.0.1:5009/api/dogs
I get an exception TypeError: <Response 109 bytes [403 FORBIDDEN]> is not JSON serializable.

If I set validate_response=False, it works as expected.
If I remove the responses/403

[2016-08-17 17:59] rafaelcaricio commented on #266
Could you please post here what you are trying to return in this endpoint? What object is not serializable? Please post the code snippets here and provide more information about which version of connexion you are using, which platform are you running it, which Python version, etc. As much information you provide will be better.

[2016-08-17 18:35] sdementen commented on #266
Sorry for the terse description. Here some more info.

If you run the app.py in the zip file and head to http://127.0.0.1:5009/api/dogs you will see the stacktrace.
The controller called for this endpoint is the following
[code]
and the relevant swagger description is
[code]
with the model being
[code]
But everything is included in the small test files in the zip file in attachment of the OP.

My

[2016-08-23 14:54] hjacobs commented on #204
@invernizzi-at-google thanks for pointing out. Closing this issue.

[2016-08-23 14:54] #204 closed

[2016-08-26 12:30] masterandrey opened #267 "Async work with tornado"
If I add @gen.coroutine to generated by connexion request handling method, it doesn't work - break connect with the client, does not return anything.

How to use connexion+tornado anyncronously? gen.sleep for example?
If I yield gen.sleep in the request handler without  @gen.coroutine, it does not wait.

[2016-08-26 14:10] hjacobs commented on #267
@masterandrey thanks for your interest in Connexion --- I haven't used Connaxion+Tornado myself (only gevent and uwsgi), so I hope somebody else might help out here...

[2016-08-30 19:14] ja-b opened #269 "Javascript Regex Literal Pattern Format Support (Perl Format)"
### Description
For the pattern field on parameters, the validation performed seems to be expecting a string format of a regular expression (surrounded by quotes) instead of the format of a Javascript Regex Literal (surrounded by forward slashes).

### Expected bahaviour
I'm expecting connexion to evaluate a regex in the form of `/[a-zA-Z0-9]+/` ,the format of a Javascript Regex Literal in the [Js

[2016-08-30 21:15] hjacobs commented on #269
Sorry, but the `pattern` property MUST be a string as defined here (you linked it yourself): http://json-schema.org/latest/json-schema-validation.html#anchor33

You can also find an example here: http://json-schema.org/example2.html

So I don't see any issue with Connexion here, it behaves according to the OpenAPI specification.

[2016-08-30 21:59] ja-b commented on #269
I completely misinterpreted that line, sorry about that.  In that case, everything works perfectly. I'll close this issue.

Just for some context here, this whole thing kinda stems from the python client generator on swagger codegen, which has recently required that I put my regexes in the perl format, as dictated by this error.

[code]

So I figured there must have been a change to the specificat

[2016-08-31 09:41] 31z4 commented on #50
I wonder what should I do when using Tornado as a server?

[2016-08-31 11:12] hjacobs commented on #50
@31z4 `flask-cors` should AFAIK work independent of the server implementation, i.e. also with Tornado. Or I'm I missing something?

[2016-08-31 11:20] 31z4 commented on #50
@hjacobs As I understand it only works for a Flask app instance.

[2016-08-31 11:57] hjacobs opened #270 "Support *args and **kwargs in operation function signatures"
### Description

This is a follow up to #268 to allow decorating operation functions where the decorator changes the signature to generic `*args`, `**kwargs`.

### Expected behaviour

Parameters should be mapped for operation functions with `*args` and/or `**kwargs`.

### Actual behaviour

Parameters not directly matching the function signature are silently dropped (`kwargs` are not populated).

#

[2016-09-01 12:23] #260 closed

[2016-09-01 12:24] #270 closed

[2016-09-01 12:27] hjacobs commented on #270
Released in https://github.com/zalando/connexion/releases/tag/1.0.112

[2016-09-01 12:28] hjacobs commented on #260
Released in https://github.com/zalando/connexion/releases/tag/1.0.112

[2016-09-07 16:58] funseiki commented on #267
From Tornado's [documentation](http://www.tornadoweb.org/en/stable/wsgi.html)

So it doesn't look like this is possible :(

[2016-09-08 12:42] rafaelcaricio commented on #267
@funseiki have you tried with the latest Connexion version ([1.0.112](https://github.com/zalando/connexion/releases/tag/1.0.112))?

[2016-09-08 13:29] funseiki commented on #267
@rafaelcaricio I haven't, but looking through the `Connexion` source, it looks like `Tornado` is still being instantiated with a WSGI `flask` container.

Unless `Tornado` changes the way it handles WSGI containers or `Connexion` foregoes the usage of WSGI for a more open-ended approach (async-friendly), I don't see how this would work.

Here's the bit of `Connexion` code I was looking (from the he

[2016-09-08 13:56] rafaelcaricio commented on #267
@funseiki True, and giving it more though we would need to actually do quite some changes in other parts of the Connexion code to support Tornado async. For now the answer is "not possible". :/

[2016-09-08 16:34] funseiki commented on #267
@rafaelcaricio Hmm yeah it looks like flask is sprinkled over a few different files. :/.

On the bright side, it looks like there are really only a few flask methods in app.py that Connexion is utilizing (there are other places that look to be utilizing response/request - related things, but that might be okay). You may be able to get away with using a wrapper/facade around the http server as oppo

[2016-09-08 17:26] phoracek opened #280 "Check if a value passed inside body matches pattern described in `definitions`"
### Description

According to Ron from swagger's IRC and http://editor.swagger.io/, this is a valid API configuration and it should check if passed value matches given pattern:

[code]

Unfortunately, connexion does ignore pattern check with such API definition and lets user pass whatever he or she wants.

### Expected behaviour

Check if received values matches pattern defined in `definitions`.

[2016-09-08 20:03] hjacobs commented on #280
Yes, I think the validation does not work if the body schema itself is a simple `string` type (it works for bodies of type `object`).

[2016-09-08 23:08] prowley commented on #179
In server function call would be very welcome here. If you are issuing your own tokens for your own users there is really no need to http overhead for checking a token in process.

[2016-09-09 12:31] rafaelcaricio commented on #280
@phoracek What version of Connexion are you using?

I have tried exactly the same code and command you posted here and I cannot reproduce. It works exactly as expects:

[code]
Dump of my testing env:
[code]

[2016-09-09 12:34] hjacobs commented on #280
@rafaelcaricio sounds good, I actually did not test myself yet :see_no_evil: :

[2016-09-09 12:56] rafaelcaricio commented on #280
The code I used to reproduce can be found in: https://github.com/rafaelcaricio/connexion-example/tree/connexion-280

[2016-09-09 13:42] phoracek commented on #280
Thanks for the quick response guys!

Sorry about the noise, while trying to create a reproducer I noticed that the bug is not in connexion, but in http://editor.swagger.io/. If you paste mentioned config there and let it create 'Python Flask' server, it removes the line with 'pattern'.

I will open an issue on https://github.com/swagger-api/swagger-codegen/.

[2016-09-09 13:53] #280 closed

[2016-09-10 07:48] rafaelcaricio opened #283 "Better handling of configurations"
### Description

TL;TR: Move Connexion's configurations to the config attribute of the Flask object.

Currently we have over 10 parameters for the constructor of `connexion.app.App`, `connexion.api.API` classes and `connexion.api.App.add_api`. Most of those parameters are configurations that can be set for a specific API definition or globally in the Connexion server instance. This set of configur

[2016-09-10 07:49] rafaelcaricio commented on #283
I started working in a first proposal for that and will be sending a PR as soon as possible.

[2016-09-14 08:03] 31z4 opened #287 "Error validating a body parameter"
### Description

Here is the spec.

[code]

And here is the app.

[code]

### Expected behaviour

[code]
returns `200 OK`

### Actual behaviour

Instead it returns `400 BAD REQUEST` with the following body.

[code]

### Steps to reproduce

[code]

### Additional info:

Python 3.5.2
Version: 1.0.112

[2016-09-14 08:42] 31z4 commented on #287
So after quick investigation it turned out that connexion doesn't respect the `consumes` field. Here is the code from `decorators/validation.py`:
[code]
The problem here is in the first line of the function. It always tries to read the request as JSON.

[2016-09-14 09:27] rredkovich opened #288 "Type coercion"
### Description

In some cases front end could pass integer as strings (especially old legacy code and it's hard to quickly change that behaviour).

Could type coercion be introduced to convert that values to correct type internally like [Cerberus](http://docs.python-cerberus.org/en/stable/) do?

[code]

Example:

Swagger:

[code]

Input

[code]

Becomes

[code]

Validation is passed

[2016-09-14 10:52] rafaelcaricio commented on #288
@rredkovich This will help you: https://connexion.readthedocs.io/en/latest/cookbook.html#custom-type-format ;)

[2016-09-15 12:55] RichardBrown384 opened #290 "basePath: / makes endpoints unreachable"
### Description
Using a forward slash as the basePath in a swagger API definition makes endpoints unreachable.

[code]

### Expected behaviour

Endpoints get added as DEBUG:connexion.api:Adding /myendpoint...

GET request returns 200

### Actual behaviour

Endpoints get added as DEBUG:connexion.api:Adding //myendpoint...

GET request returns 404

### Steps to reproduce
Set the basePath to '/' in t

[2016-09-16 10:10] fubarred opened #291 "parameter and masrshal_with generate TypeError: < > takes no arguments (# given)"
### Description

Have a path in my swagger file with a query parameter. The path is handled by a controller. **The controller is marshaled using a dict**. It works fine if I dont use `@marshal_with`

Used to work fine until connexion version 1.0.109, but with later versions, the marshaling generates TypeError: get_greeting() takes no arguments (1 given)
**NOTE**: I am using python 2.7.6
### Expect

[2016-09-16 11:11] hjacobs commented on #291
I haven't looked at it yet, but I assume "marshal_with" changes the signature to include `**kwargs`? Connexion would now pass the parameter (`**kwargs` were not supported in older versions).

[2016-09-16 11:12] hjacobs commented on #291
Why do you need/use `marshal_with` at all?

[2016-09-16 11:21] pkjg commented on #291
yes I do need marshal_with. Object I am returning has some extra stuff so if I dont use marshal_with, it gives me this error:

File "/usr/lib/python2.7/dist-packages/simplejson/encoder.py", line 239, in default
    raise **TypeError(repr(o) + " is not JSON serializable")**

[2016-09-16 11:51] hjacobs commented on #291
@pkjg as a "workaround" you can also customize the JSON encoder: http://connexion.readthedocs.io/en/latest/response.html?highlight=json#customizing-json-encoder

[2016-09-16 22:47] rafaelcaricio commented on #291
@pkjg Thanks for reaching out and using Connexion.

You have defined in your API you have the parameter as `required: true`. So Connexion is trying to pass this positional argument to your operation handler as expected. That is how it should work, you operation handler function is not compliant with what you defined in your OpenAPI Spec.

As a improvement maybe we should make it more clear by rais

[2016-09-16 22:49] rafaelcaricio commented on #290
Thanks for reporting that. As a temporary workaround simply does not set the `basePath` in case it is the default "/".

[2016-09-16 23:19] rafaelcaricio opened #292 "Support for mocking API based on spec"
### Description

Recently we added support for applying a stub to unimplemented operations (https://github.com/zalando/connexion/pull/278). Following that line, I think would be interesting to add support for automatic mocking of a API based on the specification.

This mocking feature would work as the stub, only activated to not implemented operations. This is powerful because allows a broader us

[2016-09-16 23:29] rafaelcaricio opened #293 "Add version to CLI interface"
The recently create [CLI interface](http://connexion.readthedocs.io/en/latest/cli.html) of Connexion should be able to print the current version.

### How it should work?

[code]

[2016-09-18 14:04] #293 closed

[2016-09-18 14:15] hjacobs commented on #292
Mocking should return example data (["examples" property](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#exampleObject)) as specified in the OpenAPI spec.

[2016-09-18 14:21] hjacobs commented on #291
@rafaelcaricio I think your observation is wrong as the `required: true` is unrelated to the handler function, we allow people to have handler functions without any parameters even when the operation defines some. This is IMHO good as the whole Flask request object is always available anyway

[2016-09-18 14:54] pkjg commented on #291
@rafaelcaricio yes @hjacobs is right. Its unrelated to `required`. In fact, same error on `required: false`.

[2016-09-18 14:57] rafaelcaricio commented on #291
👍

[2016-09-20 14:59] phoracek opened #296 "Support app.add_api() with API-dictionary as an alternative to file path"
### Description

It would be handy to support `app.add_api()` with parsed API as a parameter as an alternative to file path. It can be used when the application does some additional changes on the API and doesn't want to save it again in a temporary file.
### Expected bahaviour

[code]
### Actual behaviour

`add_api()` accepts only path to file with API definition.

[2016-09-21 19:06] hjacobs commented on #296
I think this is a good suggestion. Connexion should not purely rely on a file-based API.

[2016-09-26 22:16] ibigpapa opened #299 "Blueprint routing"
### Description
Enable Blueprint routing ie
bp = Blueprint('bp', _ _ name _ _, url_prefix='/bp')

@bp.route('/')
bp_get():
    code here

### Actual behaviour
Not sure if connexion can accomodate a blueprint

### Additional info:
if we can example would be great.

[2016-09-27 07:34] tanaysoni opened #300 "Validation of Response code with the Swagger specifications"
Is there a way to perform validation of status code of responses? I've set `validate_responses` to True, but still any response code not defined in the Swagger is passed without an error.

[2016-09-27 08:29] rafaelcaricio commented on #299
@ibigpapa Connexion is based on Flask. So you can use Flask routing directly additionally to your OpenAPI routes. Example: https://github.com/zalando/lizzy/blob/master/lizzy/service.py#L29-L42

[2016-09-27 08:44] rafaelcaricio commented on #300
Short answer: No.

Long answer: We do not provide a way to validate status code of responses. We do that because developers using Connexion would need to define all response codes that their expect the application to possibly return ever, unless Connexion would throw an error.

That behavior could be confusing. If not defined a response code of error (like 500) Connexion would return an different

[2016-09-29 10:12] #287 closed

[2016-09-30 06:27] hjacobs opened #304 "Add --host command line option"
We introduced the "host" parameter in #298, but there is no CLI option for it yet.

[2016-10-01 21:31] JuxhinDB opened #305 "Header Validation not being performed as expected"
### Description

OpenAPI/Swagger spec defines a set of header(s) in its response block, like such:

    responses:
        '200':
          description: My Description.
          schema:
            type: array
            items:
              $ref: '#/definitions/MyObject'
          headers:
            Link:
              type: string

Appending the header is relatively easy using Connexion:

[2016-10-01 21:44] JuxhinDB commented on #305
So it is simply not enabled by default. Should read the docs better :-)

[2016-10-01 21:44] #305 closed

[2016-10-02 15:42] mcondarelli opened #306 "Crash in app.add_api() and extreme startup slowness"
### Description
I am quite new to connexion (and also to Python) so, please, be lenient.
I am trying to use connexion to implement a sizable RESTful API for a custom project.

I have two distinct problems:

First and foremost I have a crash after some apparently harmless changes in my swagger definition file.
NOTE: editor.swagger.io imports both versions with "Processed with no error" green flag.

[2016-10-04 09:07] #290 closed

[2016-10-04 11:21] #292 closed

[2016-10-04 11:27] hjacobs opened #308 "MockResolver: support "example" in definitions"
Follow up to #292: we should also support returning example responses which are only defined indirectly via `example` fields in type definitions. Our current implementation only honors the `examples` property on the Response object in the Swagger spec.

[2016-10-05 21:33] blanzp opened #310 "Guidance on method decorators"
### Description

Attempting to wrap connection operationId methods with caching and rate-limiting decorators.  Decorator is getting called with flask request args which are preprocessed arguments ( not coerced to swagger spec defined types by connexion ).  Is there a way to wrap the decorator with a connexion decorator to process the arguments to match the method signature? Or any other approach t

[2016-10-05 21:57] #310 closed

[2016-10-05 21:59] blanzp commented on #310
This may be duplicate of https://github.com/zalando/connexion/issues/142.  Let me validate and revert back

[2016-10-06 09:08] #299 closed

[2016-10-06 09:08] #300 closed

[2016-10-06 09:09] #267 closed

[2016-10-06 09:12] rafaelcaricio commented on #138
Done in #281

[2016-10-06 17:35] rafaelcaricio commented on #306
I think Connexion is not suitable for a 400MHz ARM9 / 256MB device. You could strip suff from Connexion that you think is not necessary and try to make it work.

[2016-10-06 17:35] #306 closed

[2016-10-06 17:58] hjacobs commented on #306
@rafaelcaricio giving up that fast? :smirk:

I just tried out starting a Vagrant VirtualBox with 256MB of RAM and CPU cap (`vb.customize ["modifyvm", :id, "--cpuexecutioncap", "10"]`, i.e. 10% of CPU having "Intel(R) Core(TM) i5-3570 CPU @ 3.40GHz" on host machine) --- result is OOM while trying to compile gevent ("Running setup.py install for gevent") on first try (second try worked).

=> My [con

[2016-10-06 22:55] mcondarelli commented on #306
Thanks for the answers.
I'm fully aware my hardware is "a bit" (!) obsolete, but the times involved are really unexpected and, IMHO, would need a deeper analysis.

Worst problem, however, is I get an error I'm unable to track down: `AttributeError: 'bool' object has no attribute 'get'`.

How am I supposed to find the offending declaration?

Thanks again.

[2016-10-06 23:58] DDEFISHER commented on #296
I would like to work on this if no one else has started if that is okay.

[2016-10-07 11:09] rafaelcaricio commented on #296
@DDEFISHER it is ok to work on it. Just send the PR whenever you are ready. 😃

[2016-10-07 12:31] phillipdwright commented on #304
I'd be glad to have a go at this!

[2016-10-07 12:58] rafaelcaricio commented on #304
@phillipdwright You can just send a PR for that! 😃

[2016-10-08 09:07] npx commented on #259
Just installed it using pip on win10 on Python27 without any issues.

[2016-10-08 13:12] Himura2la commented on #259
Confirmed, not reproduces
[code]

[2016-10-08 14:43] anshuman73 commented on #259
Hi, I tested it out too and was unable to reproduce. Maybe try updating your windows 10 and reinstall python27 ?

[code]

[2016-10-08 14:57] cansik commented on #259
We reinstalled python 2.7 and it worked. Maybe there was something wrong with it.

[2016-10-08 14:57] #259 closed

[2016-10-08 16:05] rafaelcaricio commented on #259
Thank you people for tackling this issue. 👍

[2016-10-10 08:00] hjacobs commented on #306
@mcondarelli maybe you can post your Swagger YAML here? I suppose some code in Connexion expects a `dict` in the place where you have a `bool` right now (in the YAML?).

[2016-10-10 20:31] #304 closed

[2016-10-10 22:33] mcondarelli commented on #306
Hi, sorry for the delay; it has been a loooong Monday.

My tentative app  is quite simple:
[code]
The involved (quite large) swagger definition is attached here (I had to add ".txt" to make it palatable to github) [EmotiqP.yaml.txt](https://github.com/zalando/connexion/files/520520/EmotiqP.yaml.txt) and the results are:
[code]

As said startup time (even in versions without errors) takes more than

[2016-10-11 08:05] hjacobs commented on #306
@mcondarelli what I see immediately: your `operationId` value needs to contain a dot, e.g. `mymodule.my_function`.

[2016-10-11 09:39] mcondarelli commented on #306
Thanks for the fast answer.

This may well be, but is strange because *all* my operationId's are single-identifiers as swagger definition was developed for another (home brew) code generator.
Is there any reason why it blows up on that specific entry?
... or is it just a matter of the "randomizing dictionary" [mis]feature of Python?

I'll try fixing that.

For the slowness problem: breaking spec i

[2016-10-14 20:05] akshay-rvbd commented on #266
I get the same issue. The problem is connexion is doing a json.dumps of the Flask response object instead of the Flask response.data

    self.validate_response(data, status_code, headers)
  File "/work/env3/lib/python3.5/site-packages/connexion/decorators/response.py", line 60, in validate_response
    data = json.dumps(data)
  File "/work/env3/lib/python3.5/site-packages/flask/json.py", line 126

[2016-10-20 16:40] jakul opened #321 "204 responses have wrong Content-Type"
### Description
HTTP 204 responses have the wrong `Content-Type`.

### Expected bahaviour
`Content-Type` is `application/json`

### Actual behaviour

`Content-Type` is `text/html; charset=utf-8`

### Steps to reproduce
* Create a DELETE endpoint
* Send a request to it and check the response headers

### Additional info:

Output of the commands:

- `python --version`
- `pip show connexion | grep "^

[2016-10-24 05:30] trancee opened #323 "Support for type array with collectionFormat multi"
### Description

According to the OpenAPI specification for the collectionFormat, there is an additional type **multi** to allow multiple parameter instances instead of multiple values for a single instance.
### Expected bahaviour

Connexion to support the collectionFormat of type **multi**.
### Actual behaviour

Currently, Connexion does only support the types of **csv**, **tsv** and **pipes**.
#

[2016-10-24 14:46] gustavo-freitas-movile opened #324 "return a file as response"
### Description

When i code my swagger on editor.swagger.io , its work properly. however when i try to run connexion, i got the following execution error:

[code]

I can not found a good example how to return a file as response. Someone can help me?
### Expected bahaviour

[code]
### Actual behaviour

[code]
### Steps to reproduce

[code]
### Additional info:

pip3 show connexion | grep "^Version

[2016-10-25 09:05] #321 closed

[2016-10-26 17:55] jimmellor opened #326 "datetime.timeinterval support"
### Description
Requested datetime.timeinterval objects returned by the DB are not supported and throw an error.

### Expected bahaviour
Return JSON from timedelta objects

### Actual behaviour
Server will throw a 500 with "TypeError: datetime.timedelta() is not JSON serializable"

### Steps to reproduce
Commit a timedelta object to a db, request it.

### Additional info:

Python 3.5.2
Connexion 1

[2016-10-31 08:03] themiwi opened #334 "Parameter names are not sanitized"
### Description

Parameters that are not valid Python names are not handled gracefully at the moment. E.g. OData query parameters (`$skip`, `$top`, `$filter`) are only passed to the controller if it uses `**kwargs`.

### Expected bahaviour

Parameter names should be sanitized by stripping invalid characters.

### Actual behaviour

If the controller does not have `**kwargs` there is no way for the

[2016-10-31 20:21] elgalu opened #336 "MockResolver: support "x-amples" in definitions"
Following #292 and #308 it would be also interesting to support the [x-amples](https://github.com/earldouglas/swagger-test) swagger extension which goes beyond response-only [examples](https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/yaml/api-with-examples.yaml#L16) by allowing the explicit specification of [request/response example pairs](https://github.com/earldouglas/swagg

[2016-10-31 21:03] hjacobs commented on #336
@elgalu sounds like a plan :smirk:

Are you willing to work on a PR for this? Personally I think implementing #308 would be of more general use, i.e. should be done first.

[2016-10-31 23:25] elgalu commented on #336
Working on this PR? not really.. for now just raised the issue to see what folks think:)

[2016-11-01 07:41] elgalu commented on #336
Also (slightly) related https://github.com/pact-foundation/pact-specification/issues/28

[2016-11-02 15:20] mcorbe opened #338 "Resolving partial YAML files into a single files"
Would be nice to be able to split and reuse definitions and / or info across APIs. Ideally I would like to be able to do something like this:
http://azimi.me/2015/07/16/split-swagger-into-smaller-files.html

Did I miss something in the doc ? (I did not see anything like this in the docs so far)

Looking forward to your opinion and ideas on the topic.

[2016-11-02 20:15] lisitsky commented on #323
How the bug could be reproduced?
Have you an example of configuration?

[2016-11-02 22:00] rafaelcaricio commented on #323
@lisitsky This is not a bug request, but a feature request.

[2016-11-02 22:03] rafaelcaricio commented on #338
This is a duplication of #254. Currently Connexion does not support that. But we would happy merge a PR that covers this feature. Please follow up with the discussion at #254.

[2016-11-02 22:03] #338 closed

[2016-11-03 15:15] rafaelcaricio opened #339 "Support x-patternProperties"
### Description

Would be nice to be able to define that. It is not currently supported by Swagger though.

### Expected bahaviour

Be able to define something like:
[code]

And Connexion would remove the `x-` from `x-patternProperties` property before validating the JSON schema.

### Actual behaviour

Everything under `x-patternProperties` is ignored.

[2016-11-03 16:31] hjacobs commented on #339
What is the expected behavior exactly? Validating property names?

[2016-11-03 17:47] rafaelcaricio commented on #339
@hjacobs Yes, it is valid in JSON schema.

[2016-11-04 13:17] jrc opened #340 "Convert camelcased parameter names to Python style convention"
### Description
It's common to define Swagger parameter names in camelcase ("postalCode", "modifiedDate", "statusCode", etc.), but this goes against Python PEP-8 convention.

### Expected behaviour

From Swagger:

    get:
      parameters:
        - name: postalCode
          in: query
          type: string

I would like to be able to write

    def search(postal_code, ...):
        ...

### Act

[2016-11-04 13:35] hjacobs commented on #340
Regarding it's "common", we agreed on having `snake_case` JSON properties and parameters: http://zalando.github.io/restful-api-guidelines/naming/Naming.html

But I agree that the conversion would be useful for people with a different convention.

[2016-11-04 15:08] danballance commented on #340
Hi,

We use camelCase for all of our API/Swagger definition, path and query names and then I convert to snake_case at the entry point to the python application. If there was an option to switch on that let Connexion do this for me, that would be really cool!

One thing I have also been doing is adding an underscore at the end for shadowed variables - the most common example being translating id to

[2016-11-05 22:44] rafaelcaricio commented on #340
I agree that this is an important feature for Connexion to support by default. Regarding translating responses to camelCase, then it should be an option. But the parameters should be always translated to the "Pythonic" manner (snake_case, builtins shadowing).

[2016-11-05 22:46] #296 closed

[2016-11-07 08:25] danballance commented on #340
Okay great, I might be able to take a look at this quite soon. I'll submit a PR if I can manage to get the work done.

[2016-11-07 15:50] hjacobs opened #341 "Internal Go CD pipeline broken since #316 (no releases)"
Our Zalando internal Go CD pipeline (used for releasing) is broken since #316, therefore we did not release any new Connexion version for 28 days.

[2016-11-07 15:51] hjacobs commented on #341
Our pipeline still assumes to have `requirements.txt`.

[2016-11-07 16:17] f11r opened #342 "`host` parameter from `App` construction not used correctly in `run()`"
I'm just reporting this here so anyone running into this problem can find this issue. Pull request fixing this will follow shortly.

### Description

At the moment passing the `host` parameter to the `App()` constructor and then calling `App.run()` without the `host` parameter leads to `host=None` being passed to the server. For example when calling `app = App(host='0.0.0.0')` and then `app.run()`

[2016-11-08 12:14] cbornet opened #344 "[Feature request] Support for date and date-time type casting"
It would be great to have type casting of formats 'string/date-time' and 'string/date' to python datetime.datetime and datetime.date.
I guess this would need custom flask converters to be added to url_map (http://flask.pocoo.org/docs/0.11/api/#flask.Flask.url_map)

[2016-11-08 14:52] rafaelcaricio commented on #341
I think we should consider https://docs.travis-ci.com/user/deployment/pypi/ for releases.

[2016-11-08 14:55] rafaelcaricio commented on #344
@cbornet You have access to the Flask.app using the attribute `.app` from the object [`connexion.App`](https://github.com/zalando/connexion/blob/master/connexion/app.py#L47). So you can use the Flask converters you want. And for the payloads you can also add custom converters, please see an example here: http://connexion.readthedocs.io/en/latest/cookbook.html#custom-type-format

[2016-11-08 16:10] danballance commented on #340
I noticed reading in the Stack Overflow thread above that there is a library we could use instead of the proposed regex:

http://inflection.readthedocs.io/en/latest/#inflection.underscore

This seems a more resilient approach to me, in that any bugs or enhancements will get included in that library over time. By contrast our regex will not change unless we update it. Obviously the downside is addi

[2016-11-08 16:10] cbornet commented on #344
Thanks for your link but it seems it's only for format validation, not conversion.
 I think what would be needed is to enhance Operation::get_path_parameter_types() to also read the format and PATH_PARAMETER_CONVERTERS for date and date-time

[2016-11-08 17:07] rafaelcaricio commented on #340
@danballance I am ok with that.

[2016-11-08 17:09] rafaelcaricio commented on #344
@cbornet You are right. Are you planning on working in a PR for that?

[2016-11-10 23:59] ibigpapa commented on #323
I was able to create a very basic setup and test it.  It appears to actually work.  Not sure if it'll process validation rules on each query parameter passed though.

Swagger multi spec
[code]
Connexion code
[code]

Results in Postman:
[code]

[2016-11-11 00:09] ibigpapa commented on #254
If you are looking for an alternative while this gets baked in.  I used a node app to help because I have a swagger api that is split up across 15 to 20 files fairly large.

The tool I used is really simple to create a single swagger file that connexion will work with as it'll fully dereference pointers for you.

https://www.npmjs.com/package/swagger-cli

here's a quick start for you
[code]
Once i

[2016-11-14 15:57] danballance opened #345 "Pip install issue in virtual environment? (python 2.7)"
### Description
Has anything changed relatively recently with the pip install process? I'm trying to install within a virtual environment and without requiring sudo.

### Expected bahaviour
Package installs without without error.

### Actual behaviour
Install dies with error:

distutils.errors.DistutilsError: Setup script exited with error: could not create '/usr/local/share/man/man1': Permission

[2016-11-16 15:30] tomas-fp opened #346 "Trailing slash endpoint routing returns 404"
### Description

It's well-known that most HTTP routers deals with the trailing slash accordingly, matching both `/foo` or `/foo/` path expressions.

I'm not sure if this was already supported and can be easily enabled programmatically.

### Expected behaviour

Matching the route and reply with a `301` status and redirect it accordingly to `/foo` (however redirection can be optional).

### Actual

[2016-11-16 15:56] #342 closed

[2016-11-16 19:39] tomas-fp commented on #346
Yes, I'd prefer do not redirecting requests, but some implementations did it.

[2016-11-17 13:27] jmcs commented on #345
I can't reproduce it:

    $ virtualenv --no-site-packages env2
    $ . env2/bin/activate
    $ pip install connexion
    Collecting connexion
    Downloading connexion-1.0.129.tar.gz (971kB)
        100% |████████████████████████████████| 972kB 1.6MB/s
    Collecting jsonschema>=2.5.1 (from connexion)
      Using cached jsonschema-2.5.1-py2.py3-none-any.whl
    Collecting flask>=0.10.1 (from conn

[2016-11-17 22:53] nikvdp opened #348 "Connexion should use unicode strings on python 2"
### Description
On Python 2 Connexion passes parameter data which may be UTF-8 encoded through the `str()` constructor, which is very unlikely to be the desired behavior from the user's perspective.

### Expected bahaviour
Connexion should use python2 unicode strings when appropriate.

### Actual behaviour
Connexion casts all incoming strings to python2 native strings.

### Steps to reproduce
Defi

[2016-11-18 14:21] MarcosEnevo opened #350 "readOnly=true is not working"
### Description
Connexion ignores readOnly=true being defined at OpenAPI properties.

### Expected bahaviour
Properties with readOnly=true should not be passed as attributes to the operation function at request, and only used as validation for response.

### Actual behaviour
Properties with readOnly=true are if fact passed as attributes to the operation function.

### Steps to reproduce
- Set a Op

[2016-11-18 15:45] rafaelcaricio commented on #350
Do you mean properties of objects schemas in `#/definitions/*`?

[2016-11-19 21:32] andrey-k commented on #350
yes, `readOnly` in `#/definitions/*` like

[code]

[jsonschema](https://github.com/Julian/jsonschema) what in use by connexion `RequestBodyValidator` class does not support it.  Not sure that `readOnly` validation should be done in [jsonschema](https://github.com/Julian/jsonschema). Probably extra check in connexion or just exclude it from `connexion.request.data`?

[2016-11-19 22:06] rafaelcaricio commented on #350
That is a good question. Would you expect Connexion, if present the `readOnly: true` property, to remove it from the payload or to refuse and return a 400 response to the client?

[2016-11-20 13:29] dimbleby commented on #350
Either seems to be allowed, by my reading of the [spec](http://json-schema.org/latest/json-schema-hypermedia.html#rfc.section.4.4).

I'd favour "rejected" - ignoring parts of a request and acting on others seems more likely to be confusing.

[2016-11-20 14:34] rafaelcaricio commented on #350
@dimbleby I also would go with reject the whole request if a `readOnly: true` field is present.

[2016-11-20 14:52] hjacobs commented on #350
@dimbleby @rafaelcaricio "rejecting" the whole message (e.g. with "Bad Request) is not a good idea I think --- a resource definition should IMHO be allowed to be used in a symmetric way, i.e. the resource from `GET` should be `PUT`able without modification. One example might be a `created_by` field which is auto-populated by the server (on creation) with the authenticated user (e.g. OAuth `uid` sc

[2016-11-20 15:10] dimbleby commented on #350
Hmm, swings and roundabouts:

- I agree that it's reasonable to expect to be able to PUT eg user-with-identity-1 to /users/1
- On the other hand, I think it's reasonable to expect that putting user-with-identity-2 to /users/1 should be rejected

Rejecting read-only fields annoyingly causes the first request to fail.  Ignoring read-only fields confusingly allows the second request to succeed, sort

[2016-11-20 17:35] andrey-k commented on #350
@hjacobs why would you like to be able to `PUT` everything back from `GET` request? Just to have less headache cleaning up `read only` fields? Or are there any other possible points?
I also would prefer to have `rejected` status. If user will be able to send data like `id`, `created_ts` or fields pointing to other resources what should be defined by another methods and in the `GET` it is just info

[2016-11-21 15:55] tomas-fp commented on #346
Apparently Flask, based on Werkzeug’s routing module, does a redirection only if a trailing slash is present, otherwise, the expected behaviour would be a 404 response error, as we have now.
See section "Unique URLs / Redirection Behavior":
http://flask.pocoo.org/docs/0.11/quickstart/#variable-rules

I suspect that `connexion` should register an additional route that matches the same route with a

[2016-11-21 16:01] tomas-fp commented on #346
Moreover, if we agree about an implementation strategy, I'm very open to provide a PR with the enhancement.

[2016-11-22 14:41] phoracek opened #351 "Allow customization of validator / Apply defaults in request body"
### Description

I need Connexion to use default value if a property is missing in request body. Although it is done with URL query, in body 'default' is just for documentation purposes (that is nature of JSON Schema). In order to enforce defaults (as described here https://python-jsonschema.readthedocs.io/en/latest/faq/#why-doesn-t-my-schema-that-has-a-default-property-actually-set-the-default-on

[2016-11-22 16:56] danballance commented on #345
Thanks for taking a look. I seem unable to recreate this error now as well. It's strange because I had the same issue on the same day on two different Ubuntu distributions. It's working for me now though so I will close.

[2016-11-22 16:56] #345 closed

[2016-11-23 13:25] phoracek commented on #351
I think it could be enough to keep `RequestBodyValidator`  as a `Operation`'s attribute, then we can replace it inside a custom implementation of `Resolver`. I will take a look at that and hopefully post a draft of needed changes.

[2016-11-29 17:51] nicole-fp opened #353 "Date times using + (eastward) time zone offsets throw error"
### Description
Date-times with timezones using + designation return invalid timezone error

### Expected bahaviour
No error, date time using +00:00 timezones are accepted

### Actual behaviour
Invalid date-time error is thrown

### Steps to reproduce
Steps:
Compare 1985-04-12T23:20:50.52-10:00 to 1985-04-12T23:20:50.52+10:00

### Additional info:

python 3.5.2
connexion version 1.0.129

[2016-11-30 03:38] lmeroc opened #354 "questions on mapping endpoints to python functions"
### Description
hello,
       I have had a basic understanding of this tool, but I have a question,why we need to map the endpoints to python functions? I can understand swagger generate sepcification from the api to release programmers from file burder, but i don't know the purpose to map endponts to functions? what have you down after the mapping?
      Thank you for your time!

### Expected bah